Repository sparkletown/sparkle, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, 💎 styles

refactor pathes
  src/components/templates/AnimateMap/game/map/components/WaitingVenueClickComponent.ts
  src/components/templates/AnimateMap/game/map/entities/createBotEntity.ts
  src/components/templates/AnimateMap/game/map/entities/createVenueEntity.ts
  src/components/templates/AnimateMap/game/map/systems/FirebarrelSystem.ts
Labels: none

throw event for quick-menu
  src/components/templates/AnimateMap/bridges/EventProvider/EventProvider.ts
  src/components/templates/AnimateMap/components/PlayerContextMenu/PlayerContextMenu.tsx
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/map/components/ClickableSpriteComponent.ts
  src/components/templates/AnimateMap/game/map/entities/createBotEntity.ts
  src/components/templates/AnimateMap/game/map/systems/ClickableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
Labels: none

prettier
  src/components/templates/AnimateMap/components/PlayerContextMenu/PlayerContextMenu.tsx
Labels: none

rework quick-menu as react-like
  src/components/templates/AnimateMap/components/PlayerContextMenu/PlayerContextMenu.tsx
  src/components/templates/AnimateMap/game/map/entities/createBotEntity.ts
Labels: none

disable menu for bot
  src/components/templates/AnimateMap/game/map/entities/createBotEntity.ts
Labels: none

Add NotFound component
  src/assets/images/old-tv.png
  src/assets/images/space-travel.gif
  src/assets/images/starfield.jpg
  src/components/atoms/NotFound/NotFound.scss
  src/components/atoms/NotFound/NotFound.tsx
  src/components/atoms/NotFound/index.ts
  src/components/molecules/NavBar/NavBar.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/settings.ts
Labels: 💎 styles

Add NotFound to RoomsForm
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: none

new lights 3
  src/components/templates/AnimateMap/game/map/graphics/shaders/StaticShaderData.ts
Labels: none

Add a new environment (#2089)
  .circleci/config.yml
  .firebaserc
  .github/workflows/update-env-branches.yml
  firebase.json
  scripts/deploy-master-to-prod-envs
  src/index.tsx
Labels: none

fix incorrect event room comparison (#2088)
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
Labels: none

createFirebarrelEntity refactoring
  src/components/templates/AnimateMap/game/map/entities/createFirebarrelEntity.ts
Labels: none

[env/burn-staging] Not found component (#2090)
  src/assets/images/old-tv.png
  src/assets/images/space-travel.gif
  src/assets/images/starfield.jpg
  src/components/atoms/NotFound/NotFound.scss
  src/components/atoms/NotFound/NotFound.tsx
  src/components/atoms/NotFound/index.ts
  src/components/molecules/NavBar/NavBar.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/settings.ts
Labels: 💎 styles

added light fading on zoom
  src/components/templates/AnimateMap/game/map/graphics/shaders/ColorMatrixFS.glsl
  src/components/templates/AnimateMap/game/map/graphics/shaders/mapLightning.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

background system polishing
  src/components/templates/AnimateMap/game/map/graphics/shaders/ColorMatrixFS.glsl
  src/components/templates/AnimateMap/game/map/graphics/shaders/StaticShaderData.ts
  src/components/templates/AnimateMap/game/map/graphics/shaders/mapLightning.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

fixes
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/hooks/useRecentLocationsUsers.ts
Labels: none

removed debug subsystem
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

add lights
  src/components/templates/AnimateMap/game/map/graphics/shaders/StaticShaderData.ts
Labels: none

Weather in schedule: add UI
  src/components/molecules/NavBarScheduleWeather/NavBarScheduleWeather.scss
  src/components/molecules/NavBarScheduleWeather/NavBarScheduleWeather.tsx
  src/components/molecules/NavBarScheduleWeather/index.ts
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

Weather in schedule: add cloud function to update weather
  firestore.rules
  functions/index.js
  functions/openweathermap.js
  src/api/openweathermap.ts
  src/components/molecules/NavBarScheduleWeather/NavBarScheduleWeather.tsx
Labels: none

Weather in schedule: add BM background assets and time-dependant calculation
  src/assets/images/BlackRockWeather/day1.png
  src/assets/images/BlackRockWeather/day2.png
  src/assets/images/BlackRockWeather/day3.png
  src/assets/images/BlackRockWeather/evening1.png
  src/assets/images/BlackRockWeather/evening2.png
  src/assets/images/BlackRockWeather/evening3.png
  src/assets/images/BlackRockWeather/morning1.png
  src/assets/images/BlackRockWeather/morning2.png
  src/assets/images/BlackRockWeather/morning3.png
  src/assets/images/BlackRockWeather/night1.png
  src/assets/images/BlackRockWeather/night2.png
  src/assets/images/BlackRockWeather/night3.png
  src/components/molecules/NavBarScheduleWeather/NavBarScheduleWeather.scss
  src/components/molecules/NavBarScheduleWeather/NavBarScheduleWeather.tsx
  src/components/molecules/NavBarScheduleWeather/WeatherBackground/BlackRockWeatherBackground.tsx
  src/components/molecules/NavBarScheduleWeather/WeatherBackground/WeatherBackground.scss
  src/components/molecules/NavBarScheduleWeather/WeatherBackground/index.ts
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

fixed time
  src/components/templates/AnimateMap/configs/GameConfig.ts
Labels: none

removed schedule from admin + restored backbutton comments
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/PlayaTime/PlayaTime.scss
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/pages/Admin/Admin.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/constants.scss
Labels: 💎 styles

refactor for PR
  src/components/templates/AnimateMap/game/map/graphics/shaders/StaticShaderData.ts
  src/components/templates/AnimateMap/game/map/graphics/shaders/staticLightData.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

Beavers/map lightning (#2093)
  craco.config.js
  package-lock.json
  package.json
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/declaration.d.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/graphics/shaders/ColorMatrixFS.glsl
  src/components/templates/AnimateMap/game/map/graphics/shaders/ColorMatrixVS.glsl
  src/components/templates/AnimateMap/game/map/graphics/shaders/KeyframesConfigs.ts
  src/components/templates/AnimateMap/game/map/graphics/shaders/StaticLigthsFS.glsl
  src/components/templates/AnimateMap/game/map/graphics/shaders/StaticShaderData.ts
  src/components/templates/AnimateMap/game/map/graphics/shaders/mapLightning.ts
  src/components/templates/AnimateMap/game/map/graphics/shaders/staticLightData.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
  src/components/templates/AnimateMap/game/utils/KeyFramer.ts
Labels: dependencies

return timelapse
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

fix liveEvents
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
Labels: none

Update bootstrap-new-environment script + remove unused image
  scripts/bootstrap-new-environment.ts
  src/assets/images/sparkle-logo.png
Labels: none

Refactor ArtPiece layout to follow screen size
  src/components/templates/ArtPiece/ArtPiece.scss
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/scss/constants.scss
  src/scss/modifiers.scss
Labels: 💎 styles

createFirebarrelEntity show users
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/entities/createBotEntity.ts
  src/components/templates/AnimateMap/game/map/entities/createFirebarrelEntity.ts
Labels: none

Call a ranger: rewrite to intergrate into help center
  src/assets/images/CallARanger/badge.png
  src/assets/images/CallARanger/rangers.png
  src/assets/images/CallARanger/sparkle.png
  src/assets/images/CallARanger/vest.png
  src/assets/images/CallARanger/vplaya.png
  src/components/organisms/CallARangerModal/CallARangerModal.scss
  src/components/organisms/CallARangerModal/CallARangerModal.tsx
  src/components/organisms/CallARangerModal/components/CallARangerHeader/CallARangerHeader.scss
  src/components/organisms/CallARangerModal/components/CallARangerHeader/CallARangerHeader.tsx
  src/components/organisms/CallARangerModal/components/CallARangerHeader/index.ts
  src/components/organisms/CallARangerModal/components/CallARangerInfo/CallARangerInfo.scss
  src/components/organisms/CallARangerModal/components/CallARangerInfo/CallARangerInfo.tsx
  src/components/organisms/CallARangerModal/components/CallARangerInfo/index.ts
  src/components/organisms/CallARangerModal/index.ts
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/HelpCenter/HelpCenter.scss
  src/components/organisms/HelpCenter/HelpCenter.tsx
  src/components/organisms/HelpCenter/components/HelpCenterContent/HelpCenterContent.scss
  src/components/organisms/HelpCenter/components/HelpCenterContent/HelpCenterContent.tsx
  src/components/organisms/HelpCenter/components/HelpCenterContent/index.ts
  src/components/organisms/HelpCenter/components/InfoBlock/InfoBlock.scss
  src/components/organisms/HelpCenter/components/InfoBlock/InfoBlock.tsx
  src/components/organisms/HelpCenter/components/InfoBlock/index.ts
  src/components/organisms/HelpCenter/index.ts
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/settings.ts
Labels: 💎 styles

fix venues update
  src/components/templates/AnimateMap/game/map/entities/createVenueEntity.ts
Labels: none

Call a ranger: revert changes AnimateMap changes
  src/assets/icons/call-a-ranger.svg
  src/components/templates/AnimateMap/components/CallARangerButton/CallARangerButton.scss
  src/components/templates/AnimateMap/components/CallARangerButton/CallARangerButton.tsx
  src/components/templates/AnimateMap/components/CallARangerButton/index.ts
  src/components/templates/AnimateMap/components/UIContainer/UIContainer.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/AnimateMap/game/map/MapContainer.ts
Labels: 💎 styles

Call a Ranger: background color fix
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
Labels: 💎 styles

Add 404 text inside old tv PNG image for NotFound
  src/assets/images/old-tv-404.png
  src/assets/images/old-tv.png
  src/components/atoms/NotFound/NotFound.scss
  src/components/atoms/NotFound/NotFound.tsx
  src/scss/constants.scss
Labels: 💎 styles

fix venues update
  src/components/templates/AnimateMap/game/map/entities/createVenueEntity.ts
Labels: none

Beavers/map polishing (#2095)
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/bridges/EventProvider/EventProvider.ts
  src/components/templates/AnimateMap/components/PlayerContextMenu/PlayerContextMenu.scss
  src/components/templates/AnimateMap/components/PlayerContextMenu/PlayerContextMenu.tsx
  src/components/templates/AnimateMap/components/TooltipWidget/TooltipWidget.scss
  src/components/templates/AnimateMap/components/TooltipWidget/TooltipWidget.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/commands/CropVenue.ts
  src/components/templates/AnimateMap/game/map/components/ClickableSpriteComponent.ts
  src/components/templates/AnimateMap/game/map/components/WaitingVenueClickComponent.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/entities/createBotEntity.ts
  src/components/templates/AnimateMap/game/map/entities/createVenueEntity.ts
  src/components/templates/AnimateMap/game/map/graphics/VenueTooltipEnter.ts
  src/components/templates/AnimateMap/game/map/nodes/PlayerMovementNode.ts
  src/components/templates/AnimateMap/game/map/nodes/PlayerNode.ts
  src/components/templates/AnimateMap/game/map/nodes/VenueNode.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ClickableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/FirebarrelSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionCollisionSystem.ts
  src/components/templates/AnimateMap/game/map/systems/SpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/VenueSystem.ts
  src/components/templates/AnimateMap/game/utils/PlaygroundMap.ts
  src/components/templates/AnimateMap/hooks/useRecentLocationsUsers.ts
Labels: 💎 styles

Weather in schedule. Review fixes
  src/api/openweathermap.ts
  src/components/molecules/NavBarScheduleWeather/NavBarScheduleWeather.scss
  src/components/molecules/NavBarScheduleWeather/NavBarScheduleWeather.tsx
  src/components/molecules/NavBarScheduleWeather/WeatherBackground/BlackRockWeatherBackground.scss
  src/components/molecules/NavBarScheduleWeather/WeatherBackground/BlackRockWeatherBackground.tsx
Labels: 💎 styles

update ReplicetedVenue fix
  src/components/templates/AnimateMap/game/map/entities/createVenueEntity.ts
Labels: none

Update bootstrap-new-environment script + remove unused image (#2094)
  scripts/bootstrap-new-environment.ts
  src/assets/images/sparkle-logo.png
Labels: none

Call a ranger: review changes and new vPlaya info link
  src/components/organisms/HelpCenter/HelpCenter.tsx
  src/settings.ts
Labels: none

.github/labeler.yml:

# Usage: https://github.com/actions/labeler#usage

dependencies:
- '**/package.json'
- '**/package-lock.json'
- '**/yarn.lock'

💎 styles:
- '**/*.css'
- '**/*.scss'
- '**/*.styles.ts'
