Repository sparkletown/sparkle, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, 💎 styles

.github/labeler.yml:

# Usage: https://github.com/actions/labeler#usage

dependencies:
- '**/package.json'
- '**/package-lock.json'
- '**/yarn.lock'

💎 styles:
- '**/*.css'
- '**/*.scss'
- '**/*.styles.ts'

change the images
  public/sparkle-header-burn.png
  src/assets/images/bm-login-background.jpeg
  src/pages/Account/Account.scss
  src/pages/Account/Login.tsx
  src/pages/Account/LoginWithCustomToken.tsx
Labels: 💎 styles

add images and other stuff
  src/pages/Admin/Venue/TemplateForm.tsx
  src/settings.ts
Labels: none

add shader loader
  craco.config.js
  package-lock.json
  package.json
  src/components/templates/AnimateMap/game/declaration.d.ts
  src/components/templates/AnimateMap/game/map/graphics/mapLightningShader.ts
  src/components/templates/AnimateMap/game/map/graphics/shaders/fsColorMatrix.glsl
  src/components/templates/AnimateMap/game/map/graphics/shaders/mapLightningShader.ts
  src/components/templates/AnimateMap/game/map/graphics/shaders/vsColorMatrix.glsl
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: dependencies

refactor style, add types
  src/components/templates/AnimateMap/game/map/graphics/shaders/KeyframesConfigs.ts
  src/components/templates/AnimateMap/game/map/graphics/shaders/mapLightningShader.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
  src/components/templates/AnimateMap/game/utils/KeyFramer.ts
Labels: none

live room logic added
  src/hooks/useVenueScheduleEvents.ts
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/EmergencyViewPage/EmergencyViewRoom.tsx
Labels: none

Add front camera video in flow modal
  src/components/atoms/DeviceVideo/DeviceVideo.scss
  src/components/atoms/DeviceVideo/DeviceVideo.tsx
  src/components/atoms/DeviceVideo/index.ts
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlow.scss
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlow.tsx
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardModal.scss
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardModal.tsx
Labels: 💎 styles

Add SvgLoop
  src/components/atoms/SvgLoop/SvgLoop.tsx
  src/components/atoms/SvgLoop/index.ts
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlow.tsx
Labels: none

Save/read user onboarding data from DB
  src/api/profile.ts
  src/components/atoms/DeviceVideo/DeviceVideo.scss
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlow.scss
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlow.tsx
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardModal.scss
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardModal.tsx
  src/types/User.ts
Labels: 💎 styles

Increase delay to 4 seconds
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlow.tsx
Labels: none

Eliminate unneeded extra interface
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlowProps.ts
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardModal.tsx
Labels: none

Move onboarding modal into atoms
  src/components/atoms/OnboardingModal/OnboardingModal.scss
  src/components/atoms/OnboardingModal/OnboardingModal.tsx
  src/components/atoms/OnboardingModal/index.ts
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlow.tsx
Labels: 💎 styles

moved background and zoomed to the container for shadering
  src/components/templates/AnimateMap/game/map/graphics/shaders/mapLightningShader.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

refactor
  src/components/templates/AnimateMap/game/map/graphics/shaders/ColorMatrixFS.glsl
  src/components/templates/AnimateMap/game/map/graphics/shaders/ColorMatrixVS.glsl
  src/components/templates/AnimateMap/game/map/graphics/shaders/mapLightning.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

refactor
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

temporary set up tool
  src/components/templates/AnimateMap/components/Test/SlidersPanel.scss
  src/components/templates/AnimateMap/components/Test/SlidersPanel.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/AnimateMap/game/map/graphics/shaders/KeyframesConfigs.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: 💎 styles

fix
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

tool done
  src/components/templates/AnimateMap/components/Test/SlidersPanel.scss
  src/components/templates/AnimateMap/components/Test/SlidersPanel.tsx
Labels: 💎 styles

Bring parentId field back to admin v1 (#1989)
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: none

Add createdAt and updatedAt timestamps to venue data
  functions/venue.js
  src/pages/Admin/Admin.scss
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/types/venues.ts
  src/utils/venue.ts
Labels: 💎 styles

Always show Events tab for venues in Admin V1
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/AppRouter.jsx
  src/pages/Admin/Admin.tsx
  src/settings.ts
  src/utils/venue.ts
Labels: none

Revert "Admin V1 Refinement: Remove "Add Events" from right panel"
  src/pages/Admin/Admin.tsx
Labels: none

Revert "removed button"
  src/pages/Admin/EventsComponent.tsx
Labels: none

Disables some branches
  .github/workflows/update-env-branches.yml
Labels: none

fix type
  src/components/templates/AnimateMap/components/Test/SlidersPanel.tsx
Labels: none

Disables some branches (#2039)
  .github/workflows/update-env-branches.yml
Labels: none

Dmarchuk/revert staging remove add events from right panel (#2038)
  src/pages/Admin/Admin.tsx
  src/pages/Admin/EventsComponent.tsx
Labels: none

added debug lights setting
  src/components/templates/AnimateMap/components/Test/SlidersPanel.tsx
  src/components/templates/AnimateMap/game/map/graphics/shaders/mapLightning.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
Labels: none

fixed ts compiling issue
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
Labels: none

minor formatting fixes
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: none

added size changing
  src/components/templates/AnimateMap/components/Test/SlidersPanel.tsx
  src/components/templates/AnimateMap/game/map/graphics/shaders/mapLightning.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
Labels: none

refactoring
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
Labels: none

mr fixes / formatting
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventSubListNG.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/molecules/ScheduleNG/ScheduleNG.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/types/venues.ts
  src/utils/event.ts
Labels: 💎 styles

room url find logic fix
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/hooks/useRoomRecentUsersList.ts
Labels: none

fix for uploading & remove unused components
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/molecules/EditRoomForm/EditRoomForm.tsx
  src/components/molecules/ImageInput/ImageInput.tsx
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Room/Card/RoomCard.styles.ts
  src/pages/Admin/Room/Card/RoomCard.tsx
  src/pages/Admin/Room/Card/RoomCard.types.ts
  src/pages/Admin/Room/Card/index.ts
  src/pages/Admin/Room/Edit/RoomEditModal.scss
  src/pages/Admin/Room/Edit/RoomEditModal.tsx
  src/pages/Admin/Room/Edit/index.ts
  src/pages/Admin/Room/Modal/Item/Item.styles.ts
  src/pages/Admin/Room/Modal/Item/Item.tsx
  src/pages/Admin/Room/Modal/Item/Item.types.ts
  src/pages/Admin/Room/Modal/Item/index.ts
  src/pages/Admin/Room/Modal/RoomModal.styles.ts
  src/pages/Admin/Room/Modal/RoomModal.tsx
  src/pages/Admin/Room/Modal/RoomModal.types.ts
  src/pages/Admin/Room/Modal/index.ts
Labels: 💎 styles

added timezone dependency for the map day cycle
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

Assert error if there is an invalid search option
  src/utils/error.ts
  src/utils/venue.ts
Labels: none

Compile-time assertion error handling
  src/pages/Admin/Admin.tsx
  src/utils/error.ts
  src/utils/venue.ts
Labels: none

Extract TemplateCard component out of TemplateForm.tsx
  src/pages/Admin/Venue/TemplateCard/TemplateCard.scss
  src/pages/Admin/Venue/TemplateCard/TemplateCard.tsx
  src/pages/Admin/Venue/TemplateCard/index.ts
  src/pages/Admin/Venue/TemplateForm.tsx
  src/pages/Admin/Venue/Venue.scss
  src/settings.ts
Labels: 💎 styles

add new file size limit only for selection
  src/components/atoms/ImageInput/ImageInput.tsx
  src/hooks/useTryCompressImage.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/settings.ts
  src/utils/misc.ts
Labels: none

fixed the debug tool
  src/components/templates/AnimateMap/game/map/graphics/shaders/KeyframesConfigs.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
Labels: none
