Repository sparkletown/sparkle, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, 💎 styles

initial ruleset: @typescript-eslint/recommended
  .eslintrc
Labels: none

fixes for @typescript-eslint/no-non-null-assertion
  .eslintrc
  src/api/admin.ts
  src/components/atoms/Button/Button.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/pages/Admin/VenueOwnersModal.tsx
  src/utils/arrayHasElements.ts
Labels: none

fixes for @typescript-eslint/ban-ts-comment
  .eslintrc
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/Room/Room.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/hooks/useMousetrap.ts
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Questions.tsx
  src/pages/Account/Step3.tsx
  src/utils/twilio.ts
Labels: none

circleCi fixes
  src/components/organisms/EditProfileModal/EditProfileModal.tsx
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/pages/Admin/Room/Card/RoomCard.tsx
  src/pages/Admin/Venue/Details/VenueDetails.tsx
Labels: none

Add UI feedback to user upon finishing events import
  src/api/events.ts
  src/components/organisms/AdminVenueView/components/EventsView/CsvImportModal.scss
  src/components/organisms/AdminVenueView/components/EventsView/CsvImportModal.tsx
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
Labels: 💎 styles

UserAvatar isOnline review fix
  src/components/atoms/UserAvatar/UserAvatar.tsx
Labels: none

UserAvatar removed overridePictureUrl prop
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
Labels: none

Props types rename to match convention
  src/components/molecules/DefaultAvatars/DefaultAvatars.tsx
  src/components/organisms/NewProfileModal/ProfileModal/ProfileModalContent/ProfileModalContent.tsx
  src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModal.tsx
  src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModalContent/UserProfileModalContent.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalBadges/ProfileModalBadges.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalChangePassword/ProfileModalChangePassword.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalInput/ProfileModalInput.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalQuestions/ProfileModalQuestions.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalRoundIcon/ProfileModalRoundIcon.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalSectionHeader/ProfileModalSectionHeader.tsx
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/ProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/buttons/UserProfileModalButtons/UserProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicInfo/ProfileModalBasicInfo.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicTextInfo/ProfileModalBasicTextInfo.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalEditBasicInfo/ProfileModalEditBasicInfo.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/ProfileModalEditLink/ProfileModalEditLink.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/ProfileModalEditLinks.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalLinks/ProfileModalLinks.tsx
Labels: none

merged UserProfileModal and ProfileModal into single component
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/NewProfileModal/CurrentUserProfileModalContent/CurrentUserProfileModalContent.scss
  src/components/organisms/NewProfileModal/CurrentUserProfileModalContent/CurrentUserProfileModalContent.tsx
  src/components/organisms/NewProfileModal/CurrentUserProfileModalContent/index.ts
  src/components/organisms/NewProfileModal/NewProfileModal.scss
  src/components/organisms/NewProfileModal/NewProfileModal.tsx
  src/components/organisms/NewProfileModal/ProfileModal/ProfileModal.scss
  src/components/organisms/NewProfileModal/ProfileModal/ProfileModal.tsx
  src/components/organisms/NewProfileModal/ProfileModal/ProfileModalContent/index.ts
  src/components/organisms/NewProfileModal/ProfileModal/index.ts
  src/components/organisms/NewProfileModal/ProfileModalContent/ProfileModalContent.scss
  src/components/organisms/NewProfileModal/ProfileModalContent/ProfileModalContent.tsx
  src/components/organisms/NewProfileModal/ProfileModalContent/index.ts
  src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModal.scss
  src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModal.tsx
  src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModalContent/index.ts
  src/components/organisms/NewProfileModal/UserProfileModal/index.ts
  src/components/organisms/NewProfileModal/index.ts
  src/components/organisms/NewProfileModal/profileModalStyles.scss
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: 💎 styles

fixed intex.ts files imports
  src/components/organisms/NewProfileModal/CurrentUserProfileModalContent/index.ts
  src/components/organisms/NewProfileModal/ProfileModalContent/index.ts
  src/components/organisms/NewProfileModal/components/ProfileModalBadges/index.ts
  src/components/organisms/NewProfileModal/components/ProfileModalChangePassword/index.ts
  src/components/organisms/NewProfileModal/components/ProfileModalInput/index.ts
  src/components/organisms/NewProfileModal/components/ProfileModalQuestions/index.ts
  src/components/organisms/NewProfileModal/components/ProfileModalRoundIcon/index.ts
  src/components/organisms/NewProfileModal/components/ProfileModalSectionHeader/index.ts
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/index.ts
  src/components/organisms/NewProfileModal/components/buttons/UserProfileModalButtons/index.ts
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/index.ts
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicInfo/index.ts
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicTextInfo/index.ts
  src/components/organisms/NewProfileModal/components/header/ProfileModalEditBasicInfo/index.ts
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/ProfileModalEditLink/index.ts
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/index.ts
  src/components/organisms/NewProfileModal/components/links/ProfileModalLinks/ProfileModalLink/index.ts
  src/components/organisms/NewProfileModal/components/links/ProfileModalLinks/index.ts
  src/components/organisms/NewProfileModal/index.ts
Labels: none

review changes
  src/components/organisms/NewProfileModal/CurrentUserProfileModalContent/CurrentUserProfileModalContent.tsx
  src/components/organisms/NewProfileModal/NewProfileModal.tsx
Labels: none

review changes
  src/components/organisms/NewProfileModal/CurrentUserProfileModalContent/CurrentUserProfileModalContent.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/ProfileModalEditLink/ProfileModalEditLink.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/ProfileModalEditLinks.tsx
Labels: none

add unused imports plugin for eslint
  .eslintrc
  package-lock.json
  package.json
Labels: dependencies

review changes
  src/components/organisms/NewProfileModal/CurrentUserProfileModalContent/index.ts
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.scss
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.tsx
  src/components/organisms/NewProfileModal/EditingProfileModalContent/index.ts
  src/components/organisms/NewProfileModal/NewProfileModal.tsx
Labels: 💎 styles

Remove background-color mixin
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/molecules/NavBar/NavBar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ProfileModal/ProfilePopoverContent.scss
  src/scss/constants.scss
Labels: 💎 styles

review changes
  src/components/molecules/NavBar/NavBar.tsx
  src/hooks/useProfileModalControls.ts
  src/store/actions/UserProfile.ts
Labels: none

schedule v3 timeline + disabled dates + correct date range
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/NavBarScheduleV2/NavBarSchedule.scss
  src/components/organisms/NavBarScheduleV2/NavBarScheduleV2.tsx
  src/components/organisms/NavBarScheduleV2/utils.ts
  src/utils/schedule.ts
Labels: 💎 styles

minor fix
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: none

styles fixed
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarScheduleV2/NavBarSchedule.scss
  src/components/organisms/NavBarScheduleV2/NavBarScheduleV2.tsx
  src/components/organisms/NavBarScheduleV2/utils.ts
  src/utils/schedule.ts
Labels: 💎 styles

MR fixes + logic refactor
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

mr fiixes #2
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

MR fixes
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

mr fixes + small refactoring
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

import order fix
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: none

mr fixes + refactoring
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/utils/time.ts
Labels: none

comment styles
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
Labels: 💎 styles

post rebase formatting
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: none

range timeline minor fix
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/utils/event.ts
Labels: none

added comments + minor refactoring
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/utils/event.ts
  src/utils/time.ts
Labels: none

reafctoring + comments
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

refactoring + date range fix
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/utils/event.ts
  src/utils/time.ts
Labels: none

mr fixes
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

styles fix
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
Labels: 💎 styles

mr fixes
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: none

fixed download styles
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/scss/constants.scss
Labels: 💎 styles

minor fix + sort order
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/utils/time.ts
Labels: none

minor fix
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
Labels: 💎 styles

rebase formatting
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: none

add reddit icon
  src/utils/profileModalLinkUtilities.ts
Labels: none

[SCHEDULE V3] Changed timeline logic + styles (#1941)
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/scss/constants.scss
  src/utils/event.ts
  src/utils/time.ts
Labels: 💎 styles

.github/labeler.yml:

# Usage: https://github.com/actions/labeler#usage

dependencies:
- '**/package.json'
- '**/package-lock.json'
- '**/yarn.lock'

💎 styles:
- '**/*.css'
- '**/*.scss'
- '**/*.styles.ts'
