Repository sparkletown/sparkle, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, 💎 styles

Schedule3: Design of event boxes (#1942)
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/molecules/ScheduleNG/ScheduleNG.scss
  src/scss/constants.scss
Labels: 💎 styles

suggested fix
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.scss
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
Labels: 💎 styles

handle updateBanner error and add bugsnag
  src/api/bannerAdmin.ts
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.tsx
Labels: none

circleci config
  .circleci/config.yml
Labels: none

updated Show more/less functionality
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.scss
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventSubListNG.tsx
  src/components/molecules/ScheduleEventListNG/utils.ts
Labels: 💎 styles

Update ScheduleEventSubListNG.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventSubListNG.tsx
Labels: none

moved utils to event utils
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleEventListNG/utils.ts
  src/utils/event.ts
Labels: none

minor tweaks and eslint:fix format
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.tsx
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.scss
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/RoomIcon/RoomIcon.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AdminVenueView/components/RunTabUserInfo/RunTabUserInfo.tsx
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/SearchField/SearchField.tsx
  src/scss/constants.scss
Labels: 💎 styles

fix viewport min/max
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
Labels: none

LoadImage
  src/components/templates/AnimateMap/game/commands/LoadImage.ts
  src/components/templates/AnimateMap/game/commands/RoundAvatar.ts
Labels: none

add custom venue images
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/commands/ImageToCanvas.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
Labels: none

Avatar structure
  src/components/templates/AnimateMap/game/map/components/SpriteComponent.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/graphics/Avatar.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
Labels: none

graphics Venue
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/graphics/Venue.ts
Labels: none

Venue hove effect
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/components/AnimationComponent.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/graphics/Animatable.ts
  src/components/templates/AnimateMap/game/map/graphics/VenueHoverIn.ts
  src/components/templates/AnimateMap/game/map/graphics/VenueHoverOut.ts
  src/components/templates/AnimateMap/game/map/nodes/AnimationNode.ts
  src/components/templates/AnimateMap/game/map/systems/AnimationSysem.ts
Labels: none

zoom in/out fix
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
Labels: none

viewport smooth init
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
Labels: none

barrels (first iteration)
  src/assets/images/AnimateMap/barrels/barrel.png
  src/assets/images/AnimateMap/barrels/halo.png
  src/components/templates/AnimateMap/game/constants/AssetConstants.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/components/BarrelComponent.ts
  src/components/templates/AnimateMap/game/map/components/TooltipComponent.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/graphics/Barrel.ts
  src/components/templates/AnimateMap/game/map/nodes/BarrelNode.ts
  src/components/templates/AnimateMap/game/map/systems/BarrelSystem.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/game/map/systems/TooltipSystem.ts
  tsconfig.json
Labels: none

added Events status refresh every EVENT_STATUS_REFRESH_MS
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/utils/event.ts
Labels: none

fix eslint warnings
  package-lock.json
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIODataProvider.ts
  src/components/templates/AnimateMap/game/constants/AssetConstants.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/graphics/VenueHoverIn.ts
  src/components/templates/AnimateMap/game/map/graphics/VenueHoverOut.ts
  src/components/templates/AnimateMap/game/map/nodes/AnimationNode.ts
  src/components/templates/AnimateMap/game/map/nodes/BarrelNode.ts
  src/components/templates/AnimateMap/game/map/systems/AnimationSysem.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/BarrelSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
  src/components/templates/AnimateMap/game/utils/Easing.ts
  src/components/templates/AnimateMap/game/utils/bezierCurveFunction.ts
  src/components/templates/AnimateMap/vendors/playerio/PlayerIO.d.ts
  src/components/templates/AnimateMap/vendors/playerio/PlayerIO.js
Labels: dependencies

refactor components for merge
  .env.example
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/components/ControlPanel/ControlPanel.scss
  src/components/templates/AnimateMap/components/ControlPanel/ControlPanel.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/AnimateMap/configs/TiledEditorPlaya.json
  src/components/templates/AnimateMap/game/constants/AssetConstants.ts
  src/secrets.ts
  tsconfig.json
Labels: 💎 styles

fixed events update; updated event venue name;
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/utils/event.ts
Labels: 💎 styles

tweaks and polishing
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.scss
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.tsx
  src/components/organisms/AdminVenueView/components/PrettyLink/PrettyLink.scss
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.scss
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AdminVenueView/components/RunTabUserInfo/RunTabUserInfo.scss
  src/components/organisms/AdminVenueView/components/RunTabUserInfo/RunTabUserInfo.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
Labels: 💎 styles

Update ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
Labels: 💎 styles

Feature/admin v3 run (#1705)
  src/api/bannerAdmin.ts
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.scss
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.tsx
  src/components/organisms/AdminVenueView/components/PrettyLink/PrettyLink.scss
  src/components/organisms/AdminVenueView/components/PrettyLink/PrettyLink.tsx
  src/components/organisms/AdminVenueView/components/PrettyLink/index.ts
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.scss
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/RoomIcon/RoomIcon.scss
  src/components/organisms/AdminVenueView/components/RoomIcon/RoomIcon.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.scss
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.scss
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.tsx
  src/components/organisms/AdminVenueView/components/RunTabUserInfo/RunTabUserInfo.scss
  src/components/organisms/AdminVenueView/components/RunTabUserInfo/RunTabUserInfo.tsx
  src/components/organisms/AdminVenueView/components/RunTabUserInfo/index.ts
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.scss
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.scss
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/SearchField/SearchField.scss
  src/components/organisms/AdminVenueView/components/SearchField/SearchField.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/scss/constants.scss
  src/scss/global.scss
  src/scss/modifiers.scss
  src/types/rooms.ts
  src/utils/url.ts
Labels: 💎 styles

Schedule3: Events grouping within the selected date (#1970)
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.scss
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventSubListNG.tsx
  src/components/molecules/ScheduleEventListNG/index.ts
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/molecules/ScheduleNG/ScheduleNG.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/settings.ts
  src/utils/event.ts
Labels: 💎 styles

Add the UI for importing CSV file events
  package-lock.json
  package.json
  public/csv/import-events-example.csv
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/FileButton/FileButton.scss
  src/components/atoms/FileButton/FileButton.tsx
  src/components/organisms/AdminVenueView/components/EventsView/CsvImportModal.scss
  src/components/organisms/AdminVenueView/components/EventsView/CsvImportModal.tsx
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
  src/components/organisms/EventModal/EventModal.scss
  src/pages/Admin/BackgroundSelect/BackgroundSelect.scss
  src/pages/Admin/BackgroundSelect/BackgroundSelect.tsx
  src/scss/constants.scss
  src/utils/csv.ts
Labels: dependencies, 💎 styles

review changes: UserAvatar partial revert
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavSearchBar/NavSearchResult.tsx
  src/components/molecules/UserList/UserList.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.tsx
  src/components/organisms/ChatSidebar/components/PrivateChatPreview/PrivateChatPreview.tsx
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.scss
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
Labels: 💎 styles

InputField review fix
  src/components/atoms/InputField/InputField.scss
  src/components/organisms/NewProfileModal/components/ProfileModalInput/ProfileModalInput.scss
  src/components/organisms/NewProfileModal/components/ProfileModalInput/ProfileModalInput.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalEditBasicInfo/ProfileModalEditBasicInfo.scss
Labels: 💎 styles

left out the avatar squishing fix
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.scss
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
Labels: 💎 styles

UserStatusDropDown line-height fix
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.scss
Labels: 💎 styles

removed useBooleanState in favor of useShowHide
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModal.tsx
  src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModalContent/UserProfileModalContent.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalInput/ProfileModalInput.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/ProfileModalEditLink/ProfileModalEditLink.tsx
  src/hooks/useBooleanState.ts
Labels: none

Revert "InputField review fix"
  src/components/atoms/InputField/InputField.scss
  src/components/organisms/NewProfileModal/components/ProfileModalInput/ProfileModalInput.scss
  src/components/organisms/NewProfileModal/components/ProfileModalInput/ProfileModalInput.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalEditBasicInfo/ProfileModalEditBasicInfo.scss
Labels: 💎 styles

IntpuField fix
  src/components/atoms/InputField/InputField.scss
  src/components/organisms/NewProfileModal/components/ProfileModalInput/ProfileModalInput.scss
  src/components/organisms/NewProfileModal/components/ProfileModalInput/ProfileModalInput.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalEditBasicInfo/ProfileModalEditBasicInfo.scss
Labels: 💎 styles

review changes
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
Labels: none

review changes
  src/components/organisms/NewProfileModal/ProfileModal/ProfileModal.tsx
Labels: none

user-related variables rename
  src/components/organisms/NewProfileModal/ProfileModal/ProfileModal.tsx
  src/components/organisms/NewProfileModal/ProfileModal/ProfileModalContent/ProfileModalContent.tsx
  src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModal.tsx
  src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModalContent/UserProfileModalContent.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalBadges/ProfileModalBadges.tsx
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/ProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicInfo/ProfileModalBasicInfo.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicTextInfo/ProfileModalBasicTextInfo.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalEditBasicInfo/ProfileModalEditBasicInfo.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalLinks/ProfileModalLinks.tsx
  src/hooks/useIsCurrentUser.ts
Labels: none

review changes
  src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModal.tsx
  src/settings.ts
Labels: none

Update src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModalContent/UserProfileModalContent.tsx
  src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModalContent/UserProfileModalContent.tsx
Labels: none

review changes
  src/components/organisms/NewProfileModal/components/ProfileModalQuestions/ProfileModalQuestions.scss
  src/components/organisms/NewProfileModal/components/buttons/UserProfileModalButtons/UserProfileModalButtons.scss
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.scss
  src/components/organisms/NewProfileModal/components/links/ProfileModalLinks/ProfileModalLink/ProfileModalLink.scss
  src/components/organisms/NewProfileModal/profileModalStyles.scss
Labels: 💎 styles

Add the API to parse and import events
  src/api/events.ts
  src/components/atoms/FileButton/FileButton.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.scss
  src/components/organisms/AdminVenueView/components/EventsView/CsvImportModal.scss
  src/components/organisms/AdminVenueView/components/EventsView/CsvImportModal.tsx
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.scss
  src/components/organisms/AdminVenueView/components/Timing/Timing.scss
  src/pages/Admin/BackgroundSelect/BackgroundSelect.tsx
  src/scss/constants.scss
  src/types/venues.ts
  src/utils/csv.ts
Labels: 💎 styles

.github/labeler.yml:

# Usage: https://github.com/actions/labeler#usage

dependencies:
- '**/package.json'
- '**/package-lock.json'
- '**/yarn.lock'

💎 styles:
- '**/*.css'
- '**/*.scss'
- '**/*.styles.ts'
