Repository sparkletown/sparkle, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, 💎 styles

Turn off camera: change some components to named export
  src/components/organisms/Room/LocalParticipant.tsx
  src/components/organisms/Room/Participant.tsx
  src/components/organisms/Room/Room.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
Labels: none

Turn off camera: remove unnecessary styles file
  src/components/atoms/VideoOverlayButton/VideoOverlayButton.scss
  src/components/atoms/VideoOverlayButton/VideoOverlayButton.tsx
Labels: 💎 styles

updated styles for external link page text wrapping
  src/components/templates/ExternalRoom/ExternalRoom.scss
Labels: 💎 styles

Makes the refactor backwrads-compatible
  src/components/organisms/AdminVenueView/components/RunTabUserInfo/RunTabUserInfo.tsx
  src/components/templates/AnimateMap/hooks/useRecentLocationsUsers.ts
  src/hooks/useIsOnline.ts
  src/hooks/users/useRecentLocationUsers.ts
  src/pages/VenuePage/VenuePage.tsx
  src/types/User.ts
  src/utils/selectors.ts
  src/utils/user.ts
Labels: none

Removes unused fn
  src/pages/VenuePage/VenuePage.tsx
  src/utils/userLocation.ts
Labels: none

Refactors latest bits of recentUsers hook
  src/components/templates/AnimateMap/hooks/useRecentLocationsUsers.ts
  src/hooks/useRoomRecentUsersList.ts
  src/hooks/users/useRecentLocationUsers.ts
  src/hooks/users/useVisitedLocationsUser.ts
  src/utils/user.ts
Labels: none

Renames a fn
  src/pages/VenuePage/VenuePage.tsx
Labels: none

User profile modal: use ButtonNG and hide change password fields by default
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalRoundIcon/ProfileModalRoundIcon.scss
  src/components/organisms/NewProfileModal/components/ProfileModalRoundIcon/ProfileModalRoundIcon.tsx
  src/components/organisms/NewProfileModal/components/buttons/EditProfileModalButtons/EditProfileModalButtons.scss
  src/components/organisms/NewProfileModal/components/buttons/EditProfileModalButtons/EditProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/ProfileModalButtons.scss
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/ProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicInfo/ProfileModalBasicInfo.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/ProfileModalEditLink/ProfileModalEditLink.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/ProfileModalEditLinks.tsx
  src/components/organisms/NewProfileModal/profileModalStyles.scss
Labels: 💎 styles

removed ui jukebox toggler + added default true value
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
Labels: none

removed true by default
  src/pages/Admin/Venue/DetailsValidationSchema.ts
Labels: none

Turn off camera: imports fix
  src/components/molecules/CameraMicrophoneControls/CameraMicrophoneControls.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
Labels: none

reverted deletion + added hidden flag
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: none

Turn off camera: fixes buttons moving on enable/disable
  src/components/atoms/VideoOverlayButton/VideoOverlayButton.scss
  src/components/atoms/VideoOverlayButton/VideoOverlayButton.tsx
  src/components/molecules/CameraMicrophoneControls/CameraMicrophoneControls.scss
Labels: 💎 styles

сreated modal with an advice to use sparkle via Chrome
  package-lock.json
  package.json
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/organisms/SwitchToChromeModal/SwitchToChromeModal.scss
  src/components/organisms/SwitchToChromeModal/SwitchToChromeModal.tsx
  src/settings.ts
Labels: dependencies, 💎 styles

minor fix
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: none

updated modal popup styles
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
Labels: 💎 styles

Turn off camera: minor simplification + enabled video background when turned off
  src/components/molecules/CameraMicrophoneControls/CameraMicrophoneControls.tsx
  src/components/organisms/Room/Participant.tsx
  src/scss/global.scss
Labels: 💎 styles

Turn off video: change background color
  src/scss/global.scss
Labels: 💎 styles

Turn off video: background when turned off fix
  src/scss/global.scss
Labels: 💎 styles

Turn off camera: artpiece fix
  src/components/templates/ArtPiece/ArtPiece.scss
Labels: 💎 styles

fixed modal resizing; updated styles for external link
  src/components/templates/ExternalRoom/ExternalRoom.scss
  src/components/templates/ExternalRoom/ExternalRoom.tsx
Labels: 💎 styles

.github/labeler.yml:

# Usage: https://github.com/actions/labeler#usage

dependencies:
- '**/package.json'
- '**/package-lock.json'
- '**/yarn.lock'

💎 styles:
- '**/*.css'
- '**/*.scss'
- '**/*.styles.ts'
