Repository sparkletown/sparkle, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, 💎 styles

added menu for topbar; fixed its styles; updated relevant components
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.scss
  src/components/molecules/MenuPopoverContent/MenuPopoverContent.scss
  src/components/molecules/MenuPopoverContent/MenuPopoverContent.tsx
  src/components/molecules/MenuPopoverContent/index.ts
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/playa.scss
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/pages/Admin/Admin.scss
  src/scss/constants.scss
Labels: 💎 styles

added Volume button on/off; updates styles
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
Labels: 💎 styles

Update NavBar.tsx
  src/components/molecules/NavBar/NavBar.tsx
Labels: none

Add event icon to the schedule
  src/components/molecules/Schedule/Schedule.tsx
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventSubListNG.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/molecules/ScheduleNG/ScheduleNG.tsx
  src/components/molecules/ScheduleRoomEvents/ScheduleRoomEvents.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/types/venues.ts
Labels: 💎 styles

fix comments
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/pages/Account/Venue/VenueMapEdition/DraggableSubvenue.tsx
Labels: none

compression fix
  src/components/atoms/ImageInput/ImageInput.tsx
  src/settings.ts
Labels: none

constants extraction
  src/components/atoms/ImageInput/ImageInput.scss
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalLinks/ProfileModalLink/ProfileModalLink.scss
  src/scss/constants.scss
  src/settings.ts
Labels: 💎 styles

add nav bar
  src/components/organisms/AdminNavBar/AdminNavBar.scss
  src/components/organisms/AdminNavBar/AdminNavBar.tsx
  src/components/organisms/AdminNavBar/index.ts
Labels: 💎 styles

add nav bar in advance setting
  src/pages/Admin/Venue/VenueWizard/Edit/VenueWizardEdit.tsx
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
Labels: none

Use useAsyncFn for parsing CSV
  src/components/organisms/AdminVenueView/components/EventsView/CsvImportModal.tsx
Labels: none

Rename field and do some minor UI tweaks
  src/api/events.ts
  src/components/organisms/AdminVenueView/components/EventsView/CsvImportModal.scss
  src/components/organisms/AdminVenueView/components/EventsView/CsvImportModal.tsx
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.scss
Labels: 💎 styles

Use useMemo to render CSV import data and messages
  src/components/atoms/FileButton/FileButton.tsx
  src/components/organisms/AdminVenueView/components/EventsView/CsvImportModal.tsx
Labels: none

Refactor display of error message(s)
  src/components/organisms/AdminVenueView/components/EventsView/CsvImportModal.tsx
Labels: none

Use single constant for import button disabled prop
  src/components/organisms/AdminVenueView/components/EventsView/CsvImportModal.tsx
Labels: none

Variable rename
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
Labels: none

fix issue 1020
  src/components/organisms/AdminNavBar/AdminNavBar.scss
  src/components/organisms/AdminNavBar/AdminNavBar.tsx
  src/components/organisms/AdminVenues/AdminVenues.scss
  src/components/organisms/AdminVenues/AdminVenues.tsx
  src/pages/Admin/Admin_v2.tsx
  src/pages/Admin/Venue/VenueWizard/Edit/VenueWizardEdit.tsx
  src/scss/constants.scss
Labels: 💎 styles

fix issue 1022
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
Labels: none

fix
  src/components/templates/Embeddable/Embeddable.tsx
  src/settings.ts
Labels: none

AV3 Spaces - 'Create Venue' button to 'Build' button
  src/components/atoms/ButtonNG/index.ts
  src/pages/Admin/Details/Form/DetailsForm.scss
  src/pages/Admin/Details/Form/DetailsForm.styles.ts
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Venue/VenueWizard/VenueWizard.tsx
  src/scss/constants.scss
Labels: 💎 styles

Add full padding to input fields
  src/pages/Admin/Details/Form/DetailsForm.scss
Labels: 💎 styles

extracted ImageOverlay component
  src/components/atoms/ImageInput/ImageInput.scss
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/atoms/ImageOverlay/ImageOverlay.scss
  src/components/atoms/ImageOverlay/ImageOverlay.tsx
  src/components/atoms/ImageOverlay/index.ts
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.scss
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
  src/scss/constants.scss
Labels: 💎 styles

fix (#1993)
  src/components/templates/Embeddable/Embeddable.tsx
  src/settings.ts
Labels: none

added time on Playa; fixed number of burners
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/PlayaTime/PlayaTime.scss
  src/components/molecules/PlayaTime/PlayaTime.tsx
  src/components/molecules/VenuePartygoers/VenuePartygoers.scss
  src/components/molecules/VenuePartygoers/VenuePartygoers.tsx
  src/settings.ts
Labels: 💎 styles

Remove extra const from ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
Labels: 💎 styles

constant rename
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/settings.ts
Labels: none

fixed styles for NavBar; removed backbutton; updated backbutton in navbar
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/components/templates/Auditorium/components/AllSectionPreviews/AllSectionPreviews.tsx
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: 💎 styles

AdminV3: Compress uploaded images for users (#1988)
  package-lock.json
  package.json
  src/components/atoms/ImageInput/ImageInput.scss
  src/components/atoms/ImageInput/ImageInput.styles.ts
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/atoms/ImageInput/ImageInput.types.ts
  src/components/atoms/ImageOverlay/ImageOverlay.scss
  src/components/atoms/ImageOverlay/ImageOverlay.tsx
  src/components/atoms/ImageOverlay/index.ts
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.scss
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalLinks/ProfileModalLink/ProfileModalLink.scss
  src/components/organisms/NewProfileModal/profileModalStyles.scss
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/scss/constants.scss
  src/settings.ts
Labels: dependencies, 💎 styles

add advance setting tab
  src/components/organisms/AdminNavBar/AdminNavBar.tsx
  src/components/organisms/AdminNavBar/index.ts
  src/components/organisms/AdminTabsBar/AdminTabsBar.scss
  src/components/organisms/AdminTabsBar/AdminTabsBar.tsx
  src/components/organisms/AdminTabsBar/index.ts
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenues/AdminVenues.tsx
  src/pages/Admin/Venue/VenueWizard/Edit/VenueWizardEdit.tsx
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
Labels: 💎 styles

removed unused icons; fixed styles
  src/assets/icons/navbar-link-menu.png
  src/assets/icons/navbar-link-radio-off.png
  src/assets/icons/navbar-link-radio.png
  src/components/molecules/NavBar/playa.scss
Labels: 💎 styles

updated radiomodal; fixed styles
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/Navbar.styles.ts
  src/components/organisms/RadioModal/RadioModal.scss
  src/components/organisms/RadioModal/RadioModal.tsx
Labels: 💎 styles

Update NavBar.tsx
  src/components/molecules/NavBar/NavBar.tsx
Labels: none

added placeholder
  src/components/atoms/Centered/Centered.scss
  src/components/atoms/Centered/Centered.tsx
  src/components/atoms/Centered/index.ts
  src/components/atoms/ImageOverlay/ImageOverlay.scss
  src/components/atoms/ImageOverlay/ImageOverlay.tsx
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.scss
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/hooks/useCheckImage.ts
  src/hooks/useImage.ts
Labels: 💎 styles

Update RunTabView.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
Labels: none

Update Admin_v2.tsx
  src/pages/Admin/Admin_v2.tsx
Labels: none

Add event icon to the schedule (#1990)
  src/components/molecules/Schedule/Schedule.tsx
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventSubListNG.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/molecules/ScheduleNG/ScheduleNG.tsx
  src/components/molecules/ScheduleRoomEvents/ScheduleRoomEvents.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/types/venues.ts
Labels: 💎 styles

extended event list on sovereign venue
  src/api/venue.ts
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/hooks/useRelatedVenues.tsx
  src/hooks/useSovereignVenue.ts
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminDeleteEvent.tsx
  src/pages/Admin/AdminEventModal.tsx
  src/pages/Admin/EventsComponent.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/types/venues.ts
Labels: none

Minor layout changes in Details and DetailsForm
  src/pages/Admin/Details/Details.scss
  src/pages/Admin/Details/Details.styles.ts
  src/pages/Admin/Details/Details.tsx
  src/pages/Admin/Details/Form/DetailsForm.scss
  src/pages/Admin/Details/Form/DetailsForm.styles.ts
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/scss/constants.scss
Labels: 💎 styles

updated Radio container; fixed styles for dropdowns
  src/components/molecules/MenuPopoverContent/MenuPopoverContent.scss
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/RadioPopoverContent/RadioPopoverContent.scss
  src/components/molecules/RadioPopoverContent/RadioPopoverContent.tsx
  src/components/molecules/RadioPopoverContent/index.ts
  src/components/organisms/ProfileModal/ProfilePopoverContent.scss
  src/components/organisms/RadioModal/RadioModal.scss
Labels: 💎 styles

Update NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: none

final touches
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

.github/labeler.yml:

# Usage: https://github.com/actions/labeler#usage

dependencies:
- '**/package.json'
- '**/package-lock.json'
- '**/yarn.lock'

💎 styles:
- '**/*.css'
- '**/*.scss'
- '**/*.styles.ts'
