Repository sparkletown/sparkle, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, 💎 styles

added Volume button on/off; updates styles
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
Labels: 💎 styles

fix
  src/api/admin.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/types/rooms.ts
  src/types/venues.ts
Labels: none

added time on Playa; fixed number of burners; fixed styles for NavBar
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/PlayaTime/PlayaTime.scss
  src/components/molecules/PlayaTime/PlayaTime.tsx
  src/components/molecules/PlayaTime/index.ts
  src/components/molecules/VenuePartygoers/VenuePartygoers.tsx
  src/settings.ts
Labels: 💎 styles

removed unused icons; fixed styles
  src/assets/icons/navbar-link-menu.png
  src/assets/icons/navbar-link-radio-off.png
  src/assets/icons/navbar-link-radio.png
  src/components/molecules/NavBar/playa.scss
Labels: 💎 styles

updated radiomodal
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/Navbar.styles.ts
  src/components/organisms/RadioModal/RadioModal.scss
  src/components/organisms/RadioModal/RadioModal.tsx
Labels: 💎 styles

updated Radio container; fixed styles for dropdowns
  src/components/molecules/MenuPopoverContent/MenuPopoverContent.scss
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/RadioPopoverContent/RadioPopoverContent.scss
  src/components/molecules/RadioPopoverContent/RadioPopoverContent.tsx
  src/components/molecules/RadioPopoverContent/index.ts
Labels: 💎 styles

polished styles
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
Labels: 💎 styles

updated radio button
  src/assets/icons/nav-link-radio.svg
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
Labels: 💎 styles

[admin] Add tooltips for the room visibility and clickability icons (#2001)
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/ButtonNG/index.ts
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.tsx
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
Labels: none

fix for not working removal of sbutitle/description
  functions/venue.js
Labels: none

fixed Overlaytrigger issue; updated logo
  package-lock.json
  package.json
  src/assets/icons/sparkle-nav-logo.png
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/RadioModal/RadioModal.scss
Labels: dependencies, 💎 styles

fixed updateVenue outdated data
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: none

minor fix soveregign venue data
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: none

PR fixes
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/hooks/useRoomList.ts
  src/hooks/useRoomRecentUsersList.ts
  src/hooks/users/useVisitedLocationsUser.ts
  src/utils/event.ts
Labels: none

error fix + remove console
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
Labels: none

online styles added
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventSubListNG.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/types/venues.ts
Labels: 💎 styles

PR fixes
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/hooks/useRoomList.ts
  src/hooks/useRoomRecentUsersList.ts
  src/hooks/users/useVisitedLocationsUser.ts
  src/utils/event.ts
Labels: none

added attendee sorting logic
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleNG/ScheduleNG.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/templates/PartyMap/components/RoomAttendance.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/hooks/useRoom.ts
  src/hooks/useRoomList.ts
  src/hooks/users/useRecentLocationUsers.ts
  src/hooks/users/useRecentVenueUsers.ts
Labels: none

tweaks and minor refactor
  src/pages/Admin/MapPreview/MapPreview.scss
  src/pages/Admin/MapPreview/MapPreview.tsx
Labels: 💎 styles

updated template form; fixed hidden templates lsit
  src/pages/Admin/Venue/TemplateForm.tsx
  src/settings.ts
Labels: none

Update TemplateForm.tsx
  src/pages/Admin/Venue/TemplateForm.tsx
Labels: none

Admin Adjustments: Party Map creation flow; added hidden styles
  src/components/molecules/UserStatusManager/UserStatusManager.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/EntranceInput.tsx
  src/pages/Admin/Venue/QuestionInput.tsx
Labels: none

change redirect url
  src/settings.ts
Labels: none

change redirect url (#2013)
  src/settings.ts
Labels: none

Adds artcars and firebarrels data integratiopn
  src/components/templates/AnimateMap/hooks/useArtcars.ts
  src/components/templates/AnimateMap/hooks/useFirebarrels.ts
  src/types/Firestore.ts
  src/types/animateMap.ts
  src/utils/selectors.ts
Labels: none

BM: make description/subtitle not required (#2009)
  functions/venue.js
  src/api/admin.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/types/rooms.ts
  src/types/venues.ts
Labels: none

review changes
  src/assets/icons/loading-diamond.svg
  src/assets/icons/loading-playa.svg
  src/components/molecules/LoadingPage/LoadingPage.scss
  src/components/molecules/LoadingPage/LoadingPage.tsx
Labels: 💎 styles

review changes
  src/components/molecules/LoadingPage/LoadingPage.tsx
Labels: none

removed unused route
  src/components/organisms/AppRouter/AppRouter.tsx
Labels: none

review changes
  src/hooks/useCheckImage.ts
  src/hooks/useMapBackground.ts
Labels: none

AV3: show placeholder if map background is missing (#1995)
  src/components/atoms/CenterContent/CenterContent.scss
  src/components/atoms/CenterContent/CenterContent.tsx
  src/components/atoms/CenterContent/index.ts
  src/components/atoms/ImageOverlay/ImageOverlay.scss
  src/components/atoms/ImageOverlay/ImageOverlay.tsx
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.scss
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/hooks/useCheckImage.ts
  src/hooks/useImage.ts
  src/scss/constants.scss
Labels: 💎 styles

remove unnecessary validation from DetailsForm (#2000)
  src/pages/Admin/Details/ValidationSchema.ts
Labels: none

Revert "BM: make description/subtitle not required (#2009)"
  functions/venue.js
  src/api/admin.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/types/rooms.ts
  src/types/venues.ts
Labels: none

Revert "BM: make description/subtitle not required (#2009)" (#2015)
  functions/venue.js
  src/api/admin.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/types/rooms.ts
  src/types/venues.ts
Labels: none

make description/subtitle not reqruied + fix for venue update
  functions/venue.js
  src/api/admin.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/types/rooms.ts
  src/types/venues.ts
Labels: none

Revert "removed button"
  src/pages/Admin/EventsComponent.tsx
Labels: none

Revert "Admin V1 Refinement: Remove "Add Events" from right panel"
  src/pages/Admin/Admin.tsx
Labels: none

Add initial set of intro dialogs
  public/animatemap-onboard/step-02.svg
  public/animatemap-onboard/step-03.svg
  public/animatemap-onboard/step-04.svg
  public/animatemap-onboard/step-05.svg
  public/animatemap-onboard/step-06.svg
  public/animatemap-onboard/step-07.svg
  src/components/atoms/ButtonNG/ButtonNG.scss
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/ButtonNG/index.ts
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlow.scss
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlow.tsx
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlowProps.ts
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardModal.scss
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardModal.tsx
  src/components/organisms/AnimateMapOnboardFlow/index.ts
  src/components/templates/AnimateMap/AnimateMap.tsx
Labels: 💎 styles

Adds artcars and firebarrels data integratiopn (#2014)
  src/components/templates/AnimateMap/hooks/useArtcars.ts
  src/components/templates/AnimateMap/hooks/useFirebarrels.ts
  src/types/Firestore.ts
  src/types/animateMap.ts
  src/utils/selectors.ts
Labels: none

add bulk room update in admin v1 and admin v3 (#2006)
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/MapPreview/MapPreview.scss
  src/pages/Admin/MapPreview/MapPreview.styles.ts
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/pages/Admin/MapPreview/MapPreview.types.ts
  src/pages/Admin/Venue/Details/VenueDetails.styles.ts
  src/pages/Admin/Venue/Details/VenueDetails.tsx
  src/pages/Admin/Venue/Details/VenueDetails.types.ts
  src/pages/Admin/Venue/Details/index.ts
Labels: 💎 styles

.github/labeler.yml:

# Usage: https://github.com/actions/labeler#usage

dependencies:
- '**/package.json'
- '**/package-lock.json'
- '**/yarn.lock'

💎 styles:
- '**/*.css'
- '**/*.scss'
- '**/*.styles.ts'
