Repository sparkletown/sparkle, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, 💎 styles

.github/labeler.yml:

# Usage: https://github.com/actions/labeler#usage

dependencies:
- '**/package.json'
- '**/package-lock.json'
- '**/yarn.lock'

💎 styles:
- '**/*.css'
- '**/*.scss'
- '**/*.styles.ts'

venue sorting logic added
  src/types/venues.ts
  src/utils/event.ts
Labels: none

added venue sorting by orderPriority
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/utils/event.ts
Labels: none

mr fixes
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/utils/event.ts
Labels: none

typo fix
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: none

post-rebase formatting
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: none

Added venue sorting by orderPriority (#1954)
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/types/venues.ts
  src/utils/event.ts
Labels: none

simplification & review changes
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.tsx
  src/components/organisms/NewProfileModal/NewProfileModal.tsx
  src/hooks/useCheckOldPassword.ts
  src/pages/Account/helpers.ts
  src/types/profileModal.ts
Labels: none

review changes
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
Labels: none

review changes
  src/components/organisms/NewProfileModal/components/ProfileModalChangePassword/ProfileModalChangePassword.tsx
Labels: none

Update .eslintrc
  .eslintrc
Labels: none

review changes
  src/components/molecules/NavBar/NavBar.tsx
  src/hooks/useMousetrap.ts
  src/utils/arrayHasElements.ts
Labels: none

bash script
  .circleci/config.yml
Labels: none

trying to sort find output to match hashes
  .circleci/config.yml
Labels: none

some whitespace test change
  .circleci/config.yml
Labels: none

functions whitespace change
  .circleci/config.yml
  functions/stats.js
Labels: none

revert whitespace change
  functions/stats.js
Labels: none

removed test-functions-deploy branch from config
  .circleci/config.yml
Labels: none

Typescript-eslint-recommended rules (#1977)
  .eslintrc
  src/api/admin.ts
  src/components/atoms/Button/Button.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/components/organisms/EditProfileModal/EditProfileModal.tsx
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/Room/Room.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/hooks/useMousetrap.ts
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Questions.tsx
  src/pages/Account/Step3.tsx
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/pages/Admin/Room/Card/RoomCard.tsx
  src/pages/Admin/Venue/Details/VenueDetails.tsx
  src/pages/Admin/VenueOwnersModal.tsx
  src/utils/twilio.ts
Labels: none

change the order of deployment and config save
  .circleci/config.yml
Labels: none

whitespace in function
  functions/venue.js
Labels: none

revert whitespace back
  .circleci/config.yml
Labels: none

whitespace revert
  functions/venue.js
Labels: none

Do not deploy Cloud functions without changes. (#1979)
  .circleci/config.yml
Labels: none

removed jss styles
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/ProfileModalButtons.scss
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/ProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/buttons/UserProfileModalButtons/UserProfileModalButtons.scss
  src/components/organisms/NewProfileModal/components/buttons/UserProfileModalButtons/UserProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/profileModalStyles.scss
Labels: 💎 styles

component rename
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.tsx
  src/components/organisms/NewProfileModal/components/buttons/EditProfileModalButtons/EditProfileModalButtons.scss
  src/components/organisms/NewProfileModal/components/buttons/EditProfileModalButtons/EditProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/buttons/EditProfileModalButtons/index.ts
  src/components/organisms/NewProfileModal/components/buttons/UserProfileModalButtons/index.ts
Labels: 💎 styles

link gaps fix
  src/components/organisms/NewProfileModal/components/links/ProfileModalLinks/ProfileModalLinks.scss
  src/components/organisms/NewProfileModal/components/links/ProfileModalLinks/ProfileModalLinks.tsx
Labels: 💎 styles

Don't deploy to unused envs
  .github/workflows/update-env-branches.yml
Labels: none

Adds comments
  .github/workflows/update-env-branches.yml
Labels: none

review changes
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicTextInfo/ProfilModalBasicTextInfo.scss
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicTextInfo/ProfileModalBasicTextInfo.tsx
  src/components/organisms/NewProfileModal/profileModalStyles.scss
Labels: 💎 styles

Adds demo
  .github/workflows/update-env-branches.yml
Labels: none

Don't deploy to unused envs (#1981)
  .github/workflows/update-env-branches.yml
Labels: none

Add table simulation
  scripts/lib/bot.ts
  scripts/lib/collections.ts
  scripts/lib/documents.ts
  scripts/lib/log.ts
  scripts/lib/runner.ts
  scripts/lib/types.ts
  scripts/lib/utils.ts
  scripts/simulation/chat.ts
  scripts/simulation/experience.ts
  scripts/simulation/seat.ts
  scripts/simulation/table.ts
  scripts/simulator.ts
  scripts/simulator/default.config.json5.example
  scripts/simulator/simulator.config.json5.example
Labels: none

@typescript-eslint/ban-types
  .eslintrc
  src/api/admin.ts
  src/components/atoms/IFrame/IFrame.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
  src/components/organisms/Badges/Badges.tsx
  src/components/organisms/RadioModal/RadioModal.tsx
  src/components/organisms/RenderMarkdown/RenderMarkdown.tsx
  src/components/organisms/RenderMarkdown/RenderMarkdownInner.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/hooks/useSelector.ts
  src/index.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminEventModal.tsx
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/AdminVenueRoomsList.tsx
  src/pages/Admin/EventsComponent.tsx
  src/pages/Admin/VenueEventDetails.tsx
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/store/store.ts
  src/types/Firestore.ts
  src/types/User.ts
  src/types/auditorium.ts
  src/types/chat.ts
  src/types/reactions.ts
  src/types/sounds.ts
  src/types/utility.ts
  src/types/venues.ts
  src/utils/chat.ts
  src/utils/googleAnalytics.ts
  src/utils/id.ts
  src/utils/reducers.ts
Labels: none

circleCI fixes
  scripts/lib/helpers.ts
  src/hooks/useDebugWarnLog.ts
  src/types/redux.ts
Labels: none

Update src/pages/Account/Venue/VenueMapEdition/DraggableSubvenue.tsx
  src/pages/Account/Venue/VenueMapEdition/DraggableSubvenue.tsx
Labels: none

Redeploy the functions
  functions/auth.js
Labels: none

Redeploy the functions (#1985)
  functions/auth.js
Labels: none

updated logo for BM; fixed its styles
  src/assets/icons/sparkle-nav-logo-animate.png
  src/assets/icons/sparkle-nav-logo-text.png
  src/assets/icons/sparkle-nav-logo.png
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
Labels: 💎 styles

added compression + removed usage of styled-components from atoms/ImageInput
  package-lock.json
  package.json
  src/components/atoms/ImageInput/ImageInput.scss
  src/components/atoms/ImageInput/ImageInput.styles.ts
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/atoms/ImageInput/ImageInput.types.ts
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.scss
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalLinks/ProfileModalLink/ProfileModalLink.scss
  src/components/organisms/NewProfileModal/profileModalStyles.scss
  src/scss/constants.scss
  src/settings.ts
Labels: dependencies, 💎 styles

compression error handling
  src/components/atoms/ImageInput/ImageInput.tsx
Labels: none
