Repository sparkletown/sparkle, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, 💎 styles

+ the day/night cycle and lights
  src/components/templates/AnimateMap/game/map/graphics/mapLightningShader.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

remove OOS changes
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/pages/Admin/MapPreview/MapPreview.tsx
Labels: none

split the Chat / Direct Messages
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/hooks/chats/chatSidebar.ts
Labels: 💎 styles

Revert "remove add events from right panel" (#2017)
  src/pages/Admin/Admin.tsx
  src/pages/Admin/EventsComponent.tsx
Labels: none

Update DetailsValidationSchema.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
Labels: none

Adjust chat style for BM
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/ButtonNG/index.ts
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/Chatbox/Chatbox.scss
  src/components/molecules/Chatbox/Chatbox.tsx
  src/scss/constants.scss
Labels: 💎 styles

Minor code style refactor
  src/components/molecules/Chatbox/Chatbox.scss
Labels: 💎 styles

Properly handle invalid map background (#2002)
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/hooks/useMapBackground.ts
Labels: none

make description/subtitle not reqruied + fix for venue update (#2016)
  functions/venue.js
  src/api/admin.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/types/rooms.ts
  src/types/venues.ts
Labels: none

Update react-bootstrap
  package-lock.json
  package.json
Labels: dependencies

fixed styles; reverted react-bootstrap
  package-lock.json
  package.json
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
Labels: dependencies, 💎 styles

Update react-bootstrap
  package-lock.json
  package.json
Labels: dependencies

Update react-bootstrap (#2022)
  package-lock.json
  package.json
Labels: dependencies

+ koefs for lights size changing
  src/components/templates/AnimateMap/game/map/graphics/mapLightningShader.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

add venue name dropdown to admin v1 room creation
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/pages/Admin/Venue/Rooms/RoomDeleteModal.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: none

add proper default value instead of selected room
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: none

day-light system is keyframed
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
  src/components/templates/AnimateMap/game/utils/KeyFramer.ts
Labels: none

some changes in keys
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

make proper use of default banner and logo
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/NavSearchBar/NavSearchBarFoundEvent.tsx
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/hooks/useCheckImage.ts
  src/hooks/useMapBackground.ts
  src/pages/VenueLandingPage/VenueLandingPage.tsx
Labels: none

+ light size throw KeyFramer
  src/components/templates/AnimateMap/game/map/graphics/mapLightningShader.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

Bring parentId field back to admin v1
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: none

replace default assets + updated adminV1 and adminV3
  public/assets/Default_Venue_Banner.png
  public/assets/Default_Venue_Logo.png
  public/assets/Sparkle_Banner_Default.jpg
  public/assets/Sparkle_SquareLogo_Default.jpg
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/VenueWizard/redux/reducer.ts
  src/settings.ts
Labels: none

removed animation delay
  src/components/molecules/LoadingPage/LoadingPage.scss
  src/components/molecules/LoadingPage/LoadingPage.tsx
  src/settings.ts
Labels: 💎 styles

added mute button for the background noise
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
Labels: 💎 styles

BM general loading view (#2005)
  src/assets/icons/loading-diamond.svg
  src/assets/icons/loading-playa.svg
  src/components/molecules/LoadingPage/LoadingPage.scss
  src/components/molecules/LoadingPage/LoadingPage.tsx
  src/components/molecules/LoadingPage/img/burningman-logo-2.png
  src/components/molecules/LoadingPage/img/burningman-logo.png
  src/components/molecules/LoadingPage/img/loading-sparkle-icon.png
  src/components/molecules/LoadingPage/loading.scss
  src/scss/constants.scss
Labels: 💎 styles

draft linking canvas with partymap's rooms
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Structures/PlayerModel.ts
  src/components/templates/AnimateMap/components/TooltipWidget/TooltipWidget.tsx
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/constants/StubData.tsx
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/store/reducers/AnimateMap.ts
Labels: none

add type cast
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
Labels: none

added Volume slider for the background noise
  src/components/atoms/VolumeControl/VolumeControl.tsx
  src/components/atoms/VolumeControl/index.ts
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/RadioModal/RadioModal.tsx
  src/hooks/useVolumeControl.ts
  src/settings.ts
Labels: 💎 styles

Adds related partymap to AnimateMap (#1999)
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Structures/PlayerModel.ts
  src/components/templates/AnimateMap/components/TooltipWidget/TooltipWidget.tsx
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/constants/StubData.tsx
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/hooks/useArtcars.ts
  src/components/templates/AnimateMap/hooks/useFirebarrels.ts
  src/components/templates/AnimateMap/hooks/useRelatedPartymapRooms.ts
  src/store/reducers/AnimateMap.ts
  src/types/Firestore.ts
  src/types/animateMap.ts
  src/types/venues.ts
  src/utils/selectors.ts
  src/utils/venue.ts
Labels: none

avatar feet direction
  package-lock.json
  src/components/templates/AnimateMap/game/map/components/SpriteComponent.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/BubbleSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ClickableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/HoverableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/SpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/TooltipSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ZoomedSpriteSystem.ts
Labels: dependencies

halo animation
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
Labels: none

extend firebarrels interface
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/AnimateMap/configs/GameConfig.ts
Labels: 💎 styles

draft panel for firebarrel
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelProvider.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.scss
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
Labels: 💎 styles

add mute
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.scss
Labels: 💎 styles

temporary fix multiplayer
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
Labels: none

Fixed UserReactions performance issue.
  src/components/molecules/UserReactions/UserReactions.scss
  src/components/molecules/UserReactions/UserReactions.tsx
Labels: 💎 styles

prettier
  src/components/templates/AnimateMap/AnimateMap.tsx
Labels: none

added emergency space view
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.scss
  src/components/molecules/ScheduleEventListNG/ScheduleEventSubListNG.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/hooks/useVenueScheduleEvents.ts
  src/pages/EmergencyViewPage/EmergencyViewPage.scss
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/EmergencyViewPage/EmergencyViewRoom.tsx
  src/pages/EmergencyViewPage/index.ts
Labels: 💎 styles

Beavers/firebarrels (#2027)
  package-lock.json
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelProvider.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.scss
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/map/components/SpriteComponent.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/BubbleSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ClickableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/game/map/systems/HoverableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/SpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/TooltipSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ZoomedSpriteSystem.ts
Labels: dependencies, 💎 styles

minor refactoring
  src/hooks/users/useVisitedLocationsUser.ts
  src/utils/user.ts
Labels: none

.github/labeler.yml:

# Usage: https://github.com/actions/labeler#usage

dependencies:
- '**/package.json'
- '**/package-lock.json'
- '**/yarn.lock'

💎 styles:
- '**/*.css'
- '**/*.scss'
- '**/*.styles.ts'
