Repository sparkletown/sparkle, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, 💎 styles

Add audience provisions for the seating grid size
  scripts/lib/documents.ts
  scripts/simulation/seat.ts
Labels: none

remove legacy Playa template + related components (#1919)
  functions/venue.js
  reporting/fetch-reports.ts
  src/components/molecules/PlayaAddress/PlayaAddress.scss
  src/components/molecules/PlayaAddress/PlayaAddress.tsx
  src/components/molecules/PlayaAddress/index.ts
  src/components/molecules/PlayaTime/PlayaTime.scss
  src/components/molecules/PlayaTime/PlayaTime.tsx
  src/components/molecules/PlayaTime/index.ts
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Playa/Avatar.tsx
  src/components/templates/Playa/AvatarImage.tsx
  src/components/templates/Playa/AvatarLayer.scss
  src/components/templates/Playa/AvatarLayer.tsx
  src/components/templates/Playa/AvatarPartygoers.tsx
  src/components/templates/Playa/MyAvatar.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/PlayaBackground.scss
  src/components/templates/Playa/PlayaBackground.tsx
  src/components/templates/Playa/PlayaIcon.tsx
  src/components/templates/Playa/PlayaVenue.tsx
  src/components/templates/Playa/Router.tsx
  src/components/templates/Playa/VenuePreview.scss
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/Playa/Video/LocalParticipant.tsx
  src/components/templates/Playa/Video/Participant.tsx
  src/components/templates/Playa/Video/RemoteParticipant.tsx
  src/components/templates/Playa/Video/Room.tsx
  src/components/templates/Playa/VideoChatLayer.scss
  src/components/templates/Playa/VideoChatLayer.tsx
  src/components/templates/Playa/index.ts
  src/pages/Admin/Venue/TemplateForm.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/types/venues.ts
Labels: 💎 styles

prettier fix
  src/components/molecules/NavBar/NavBar.tsx
Labels: none

Update through eslint --fix
  scripts/lib/bot.ts
  scripts/lib/documents.ts
  scripts/lib/runner.ts
  scripts/lib/types.ts
  scripts/lib/utils.ts
  scripts/load-test-multiple-users-locations.ts
  scripts/simulation/chat.ts
  scripts/simulation/experience.ts
  scripts/simulation/seat.ts
  scripts/simulator.ts
Labels: none

Fix typing Promise<void> -> Promise<StopSignal>
  scripts/lib/types.ts
Labels: none

Update src/hooks/useCanDeleteVenueChatMessages.tsx
  src/hooks/useCanDeleteVenueChatMessages.tsx
Labels: none

review changes
  src/components/atoms/ChatMessage/ChatMessage.tsx
  src/components/molecules/ChatPoll/ChatPoll.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/VenueChat.tsx
Labels: none

prettier fix
  src/hooks/useCanDeleteVenueChatMessages.tsx
Labels: none

AdminV3 tabs footer extraction (#1966)
  src/components/atoms/Button/Button.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.scss
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/AdminVenueView/components/TabFooter/TabFooter.scss
  src/components/organisms/AdminVenueView/components/TabFooter/TabFooter.tsx
  src/components/organisms/AdminVenueView/components/TabFooter/index.ts
  src/components/organisms/AdminVenueView/components/Timing/Timing.scss
  src/components/organisms/AdminVenueView/components/Timing/Timing.tsx
Labels: 💎 styles

Fix for broken deletion of chat messages (#1963)
  src/components/atoms/ChatMessage/ChatMessage.tsx
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/molecules/ChatPoll/ChatPoll.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/VenueChat.tsx
  src/hooks/chats/venueChat.ts
  src/hooks/useCanDeleteVenueChatMessages.tsx
  src/types/chat.ts
  src/utils/chat.ts
Labels: none

created ScheduleEventListNG; fixed its usage
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.scss
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleEventListNG/index.ts
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

Test
  .github/workflows/update-env-branches.yml
Labels: none

fixed event live state
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/settings.ts
  src/utils/event.ts
Labels: none

removes token
  .github/workflows/update-env-branches.yml
Labels: none

Fix for profile link section not showing
  src/components/organisms/NewProfileModal/UserProfileModal/UserProfileModalContent/UserProfileModalContent.tsx
Labels: none

Adds access token
  .github/workflows/update-env-branches.yml
Labels: none

Removes protection
  .github/workflows/update-env-branches.yml
Labels: none

Enhances the permissions
  .github/workflows/update-env-branches.yml
Labels: none

test
  .github/workflows/update-env-branches.yml
Labels: none

test
  .github/workflows/update-env-branches.yml
Labels: none

final test
  .github/workflows/update-env-branches.yml
Labels: none

Adds all branches to ci/cd
  .github/workflows/update-env-branches.yml
Labels: none

Adds all branches to ci/cd (#1968)
  .github/workflows/update-env-branches.yml
Labels: none

updated ScheduleEventListNG with live events; fixed its styles
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.scss
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleEventListNG/utils.ts
  src/components/molecules/ScheduleNG/ScheduleNG.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/settings.ts
  src/utils/event.ts
Labels: 💎 styles

added show more/less functionality for live events; fixed styles for show more button
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.scss
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/settings.ts
Labels: 💎 styles

Add .idea directory to the project
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/codeStyleConfig.xml
  .idea/deployment.xml
  .idea/emacs.xml
  .idea/encodings.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/jsLinters/eslint.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/runConfigurations/dev.xml
  .idea/scopes
  .idea/sparkle.iml
  .idea/vcs.xml
  .idea/watcherTasks.xml
  .idea/webResources.xml
Labels: none

implement alphabetical vs default sort types
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/utils/event.ts
Labels: 💎 styles

Bump firebase version in /functions and in main project (#1883)
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  src/api/admin.ts
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/types/UpcomingEvent.ts
Labels: dependencies

Adds missing ,
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
Labels: none

fix the ratio of the image in .profile-pic (#1263)
  src/components/organisms/UserProfileModal/UserProfileModal.scss
Labels: 💎 styles

Fix bug in admin v1 event modal (#1953)
  src/api/admin.ts
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/pages/Admin/AdminEventModal.tsx
Labels: none

cleanup styling for ProfilePictureInput + 'upload your profile pic' (#1401)
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.scss
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/pages/Account/Account.scss
Labels: 💎 styles

update project setup instructions in README (#1493)
  README.md
Labels: none

added control props for ManageUsersModal, added disabled button status
  functions/access.js
  functions/src/utils/venue.js
  functions/venue.js
  package-lock.json
  package.json
  src/api/auth.ts
  src/components/organisms/ManageUsersModal/EmailsInput.scss
  src/components/organisms/ManageUsersModal/EmailsInput.tsx
  src/components/organisms/ManageUsersModal/ManageUsersModal.scss
  src/components/organisms/ManageUsersModal/ManageUsersModal.tsx
  src/components/organisms/ManageUsersModal/index.ts
  src/scss/constants.scss
Labels: dependencies, 💎 styles

multiplayer draft
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/CommonInterface.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/Firebase/FirebaseDataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIOBots.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIODataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/.vs/Serverside Code/v16/.suo
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Credits.txt
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Game.htm
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Getting Started General.txt
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Getting Started.txt
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/License.txt
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code.sln
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/Game Code.csproj
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/Game.cs
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/bin/Debug/BurningMan.dll
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/bin/Debug/BurningMan.pdb
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/bin/Debug/Player.IO GameLibrary.dll
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/bin/Debug/Player.IO GameLibrary.xml
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/BurningMan.dll
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/BurningMan.pdb
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/Game Code.csproj.AssemblyReference.cache
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/Game Code.csproj.CopyComplete
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/Game Code.csproj.CoreCompileInputs.cache
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/Game Code.csproj.FileListAbsolute.txt
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Multiplayer/Development Server Settings.playeriodb
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Multiplayer/Player.IO Development Server.exe
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Multiplayer/Player.IO GameLibrary.dll
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Multiplayer/Player.IO GameLibrary.xml
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/Player.IO Test Server.csproj
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/Startup.cs
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/obj/Debug/Player.IO Test Server.csproj.AssemblyReference.cache
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/utils/getIntByHash.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/utils/getRandomBotId.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Providers/PlayerDataProvider.ts
  src/components/templates/AnimateMap/game/map/systems/MotionBotSystem.ts
Labels: none

squash
  src/components/templates/AnimateMap/vendors/playerio/PlayerIO.d.ts
Labels: none

squash
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIODataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/.vs/Serverside Code/v16/.suo
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/Game Code.csproj.AssemblyReference.cache
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/obj/Debug/Player.IO Test Server.csproj.AssemblyReference.cache
  src/components/templates/AnimateMap/vendors/playerio/PlayerIO.d.ts
  src/components/templates/AnimateMap/vendors/playerio/PlayerIOPromisesWrapper.ts
Labels: none

squash
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/NinePartRoomOperator.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIODataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIORoomOperator.ts
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/vendors/playerio/PlayerIO.d.ts
  src/components/templates/AnimateMap/vendors/playerio/PlayerIOPromisesWrapper.ts
  src/components/templates/AnimateMap/vendors/playerio/PromisesWrappers.ts
  src/store/api/worldUsers.ts
Labels: none

dijkstra and other temporary changes
  package.json
  src/components/templates/AnimateMap/components/Test/CurvesPanel.scss
  src/components/templates/AnimateMap/components/Test/CurvesPanel.tsx
  src/components/templates/AnimateMap/configs/GameConfig.ts
Labels: dependencies, 💎 styles

fix rooms ratio
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.scss
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
Labels: 💎 styles

.github/labeler.yml:

# Usage: https://github.com/actions/labeler#usage

dependencies:
- '**/package.json'
- '**/package-lock.json'
- '**/yarn.lock'

💎 styles:
- '**/*.css'
- '**/*.scss'
- '**/*.styles.ts'
