Repository sparkletown/sparkle, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, 💎 styles

avatar feets png
  src/assets/images/AnimateMap/avatarAircraft/aircraft.png
  src/assets/images/AnimateMap/avatarFeets/feets.png
Labels: none

blinking halo, big line of sight
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/commands/WaitClickForHeroCreation.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/game/map/systems/LineOfSightSystem.ts
Labels: none

avatar feets
  src/components/templates/AnimateMap/game/constants/AssetConstants.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
Labels: none

hardcore night
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

hardcore updateRooms in DebugSystem
  src/components/templates/AnimateMap/bridges/EventProvider/EventProvider.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
Labels: none

fix barrels
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelProvider.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/systems/FirebarrelSystem.ts
  src/store/actions/AnimateMap.ts
Labels: 💎 styles

add firebarrels test
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/components/VideoRoom/VideoRoom.scss
  src/components/templates/AnimateMap/components/VideoRoom/VideoRoom.tsx
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/systems/BarrelSystem.ts
Labels: 💎 styles

fix issues
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
Labels: none

fix
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
Labels: none

fix id
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
Labels: none

hardcore
  src/components/templates/AnimateMap/configs/GameConfig.ts
Labels: none

firebarrels style fix
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
Labels: 💎 styles

fix barrel coords
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
Labels: none

increase speed
  src/components/templates/AnimateMap/game/map/systems/MotionArtcarSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionBaseSystem.ts
Labels: none

room divided on user join
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIOBots.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIODataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIORoomOperator.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/RoomLogic/NinePartRoomOperator.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/RoomLogic/RoomMath.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/Game.cs
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/bin/Debug/BurningMan.dll
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/bin/Debug/BurningMan.pdb
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/BurningMan.dll
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/BurningMan.pdb
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/Game Code.csproj.AssemblyReference.cache
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/obj/Debug/Player.IO Test Server.csproj.AssemblyReference.cache
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/types.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Structures/RoomsModel.ts
  src/components/templates/AnimateMap/bridges/EventProvider/EventProvider.ts
  src/components/templates/AnimateMap/game/constants/StubData.tsx
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionBaseSystem.ts
  tsconfig.json
Labels: none

fix speed
  src/components/templates/AnimateMap/game/map/systems/MotionBaseSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
  src/components/templates/AnimateMap/game/utils/bezierCurveFunction.ts
Labels: none

remove deprecated serverside code
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/.vs/Serverside Code/v16/.suo
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Game.htm
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Getting Started General.txt
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Getting Started.txt
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/Game.cs
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/bin/Debug/BurningMan.dll
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/bin/Debug/BurningMan.pdb
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/bin/Debug/Player.IO GameLibrary.xml
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/BurningMan.dll
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/BurningMan.pdb
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/Game Code.csproj.AssemblyReference.cache
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Game Code/obj/Debug/Game Code.csproj.FileListAbsolute.txt
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Multiplayer/Development Server Settings.playeriodb
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Multiplayer/Player.IO Development Server.exe
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Multiplayer/Player.IO GameLibrary.dll
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Multiplayer/Player.IO GameLibrary.xml
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/Player.IO Test Server.csproj
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/Startup.cs
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Player.IO Test Server Project/obj/Debug/Player.IO Test Server.csproj.AssemblyReference.cache
Labels: none

fix playerio dll
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/Multiplayer/Player.IO GameLibrary.dll
Labels: none

prettier
  src/components/templates/AnimateMap/configs/GameConfig.ts
Labels: none

Updates react
  package-lock.json
  package.json
Labels: dependencies

Adds related partymap to AnimateMap
  src/components/templates/AnimateMap/hooks/useRelatedPartymapRooms.ts
  src/types/venues.ts
Labels: none

remove unnecessary validation from DetailsForm
  src/pages/Admin/Details/ValidationSchema.ts
Labels: none

review changes
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.scss
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/hooks/useCheckImage.ts
  src/scss/constants.scss
Labels: 💎 styles

useCheckImage refactoring
  src/hooks/useCheckImage.ts
Labels: none

Add title to ButtonNG and titles to two buttons in RoomCard
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/ButtonNG/index.ts
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.tsx
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
Labels: none

Make RoomCard button titles change based on toggle state
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
Labels: none

useMapBackground hook
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/hooks/useCheckImage.ts
  src/hooks/useMapBackground.ts
  src/pages/Admin/Venue/Details/VenueDetails.tsx
Labels: none

Updates react (#1998)
  package-lock.json
  package.json
Labels: dependencies

Update src/components/organisms/AdminTabsBar/AdminTabsBar.scss
  src/components/organisms/AdminTabsBar/AdminTabsBar.scss
Labels: 💎 styles

testing
  .github/workflows/PRs-to-custom-envs.yml
Labels: none

polished styles
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
Labels: 💎 styles

updated radio button
  src/assets/icons/nav-link-radio.svg
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
Labels: 💎 styles

BM Admin Adjustments: available venues, orders & descriptions (#1927)
  src/settings.ts
Labels: none

BM Admin Adjustments: Party Map creation flow (#1930)
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/Venue.scss
  src/settings.ts
Labels: 💎 styles

fix parentId for newly created venues (#1945)
  src/settings.ts
Labels: none

updates
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.scss
  src/pages/VenuePage/AnnouncementContainer/AnnouncementContainer.scss
  src/pages/VenuePage/AnnouncementContainer/AnnouncementContainer.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: 💎 styles

AAA I can set an announcement with funnels and CTA button
  functions/venue.js
  src/api/bannerAdmin.ts
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.scss
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.scss
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/pages/Admin/Venue/VenueAdminPage.scss
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/pages/VenuePage/AnnouncementContainer/AnnouncementContainer.scss
  src/pages/VenuePage/AnnouncementContainer/AnnouncementContainer.tsx
  src/pages/VenuePage/AnnouncementContainer/index.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/types/banner.ts
  src/types/venues.ts
Labels: 💎 styles

updates
  src/assets/icons/icon-checkmark.svg
  src/assets/icons/icon-close.svg
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.scss
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.scss
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/BannerAdmin/ConfirmationBannerModal/ConfirmationBannerModal.scss
  src/components/organisms/BannerAdmin/ConfirmationBannerModal/ConfirmationBannerModal.tsx
  src/components/organisms/BannerAdmin/ConfirmationBannerModal/index.ts
  src/pages/Admin/Venue/AnnouncementOptions/AnnouncementOptions.scss
  src/pages/Admin/Venue/AnnouncementOptions/AnnouncementOptions.tsx
  src/pages/Admin/Venue/AnnouncementOptions/index.ts
  src/pages/Admin/Venue/VenueAdminPage.scss
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/pages/VenuePage/AnnouncementContainer/AnnouncementContainer.scss
  src/pages/VenuePage/AnnouncementContainer/AnnouncementContainer.tsx
  src/pages/VenuePage/AnnouncementContainer/index.ts
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: 💎 styles

Minor changes
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.scss
  src/components/organisms/BannerAdmin/BannerAdmin.scss
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/BannerAdmin/ConfirmationBannerModal/ConfirmationBannerModal.scss
  src/pages/Admin/Venue/AnnouncementOptions/AnnouncementOptions.scss
  src/pages/Admin/Venue/AnnouncementOptions/AnnouncementOptions.tsx
  src/pages/Admin/Venue/AnnouncementOptions/AnnouoncementStatus/AnnouncementStatus.scss
  src/pages/Admin/Venue/AnnouncementOptions/AnnouoncementStatus/AnnouncementStatus.tsx
  src/pages/Admin/Venue/AnnouncementOptions/AnnouoncementStatus/index.ts
  src/pages/Admin/Venue/VenueAdminPage.scss
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/scss/constants.scss
Labels: 💎 styles

add error and isActionButon control to BennerAdmin
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
Labels: none

.github/labeler.yml:

# Usage: https://github.com/actions/labeler#usage

dependencies:
- '**/package.json'
- '**/package-lock.json'
- '**/yarn.lock'

💎 styles:
- '**/*.css'
- '**/*.scss'
- '**/*.styles.ts'
