Repository sparkletown/sparkle, pull requests merged in 2020-11, with the labels that each got.

#707 Fix backend function updateVenue to properly check showGrid/showLiveSchedule
  functions/venue.js
Labels: bug

#716 Improve Admin component's venues loading performance
  .gitignore
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/RadioModal/RadioModal.tsx
  src/hooks/roles.ts
  src/hooks/useDebugWarnLog.ts
  src/pages/Admin/Admin.tsx
  src/pages/Admin/VenueOwnersModal.tsx
  src/types/Firestore.ts
  src/types/SparkleSelector.ts
  src/utils/filter.ts
  src/utils/selectors.ts
Labels: bug

#726 'Large Party Map' Performance - Part 1/x (FIX)
  package.json
  src/components/molecules/CountDown/CountDown.tsx
  src/components/molecules/CountDown/index.ts
  src/components/organisms/AuthenticationModal/AuthenticationModal.tsx
  src/components/organisms/AuthenticationModal/index.ts
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/components/organisms/WithNavigationBar/index.ts
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/ArtPiece/index.ts
  src/components/templates/Audience/AudienceRouter.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/ConversationSpace/index.ts
  src/components/templates/Jazzbar/JazzbarRouter/JazzbarRouter.tsx
  src/components/templates/Jazzbar/JazzbarRouter/index.ts
  src/components/templates/PartyMap/PartyMapPage.tsx
  src/components/templates/PartyMap/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/RoomModal/index.ts
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/PartyTitle/PartyTitle.tsx
  src/components/templates/PartyMap/components/PartyTitle/index.ts
  src/components/templates/PartyMap/components/RoomAttendance.tsx
  src/components/templates/PartyMap/components/RoomCard/RoomCard.tsx
  src/components/templates/PartyMap/components/RoomCard/index.ts
  src/components/templates/PartyMap/components/RoomList/RoomList.tsx
  src/components/templates/PartyMap/components/RoomList/index.ts
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/index.ts
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/PartyMap/components/ScheduleItem/index.ts
  src/components/templates/PartyMap/components/index.ts
  src/components/templates/PartyMap/index.ts
  src/hooks/useConnectCurrentEvent.ts
  src/hooks/useConnectCurrentVenue.ts
  src/hooks/useConnectCurrentVenueNG.ts
  src/hooks/useConnectPartyGoers.ts
  src/hooks/useConnectUserPurchaseHistory.ts
  src/hooks/useSparkleFirestoreConnect.ts
  src/hooks/useUser.ts
  src/hooks/useUserLastSeenLimit.ts
  src/pages/FriendShipPage/FriendShipPage.tsx
  src/pages/FriendShipPage/index.ts
  src/pages/VenuePage/VenuePage.tsx
  src/types/Firestore.ts
  src/types/SparkleSelector.ts
  src/utils/firestoreSelectors.ts
  src/utils/getQueryParameters.ts
  src/utils/selectors.ts
Labels: bug, enhancement

#727 'Large Party Map' Performance - Part 2/x
  src/components/molecules/CallOutMessageForm/CallOutMessageForm.tsx
  src/components/molecules/EventPaymentButton/EventPaymentButton.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/TableComponent/TableComponent.tsx
  src/components/molecules/UserList/UserList.tsx
  src/components/organisms/ChatDrawer/ChatDrawer.tsx
  src/components/organisms/EditProfileModal/EditProfileModal.tsx
  src/components/organisms/PaymentModal/PaymentModal.tsx
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/SchedulePageModal/SchedulePageModal.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Audience/AudienceRouter.tsx
  src/components/templates/AvatarGrid/AvatarAdmin.tsx
  src/components/templates/AvatarGrid/AvatarGrid.tsx
  src/components/templates/Camp/Camp.tsx
  src/components/templates/Camp/CampAdmin.tsx
  src/components/templates/Camp/components/Map.tsx
  src/components/templates/Camp/components/RoomModal.tsx
  src/components/templates/Camp/components/RoomModalOngoingEvent.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/JazzbarRouter/JazzbarRouter.tsx
  src/components/templates/PartyMap/components/PartyTitle/PartyTitle.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/PlayaAdmin.tsx
  src/hooks/useCampPartygoers.ts
  src/hooks/useConnectPartyGoers.ts
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Login.tsx
  src/pages/Account/Questions.tsx
  src/pages/Admin/Admin.tsx
  src/pages/FriendShipPage/FriendShipPage.tsx
  src/pages/ReactionPage/ReactionPage.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VideoAdmin/VideoAdmin.tsx
  src/utils/selectors.ts
  src/utils/url.ts
Labels: do-not-merge, enhancement

#732 'Large Party Map' Performance - Part 3/x
  package-lock.json
  package.json
  src/components/templates/Camp/Camp.tsx
  src/components/templates/Camp/components/CampAttendance.tsx
  src/components/templates/Camp/components/Map.tsx
  src/components/templates/Camp/components/MapPartygoerOverlay.tsx
  src/components/templates/Camp/components/MapRoomOverlay.tsx
  src/components/templates/Camp/components/MapRow.tsx
  src/components/templates/Camp/hooks/useKeyboardControls.ts
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/hooks/useDebugWarnLog.ts
  src/hooks/useMousetrap.ts
  src/types/Attendances.ts
  src/types/User.ts
  src/types/utility.ts
  src/utils/filter.ts
  src/utils/isWithinBounds.ts
  src/utils/reducers.ts
  src/utils/url.ts
Labels: do-not-merge, enhancement

#742 'Large Party Map' Performance - Part 3/x - FIX
  src/components/templates/Camp/Camp.tsx
  src/components/templates/Camp/components/Map.tsx
  src/components/templates/Camp/components/MapRoomOverlay.tsx
Labels: bug

#743 [MASTER][BUGFIX] fix undefined TypeError in useCampPartygoers hook
  src/hooks/useCampPartygoers.ts
Labels: bug

#746 Backport "[MASTER][BUGFIX] fix undefined TypeError in useCampPartygoers hook" into staging
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/hooks/useCampPartygoers.ts
Labels: bug

#748 fix Admin Venue TemplateForm component to not show broken images
  src/pages/Admin/Venue/TemplateForm.tsx
Labels: bug

#749 [MASTER][BUGFIX] fix admin VenueList scrolling
  src/pages/Admin/Admin.scss
Labels: bug

#750 Backport "[MASTER][BUGFIX] fix admin VenueList scrolling" into staging
  src/pages/Admin/Admin.scss
Labels: bug

#753 use parentVenue title/subtitle/etc in NavBar when parent exists + some performance bits along the way
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/NavBarLogin.tsx
  src/components/organisms/SchedulePageModal/SchedulePageModal.tsx
  src/hooks/useConnectRelatedVenues.ts
Labels: enhancement

#756 fix useCallback dependencies not being exhaustive + actually ask for the events that we want...
  src/components/organisms/SchedulePageModal/SchedulePageModal.tsx
  src/hooks/useConnectRelatedVenues.ts
Labels: bug

#764 ensure NavBar component doesn't render 'loading...' when no venue
  src/components/molecules/NavBar/NavBar.tsx
Labels: bug

#786 Add custom 'slim' template to circleci slack/notify on fail step
  .circleci/config.yml
Labels: blocked-by-pr

#787 Hide attendance boxes when there are zero attendees
  src/components/templates/Camp/components/CampAttendance.tsx
  src/components/templates/Camp/components/MapRoomOverlay.tsx
  src/components/templates/PartyMap/components/RoomAttendance.tsx
Labels: priority-prod-fix

#784 Prevent pathological queries when doc is not specified
  .eslintrc
  src/components/molecules/NavBar/NavBar.tsx
  src/hooks/roles.ts
  src/hooks/useConnectCurrentVenueNG.ts
  src/hooks/useConnectRelatedVenues.ts
  src/hooks/useFirestoreConnect.ts
  src/hooks/useSparkleFirestoreConnect.ts
  src/pages/Admin/Admin.tsx
  src/types/utility.ts
Labels: priority-prod-fix

#797 Revert "Prevent pathological queries when doc is not specified (#784)"
  .eslintrc
  src/components/molecules/NavBar/NavBar.tsx
  src/hooks/roles.ts
  src/hooks/useConnectCurrentVenueNG.ts
  src/hooks/useConnectRelatedVenues.ts
  src/hooks/useFirestoreConnect.ts
  src/hooks/useSparkleFirestoreConnect.ts
  src/pages/Admin/Admin.tsx
  src/types/utility.ts
Labels: do-not-merge

#780 fix schedule info when parent is missing
  src/components/molecules/NavBar/NavBar.tsx
Labels: priority-prod-fix

#802 Fix package-lock.json issues
  cypress/integration/examples/cypress-register.spec.js
  jest.config.js
  package-lock.json
  package-lock.test.ts
  package.json
Labels: priority-prod-fix

#793 Allow JazzBar to load table configuration from venue.config.tables
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/types/Venue.ts
  src/utils/selectors.ts
Labels: do-not-merge, priority-prod-fix

#808 Deploy staging->master
  src/components/organisms/SchedulePageModal/SchedulePageModal.tsx
  src/components/templates/Camp/components/Map.scss
  src/components/templates/Camp/components/Map.tsx
  src/components/templates/Camp/hooks/useMapGrid.tsx
  src/components/templates/Camp/hooks/usePartygoersBySeat.ts
  src/components/templates/Camp/hooks/usePartygoersOverlay.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/scss/global.scss
  src/utils/event.ts
Labels: do-not-merge

#810 tweak room counting and uncounting
  src/components/molecules/UserList/UserList.tsx
  src/components/templates/Camp/components/CampAttendance.tsx
  src/components/templates/Camp/components/Map.scss
  src/components/templates/Camp/components/RoomModalOngoingEvent.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/hooks/useCampPartygoers.ts
Labels: enhancement

#836 Fix TypeError: Cannot assign to read only property '0' of object '[object Array]' in SideBar component
  src/components/molecules/Sidebar/Sidebar.tsx
Labels: bug

#837 Add browserslist:update-db helper script + update the underlying caniuse-lite dependency
  package-lock.json
  package.json
Labels: enhancement
