Repository sparkletown/sparkle, pull requests merged in 2020-12, with the labels that each got.

#852 🐛 Room show/hide on map if enabled/disabled in admin panel
  src/components/templates/Camp/components/MapRoomOverlay.tsx
  src/components/templates/Camp/components/RoomCard.tsx
  src/components/templates/PartyMap/components/Map/PartyMapRoomOverlay.tsx
Labels: bug

#855 ✨ Show Rangers support toggle on admin form
  functions/venue.js
  src/api/admin.ts
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/Camp/Camp.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/types/Venue.ts
Labels: feature-request

#888 Ensure Party Map always opens rooms in a new tab
  src/components/templates/Camp/components/MapRoomOverlay.tsx
Labels: priority-prod-fix

#889 Fix bug in utils/url isValidUrl and use Bugsnag.notify instead of console.error logging
  src/components/organisms/Room/Room.tsx
  src/index.tsx
  src/pages/Admin/AdminEditComponent.tsx
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/utils/url.ts
Labels: bug

#892 fix VALID_URL_PROTOCOLS
  src/settings.ts
Labels: priority-prod-fix

#899 Show chat drawer on auditorium (audience)
  src/components/templates/Audience/Audience.scss
Labels: bug

#898 Ability to toggle reactions container on-off on auditorium…
  functions/venue.js
  src/components/templates/Audience/Audience.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/settings.ts
  src/types/Venue.ts
Labels: feature-request

#900 Attendees and Chat labels configurable
  functions/venue.js
  src/api/admin.ts
  src/components/molecules/Sidebar/Sidebar.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/types/Venue.ts
Labels: feature-request

#901 Auditorium editable seats by column and row
  functions/venue.js
  src/api/admin.ts
  src/components/templates/Audience/Audience.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/types/Venue.ts
Labels: enhancement

#906 Disable utils/url isValidUrl check in openUrl
  src/utils/url.ts
Labels: bug

#908 Revert "remove join event button when secret form is shown (#903)"
  src/pages/VenueLandingPage/VenueLandingPage.tsx
Labels: priority-prod-fix

#913 Ensure that backend errors on LoginForm / RegisterForm get cleared when form data changes
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
Labels: bug, 🔨🍷 break-glass-approval-bypass

#921 Private chat messages showing in correct order for both participants
  src/components/molecules/ChatList/ChatList.tsx
  src/components/molecules/ChatList/ChatMessage.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
Labels: bug

#857 Add lint check to precommit hook
  package.json
Labels: enhancement

#932 🔥 Check for existance of profile before pushing url
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenuePage/VenuePage.tsx
Labels: bug

#934 Prevent loops in account creation
  src/hooks/useUser.ts
  src/pages/Account/Profile.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/utils/profile.ts
Labels: 🔨🍷 break-glass-approval-bypass

#935 Deploy - Prevent loops in account creation (#934)
  src/hooks/useUser.ts
  src/pages/Account/Profile.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/utils/profile.ts
Labels: 🔨🍷 break-glass-approval-bypass

#937 Fix error in flatMap occurring in some venues
  src/hooks/useConnectRelatedVenues.ts
Labels: 🐛 bug

#942 make video room names unique
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
Labels: 🐛 bug, 🚑 p1-prod-fix

#941 Show badges on profile modal
  src/components/organisms/Badges/Badges.tsx
Labels: 🐛 bug

#945 Update firestore deps + fix selector in ChatContext
  package-lock.json
  package.json
  src/components/context/ChatContext.tsx
Labels: dependencies, 🐛 bug

#944 fix room count and name option
  src/components/templates/PartyMap/components/Map/PartyMapRoomOverlay.tsx
Labels: ✨ UI/UX, 🐛 bug

#926 Improve scripts/upload-table-config for safety + efficiency (+updates other scripts to use new patterns)
  package-lock.json
  package.json
  scripts/create-jazz-bar.ts
  scripts/duplicate-venue.ts
  scripts/get-events.ts
  scripts/get-users.ts
  scripts/get-venue-owners.ts
  scripts/get-venues.ts
  scripts/get-visitors.ts
  scripts/lib/helpers.ts
  scripts/rescale-placement.ts
  scripts/resize-images.ts
  scripts/upload-table-config.ts
Labels: :muscle: enhancement, dependencies, 💻 eng-QoL

#954 add scripts/count-users-entered-venue
  scripts/count-users-entered-venue.ts
Labels: 💻 eng-QoL

#963 ✨Conversation space template enabled for creation
  functions/venue.js
  public/venues/pickspace-thumbnail_conversation.png
  src/pages/Admin/Venue/TemplateForm.tsx
  src/settings.ts
Labels: 💡 feature-request

#964 🚧 lint only javascript related files
  package.json
Labels: 🐛 bug

#962 enable redux devtools in production
  src/index.tsx
Labels: 💻 eng-QoL

#928 Radio popover enabled from venue config
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/Navbar.styles.ts
  src/components/organisms/RadioModal/RadioModal.tsx
  src/hooks/useRadio.ts
  src/types/Venue.ts
  src/utils/selectors.ts
Labels: :muscle: enhancement

#953 Add assign-author GitHub action workflow
  .github/workflows/assign-author.yml
Labels: 💻 eng-QoL

#952 Add pr-description-enforcer GitHub actions workflow
  .github/workflows/pr-description-enforcer.yml
Labels: 💻 eng-QoL

#951 Add automatic pull-request labeler GitHub actions workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: 💻 eng-QoL

#973 fix fontawesome issues introduced in recent version bump
  package-lock.json
  package-lock.test.ts
  package.json
Labels: dependencies

#975 Slightly user friendlier unknown video error
  src/components/organisms/Room/Room.tsx
Labels: ✨ UI/UX, 🩹 triaged

#972 Add Mixpanel analytics
  .env.example
  .eslintrc
  package-lock.json
  package.json
  scripts/init-env.sh
  src/hooks/useMixpanel.ts
  src/index.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/secrets.js
Labels: dependencies, 💡 new-feature

#977 Prevent mixpanel failing if no venue template is passed
  src/pages/VenuePage/VenuePage.tsx
Labels: 🐛 bug

#960 filter badges with venues instead of related
  .eslintrc
  functions/venue.js
  package.json
  src/api/admin.ts
  src/components/organisms/Badges/BadgeImage.tsx
  src/components/organisms/Badges/Badges.scss
  src/components/organisms/Badges/Badges.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/SchedulePageModal/SchedulePageModal.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.scss
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/hooks/useUser.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/Venue.scss
  src/pages/Schedule/SchedulePage.tsx
  src/settings.ts
  src/types/Firestore.ts
  src/types/Venue.ts
Labels: dependencies, 🏎️ performance

#956 Remove contexts
  package-lock.json
  package.json
  src/components/context/ChatContext.tsx
  src/components/molecules/ChatList/ChatList.tsx
  src/components/molecules/ChatList/ChatMessage.tsx
  src/components/molecules/ChatMessage/ChatMessage.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/ChatsList/ChatsList.tsx
  src/components/molecules/Message/Message.tsx
  src/components/molecules/MessageList/MessageList.tsx
  src/components/molecules/Sidebar/Sidebar.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/molecules/VenueChat/VenueChat.tsx
  src/components/organisms/ChatDrawer/ChatDrawer.tsx
  src/components/organisms/Chatbox/ChatForm.tsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/components/organisms/PrivateChatModal/PrivateChatModal.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Audience/AudienceRouter.tsx
  src/components/templates/FireBarrel/useVideo.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/JazzbarRouter/JazzbarRouter.tsx
  src/components/templates/Jazzbar/components/ReactionList.tsx
  src/hooks/useDispatch.ts
  src/hooks/useReactions.ts
  src/index.tsx
  src/pages/ReactionPage/ReactionPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/store/actions/Chat.ts
  src/store/actions/Reactions.ts
  src/store/actions/index.ts
  src/types/Firestore.ts
  src/utils/chat.ts
  src/utils/filter.ts
  src/utils/reactions.ts
Labels: dependencies, 🏎️ performance

#980 Revert "Remove contexts (#956)"
  package-lock.json
  package.json
  src/components/context/ChatContext.tsx
  src/components/context/ExperienceContext.tsx
  src/components/molecules/ChatList/ChatList.tsx
  src/components/molecules/ChatList/ChatMessage.tsx
  src/components/molecules/ChatMessage/ChatMessage.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/ChatsList/ChatsList.tsx
  src/components/molecules/Message/Message.tsx
  src/components/molecules/MessageList/MessageList.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/molecules/VenueChat/VenueChat.tsx
  src/components/organisms/ChatDrawer/ChatDrawer.tsx
  src/components/organisms/Chatbox/ChatForm.tsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/components/organisms/PrivateChatModal/PrivateChatModal.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Audience/AudienceRouter.tsx
  src/components/templates/FireBarrel/useVideo.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/JazzbarRouter/JazzbarRouter.tsx
  src/components/templates/Jazzbar/components/ReactionList.tsx
  src/hooks/useDispatch.ts
  src/hooks/useReactions.ts
  src/index.tsx
  src/pages/ReactionPage/ReactionPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/store/actions/Chat.ts
  src/store/actions/Reactions.ts
  src/store/actions/index.ts
  src/types/Firestore.ts
  src/utils/chat.ts
  src/utils/filter.ts
Labels: dependencies

#990 add configuration for sparkle-2 environment
  .circleci/config.yml
  .firebaserc
  firebase.json
  src/index.tsx
Labels: 🔨🍷 break-glass-approval-bypass

#994 fix sparkle-2 environment config
  .firebaserc
  firebase.json
Labels: 🔨🍷 break-glass-approval-bypass

#995 fix sparkle-2 environment config (round 2)
  .circleci/config.yml
Labels: 🔨🍷 break-glass-approval-bypass

#996 fix sparkle-2 environment config (round 3)
  .firebaserc
Labels: 🔨🍷 break-glass-approval-bypass

#997 add configuration for sparkle-3 to sparkle-10 environments
  .circleci/config.yml
  .firebaserc
  firebase.json
  src/index.tsx
Labels: 🔨🍷 break-glass-approval-bypass

#1000 be more explicit with errors + show functions.config()
  functions/index.js
Labels: 🔨🍷 break-glass-approval-bypass

#1005 add scripts/clone-events-across-firebase-projects
  scripts/clone-events-across-firebase-projects.ts
Labels: 💻 eng-QoL

#988 fix a bunch more performance related things (including a pathological query of all private chats)
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/ChatsList/ChatsList.tsx
  src/components/molecules/Sidebar/Sidebar.tsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/components/organisms/PrivateChatModal/PrivateChatModal.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/utils/selectors.ts
Labels: 🏎️ performance, 💥 tech-debt

#1006 Fix references when cloning venues
  scripts/clone-data-across-firebase-projects.ts
Labels: 💻 eng-QoL, 🔨🍷 break-glass-approval-bypass

#1008 add scripts/create-users
  scripts/create-users.ts
  scripts/lib/helpers.ts
Labels: 💻 eng-QoL

#1001 Add document count script
  scripts/count-documents.ts
Labels: 💻 eng-QoL, 🔨🍷 break-glass-approval-bypass

#989 Deploy - Multi-environment bits and pieces, chat performance, redirect if profile is incomplete
  .circleci/config.yml
  .firebaserc
  firebase.json
  functions/index.js
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  public/index.html
  scripts/clone-data-across-firebase-projects.ts
  scripts/clone-events-across-firebase-projects.ts
  scripts/count-documents.ts
  scripts/create-users.ts
  scripts/lib/helpers.ts
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/ChatsList/ChatsList.tsx
  src/components/molecules/Sidebar/Sidebar.tsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/components/organisms/PrivateChatModal/PrivateChatModal.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/index.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/utils/selectors.ts
Labels: dependencies

#1010 Fixes flatmap error in Edge browser
  src/index.tsx
  src/polyfills.ts
Labels: 🐛 bug

#993 Sync sparkle1 -> staging
  package-lock.json
  package.json
Labels: dependencies

#1009 Fixes chat position; Refactors chat component
  src/components/molecules/UserSearchBar/UserSearchBar.scss
  src/components/molecules/UserSearchBar/UserSearchBar.tsx
Labels: :muscle: enhancement, 🐛 bug, 💥 tech-debt

#1012 Deploy - flatMap and chat fixes, sync sparkle1
  package-lock.json
  package.json
  src/components/molecules/UserSearchBar/UserSearchBar.scss
  src/components/molecules/UserSearchBar/UserSearchBar.tsx
  src/index.tsx
  src/polyfills.ts
Labels: dependencies

#992 Entrance Experience Customisations
  functions/venue.js
  public/venues/pickspace-thumbnail_map.png
  src/api/admin.ts
  src/hooks/useDynamicInput.ts
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminEditComponent.tsx
  src/pages/Admin/Venue/AdvancedDetailsForm.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/EntranceInput.tsx
  src/pages/Admin/Venue/QuestionInput.tsx
  src/pages/Admin/Venue/TemplateForm.tsx
  src/pages/Admin/Venue/Venue.scss
  src/settings.ts
  src/types/JazzbarVenue.ts
  src/types/Venue.ts
Labels: :muscle: enhancement

#1020 Re-add support for themecamp template to admin tools
  src/settings.ts
Labels: 🔨🍷 break-glass-approval-bypass

#1021 Display bugsnag logo on README
  README.md
Labels: 🔨🍷 break-glass-approval-bypass

#1022 Event duplication
  src/components/organisms/SchedulePageModal/SchedulePageModal.tsx
  src/types/VenueEvent.ts
Labels: 🐛 bug

#1014 Adds initial integration with Zendesk
  src/index.tsx
  src/utils/loadScript.ts
  src/utils/zendesk.ts
Labels: 💡 new-feature

#1007 Remove contexts - attempt 2
  package-lock.json
  package.json
  src/components/context/ChatContext.tsx
  src/components/molecules/ChatList/ChatList.tsx
  src/components/molecules/ChatList/ChatMessage.tsx
  src/components/molecules/ChatMessage/ChatMessage.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/ChatsList/ChatsList.tsx
  src/components/molecules/Message/Message.tsx
  src/components/molecules/MessageList/MessageList.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/molecules/VenueChat/VenueChat.tsx
  src/components/organisms/ChatDrawer/ChatDrawer.tsx
  src/components/organisms/Chatbox/ChatForm.tsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Audience/AudienceRouter.tsx
  src/components/templates/FireBarrel/useVideo.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/JazzbarRouter/JazzbarRouter.tsx
  src/components/templates/Jazzbar/components/ReactionList.tsx
  src/hooks/useDispatch.ts
  src/hooks/useReactions.ts
  src/index.tsx
  src/pages/ReactionPage/ReactionPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/store/actions/Chat.ts
  src/store/actions/Reactions.ts
  src/store/actions/index.ts
  src/types/Firestore.ts
  src/utils/chat.ts
  src/utils/filter.ts
  src/utils/reactions.ts
Labels: dependencies

#1035 Deploy
  functions/venue.js
  package-lock.json
  package.json
  src/api/admin.ts
  src/components/context/ChatContext.tsx
  src/components/molecules/ChatList/ChatList.tsx
  src/components/molecules/ChatList/ChatMessage.tsx
  src/components/molecules/ChatMessage/ChatMessage.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/ChatsList/ChatsList.tsx
  src/components/molecules/Message/Message.tsx
  src/components/molecules/MessageList/MessageList.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/molecules/VenueChat/VenueChat.tsx
  src/components/organisms/ChatDrawer/ChatDrawer.tsx
  src/components/organisms/Chatbox/ChatForm.tsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Audience/AudienceRouter.tsx
  src/components/templates/FireBarrel/useVideo.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/JazzbarRouter/JazzbarRouter.tsx
  src/components/templates/Jazzbar/components/ReactionList.tsx
  src/hooks/useDispatch.ts
  src/hooks/useReactions.ts
  src/index.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/ReactionPage/ReactionPage.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/settings.ts
  src/store/actions/Chat.ts
  src/store/actions/Reactions.ts
  src/store/actions/index.ts
  src/types/Firestore.ts
  src/types/Venue.ts
  src/utils/chat.ts
  src/utils/filter.ts
  src/utils/loadScript.ts
  src/utils/reactions.ts
  src/utils/zendesk.ts
Labels: dependencies

#1038 Add radio input to admin panel
  functions/venue.js
  src/api/admin.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
Labels: :muscle: enhancement

#1039 Removing usupported syntax from venue
  functions/venue.js
Labels: 🔨🍷 break-glass-approval-bypass

#1046 Get user badges for specific venue
  scripts/get-badges.ts
Labels: 💡 new-feature

#1059 [FIX] Chat display fix
  src/components/molecules/VenueChat/VenueChat.tsx
  src/components/organisms/ChatDrawer/ChatDrawer.tsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/hooks/useSparkleFirestoreConnect.ts
  src/hooks/useVenueChats.ts
  src/pages/ReactionPage/ReactionPage.tsx
Labels: 🐛 bug, 🚑 p1-prod-fix
