Repository sparkletown/sparkle, pull requests merged in 2021-03, with the labels that each got.

#1215 restore ReactionPage + some related cleanup to reactions/similar
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/UserList/UserList.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.types.ts
  src/components/templates/Audience/Audience.tsx
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/Jazzbar/components/ReactionList.tsx
  src/components/templates/ReactionPage/ReactionList.tsx
  src/components/templates/ReactionPage/ReactionPage.scss
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/components/templates/ReactionPage/index.ts
  src/hooks/useReactions.ts
  src/hooks/users.ts
  src/pages/ReactionPage/ReactionPage.tsx
  src/pages/ReactionPage/index.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/settings.ts
  src/store/actions/Room.ts
  src/store/reducers/Room.ts
  src/types/Firestore.ts
  src/types/utility.ts
  src/utils/reactions.ts
  src/utils/selectors.ts
Labels: 💎 styles, 💥 tech-debt

#1221 add new firebase environment
  .circleci/config.yml
  .firebaserc
  firebase.json
  src/index.tsx
Labels: :desktop_computer: infrastructure

#1223 deploy staging -> master
  .circleci/config.yml
  .firebaserc
  firebase.json
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/UserList/UserList.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.types.ts
  src/components/templates/Audience/Audience.tsx
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/Jazzbar/components/ReactionList.tsx
  src/components/templates/ReactionPage/ReactionList.tsx
  src/components/templates/ReactionPage/ReactionPage.scss
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/components/templates/ReactionPage/index.ts
  src/hooks/useReactions.ts
  src/hooks/users.ts
  src/index.tsx
  src/pages/ReactionPage/ReactionPage.tsx
  src/pages/ReactionPage/index.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/settings.ts
  src/store/actions/Room.ts
  src/store/reducers/Room.ts
  src/types/Firestore.ts
  src/types/utility.ts
  src/utils/reactions.ts
  src/utils/selectors.ts
Labels: :rocket: deployment, 💎 styles

#1220 improve generateTables engineering script helper
  scripts/lib/helpers.ts
Labels: 💻 eng-QoL

#1213 fix admin room edit urls
  src/api/admin.ts
Labels: 🐛 bug

#1230 Deploy staging -> master
  functions/venue.js
  scripts/lib/helpers.ts
  src/api/admin.ts
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: :rocket: deployment

#1232 Adds shadow and pointer to a room
  src/components/templates/PartyMap/components/Map/MapRoom.scss
Labels: :muscle: enhancement, 💎 styles

#1231 fix Auditorium video container to be properly centred + some related cleanup
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
Labels: ✨ UI/UX, 🐛 bug, 💎 styles

#1217 Jazzbar responsive layout for 4+ people
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/TableHeader/TableHeader.scss
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TablesUserList/TablesUserList.scss
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.scss
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.scss
  src/components/templates/Jazzbar/jazzbar-constants.scss
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/constants.scss
Labels: :muscle: enhancement, 💎 styles

#1233 Changes Jazzbar table styles
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.scss
Labels: ✨ UI/UX, 💎 styles

#1234 Revert "fix Auditorium video container to be properly centred + some related cleanup"
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
Labels: 💎 styles

#1224 fix: make external banner links open in new tab
  src/utils/getLinkFromText.tsx
Labels: 🐛 bug

#1237 Fix Auditorium video container to be properly centred + some related cleanup
  src/components/organisms/WithNavigationBar/WithNavigationBar.scss
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
  src/pages/Account/Account.scss
  src/scss/constants.scss
  src/scss/global.scss
Labels: :muscle: enhancement, ✨ UI/UX, 🐛 bug, 💎 styles, 💥 tech-debt

#1239 Minor tweaks to Auditorium styles + related cleanup
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
  src/scss/constants.scss
Labels: 💎 styles, 💥 tech-debt

#1243 add embeddable iframe template implementation
  scripts/upload-table-config.ts
  src/components/molecules/AdminVideo/AdminVideo.scss
  src/components/molecules/AdminVideo/AdminVideo.tsx
  src/components/molecules/AdminVideo/index.ts
  src/components/molecules/IframeAdmin/IframeAdmin.scss
  src/components/molecules/IframeAdmin/IframeAdmin.tsx
  src/components/molecules/IframeAdmin/index.ts
  src/components/organisms/Badges/Badges.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/PaymentModal/PaymentModal.tsx
  src/components/templates/Embeddable/Embeddable.scss
  src/components/templates/Embeddable/Embeddable.tsx
  src/components/templates/Embeddable/index.ts
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/Jazzbar.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/PlayaIcon.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/hooks/useConnectRelatedVenues.ts
  src/pages/Account/Questions.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/AdminVenueRoomsList.tsx
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/EventsComponent.tsx
  src/pages/Admin/Sidebar/Sidebar.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/TemplateForm.tsx
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/pages/Admin/Venue/VenueDeleteModal.tsx
  src/pages/Admin/Venue/VenueWizard.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/pages/VenuePage/helpers.ts
  src/settings.ts
  src/types/venues.ts
  src/utils/venue.ts
Labels: ✨ UI/UX, 💎 styles, 💡 new-feature, 💥 tech-debt

#1242 Removes 'Live Schedule' text from RoomModal
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
Labels: ✨ UI/UX

#1244 Deploy staging -> production
  scripts/upload-table-config.ts
  src/components/molecules/AdminVideo/AdminVideo.scss
  src/components/molecules/AdminVideo/AdminVideo.tsx
  src/components/molecules/AdminVideo/index.ts
  src/components/molecules/IframeAdmin/IframeAdmin.scss
  src/components/molecules/IframeAdmin/IframeAdmin.tsx
  src/components/molecules/IframeAdmin/index.ts
  src/components/organisms/Badges/Badges.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/PaymentModal/PaymentModal.tsx
  src/components/templates/Embeddable/Embeddable.scss
  src/components/templates/Embeddable/Embeddable.tsx
  src/components/templates/Embeddable/index.ts
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/Jazzbar.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/PlayaIcon.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/hooks/useConnectRelatedVenues.ts
  src/pages/Account/Questions.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/AdminVenueRoomsList.tsx
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/EventsComponent.tsx
  src/pages/Admin/Sidebar/Sidebar.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/TemplateForm.tsx
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/pages/Admin/Venue/VenueDeleteModal.tsx
  src/pages/Admin/Venue/VenueWizard.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/pages/VenuePage/helpers.ts
  src/settings.ts
  src/types/venues.ts
  src/utils/venue.ts
Labels: :rocket: deployment, 💎 styles

#1249 fix audience unclickable video controls
  src/components/templates/Audience/Audience.scss
Labels: 🐛 bug, 💎 styles, 🚑 p1-prod-fix

#1250 Deploy 08032021
  src/components/templates/Audience/Audience.scss
Labels: 💎 styles

#1193 Change admin_v2 edit room modal from styled components to scss
  src/pages/Admin/Room/Edit/RoomEdit.styles.ts
  src/pages/Admin/Room/Edit/RoomEdit.tsx
  src/pages/Admin/Room/Edit/RoomEdit.types.ts
  src/pages/Admin/Room/Edit/RoomEditModal.scss
  src/pages/Admin/Room/Edit/RoomEditModal.tsx
  src/pages/Admin/Room/Edit/index.ts
  src/pages/Admin/Venue/Details/VenueDetails.tsx
Labels: 💎 styles, 💥 tech-debt

#1225 add unclickable room type
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.scss
  src/components/templates/PartyMap/components/Map/MapRoom.scss
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/scss/constants.scss
  src/types/rooms.ts
Labels: :muscle: enhancement, 💎 styles, 💡 new-feature

#1240 [ENV/KOTR] custom fonts, colors and loaders implementation
  firestore.rules
  src/api/loaders.ts
  src/assets/fonts/CCGeekSpeakTweak-W00-Regular.ttf
  src/assets/fonts/CCZoinks-Regular.ttf
  src/assets/masks/mask-burningman-logo.png
  src/assets/masks/mask-sparkle-logo.png
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/molecules/LoadingPage/LoadingPage.jsx
  src/components/molecules/LoadingPage/LoadingPage.tsx
  src/components/molecules/LoadingPage/loading.scss
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/organisms/AppRouter/AppRouter.jsx
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/templates/PartyMap/components/Map/MapRoom.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/hooks/useCustomLoaders.tsx
  src/index.tsx
  src/pages/VenueLandingPage/VenueLandingPage.scss
  src/scss/constants.scss
  src/scss/global.scss
  src/settings.ts
  src/types/CustomLoader.ts
  src/utils/localStorage.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1255 [ENV/KOTR] Deploy master -> KOTR
  src/components/molecules/AdminVenueCard/AdminVenueCard.scss
  src/components/molecules/AdminVenueCard/AdminVenueCard.tsx
  src/components/molecules/AdminVenueCard/index.ts
  src/components/molecules/EventDisplay/EventDisplay.scss
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/playa.scss
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/organisms/AdminVenues/AdminVenues.scss
  src/components/organisms/AdminVenues/AdminVenues.tsx
  src/components/organisms/AdminVenues/index.ts
  src/components/organisms/SchedulePageModal/SchedulePageModal.scss
  src/components/templates/Audience/Audience.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.scss
  src/components/templates/PartyMap/components/Map/MapRoom.scss
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/hooks/useReactions.ts
  src/pages/Admin/Admin.styles.ts
  src/pages/Admin/Admin_v2.tsx
  src/pages/Admin/Room/Edit/RoomEdit.styles.ts
  src/pages/Admin/Room/Edit/RoomEdit.tsx
  src/pages/Admin/Room/Edit/RoomEdit.types.ts
  src/pages/Admin/Room/Edit/RoomEditModal.scss
  src/pages/Admin/Room/Edit/RoomEditModal.tsx
  src/pages/Admin/Room/Edit/index.ts
  src/pages/Admin/Sidebar/Sidebar.tsx
  src/pages/Admin/Venue/Details/VenueDetails.tsx
  src/scss/constants.scss
  src/types/rooms.ts
Labels: :rocket: deployment, 💎 styles

#1256 ensure unclickable rooms maintain their z-index onHover
  src/components/templates/PartyMap/components/Map/MapRoom.scss
Labels: ✨ UI/UX, 🐛 bug, 💎 styles

#1257 Deploy staging -> master
  src/components/templates/PartyMap/components/Map/MapRoom.scss
Labels: :rocket: deployment, 💎 styles

#1258 Deploy master -> env/kotor
  src/components/templates/PartyMap/components/Map/MapRoom.scss
Labels: :rocket: deployment, 💎 styles

#1266 Adds embedable UI to the admin panel
  functions/venue.js
  src/api/admin.ts
  src/components/templates/Embeddable/Embeddable.scss
  src/settings.ts
Labels: :muscle: enhancement, 💎 styles

#1270 Deploy staging => master
  functions/venue.js
  src/api/admin.ts
  src/components/templates/Embeddable/Embeddable.scss
  src/settings.ts
Labels: 💎 styles

#1271 Deploy master => env/kotr
  functions/venue.js
  src/api/admin.ts
  src/components/templates/Embeddable/Embeddable.scss
  src/settings.ts
Labels: 💎 styles

#1268 Fix reactions and shoutouts going behind avatars (or emojis)
  src/components/molecules/UserProfilePicture/UserProfilePicture.styles.ts
Labels: ✨ UI/UX, 🐛 bug, 💎 styles

#1273 Disable autocomplete suggestions when writing a chat message, shoutout or other input
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/IframeAdmin/IframeAdmin.tsx
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/UserSearchBar/UserSearchBarInput.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Playa/Playa.tsx
  src/pages/Account/Profile.tsx
Labels: :muscle: enhancement, ✨ UI/UX

#1274 fix updateVenue function to properly update iframeUrl + simplify implementation
  functions/venue.js
  src/settings.ts
  src/types/venues.ts
Labels: P2 - High, 🐛 bug

#1267 Increases seat size
  src/components/templates/Audience/Audience.scss
Labels: :muscle: enhancement, P2 - High, ✨ UI/UX, 💎 styles

#1269 add useCustomSound + configurable custom sound effects on Room entry
  firestore.rules
  package-lock.json
  package.json
  src/api/sounds.ts
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/hooks/sounds.tsx
  src/index.tsx
  src/types/rooms.ts
  src/types/sounds.ts
  src/utils/types.ts
Labels: dependencies, 💡 new-feature

#1277 fix unsupported ES6 syntax in backend functions
  functions/venue.js
Labels: 🐛 bug

#1276 Deploy staging -> master
  firestore.rules
  functions/venue.js
  package-lock.json
  package.json
  src/api/sounds.ts
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/IframeAdmin/IframeAdmin.tsx
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.styles.ts
  src/components/molecules/UserSearchBar/UserSearchBarInput.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/Playa/Playa.tsx
  src/hooks/sounds.tsx
  src/index.tsx
  src/pages/Account/Profile.tsx
  src/settings.ts
  src/types/rooms.ts
  src/types/sounds.ts
  src/types/venues.ts
  src/utils/types.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1278 Deploy master -> env/kotr
  firestore.rules
  functions/venue.js
  package-lock.json
  package.json
  src/api/sounds.ts
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/IframeAdmin/IframeAdmin.tsx
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.styles.ts
  src/components/molecules/UserSearchBar/UserSearchBarInput.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/Playa/Playa.tsx
  src/hooks/sounds.tsx
  src/index.tsx
  src/pages/Account/Profile.tsx
  src/settings.ts
  src/types/rooms.ts
  src/types/sounds.ts
  src/types/venues.ts
  src/utils/types.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1279 [ENV/KOTR] wait till auth is loaded before loading custom sounds
  src/api/sounds.ts
  src/index.tsx
Labels: 🐛 bug

#1283 Uses backend func to whitelist
  firestore.rules
  functions/access.js
  src/api/auth.ts
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/types/venues.ts
Labels: 🔨🍷 break-glass-approval-bypass

#1284 Deploy staging -> master
  firestore.rules
  functions/access.js
  src/api/auth.ts
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/types/venues.ts
Labels: :rocket: deployment, 🚑 p1-prod-fix

#1287 ChatSideBar should be closed when you enter venue
  src/store/reducers/Chat.ts
Labels: ✨ UI/UX

#1288 Make scrollbars more visible
  src/scss/global.scss
Labels: ✨ UI/UX, 💎 styles

#1289 Deploy staging -> master
  src/scss/global.scss
  src/store/reducers/Chat.ts
Labels: :rocket: deployment

#1248 Filter online users in ChatSidebar PrivateChats to exclude those with an existing DM
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
Labels: :muscle: enhancement, ✨ UI/UX

#1293 Fix retroactive review comments from sparkletown/sparkle#1249 RE: pointer-events in Audience component
  src/components/templates/Audience/Audience.scss
Labels: 💎 styles

#1295 Add new environment
  .circleci/config.yml
  .firebaserc
  firebase.json
  src/index.tsx
Labels: :desktop_computer: infrastructure
