Repository sparkletown/sparkle, pull requests merged in 2021-11, with the labels that each got.

#2506 Update caniuse library
  package-lock.json
Labels: :muscle: enhancement, dependencies, 💻 eng-QoL, :beginner: good first review

#2502 Update button in portal modal
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
Labels: 🐛 bug, P2 - High

#2507 Return firebarrel in the Add Portal but hidden
  src/settings/spacesSettings.ts
Labels: :muscle: enhancement, ✨ UI/UX, admin, :beginner: good first review

#2495 [Admin] fix space banner and logo upload
  src/api/admin.ts
Labels: 🐛 bug, admin

#2435 use adminpanel in space editor screen
  src/pages/Admin/Details/Details.styles.ts
  src/pages/Admin/Details/Details.tsx
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Details/Form/DetailsForm.types.ts
  src/pages/Admin/Details/SpaceEditorStartPanel.scss
  src/pages/Admin/Details/SpaceEditorStartPanel.tsx
  src/pages/Admin/Details/index.ts
  src/pages/Admin/Venue/VenueWizard/Create/VenueWizardCreate.tsx
  src/pages/Admin/Venue/VenueWizard/Edit/VenueWizardEdit.tsx
  src/pages/Admin/Venue/VenueWizard/Edit/VenueWizardEdit.types.ts
  src/pages/Admin/Venue/VenueWizard/redux/types.ts
Labels: 💎 styles

#2513 [Admin] disable world nav when creating a world
  src/components/molecules/WorldNav/WorldNav.tsx
Labels: 🐛 bug, :muscle: enhancement, ✨ UI/UX

#2511 fixed show reactions flag for portals
  functions/venue.js
  src/api/admin.ts
  src/components/molecules/PortalItem/PortalItem.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
Labels: 🐛 bug, admin

#2512 Fix space timing form
  src/components/molecules/AdminDateTime/AdminDateTime.scss
  src/components/molecules/AdminDateTime/AdminDateTime.tsx
  src/components/molecules/AdminDateTime/index.ts
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/DateTimeField/DateTimeField.scss
  src/components/organisms/AdminVenueView/components/DateTimeField/DateTimeField.tsx
  src/components/organisms/AdminVenueView/components/DateTimeField/index.ts
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/SpaceTimingPanel.scss
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/SpaceTimingPanel.tsx
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/index.ts
  src/components/organisms/AdminVenueView/components/Timing/Timing.tsx
  src/components/organisms/AdminVenueView/components/Timing/index.ts
  src/components/organisms/SpaceTimingForm/SpaceTimingForm.tsx
  src/components/organisms/SpaceTimingForm/index.ts
  src/components/organisms/TimingDeleteModal/TimingDeleteModal.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/pages/Admin/AdminDeleteEvent.tsx
  src/pages/Admin/AdminEventModal.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/settings/dateSettings.ts
  src/settings/index.ts
  src/utils/time.ts
Labels: 🐛 bug, :muscle: enhancement, 💡 new-feature, ✨ UI/UX, 💎 styles, admin

#2515 Hide portal URL if portal isn't external
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
Labels: :muscle: enhancement, ✨ UI/UX, admin, :beginner: good first review, 🏃‍♀️🏃‍♂️ sprint 24

#2517 Remove the home button in WorldsDashboard
  src/pages/WorldsDashboard/WorldsDashboard.tsx
Labels: :muscle: enhancement, ✨ UI/UX, admin, :beginner: good first review

#2523 Update of PortalVisibility component for moving advanced settings to start
  src/api/admin.ts
  src/components/atoms/PortalVisibility/PortalVisibility.scss
  src/components/atoms/PortalVisibility/PortalVisibility.tsx
  src/components/molecules/AdminInput/AdminInput.tsx
  src/components/molecules/EditRoomForm/EditRoomForm.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/VenueDetailsForm.tsx
  src/pages/Admin/Venue/VenueDetailsSubForm.tsx
  src/scss/constants.scss
  src/settings/portalSettings.ts
Labels: :muscle: enhancement, 💎 styles, admin

#2449 Feature/move start settings admin integration
  functions/venue.js
  src/api/admin.ts
  src/assets/images/label-carousel.png
  src/components/atoms/Checkbox/Checkbox.scss
  src/components/atoms/Dropdown/Dropdown.tsx
  src/components/atoms/PortalVisibility/PortalVisibility.scss
  src/components/atoms/PortalVisibility/PortalVisibility.tsx
  src/components/atoms/SpacesDropdown/SpacesDropdown.tsx
  src/components/molecules/AdminInput/AdminInput.tsx
  src/components/molecules/EditRoomForm/EditRoomForm.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.scss
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionTitle/AdminSidebarSectionTitle.scss
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/VenueDetailsForm.tsx
  src/pages/Admin/Venue/VenueDetailsSubForm.tsx
  src/scss/constants.scss
  src/settings/portalSettings.ts
  src/types/venues.ts
Labels: 💡 new-feature, ✨ UI/UX, 💎 styles

#1976 AV3 -- fix aspect ratio portal
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.scss
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/pages/Account/Venue/VenueMapEdition/DraggableSubvenue.tsx
Labels: 💎 styles, admin

#2526 Fix room logo
  src/components/templates/PartyMap/components/Map/MapRoom.scss
Labels: :beginner: good first issue, 💎 styles

#2527 Fix logo on map
  src/components/templates/PartyMap/components/Map/MapRoom.scss
Labels: 💎 styles

#2529 remove portal appearence from space advanced
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
Labels: admin

#2516 Remove text transforms in SCSS that capitalized all words
  src/components/atoms/AdminRestricted/AdminRestricted.scss
  src/components/atoms/Forbidden/Forbidden.scss
  src/components/atoms/NotFound/NotFound.scss
  src/components/molecules/PortalItem/PortalItem.scss
  src/components/organisms/AdminVenueView/components/AdminShowcaseTitle/AdminShowcaseTitle.scss
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionTitle/AdminSidebarSectionTitle.scss
  src/components/organisms/AdminVenueView/components/AdminSidebarTitle/AdminSidebarTitle.scss
  src/components/templates/PosterPage/components/ShareModal/ShareModal.scss
  src/components/templates/ScreeningRoom/ScreeningRoom.scss
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles, admin, :beginner: good first review

#2531 check world slug only on creation
  src/components/organisms/WorldStartForm/WorldStartForm.tsx
Labels: 🐛 bug, admin

#2528 removed unnecessary url autoplay check
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/ViewingWindow/ViewingWindow.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/utils/embeddableUrl.ts
Labels: admin

#2534 Lowest effort mixpanel bug fix
  src/hooks/useAnalytics.ts
Labels: 🐛 bug

#2535 Deploy staging -> master
  src/components/atoms/AdminRestricted/AdminRestricted.scss
  src/components/atoms/Forbidden/Forbidden.scss
  src/components/atoms/NotFound/NotFound.scss
  src/components/molecules/PortalItem/PortalItem.scss
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/organisms/AdminVenueView/components/AdminShowcaseTitle/AdminShowcaseTitle.scss
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionTitle/AdminSidebarSectionTitle.scss
  src/components/organisms/AdminVenueView/components/AdminSidebarTitle/AdminSidebarTitle.scss
  src/components/organisms/WorldStartForm/WorldStartForm.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/PosterPage/components/ShareModal/ShareModal.scss
  src/components/templates/ScreeningRoom/ScreeningRoom.scss
  src/components/templates/ViewingWindow/ViewingWindow.tsx
  src/hooks/useAnalytics.ts
  src/pages/Admin/AdminVenuePreview.tsx
  src/utils/embeddableUrl.ts
Labels: 💎 styles, :rocket: deployment

#2520 Global chat reply in thread fixes
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/Chatbox/components/ChatboxThreadControls/ChatboxThreadControls.tsx
Labels: 🐛 bug, :muscle: enhancement, P3 - Medium

#2518 Fix deleting of profile link
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.tsx
Labels: 🐛 bug, P2 - High

#2536 Stop infinite objectEntries() recursion due to value being DOM object
  src/utils/object.ts
Labels: admin, :beginner: good first review

#2524 Do not set the 1st default avatar as a profile picture on Enter click
  src/components/molecules/DefaultAvatars/DefaultAvatars.tsx
Labels: 🐛 bug

#2541 Changes the update time to 1 minute; Fixes the premature deletion of old users
  functions/scheduled.js
Labels: 🏎️ performance

#2544 Add flip-switch vaiant to AdminCheckbox and fix labeless click bug
  src/components/molecules/AdminCheckbox/AdminCheckbox.scss
  src/components/molecules/AdminCheckbox/AdminCheckbox.tsx
Labels: 🐛 bug, :muscle: enhancement, 💎 styles, admin

#2545 Deploy staging -> master
  functions/scheduled.js
  scripts/lib/bot.ts
  scripts/lib/types.ts
  scripts/lib/utils.ts
  scripts/simulation/seat.ts
  src/components/atoms/NotFound/NotFound.tsx
  src/components/molecules/AdminCheckbox/AdminCheckbox.scss
  src/components/molecules/AdminCheckbox/AdminCheckbox.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/Chatbox/components/ChatboxThreadControls/ChatboxThreadControls.tsx
  src/components/molecules/DefaultAvatars/DefaultAvatars.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/utils/object.ts
Labels: 💎 styles, :rocket: deployment

#2543 introduce useWorldBySlug hook for world searching
  src/components/molecules/NavBar/NavBar.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/hooks/useWorldById.ts
  src/hooks/worlds/useWorldBySlug.ts
  src/pages/WorldEditor/WorldEditorAdvancedPanel.tsx
  src/pages/WorldEditor/WorldEditorEntrancePanel.tsx
  src/pages/WorldEditor/WorldEditorStartPanel.tsx
Labels: 💻 eng-QoL, admin

#2542 Update entrance flags and login forms that use them
  functions/venue.js
  scripts/lib/types.ts
  src/api/admin.ts
  src/components/atoms/ButtonNG/ButtonNG.scss
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/organisms/AuthenticationModal/InitialForm/InitialForm.scss
  src/components/organisms/AuthenticationModal/InitialForm/InitialForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/components/organisms/DateOfBirthField/DateOfBirthField.tsx
  src/components/organisms/DateOfBirthField/index.ts
  src/components/organisms/WorldEntranceForm/WorldEntranceForm.scss
  src/components/organisms/WorldEntranceForm/WorldEntranceForm.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/VenueDetailsForm.tsx
  src/pages/Admin/Venue/VenueDetailsSubForm.tsx
  src/scss/colors.scss
  src/settings/index.ts
  src/settings/worldDefaultSettings.ts
  src/types/venues.ts
  src/utils/validations.ts
  src/utils/venue.ts
Labels: 🐛 bug, :muscle: enhancement, ✨ UI/UX, 💎 styles, admin

#2539 Use showSchedule defaults for world, remove from venue
  functions/venue.js
  functions/world.js
  scripts/lib/types.ts
  src/components/organisms/WorldAdvancedForm/WorldAdvancedForm.tsx
  src/pages/Admin/Venue/VenueDetailsSubForm.tsx
  src/settings/index.ts
  src/settings/worldDefaultSettings.ts
  src/types/venues.ts
Labels: 🐛 bug, :muscle: enhancement, ✨ UI/UX, admin

#2538 Make showBadges in profile be toggled from world, not venue
  functions/venue.js
  scripts/lib/types.ts
  src/components/organisms/Badges/Badges.tsx
  src/components/organisms/NewProfileModal/ProfileModalContent/ProfileModalContent.scss
  src/components/organisms/NewProfileModal/ProfileModalContent/ProfileModalContent.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalBadges/ProfileModalBadges.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalBadges/index.ts
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/ProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicInfo/ProfileModalBasicInfo.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalLinks/ProfileModalLinks.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Venue/VenueDetailsSubForm.tsx
  src/types/venues.ts
  src/utils/validations.ts
Labels: 🐛 bug, :muscle: enhancement, ✨ UI/UX, 💎 styles, admin

#2551 Rename and move world related hooks in one place
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/WorldNav/WorldNav.tsx
  src/components/organisms/AdminDashboard/AdminDashboard.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/components/organisms/Badges/Badges.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/hooks/useWorldId.ts
  src/hooks/worlds/useWorldById.ts
  src/hooks/worlds/useWorldParams.ts
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/WorldEditor/WorldEditor.tsx
  src/pages/WorldEditor/WorldEditorAdvancedPanel.tsx
  src/pages/WorldEditor/WorldEditorEntrancePanel.tsx
  src/pages/WorldEditor/WorldEditorStartPanel.tsx
Labels: 🐛 bug

#2546 Implements world entrance. Removes unnecessary entrance files from the codebase
  scripts/schema.json
  scripts/venue-schema.json
  src/api/admin.ts
  src/pages/Admin/EntranceExperience/EntranceExperience.scss
  src/pages/Admin/EntranceExperience/EntranceExperience.styles.ts
  src/pages/Admin/EntranceExperience/EntranceExperience.tsx
  src/pages/Admin/EntranceExperience/EntranceExperience.types.ts
  src/pages/Admin/EntranceExperience/index.ts
  src/pages/Admin/Venue/EntranceInput.tsx
  src/pages/Admin/Venue/VenueDetailsSubForm.tsx
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/types/venues.ts
Labels: 🐛 bug, 💥 tech-debt, 💎 styles, :building_construction: architecture

#2533 add accordion + admin sections to space type map
  src/components/atoms/ButtonNG/index.ts
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.scss
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/organisms/AdminVenueView/components/AdminSpacesListItem/AdminSpacesListItem.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AppRouter/AdminV3Subrouter.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.scss
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/AdvancedSettings/index.ts
  src/pages/Admin/Details/Form/DetailsForm.scss
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
  src/pages/AdminAdvancedSettings/index.ts
  src/pages/SpaceEditor/SpaceEditor.scss
  src/pages/SpaceEditor/SpaceEditor.tsx
  src/pages/SpaceEditor/index.ts
  src/settings/urlSettings.ts
  src/types/venues.ts
  src/utils/url.ts
  src/utils/validations.ts
Labels: 💎 styles, admin

#2532 Fix radio station
  functions/world.js
  src/api/world.ts
  src/components/atoms/ButtonNG/ButtonNG.scss
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/molecules/AdminInput/AdminInput.tsx
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/Navbar.styles.ts
  src/components/molecules/NavBar/components/NavBarLogin/NavBarLogin.scss
  src/components/molecules/NavBar/components/NavBarLogin/NavBarLogin.tsx
  src/components/molecules/NavBar/components/NavBarLogin/index.ts
  src/components/molecules/NavBar/components/NormalRadio/NormalRadio.scss
  src/components/molecules/NavBar/components/NormalRadio/NormalRadio.tsx
  src/components/molecules/NavBar/components/NormalRadio/index.ts
  src/components/molecules/NavBar/components/SoundCloudRadio/SoundCloudRadio.scss
  src/components/molecules/NavBar/components/SoundCloudRadio/SoundCloudRadio.tsx
  src/components/molecules/NavBar/components/SoundCloudRadio/index.ts
  src/components/organisms/RadioModal/RadioModal.scss
  src/components/organisms/RadioModal/RadioModal.tsx
  src/components/organisms/WorldAdvancedForm/WorldAdvancedForm.tsx
  src/types/world.ts
  src/utils/selectors.ts
Labels: 🐛 bug, :muscle: enhancement, ✨ UI/UX, 💎 styles, admin

#2540 added muted/audible toggler + fix styles/props admincheckbox
  src/components/atoms/SpacesDropdown/SpacesDropdown.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
Labels: 🐛 bug, admin

#2537 `World` interface move, `VenuePartygoers` small refactor, streamline of `$shades-enum` and `$alphas-enum`
  src/api/admin.ts
  src/api/world.ts
  src/components/molecules/VenuePartygoers/VenuePartygoers.scss
  src/components/molecules/VenuePartygoers/VenuePartygoers.tsx
  src/components/molecules/WorldCard/WorldCard.tsx
  src/components/organisms/WorldAdvancedForm/WorldAdvancedForm.tsx
  src/components/organisms/WorldEntranceForm/WorldEntranceForm.tsx
  src/components/organisms/WorldShowcase/WorldShowcase.scss
  src/components/organisms/WorldShowcase/WorldShowcase.tsx
  src/components/organisms/WorldStartForm/WorldStartForm.tsx
  src/components/templates/PartyMap/components/Map/Map.scss
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.scss
  src/components/templates/ScreeningRoom/components/ScreeningVideoPreview/ScreeningVideoPreview.scss
  src/hooks/useCurrentWorld.ts
  src/hooks/worlds/useOwnWorlds.ts
  src/hooks/worlds/useWorldById.ts
  src/hooks/worlds/useWorldBySlug.ts
  src/scss/colors.scss
  src/scss/constants.scss
  src/scss/global.scss
  src/types/Firestore.ts
  src/utils/converters.ts
  src/utils/selectors.ts
Labels: 🐛 bug, :muscle: enhancement, 💎 styles, admin, ♻️ scrap material

#2550 Change portal icon input UX
  src/components/atoms/ImageInput/ImageInput.scss
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.scss
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.scss
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Details/ValidationSchema.ts
Labels: ✨ UI/UX, 💎 styles, admin

#2553 Space setting parent selector list exclude outside spaces
  src/pages/Admin/Details/Form/DetailsForm.tsx
Labels: 🐛 bug, admin

#2555 fix image upload
  src/components/atoms/ImageInput/ImageInput.scss
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/organisms/WorldStartForm/WorldStartForm.scss
  src/components/organisms/WorldStartForm/WorldStartForm.tsx
  src/pages/Admin/Details/Form/DetailsForm.scss
  src/pages/Admin/Details/Form/DetailsForm.tsx
Labels: 💎 styles

#2474 [Admin] implement and use world slug instead of world id
  functions/src/utils/venue.js
  functions/world.js
  scripts/add-world-slug.ts
  src/api/world.ts
  src/components/molecules/WorldCard/WorldCard.tsx
  src/components/molecules/WorldNav/WorldNav.tsx
  src/components/organisms/AdminDashboard/AdminDashboard.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AppRouter/AdminV3Subrouter.tsx
  src/hooks/worlds/useWorldById.ts
  src/hooks/worlds/useWorldBySlug.ts
  src/hooks/worlds/useWorldParams.ts
  src/pages/Admin/Details/Details.types.ts
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Details/Form/DetailsForm.types.ts
  src/pages/Admin/Details/SpaceEditorStartPanel.tsx
  src/pages/SpaceCreateWizard/SpaceCreateWizard.scss
  src/pages/SpaceCreateWizard/SpaceCreateWizard.tsx
  src/pages/SpaceCreateWizard/index.ts
  src/pages/SpaceEditWizard/SpaceEditWizard.scss
  src/pages/SpaceEditWizard/SpaceEditWizard.tsx
  src/pages/SpaceEditWizard/index.ts
  src/pages/WorldEditor/WorldEditor.tsx
  src/pages/WorldEditor/WorldEditorAdvancedPanel.tsx
  src/pages/WorldEditor/WorldEditorEntrancePanel.tsx
  src/pages/WorldEditor/WorldEditorStartPanel.tsx
  src/settings/urlSettings.ts
  src/utils/id.ts
  src/utils/url.ts
Labels: 💎 styles, admin

#2556 Fixed portal & image styles
  src/components/atoms/ImageInput/ImageInput.scss
  src/components/atoms/PortalVisibility/PortalVisibility.scss
Labels: ✨ UI/UX, 💎 styles, admin

#2559 Disable reactions audio button according to flag
  src/components/molecules/ReactionsBar/ReactionsBar.scss
  src/components/molecules/ReactionsBar/ReactionsBar.tsx
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
Labels: ✨ UI/UX, 💎 styles, admin

#2563 remove chat label feature
  functions/world.js
  scripts/lib/types.ts
  src/api/world.ts
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/WorldAdvancedForm/WorldAdvancedForm.tsx
  src/hooks/chats/util/useChatSidebarInfo.ts
  src/types/world.ts
Labels: admin

#2560 Fix AdminCheckbox tick not being displayed on :checked
  src/components/molecules/AdminCheckbox/AdminCheckbox.scss
Labels: 🐛 bug, ✨ UI/UX, 💎 styles, admin, :beginner: good first review

#2558 Fix issues with World entrance form and actual entrance to spaces of that world
  src/components/molecules/EntranceButtonsInputFieldSet/EntranceButtonsInputFieldSet.tsx
  src/components/molecules/EntranceStepsInputFieldSet/EntranceStepsInputFieldSet.tsx
  src/components/molecules/QuestionInputFieldSet/QuestionFieldSet.tsx
  src/components/organisms/AppRouter/AccountSubrouter.tsx
  src/components/organisms/EntranceButtonsBuilder/EntranceButtonsBuilder.tsx
  src/components/organisms/EntranceStepsBuilder/EntranceStepsBuilder.tsx
  src/components/organisms/QuestionsBuilder/QuestionsBuilder.tsx
  src/components/organisms/WorldEntranceForm/WorldEntranceForm.tsx
  src/hooks/useArray.ts
  src/hooks/useCurrentWorld.ts
  src/pages/Account/CodeOfConduct.scss
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Profile.scss
  src/pages/Account/Profile.tsx
  src/pages/Account/ProfileQuestions.scss
  src/pages/Account/ProfileQuestions.tsx
  src/pages/Account/Questions.scss
  src/pages/Account/helpers.ts
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/entrance/WelcomeVideo/WelcomeVideo.tsx
  src/settings/urlSettings.ts
  src/types/EntranceStep.ts
  src/utils/embeddableUrl.ts
Labels: 💎 styles

#2566 Make Schedule button not show up in Admin side of NavBar
  src/components/molecules/NavBar/NavBar.tsx
Labels: ✨ UI/UX, admin

#2561 Makes algolia search work in other envs
  scripts/init-env.sh
  scripts/migration/README.MD
  src/hooks/algolia/context.tsx
  src/secrets.ts
  src/settings/index.ts
Labels: 🐛 bug

#2569 deploy staging -> master
  scripts/init-env.sh
  scripts/migration/README.MD
  src/hooks/algolia/context.tsx
  src/secrets.ts
  src/settings/index.ts
Labels: :rocket: deployment

#2562 removed show name tag feature
  functions/world.js
  src/api/world.ts
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/organisms/WorldAdvancedForm/WorldAdvancedForm.tsx
  src/types/User.ts
  src/types/world.ts
Labels: 💎 styles, admin

#2570 Consolidate form validation schemas into their own directory `./src/forms`
  .eslintrc
  src/components/molecules/PortalItem/PortalItem.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/components/organisms/WorldAdvancedForm/WorldAdvancedForm.tsx
  src/components/organisms/WorldEntranceForm/WorldEntranceForm.tsx
  src/components/organisms/WorldStartForm/WorldStartForm.tsx
  src/forms/common.ts
  src/forms/commonTitleSchema.ts
  src/forms/createPortalSchema.ts
  src/forms/createSpaceSchema.ts
  src/forms/createUrlIfNoFileSchema.ts
  src/forms/editPlacementCastSchema.ts
  src/forms/editPlacementSchema.ts
  src/forms/editVenueCastSchema.ts
  src/forms/emptyObjectSchema.tsx
  src/forms/entranceSchema.tsx
  src/forms/eventEditSchema.ts
  src/forms/questionSchema.tsx
  src/forms/roomUrlSchema.ts
  src/forms/spaceEditNGSchema.ts
  src/forms/spaceEditSchema.ts
  src/forms/venueNameSchema.ts
  src/forms/venueV2Schema.ts
  src/forms/worldEntranceSchema.tsx
  src/forms/worldStartSchema.ts
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/Rooms/RoomsValidationSchema.ts
  src/settings/index.ts
  src/settings/validationSettings.ts
Labels: 💥 tech-debt, 💻 eng-QoL, admin

#2568 Chatbox input adjustments
  src/assets/icons/send.svg
  src/components/atoms/InputField/InputField.scss
  src/components/atoms/InputField/InputField.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/settings/index.ts
Labels: :muscle: enhancement, 💎 styles

#2564 Schedule bug fixes and text adjustments
  src/components/molecules/Breadcrumbs/Breadcrumbs.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/hooks/useVenueScheduleEvents.ts
Labels: 🐛 bug, :muscle: enhancement

#2573 Deploy staging -> master
  .eslintrc
  functions/world.js
  src/api/world.ts
  src/assets/icons/send.svg
  src/components/atoms/InputField/InputField.scss
  src/components/atoms/InputField/InputField.tsx
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/Breadcrumbs/Breadcrumbs.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/PortalItem/PortalItem.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/components/organisms/WorldAdvancedForm/WorldAdvancedForm.tsx
  src/components/organisms/WorldEntranceForm/WorldEntranceForm.tsx
  src/components/organisms/WorldStartForm/WorldStartForm.tsx
  src/forms/common.ts
  src/forms/commonTitleSchema.ts
  src/forms/createPortalSchema.ts
  src/forms/createSpaceSchema.ts
  src/forms/createUrlIfNoFileSchema.ts
  src/forms/editPlacementCastSchema.ts
  src/forms/editPlacementSchema.ts
  src/forms/editVenueCastSchema.ts
  src/forms/emptyObjectSchema.tsx
  src/forms/entranceSchema.tsx
  src/forms/eventEditSchema.ts
  src/forms/questionSchema.tsx
  src/forms/roomUrlSchema.ts
  src/forms/spaceEditNGSchema.ts
  src/forms/spaceEditSchema.ts
  src/forms/venueNameSchema.ts
  src/forms/venueV2Schema.ts
  src/forms/worldEntranceSchema.tsx
  src/forms/worldStartSchema.ts
  src/hooks/useVenueScheduleEvents.ts
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/Rooms/RoomsValidationSchema.ts
  src/settings/index.ts
  src/settings/validationSettings.ts
  src/types/User.ts
  src/types/world.ts
Labels: 💎 styles, :rocket: deployment

#2548 add space slug to the data model and use it in form validations
  functions/venue.js
  src/api/admin.ts
  src/components/atoms/AdminRestricted/AdminRestricted.tsx
  src/components/atoms/Forbidden/Forbidden.tsx
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/components/NavBarLogin/NavBarLogin.tsx
  src/components/molecules/PortalItem/PortalItem.tsx
  src/components/molecules/SecretPasswordForm/SecretPasswordForm.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/organisms/DustStorm/DustStorm.tsx
  src/components/organisms/NewProfileModal/NewProfileModalBody/NewProfileModalBody.tsx
  src/components/organisms/SpaceTimingForm/SpaceTimingForm.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/spaces/useSpaceBySlug.ts
  src/hooks/useConnectCurrentEvent.ts
  src/hooks/useConnectCurrentVenue.ts
  src/hooks/useIsUserVenueOwner.ts
  src/hooks/useSpaceParams.ts
  src/hooks/useVenueId.ts
  src/hooks/useVenuePoll.ts
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Profile.tsx
  src/pages/Account/ProfileQuestions.tsx
  src/pages/Account/SplashPage.tsx
  src/pages/Account/Step6b.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/BackgroundSelect/BackgroundSelect.tsx
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/pages/Admin/Venue/VenueDetailsForm.tsx
  src/pages/Admin/Venue/VenueWizard.tsx
  src/pages/Admin/Venue/VenueWizard/Edit/VenueWizardEdit.tsx
  src/pages/Admin/Venue/VenueWizard/VenueWizard.tsx
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/SpaceEditWizard/SpaceEditWizard.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/settings/index.ts
  src/settings/urlSettings.ts
  src/types/venues.ts
  src/utils/url.ts
  src/utils/venue.ts
Labels: :muscle: enhancement

#2571 fixed parent space for space dropdown + default space icon
  src/components/atoms/SpacesDropdown/SpacesDropdown.tsx
  src/components/molecules/PortalItem/PortalItem.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/pages/Admin/Details/Form/DetailsForm.tsx
Labels: 🐛 bug, admin

#2574 Fixes search in NavSearchBar. Fixes scheduled chat counter function
  functions/scheduled.js
  scripts/migration/README.MD
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/hooks/algolia/useAlgoliaSearch.ts
Labels: 🐛 bug

#2572 fixed user audio update on admin change
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/settings/index.ts
Labels: 🐛 bug, admin

#2581 Update the Loading/NotFound conditions in VenuePage
  src/pages/VenuePage/VenuePage.tsx
Labels: 🐛 bug

#2500 [migration script] Add portal templates
  scripts/migration/v0.0.4__add-room-templates.ts
Labels: 💻 eng-QoL, 📜 scripts

#2583 Returns the missing avatars
  public/avatars/default-profile-pic-1.png
  public/avatars/default-profile-pic-2.png
  public/avatars/default-profile-pic-3.png
  public/avatars/default-profile-pic-4.png
Labels: 🐛 bug

#2380 video component refactoring + removed unnecessary styles + minor fixes
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/TableComponent/TableComponent.scss
  src/components/molecules/UserProfilePicture/UserProfilePicture.scss
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/organisms/Room/Room.scss
  src/components/organisms/Video/VideoParticipant.scss
  src/components/organisms/Video/VideoParticipant.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/ArtPiece/ArtPiece.scss
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/FireBarrel/FireBarrel.styled.ts
  src/components/templates/Jazzbar/JazzBar/JazzBar.scss
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.scss
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.scss
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.scss
  src/components/templates/Jazzbar/jazzbar-constants.scss
  src/components/templates/PosterPage/PosterPage.scss
  src/scss/constants.scss
  src/scss/global.scss
Labels: ✨ UI/UX, 💎 styles

#2575 Update the SpacesDashboard with a title bar
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.tsx
  src/components/molecules/AdminTitle/AdminTitle.scss
  src/components/molecules/AdminTitle/AdminTitle.tsx
  src/components/molecules/AdminTitle/index.ts
  src/components/molecules/AdminTitleBar/AdminTitleBar.scss
  src/components/molecules/AdminTitleBar/AdminTitleBar.tsx
  src/components/molecules/AdminTitleBar/index.ts
  src/components/molecules/AdminToolbar/AdminToolbar.scss
  src/components/molecules/AdminToolbar/AdminToolbar.tsx
  src/components/molecules/AdminToolbar/index.ts
  src/components/organisms/AdminDashboard/index.ts
  src/components/organisms/AppRouter/AdminV3Subrouter.tsx
  src/pages/SpacesDashboard/SpacesDashboard.scss
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/SpacesDashboard/index.ts
  src/settings/urlSettings.ts
  src/utils/url.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles, admin

#2582 Add max 50 characters check for World/Space names w/ a bit of `./src/forms` refactor
  src/components/organisms/WorldStartForm/WorldStartForm.tsx
  src/forms/common.ts
  src/forms/commonTitleSchema.ts
  src/forms/createFileSchema.ts
  src/forms/createNameSchema.ts
  src/forms/detailsSchema.ts
  src/forms/editPlacementCastSchema.ts
  src/forms/editPlacementSchema.ts
  src/forms/eventEditSchema.ts
  src/forms/roomUrlSchema.ts
  src/forms/spaceEditSchema.ts
  src/forms/venueDetailsCreateSchema.ts
  src/forms/venueDetailsEditSchema.ts
  src/forms/venueNameSchema.ts
  src/forms/worldStartSchema.ts
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/VenueDetailsForm.tsx
  src/pages/Admin/Venue/VenueDetailsSubForm.tsx
  src/settings/index.ts
  src/settings/playaSettings.ts
  src/settings/validationSettings.ts
Labels: admin

#2590 fix updateVenue_v2 space update
  functions/venue.js
Labels: 🐛 bug, admin

#2591 Container height fix; banner close button fix
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.scss
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.scss
  src/components/templates/PartyMap/PartyMap.scss
Labels: 💎 styles

#2595 Update the SpacesDashboard layout as per IA requirement
  src/components/atoms/ButtonNG/ButtonNG.scss
  src/components/atoms/SortDropDown/SortDropDown.scss
  src/components/atoms/SortDropDown/SortDropDown.tsx
  src/components/atoms/SortDropDown/index.ts
  src/components/molecules/AdminTitleBar/AdminTitleBar.scss
  src/pages/Admin/Admin.tsx
  src/pages/SpacesDashboard/SpacesDashboard.scss
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/scss/constants.scss
  src/utils/venue.ts
Labels: 💎 styles, admin

#2594 Move schema factories, types and utilities to proper place
  src/forms/createPortalSchema.ts
  src/forms/createSpaceSchema.ts
  src/forms/detailsSchema.ts
  src/forms/factory/createFileSchema.ts
  src/forms/factory/createNameSchema.ts
  src/forms/factory/createUrlIfNoFileSchema.ts
  src/forms/roomUrlSchema.ts
  src/forms/spaceEditSchema.ts
  src/forms/validUrlSchema.tsx
  src/forms/venueDetailsCreateSchema.ts
  src/forms/venueNameSchema.ts
  src/forms/worldStartSchema.ts
  src/types/validation.ts
  src/utils/getLinkFromText.tsx
  src/utils/validation.ts
Labels: 💥 tech-debt

#2596 BackButton check on displayName instead of locationName
  src/components/atoms/BackButton/BackButton.tsx
Labels: 🐛 bug

#2597 Stop showing the horizontal scrollbar on the room modal
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
Labels: 💎 styles

#2588 Redesign portal modal
  package-lock.json
  package.json
  src/assets/icons/icon-close-portal.svg
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/UserList/UserList.tsx
  src/components/organisms/VideoModal/VideoModal.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModal.scss
  src/components/templates/PartyMap/components/PortalModal/PortalModal.tsx
  src/components/templates/PartyMap/components/PortalSchedule/PortalSchedule.scss
  src/components/templates/PartyMap/components/PortalSchedule/PortalSchedule.tsx
  src/components/templates/PartyMap/components/PortalScheduleItem/PortalScheduleItem.scss
  src/components/templates/PartyMap/components/PortalScheduleItem/PortalScheduleItem.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/PartyMap/components/index.ts
  src/hooks/useAnalytics.ts
  src/scss/constants.scss
Labels: :muscle: enhancement, dependencies, 💎 styles

#2599 Update some of the copy around events->experiences
  src/components/organisms/TimingEventModal/TimingEventModal.scss
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
Labels: 💎 styles

#2603 Deploy staging -> master
  functions/venue.js
  package-lock.json
  package.json
  src/assets/icons/icon-close-portal.svg
  src/components/atoms/BackButton/BackButton.tsx
  src/components/atoms/BackButton/index.ts
  src/components/atoms/ButtonNG/ButtonNG.scss
  src/components/atoms/SortDropDown/SortDropDown.scss
  src/components/atoms/SortDropDown/SortDropDown.tsx
  src/components/atoms/SortDropDown/index.ts
  src/components/molecules/AdminTitleBar/AdminTitleBar.scss
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/molecules/UserList/UserList.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.scss
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/components/organisms/VideoModal/VideoModal.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/Auditorium/components/AllSectionPreviews/AllSectionPreviews.tsx
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.scss
  src/components/templates/PartyMap/PartyMap.scss
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModal.scss
  src/components/templates/PartyMap/components/PortalModal/PortalModal.tsx
  src/components/templates/PartyMap/components/PortalSchedule/PortalSchedule.scss
  src/components/templates/PartyMap/components/PortalSchedule/PortalSchedule.tsx
  src/components/templates/PartyMap/components/PortalScheduleItem/PortalScheduleItem.scss
  src/components/templates/PartyMap/components/PortalScheduleItem/PortalScheduleItem.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/PartyMap/components/index.ts
  src/forms/createPortalSchema.ts
  src/forms/createSpaceSchema.ts
  src/forms/detailsSchema.ts
  src/forms/factory/createFileSchema.ts
  src/forms/factory/createNameSchema.ts
  src/forms/factory/createUrlIfNoFileSchema.ts
  src/forms/roomUrlSchema.ts
  src/forms/spaceEditSchema.ts
  src/forms/validUrlSchema.tsx
  src/forms/venueDetailsCreateSchema.ts
  src/forms/venueNameSchema.ts
  src/forms/worldStartSchema.ts
  src/hooks/useAnalytics.ts
  src/pages/Admin/Admin.tsx
  src/pages/SpacesDashboard/SpacesDashboard.scss
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/scss/constants.scss
  src/types/validation.ts
  src/utils/getLinkFromText.tsx
  src/utils/validation.ts
  src/utils/venue.ts
Labels: dependencies, 💎 styles

#2602 Add full set of params to useSpaceParams
  src/components/atoms/AdminRestricted/AdminRestricted.tsx
  src/components/atoms/Forbidden/Forbidden.tsx
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/components/NavBarLogin/NavBarLogin.tsx
  src/components/molecules/PortalAddModal/PortalAddModal.tsx
  src/components/molecules/SecretPasswordForm/SecretPasswordForm.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.tsx
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/spaces/useSpaceParams.ts
  src/hooks/useConnectCurrentEvent.ts
  src/hooks/useIsUserVenueOwner.ts
  src/hooks/useSpaceParams.ts
  src/hooks/useVenuePoll.ts
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Profile.tsx
  src/pages/Account/ProfileQuestions.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/pages/Admin/Venue/VenueWizard.tsx
  src/pages/Admin/Venue/VenueWizard/VenueWizard.tsx
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/SpaceEditWizard/SpaceEditWizard.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
Labels: 💥 tech-debt

#2604 Use shouldScheduleBeShown() everywhere to have same check
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/WorldAdvancedForm/WorldAdvancedForm.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModal.tsx
  src/components/templates/PartyMap/components/index.ts
  src/utils/schedule.ts
Labels: 🐛 bug, P1 - Critical

#2587 add other spaces to admin dashboard
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/types/venues.ts
Labels: :muscle: enhancement, ✨ UI/UX, admin

#2609 Deploy staging->master
  package-lock.json
  src/components/atoms/AdminRestricted/AdminRestricted.tsx
  src/components/atoms/Forbidden/Forbidden.tsx
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/components/NavBarLogin/NavBarLogin.tsx
  src/components/molecules/PortalAddModal/PortalAddModal.tsx
  src/components/molecules/SecretPasswordForm/SecretPasswordForm.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.tsx
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/components/organisms/WorldAdvancedForm/WorldAdvancedForm.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModal.tsx
  src/components/templates/PartyMap/components/index.ts
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/spaces/useSpaceParams.ts
  src/hooks/useConnectCurrentEvent.ts
  src/hooks/useIsUserVenueOwner.ts
  src/hooks/useSpaceParams.ts
  src/hooks/useVenuePoll.ts
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Profile.tsx
  src/pages/Account/ProfileQuestions.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/pages/Admin/Venue/VenueWizard.tsx
  src/pages/Admin/Venue/VenueWizard/VenueWizard.tsx
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/SpaceEditWizard/SpaceEditWizard.tsx
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/types/venues.ts
  src/utils/schedule.ts
Labels: dependencies

#2605 Change the layout of the experience modal
  src/components/organisms/TimingEventModal/TimingEventModal.scss
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
Labels: 💎 styles

#2611 update space configuration url and route
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.tsx
  src/components/organisms/AppRouter/AdminV3Subrouter.tsx
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/settings/urlSettings.ts
  src/utils/url.ts
Labels: ✨ UI/UX, admin

#2610 AdminVenueView title bar without injected class name
  src/components/atoms/SortDropDown/SortDropDown.scss
  src/components/molecules/AdminTitleBar/AdminTitleBar.scss
  src/components/molecules/AdminTitleBar/AdminTitleBar.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.scss
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/pages/SpacesDashboard/SpacesDashboard.scss
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/scss/constants.scss
Labels: 💎 styles

#2616 replaced venue id with spaceslug param
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
Labels: 🐛 bug, admin

#2613 Validate iframeUrl while editing portal/venue AdminV3
  functions/src/utils/url.js
  src/components/atoms/InputField/InputField.scss
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/forms/spaceEditNGSchema.ts
  src/forms/spaceEditSchema.ts
  src/settings/urlSettings.ts
  src/utils/getLinkFromText.tsx
Labels: :muscle: enhancement, 💎 styles, admin

#2607 add AdminTitleBar to manage space component
  src/components/atoms/SortDropDown/SortDropDown.scss
  src/components/molecules/AdminTitleBar/AdminTitleBar.scss
  src/components/organisms/AdminVenueView/AdminVenueView.scss
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/SpaceTimingPanel.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/pages/Admin/Venue/VenueDeleteModal.tsx
  src/pages/SpacesDashboard/SpacesDashboard.scss
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/scss/constants.scss
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#2598 Update space cards UI
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.scss
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.tsx
  src/components/organisms/AdminVenueView/components/AdminCardTitle/AdminCardTitle.scss
  src/components/organisms/AdminVenueView/components/AdminCardTitle/AdminCardTitle.tsx
  src/components/organisms/AdminVenueView/components/AdminCardTitle/index.ts
  src/pages/SpacesDashboard/SpacesDashboard.scss
  src/scss/constants.scss
Labels: ✨ UI/UX, 💎 styles, admin

#2625 fixed admin space card edit link + cover image url as background
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.tsx
Labels: admin

#2623 remove home button from navbar
  src/components/molecules/NavBar/NavBar.tsx
Labels: :muscle: enhancement, ✨ UI/UX
