Repository sparkletown/sparkle, pull requests merged in 2021-04, with the labels that each got.

#1297 Replace some validation alerts with more descriptive ones
  src/pages/Admin/Venue/DetailsValidationSchema.ts
Labels: :muscle: enhancement, ✨ UI/UX

#1272 Fix RoomModal image styling
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
Labels: ✨ UI/UX, 🐛 bug, 💎 styles

#1298 add scripts to assist with bootstrapping new environments
  scripts/bootstrap-new-environment.ts
  scripts/lib/helpers.ts
  scripts/update-admin-role-users.ts
  src/types/venues.ts
  src/utils/id.ts
Labels: :desktop_computer: infrastructure, 💻 eng-QoL

#1247 Fix sidebar chat to streamline navigating back to the list of all DMs
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.scss
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1238 make ChatSidebar background semi-transparent
  src/components/organisms/ChatSidebar/ChatSidebar.scss
Labels: :muscle: enhancement, 💎 styles

#1296 Properly validate room urls to ensure they are valid, then remove our workaround
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/Rooms/RoomsValidationSchema.ts
  src/utils/url.ts
Labels: 🐛 bug

#1307 Set 12 tables as default at Jazzbar
  src/components/templates/Jazzbar/JazzTab/constants.ts
Labels: ✨ UI/UX

#1131 Improve reporting scripts + allow them to filter based on zoom 'event' tracking field
  reporting/README.md
  reporting/fetch-reports.js
  reporting/fetch-reports.ts
  reporting/makegraphs.py
  reporting/package-lock.json
  reporting/package.json
Labels: dependencies, 💻 eng-QoL

#1303 Add details to Readme.md
  README.md
Labels: 📚 documentation

#1300 Fix Room data (eg. enterSound) being overwritten when rooms are edited
  functions/venue.js
  src/pages/Admin/Room/Edit/RoomEditModal.tsx
  src/pages/Admin/Venue/Details/VenueDetails.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: P2 - High, 🐛 bug

#1218 refactor UserProfileModal state into redux + render component in a single canonical location
  src/components/atoms/ChatMessage/ChatMessage.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/JazzbarTableComponent/JazzbarTableComponent.tsx
  src/components/molecules/MapPartygoerOverlay/MapPartygoerOverlay.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/TableComponent/TableComponent.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/molecules/UserList/UserList.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/molecules/UserSearchBar/UserSearchBar.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/VenueChat.tsx
  src/components/organisms/Room/Participant.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/organisms/UserProfileModal/index.ts
  src/components/templates/Audience/Audience.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/hooks/usePartygoersOverlay.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/Video/LocalParticipant.tsx
  src/components/templates/Playa/Video/Participant.tsx
  src/components/templates/Playa/Video/RemoteParticipant.tsx
  src/components/templates/Playa/Video/Room.tsx
  src/components/templates/Playa/VideoChatLayer.tsx
  src/components/templates/ReactionPage/ReactionList.tsx
  src/hooks/useProfileModalControls.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/settings.ts
  src/store/actions/UserProfile.ts
  src/store/actions/index.ts
  src/store/reducers/UserProfile.ts
  src/store/reducers/index.ts
  src/types/Table.ts
  src/utils/selectors.ts
Labels: :muscle: enhancement, 💥 tech-debt

#1310 add firebase performance monitoring + react interaction tracing
  package-lock.json
  package.json
  src/index.tsx
  src/utils/performance.ts
Labels: dependencies, 🏎️ performance, 💡 new-feature, 💻 eng-QoL

#1290 Fix emojis not muting
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/organisms/Room/LocalParticipant.tsx
  src/components/organisms/Room/Participant.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
Labels: 🐛 bug

#1314 Fix invalid URL
  src/utils/url.ts
Labels: P3 - Medium, 🐛 bug

#1306 add generic input component (with support for icons)
  src/components/atoms/InputField/InputField.scss
  src/components/atoms/InputField/InputField.tsx
  src/components/atoms/InputField/index.ts
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/NavSearchBar/NavSearchBarInput.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.scss
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/scss/constants.scss
Labels: 💎 styles, 💡 new-feature

#1315 Increases the max char count
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
Labels: 🐛 bug, 🔨🍷 break-glass-approval-bypass

#1318 fix reactions + back button layering issues
  src/components/molecules/UserProfilePicture/UserProfilePicture.styles.ts
  src/scss/constants.scss
Labels: ✨ UI/UX, 🐛 bug, 💎 styles

#1319 Deploy staging -> production
  src/components/molecules/UserProfilePicture/UserProfilePicture.styles.ts
  src/scss/constants.scss
Labels: :rocket: deployment, 💎 styles

#1324 Fix avatar position ‘jumping around’ when reactions used in Auditorium (v1)
  src/components/molecules/MapPartygoerOverlay/MapPartygoerOverlay.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.styles.ts
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
Labels: 💎 styles

#1325 Deploy staging -> production
  src/components/molecules/MapPartygoerOverlay/MapPartygoerOverlay.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.styles.ts
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
Labels: :rocket: deployment, 💎 styles

#1320 Bump typescript from 3.9.3 to 4.2.4
  package-lock.json
  package.json
  src/components/templates/Playa/Playa.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
Labels: dependencies, 🐛 bug, 💥 tech-debt, 💻 eng-QoL

#1321 add react-use dependency
  package-lock.json
  package.json
Labels: dependencies, 💻 eng-QoL

#1326 Refactor code to re-use our generateTables helper
  scripts/lib/helpers.ts
  scripts/upload-table-config.ts
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/templates/Jazzbar/JazzTab/constants.ts
  src/utils/table.ts
Labels: :muscle: enhancement, 💥 tech-debt

#1322 [sub][new-auditorium] Flexible rows/colunns setting
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/hooks/auditoriumSections.tsx
  src/settings.ts
Labels: :muscle: enhancement

#1330 Fixes room edition
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: P0 - Emergency/Fire :fire::fire::fire:, 🐛 bug, 🔨🍷 break-glass-approval-bypass

#1331 Deploy staging -> production
  package-lock.json
  package.json
  scripts/lib/helpers.ts
  scripts/upload-table-config.ts
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/templates/Jazzbar/JazzTab/constants.ts
  src/components/templates/Playa/Playa.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/utils/table.ts
Labels: :rocket: deployment, dependencies, 🐛 bug

#1312 fix navbar resizing issues
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
Labels: 🐛 bug, 💎 styles

#1337 Deploy staging -> production
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/settings.ts
Labels: :rocket: deployment

#1332 Ensure 'deploy preview environment' workflow runs when code is changed
  .github/workflows/firebase-hosting-pull-request.yml
Labels: :desktop_computer: infrastructure, :muscle: enhancement, 💻 eng-QoL

#1333 Add CODEOWNERS
  .github/CODEOWNERS
Labels: :lock: security, 💻 eng-QoL

#1309 Fix useCustomSound errors
  src/hooks/sounds.tsx
  src/index.tsx
Labels: P2 - High, 🐛 bug

#1338 Unify types/values passed to upsertRoom/updateRoom in admin components
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/pages/Admin/Room/Card/RoomCard.tsx
  src/pages/Admin/Venue/Details/VenueDetails.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: 🐛 bug, 💥 tech-debt

#1342 fix React warning about import of Loading component
  src/index.tsx
Labels: 🐛 bug

#1345 Deploy staging -> production
  .circleci/config.yml
  .firebaserc
  .github/CODEOWNERS
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
  src/hooks/sounds.tsx
  src/index.tsx
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/pages/Admin/Room/Card/RoomCard.tsx
  src/pages/Admin/Venue/Details/VenueDetails.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: :rocket: deployment

#1323 refactor UserProfilePicture / Reactions / related to clean up tech-debt + improve performance
  src/components/atoms/ChatMessage/ChatMessage.tsx
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/CallOutMessageForm/CallOutMessageForm.tsx
  src/components/molecules/MapCell/MapCell.tsx
  src/components/molecules/MapPartygoerOverlay/MapPartygoerOverlay.scss
  src/components/molecules/MapPartygoerOverlay/MapPartygoerOverlay.tsx
  src/components/molecules/UserList/UserList.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.scss
  src/components/molecules/UserProfilePicture/UserProfilePicture.styles.ts
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/molecules/UserProfilePicture/index.ts
  src/components/molecules/UserReactions/UserReactions.scss
  src/components/molecules/UserReactions/UserReactions.tsx
  src/components/molecules/UserReactions/index.ts
  src/components/organisms/Badges/BadgeImage.tsx
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.tsx
  src/components/organisms/ChatSidebar/components/PrivateChatPreview/PrivateChatPreview.tsx
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
  src/components/organisms/Room/Participant.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/PartyMap/components/Map/Map.scss
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/hooks/useMapGrid.tsx
  src/components/templates/ReactionPage/ReactionList.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/privateChats.ts
  src/hooks/reactions.tsx
  src/hooks/useImage.ts
  src/hooks/useReactions.ts
  src/hooks/useUser.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/constants.scss
  src/settings.ts
  src/store/actions/Reactions.ts
  src/types/Firestore.ts
  src/types/reactions.ts
  src/types/utility.ts
  src/utils/reactions.ts
  src/utils/selectors.ts
  src/utils/types.ts
Labels: 🏎️ performance, 💎 styles, 💥 tech-debt

#1328 Restyle search results in nav dropdown
  src/assets/icons/nav-dropdown-close.png
  src/components/atoms/InputField/InputField.tsx
  src/components/molecules/AdminVenueCard/AdminVenueCard.scss
  src/components/molecules/EventDisplay/EventDisplay.scss
  src/components/molecules/LiveSchedule/LiveSchedule.scss
  src/components/molecules/LoadingPage/loading.scss
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/playa.scss
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/NavSearchBar/NavSearchResult.scss
  src/components/molecules/NavSearchBar/NavSearchResult.tsx
  src/components/molecules/NavSearchBar/navSearchBarConstants.scss
  src/components/molecules/OnlineStats/OnlineStats.scss
  src/components/molecules/TableComponent/TableComponent.scss
  src/components/molecules/UserSearchBar/UserSearchBar.scss
  src/components/molecules/UserSearchBar/UserSearchBar.tsx
  src/components/molecules/UserSearchBar/UserSearchBarInput.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/organisms/DustStorm/DustStorm.scss
  src/components/organisms/ProfileModal/ProfilePopoverContent.scss
  src/components/organisms/SchedulePageModal/SchedulePageModal.scss
  src/components/organisms/UserProfileModal/UserProfileModal.scss
  src/components/templates/Audience/Audience.scss
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.scss
  src/components/templates/PartyMap/PartyMap.scss
  src/components/templates/PartyMap/components/Map/MapRoom.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/Playa/Playa.scss
  src/components/templates/Playa/Playa.tsx
  src/pages/Account/Account.scss
  src/pages/Admin/Admin.scss
  src/pages/Admin/Venue/Venue.scss
  src/pages/Admin/VenueEventDetails.tsx
  src/scss/AvatarGrid/AvatarGrid.scss
  src/scss/constants.scss
  src/scss/global.scss
  src/utils/string.ts
  src/utils/time.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1348 Fix input value clearing on x-icon click
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
Labels: ✨ UI/UX, 🐛 bug

#1190 align admin v2 ui to match the new admin v3
  src/components/molecules/VenueCard/VenueCard.styles.ts
  src/components/molecules/VenueCard/VenueCard.tsx
  src/components/molecules/VenueCard/index.ts
  src/components/molecules/VenueHero/VenueHero.tsx
  src/components/molecules/VenueHero/VenueHero.types.ts
  src/components/molecules/VenueHero/index.ts
  src/components/organisms/AdminVenueView/AdminVenueView.scss
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/index.ts
  src/components/organisms/AdminVenues/AdminVenues.scss
  src/components/organisms/AdminVenues/AdminVenues.tsx
  src/pages/Admin/Admin.styles.ts
  src/pages/Admin/Admin_v2.tsx
  src/pages/Admin/Sidebar/Sidebar.styles.ts
  src/pages/Admin/Sidebar/Sidebar.tsx
  src/pages/Admin/Sidebar/Sidebar.types.ts
  src/pages/Admin/Sidebar/index.ts
  src/pages/Admin/Venue/Details/VenueDetails.styles.ts
  src/pages/Admin/Venue/Details/VenueDetails.tsx
  src/pages/Admin/Venue/Details/VenueDetails.types.ts
  src/scss/constants.scss
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1349 Use UserAvatar as avatar in the nav search results
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/NavSearchBar/NavSearchResult.scss
  src/components/molecules/NavSearchBar/NavSearchResult.tsx
Labels: 💎 styles, 💥 tech-debt

#1353 Move InputField ref from div to input
  src/components/atoms/InputField/InputField.tsx
Labels: 🐛 bug, 💥 tech-debt

#1350 fix NavSearchBar search results to show under the NavBar
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/playa.scss
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/NavSearchBar/NavSearchResult.tsx
  src/components/molecules/NavSearchBar/navSearchBarConstants.scss
  src/scss/constants.scss
Labels: ✨ UI/UX, 🐛 bug, 💎 styles
