Repository sparkletown/sparkle, pull requests merged in 2021-06, with the labels that each got.

#1481 Fix profile questions page
  src/assets/images/Sparkle_logo_white_yellow.png
  src/pages/Account/Account.scss
  src/pages/Account/Questions.tsx
Labels: ✨ UI/UX, 💎 styles

#1482 fix back button navigation in partymap template
  src/components/templates/PartyMap/PartyMap.tsx
Labels: 🐛 bug

#1446 show poster number alongside the title in PosterPreview / PosterPage
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/components/templates/PosterPage/PosterPage.tsx
Labels: :muscle: enhancement, :pray: community-contribution, :x: do-not-merge

#1497 deploy staging -> master
  .circleci/config.yml
  .firebaserc
  firebase.json
  src/components/templates/PartyMap/PartyMap.tsx
  src/index.tsx
Labels: :rocket: deployment

#1383 add RenderMarkdown component + render markdown in areas across the platform
  package-lock.json
  package.json
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/atoms/ChatMessage/ChatMessage.tsx
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/ChatPoll/ChatPoll.tsx
  src/components/molecules/EventDisplay/EventDisplay.tsx
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.tsx
  src/components/molecules/VenueInfoEvents/VenueInfoEvents.tsx
  src/components/organisms/RenderMarkdown/RenderMarkdown.tsx
  src/components/organisms/RenderMarkdown/index.ts
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/pages/Admin/AdminDeleteEvent.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/Details/Preview/DetailsPreview.styles.ts
  src/pages/Admin/Details/Preview/DetailsPreview.tsx
  src/pages/Admin/Room/Card/RoomCard.tsx
  src/pages/Admin/Room/Modal/Item/Item.styles.ts
  src/pages/Admin/Room/Modal/Item/Item.tsx
  src/pages/Admin/VenueEventDetails.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/scss/constants.scss
  src/settings.ts
Labels: :pray: community-contribution, dependencies, 💎 styles, 💡 new-feature

#1423 add full/personal schedule export as static .ics (calendar) files
  package-lock.json
  package.json
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/utils/calendar.ts
Labels: :pray: community-contribution, dependencies, 💎 styles, 💡 new-feature

#1444 make profile questions optional, display only responses
  src/components/organisms/EditProfileModal/EditProfileModal.tsx
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/ProfileModal/constants.ts
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/pages/Account/Questions.tsx
  src/settings.ts
Labels: :pray: community-contribution

#1507 Deploy staging -> master
  package-lock.json
  package.json
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/atoms/ChatMessage/ChatMessage.tsx
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/ChatPoll/ChatPoll.tsx
  src/components/molecules/EventDisplay/EventDisplay.tsx
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.tsx
  src/components/molecules/VenueInfoEvents/VenueInfoEvents.tsx
  src/components/organisms/EditProfileModal/EditProfileModal.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/ProfileModal/constants.ts
  src/components/organisms/RenderMarkdown/RenderMarkdown.tsx
  src/components/organisms/RenderMarkdown/index.ts
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/pages/Account/Questions.tsx
  src/pages/Admin/AdminDeleteEvent.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/Details/Preview/DetailsPreview.styles.ts
  src/pages/Admin/Details/Preview/DetailsPreview.tsx
  src/pages/Admin/Room/Card/RoomCard.tsx
  src/pages/Admin/Room/Modal/Item/Item.styles.ts
  src/pages/Admin/Room/Modal/Item/Item.tsx
  src/pages/Admin/VenueEventDetails.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/scss/constants.scss
  src/settings.ts
  src/utils/calendar.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1508 deploy master -> env/ohbm
  package-lock.json
  package.json
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/atoms/ChatMessage/ChatMessage.tsx
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/ChatPoll/ChatPoll.tsx
  src/components/molecules/EventDisplay/EventDisplay.tsx
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.tsx
  src/components/molecules/VenueInfoEvents/VenueInfoEvents.tsx
  src/components/organisms/EditProfileModal/EditProfileModal.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/ProfileModal/constants.ts
  src/components/organisms/RenderMarkdown/RenderMarkdown.tsx
  src/components/organisms/RenderMarkdown/index.ts
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/pages/Account/Questions.tsx
  src/pages/Admin/AdminDeleteEvent.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/Details/Preview/DetailsPreview.styles.ts
  src/pages/Admin/Details/Preview/DetailsPreview.tsx
  src/pages/Admin/Room/Card/RoomCard.tsx
  src/pages/Admin/Room/Modal/Item/Item.styles.ts
  src/pages/Admin/Room/Modal/Item/Item.tsx
  src/pages/Admin/VenueEventDetails.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/scss/constants.scss
  src/settings.ts
  src/utils/calendar.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1491 Fix banner covering content in poster room
  src/components/templates/PosterPage/PosterPage.scss
  src/scss/constants.scss
Labels: ✨ UI/UX, 💎 styles

#1514 Adds user profile in PosterPage venue
  src/components/organisms/Video/VideoParticipant.scss
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/PosterPage/usePosterVideo.ts
Labels: 🐛 bug, 💎 styles

#1517 Configure burn staging envs
  .circleci/config.yml
  .firebaserc
  firebase.json
  src/index.tsx
Labels: :desktop_computer: infrastructure

#1512 Multiline banner
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
Labels: :muscle: enhancement, :pray: community-contribution, ✨ UI/UX

#1513 Fixes audio in poster page
  src/components/organisms/Video/VideoParticipant.tsx
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/PosterPage/usePosterVideo.ts
  src/hooks/twilio.ts
Labels: 🐛 bug

#1518 Deploy staging -> master
  .circleci/config.yml
  .firebaserc
  README.md
  firebase.json
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/Video/VideoParticipant.scss
  src/components/organisms/Video/VideoParticipant.tsx
  src/components/templates/PosterPage/PosterPage.scss
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/PosterPage/usePosterVideo.ts
  src/hooks/twilio.ts
  src/index.tsx
  src/scss/constants.scss
Labels: :rocket: deployment, 💎 styles

#1519 deploy master -> env/ohbm
  .circleci/config.yml
  .firebaserc
  README.md
  firebase.json
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/Video/VideoParticipant.scss
  src/components/organisms/Video/VideoParticipant.tsx
  src/components/templates/PosterPage/PosterPage.scss
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/PosterPage/usePosterVideo.ts
  src/hooks/twilio.ts
  src/index.tsx
  src/scss/constants.scss
Labels: :rocket: deployment, 💎 styles

#1524 add github environment
  .circleci/config.yml
  .firebaserc
  firebase.json
  scripts/deploy-master-to-prod-envs
  src/index.tsx
Labels: :desktop_computer: infrastructure

#1525 Deploy staging -> master
  .circleci/config.yml
  .firebaserc
  firebase.json
  scripts/deploy-master-to-prod-envs
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.scss
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/index.tsx
  src/scss/constants.scss
  src/settings.ts
  src/types/rooms.ts
Labels: :rocket: deployment, 💎 styles

#1483 add UserList back to the top of the JazzBar template
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
Labels: :pray: community-contribution, 🐛 bug

#1370 add RoomTypes.video + new RoomModal mode that displays an embedded video iframe
  src/components/organisms/VideoModal/VideoModal.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/types/rooms.ts
Labels: :pray: community-contribution, 💡 new-feature

#1515 More markdown: event modal description
  src/components/organisms/EventModal/EventModal.tsx
Labels: :pray: community-contribution

#1049 Add 'nametag' option to optionally display user's names alongside their avatars
  functions/venue.js
  src/api/admin.ts
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/templates/Audience/Audience.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/scss/constants.scss
  src/types/User.ts
  src/types/venues.ts
Labels: :pray: community-contribution, 💎 styles, 💡 new-feature

#1534 Feature/adds poster fields
  src/components/molecules/UserProfilePicture/UserProfilePicture.scss
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/templates/PosterHall/components/PosterHallSearch/PosterHallSearch.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.scss
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/components/templates/PosterPage/PosterPage.scss
  src/components/templates/PosterPage/PosterPage.tsx
  src/hooks/posters.ts
  src/settings.ts
  src/types/posters.ts
Labels: :pray: community-contribution, 💎 styles

#1554 fixes to scss content on postercard / posterpage
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.scss
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/components/templates/PosterPage/PosterPage.scss
  src/components/templates/PosterPage/PosterPage.tsx
Labels: 💎 styles

#1551 Stylize scrollbar in RoomModals and show it only when needed
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
Labels: P4 - Low, ✨ UI/UX, 💎 styles

#1375 poster bookmarking
  src/api/profile.ts
  src/components/atoms/Bookmark/Bookmark.scss
  src/components/atoms/Bookmark/Bookmark.tsx
  src/components/atoms/Bookmark/index.ts
  src/components/molecules/PosterBookmark/PosterBookmark.tsx
  src/components/molecules/PosterBookmark/index.ts
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/templates/PosterHall/PosterHall.tsx
  src/components/templates/PosterHall/components/PosterHallSearch/PosterHallSearch.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.scss
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/components/templates/PosterPage/PosterPage.scss
  src/components/templates/PosterPage/PosterPage.tsx
  src/hooks/posters.ts
  src/settings.ts
  src/types/User.ts
  src/types/venues.ts
Labels: :pray: community-contribution, 💎 styles

#1544 fix covert room type classes in MapRoom to not scale on hover
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
Labels: 🐛 bug

#1546 add SAML SSO login flow
  src/assets/icons/saml-login-icon.png
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/hooks/useSAMLSignIn.ts
  src/pages/Account/Login.scss
  src/pages/Account/Login.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/secrets.js
  src/settings.ts
  src/types/venues.ts
Labels: :lock: security, 💎 styles, 💡 new-feature

#1432 [env/ohbm] Display subvenue cards in PosterHall template based on live events
  src/components/templates/PosterHall/PosterHall.scss
  src/components/templates/PosterHall/PosterHall.tsx
  src/components/templates/PosterHall/components/NonPosterSubVenuePreview/NonPosterSubVenuePreview.scss
  src/components/templates/PosterHall/components/NonPosterSubVenuePreview/NonPosterSubVenuePreview.tsx
  src/components/templates/PosterHall/components/NonPosterSubVenuePreview/index.ts
  src/hooks/posters.ts
  src/settings.ts
Labels: :muscle: enhancement, :pray: community-contribution, 💎 styles

#1559 deploy staging -> master
  src/assets/icons/saml-login-icon.png
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/hooks/useSAMLSignIn.ts
  src/pages/Account/Login.scss
  src/pages/Account/Login.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/secrets.js
  src/settings.ts
  src/types/venues.ts
Labels: :rocket: deployment

#1561 deploy master -> ohbm
  src/assets/icons/saml-login-icon.png
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/hooks/useSAMLSignIn.ts
  src/pages/Account/Login.scss
  src/pages/Account/Login.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/secrets.js
  src/settings.ts
  src/types/venues.ts
Labels: :rocket: deployment, 💎 styles

#1565 add auth domain to the ENVs
  .github/workflows/firebase-hosting-pull-request.yml
  scripts/init-env.sh
Labels: :desktop_computer: infrastructure, P1 - Critical, 🐛 bug

#1566 deploy staging -> master
  .github/workflows/firebase-hosting-pull-request.yml
  scripts/init-env.sh
Labels: :rocket: deployment

#1562 Fix minor text/styling issues in the profile creation pages
  src/assets/images/Summit_Logo.png
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.scss
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/pages/Account/Account.scss
  src/pages/Account/Profile.tsx
  src/pages/Account/Questions.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/settings.ts
Labels: 🐛 bug, 💎 styles

#1567 [env/ohbm] add venue logos to poster hall template
  src/components/templates/PosterHall/PosterHall.scss
  src/components/templates/PosterHall/PosterHall.tsx
  src/components/templates/PosterHall/components/PosterHallSearch/PosterHallSearch.scss
  src/types/venues.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1571 deploys staging -> master
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
Labels: :rocket: deployment, 💎 styles

#1572 deploy master -> env/ohbm
  .github/workflows/firebase-hosting-pull-request.yml
  scripts/init-env.sh
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
Labels: :rocket: deployment, 💎 styles

#1538 fix RoomModal to display events created directly on venues + show day of events
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/molecules/EventDisplay/EventDisplay.tsx
  src/components/molecules/UpcomingTickets/UpcomingTickets.tsx
  src/components/organisms/EventModal/EventModal.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.scss
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/pages/Admin/VenueEventDetails.tsx
  src/utils/event.ts
  src/utils/time.ts
Labels: :muscle: enhancement, :pray: community-contribution, 🐛 bug, 💎 styles, 💥 tech-debt

#1574 deploys staging -> master
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/molecules/EventDisplay/EventDisplay.tsx
  src/components/molecules/UpcomingTickets/UpcomingTickets.tsx
  src/components/organisms/EventModal/EventModal.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.scss
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/pages/Admin/VenueEventDetails.tsx
  src/utils/event.ts
  src/utils/time.ts
Labels: :rocket: deployment, 💎 styles

#1575 deploy master -> env/ohbm
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/molecules/EventDisplay/EventDisplay.tsx
  src/components/molecules/UpcomingTickets/UpcomingTickets.tsx
  src/components/organisms/EventModal/EventModal.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.scss
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/pages/Admin/VenueEventDetails.tsx
  src/utils/event.ts
  src/utils/time.ts
Labels: :rocket: deployment, 💎 styles

#1523 add I4A SSO via custom OAuth2 'Authorization Code Grant' flow
  firebase.json
  firestore.rules
  functions/.runtimeconfig.json.example
  functions/auth.js
  functions/index.js
  functions/package-lock.json
  functions/package.json
  functions/src/api/auth.js
  functions/src/types/auth.js
  functions/src/types/venue.js
  functions/src/utils/assert.js
  functions/src/utils/auth.js
  functions/src/utils/fetch.js
  functions/src/utils/url.js
  functions/src/utils/venue.js
  functions/venue.js
  package.json
  src/api/auth.ts
  src/components/organisms/AppRouter/AppRouter.jsx
  src/pages/Account/Login.scss
  src/pages/Account/Login.tsx
  src/pages/Account/LoginWithCustomToken.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/utils/venue.ts
Labels: :lock: security, dependencies, 💎 styles, 💡 new-feature

#1564 fixes styling with categories in screeningroom
  src/components/templates/ScreeningRoom/ScreeningRoom.scss
Labels: 💎 styles

#1594 deploy staging -> master
  firebase.json
  firestore.rules
  functions/.runtimeconfig.json.example
  functions/auth.js
  functions/index.js
  functions/package-lock.json
  functions/package.json
  functions/src/api/auth.js
  functions/src/types/auth.js
  functions/src/types/venue.js
  functions/src/utils/assert.js
  functions/src/utils/auth.js
  functions/src/utils/fetch.js
  functions/src/utils/url.js
  functions/src/utils/venue.js
  functions/venue.js
  package.json
  src/api/auth.ts
  src/components/organisms/AppRouter/AppRouter.jsx
  src/components/templates/ScreeningRoom/ScreeningRoom.scss
  src/components/templates/ScreeningRoom/useScreeningRoom.ts
  src/pages/Account/Login.scss
  src/pages/Account/Login.tsx
  src/pages/Account/LoginWithCustomToken.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/types/screeningRoom.ts
  src/utils/venue.ts
Labels: :rocket: deployment

#1595 deploy master -> env/ohbm
  firebase.json
  firestore.rules
  functions/.runtimeconfig.json.example
  functions/auth.js
  functions/index.js
  functions/package-lock.json
  functions/package.json
  functions/src/api/auth.js
  functions/src/types/auth.js
  functions/src/types/venue.js
  functions/src/utils/assert.js
  functions/src/utils/auth.js
  functions/src/utils/fetch.js
  functions/src/utils/url.js
  functions/src/utils/venue.js
  functions/venue.js
  package.json
  src/api/auth.ts
  src/components/organisms/AppRouter/AppRouter.jsx
  src/components/templates/ScreeningRoom/ScreeningRoom.scss
  src/components/templates/ScreeningRoom/useScreeningRoom.ts
  src/pages/Account/Login.scss
  src/pages/Account/Login.tsx
  src/pages/Account/LoginWithCustomToken.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/types/screeningRoom.ts
  src/utils/venue.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1596 [env/ohbm] disable generic email/password registration method
  src/components/organisms/AuthenticationModal/InitialForm/InitialForm.tsx
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/pages/Account/Login.tsx
Labels: :lock: security, ✨ UI/UX

#1556 [env/ohbm] include thumbnail in posterpreview
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.scss
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
Labels: :pray: community-contribution, ✨ UI/UX, 💎 styles

#1598 [env/ohbm] do not disable "See all" for user list in RoomModal
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
Labels: :muscle: enhancement, :pray: community-contribution

#1606 increase post.title weight in search within PosterHall's usePosters hook
  src/hooks/posters.ts
Labels: :muscle: enhancement, :pray: community-contribution

#1486 fix to return chat to original mode after polling post
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/PollBox/PollBox.tsx
Labels: ✨ UI/UX, 🐛 bug

#1627 [env/ohbm] increase user location update frequency from 5min to 120min
  src/settings.ts
Labels: 🏎️ performance

#1629 add events fetch per one request
  firestore.rules
  src/api/events.ts
  src/hooks/events.ts
  src/hooks/events.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/types/venues.ts
Labels: 🏎️ performance

#1557 refactor usePosters using context/provider pattern to display a random selection of posters when no searchQuery
  src/components/templates/PosterHall/PosterHall.tsx
  src/hooks/posters.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/settings.ts
Labels: :muscle: enhancement, P2 - High

#1631 [evn/ohbm] Add event provider to the WithNavigationBar
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: 🏎️ performance, 🐛 bug

#1623 refactor lastSeenAt / lastSeenIn out of main User document + associated refactors
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/molecules/TablesUserList/index.ts
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/PartyMap/PartyMap.scss
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/components/templates/Playa/AvatarPartygoers.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/users.ts
  src/pages/VenuePage/VenuePage.tsx
  src/settings.ts
  src/types/Firestore.ts
  src/types/User.ts
  src/utils/selectors.ts
  src/utils/user.ts
  src/utils/venue.ts
Labels: P1 - Critical, 🏎️ performance, 💎 styles, 💥 tech-debt

#1634 Custom Reactions for GitHubAHS
  public/sounds/burn.mpeg
  public/sounds/confetti.wav
  public/sounds/ding-ding.wav
  public/sounds/sparkle.mpeg
  public/sounds/sparkle.wav
  public/sounds/wolf.mp3
  src/types/reactions.ts
Labels: 💎 styles

#1499 Profile popup UX/UI changes
  src/api/profile.ts
  src/assets/icons/profile-edit-icon.svg
  src/components/atoms/InputField/InputField.scss
  src/components/atoms/InputField/InputField.tsx
  src/components/atoms/InputField/index.ts
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.scss
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/molecules/ProfilePictureInput/index.ts
  src/components/organisms/Badges/BadgeImage.tsx
  src/components/organisms/Badges/Badges.scss
  src/components/organisms/Badges/Badges.tsx
  src/components/organisms/EditProfileModal/EditProfileModal.tsx
  src/components/organisms/ProfileModal/EditPasswordForm/EditPasswordForm.scss
  src/components/organisms/ProfileModal/EditPasswordForm/EditPasswordForm.tsx
  src/components/organisms/ProfileModal/EditPasswordForm/index.ts
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.scss
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/organisms/ProfileModal/EditProfileForm/index.ts
  src/components/organisms/ProfileModal/EditProfileLinkForm/EditProfileLinkForm.scss
  src/components/organisms/ProfileModal/EditProfileLinkForm/EditProfileLinkForm.tsx
  src/components/organisms/ProfileModal/EditProfileLinkForm/index.ts
  src/components/organisms/ProfileModal/ProfilePopoverContent.scss
  src/components/organisms/ProfileModal/ProfilePopoverContent.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.scss
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/ProfileModal/UserInformationContent/index.ts
  src/components/organisms/UserProfileModal/UserProfileModal.scss
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/pages/Account/Profile.tsx
  src/scss/constants.scss
  src/types/User.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1635 deploy staging -> master
  src/api/profile.ts
  src/assets/icons/profile-edit-icon.svg
  src/components/atoms/InputField/InputField.scss
  src/components/atoms/InputField/InputField.tsx
  src/components/atoms/InputField/index.ts
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.scss
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/PollBox/PollBox.tsx
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/molecules/ProfilePictureInput/index.ts
  src/components/organisms/Badges/BadgeImage.tsx
  src/components/organisms/Badges/Badges.scss
  src/components/organisms/Badges/Badges.tsx
  src/components/organisms/EditProfileModal/EditProfileModal.tsx
  src/components/organisms/ProfileModal/EditPasswordForm/EditPasswordForm.scss
  src/components/organisms/ProfileModal/EditPasswordForm/EditPasswordForm.tsx
  src/components/organisms/ProfileModal/EditPasswordForm/index.ts
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.scss
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/organisms/ProfileModal/EditProfileForm/index.ts
  src/components/organisms/ProfileModal/EditProfileLinkForm/EditProfileLinkForm.scss
  src/components/organisms/ProfileModal/EditProfileLinkForm/EditProfileLinkForm.tsx
  src/components/organisms/ProfileModal/EditProfileLinkForm/index.ts
  src/components/organisms/ProfileModal/ProfilePopoverContent.scss
  src/components/organisms/ProfileModal/ProfilePopoverContent.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.scss
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/ProfileModal/UserInformationContent/index.ts
  src/components/organisms/UserProfileModal/UserProfileModal.scss
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/pages/Account/Profile.tsx
  src/scss/constants.scss
  src/types/User.ts
Labels: :rocket: deployment, 💎 styles

#1469 add Talk Show Studio - NEW venue type
  .env.example
  functions/venue.js
  package-lock.json
  package.json
  src/api/admin.ts
  src/api/profile.ts
  src/components/molecules/MapPartygoerOverlay/MapPartygoerOverlay.tsx
  src/components/molecules/UserPersistentReaction/UserPersistentReaction.scss
  src/components/molecules/UserPersistentReaction/UserPersistentReaction.tsx
  src/components/molecules/UserPersistentReaction/index.ts
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/templates/Audience/Audience.scss
  src/components/templates/PartyMap/components/Map/hooks/usePartygoersOverlay.tsx
  src/components/templates/TalkShowStudio/TalkShowStudio.scss
  src/components/templates/TalkShowStudio/TalkShowStudio.tsx
  src/components/templates/TalkShowStudio/components/Audience/Audience.scss
  src/components/templates/TalkShowStudio/components/Audience/Audience.tsx
  src/components/templates/TalkShowStudio/components/Button/Button.scss
  src/components/templates/TalkShowStudio/components/Button/Button.tsx
  src/components/templates/TalkShowStudio/components/ControlBar/ControlBar.scss
  src/components/templates/TalkShowStudio/components/ControlBar/ControlBar.tsx
  src/components/templates/TalkShowStudio/components/ControlBar/index.ts
  src/components/templates/TalkShowStudio/components/LeaveStageModal/LeaveStageModal.scss
  src/components/templates/TalkShowStudio/components/LeaveStageModal/LeaveStageModal.tsx
  src/components/templates/TalkShowStudio/components/LeaveStageModal/index.ts
  src/components/templates/TalkShowStudio/components/Player/Player.scss
  src/components/templates/TalkShowStudio/components/Player/Player.tsx
  src/components/templates/TalkShowStudio/components/SettingsSidebar/SettingsSidebar.scss
  src/components/templates/TalkShowStudio/components/SettingsSidebar/SettingsSidebar.tsx
  src/components/templates/TalkShowStudio/components/SettingsSidebar/components/AdminPanel/AdminPanel.scss
  src/components/templates/TalkShowStudio/components/SettingsSidebar/components/AdminPanel/AdminPanel.tsx
  src/components/templates/TalkShowStudio/index.ts
  src/components/templates/TalkShowStudio/useStage.ts
  src/hooks/video/agora/index.ts
  src/pages/Admin/Venue/TemplateForm.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/constants.scss
  src/secrets.js
  src/settings.ts
  src/types/Table.ts
  src/types/User.ts
  src/types/agora.ts
  src/types/reactions.ts
  src/types/venues.ts
Labels: dependencies, 💎 styles, 💡 new-feature

#1638 Revert "refactor lastSeenAt / lastSeenIn out of main User document + associated refactors"
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/molecules/TablesUserList/index.ts
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/PartyMap/PartyMap.scss
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/components/templates/Playa/AvatarPartygoers.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/useUser.ts
  src/hooks/users.ts
  src/index.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/settings.ts
  src/store/actions/Cache.ts
  src/store/actions/index.ts
  src/store/reducers/Cache.ts
  src/store/reducers/index.ts
  src/types/Firestore.ts
  src/types/User.ts
  src/utils/selectors.ts
  src/utils/user.ts
  src/utils/venue.ts
Labels: 💎 styles

#1589 remove iframe border in PosterHall
  src/components/templates/PosterPage/PosterPage.scss
Labels: :pray: community-contribution, ✨ UI/UX, 💎 styles

#1640 deploy staging -> master
  src/components/templates/PosterPage/PosterPage.scss
Labels: :rocket: deployment

#1632 add toggle to force hide room labels individually per room in admin (v1)
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/types/rooms.ts
Labels: ✨ UI/UX, 💡 new-feature

#1646 [env/github] add default octocat avatars
  public/avatars/default-octocat-1.png
  public/avatars/default-octocat-2.png
  public/avatars/default-octocat-3.png
  public/avatars/default-octocat-4.png
  public/avatars/default-octocat-5.png
  public/avatars/default-octocat-6.png
  src/settings.ts
Labels: :muscle: enhancement

#1652 add new prod branches to scripts/deploy-master-to-prod-envs
  scripts/deploy-master-to-prod-envs
Labels: P4 - Low, 💻 eng-QoL

#1656 [env/ohbm] fix PostersProvider causing posters to re-randomize on render
  src/hooks/posters.tsx
Labels: 🐛 bug, 💎 styles

#1658 [env/github] fix small bug in rooms.ts
  src/types/rooms.ts
Labels: 🐛 bug

#1643 Allow camera and microphone for embeddable (v2)
  src/components/templates/Embeddable/Embeddable.tsx
  src/settings.ts
Labels: :lock: security, :muscle: enhancement

#1654 [env/github] add summit snap link
  src/pages/Account/Account.scss
  src/pages/Account/Profile.tsx
Labels: :muscle: enhancement, 💎 styles

#1663 Fix the order of the styles
  src/pages/Account/Account.scss
Labels: ✨ UI/UX, 🐛 bug, 💎 styles

#1664 [env/github] clean up ux of registration page
  src/components/organisms/AuthenticationModal/InitialForm/InitialForm.scss
  src/components/organisms/AuthenticationModal/InitialForm/InitialForm.tsx
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/PasswordResetForm/PasswordResetForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/pages/Account/Login.tsx
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1666 [env/github] replace sparkle logo with github logo
  src/assets/images/Summit-logo-plain.png
  src/assets/images/Summit_Logo.png
  src/pages/Account/Account.scss
  src/pages/Account/Login.tsx
Labels: ✨ UI/UX, 💎 styles

#1657 add showSchedule toggle to admin v1 + clean up legacy showLiveSchedule + a few bonus bugfixes
  functions/venue.js
  src/components/molecules/NavBar/NavBar.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.scss
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/hooks/sounds.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/settings.ts
  src/types/venues.ts
Labels: 💎 styles, 💡 new-feature, 💥 tech-debt

#1485 refactor updateVenue / updateVenue_v2 in functions/venue to DRY duplicate code
  functions/venue.js
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
Labels: 🐛 bug, 💥 tech-debt

#1647 add boilerplate for single-file custom css overrides
  src/scss/customOverrides.scss
  src/scss/global.scss
Labels: 💎 styles

#1672 Deploy staging -> master
  functions/venue.js
  scripts/deploy-master-to-prod-envs
  src/components/molecules/NavBar/NavBar.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.scss
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/hooks/sounds.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/scss/customOverrides.scss
  src/scss/global.scss
  src/settings.ts
  src/types/rooms.ts
  src/types/venues.ts
Labels: :rocket: deployment, 💎 styles

#1677 deploy master -> env/github
  functions/venue.js
  scripts/deploy-master-to-prod-envs
  src/components/molecules/NavBar/NavBar.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.scss
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/PosterPage/PosterPage.scss
  src/hooks/sounds.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/scss/customOverrides.scss
  src/scss/global.scss
  src/settings.ts
  src/types/rooms.ts
  src/types/venues.ts
Labels: :rocket: deployment, 💎 styles

#1673 add secure dynamic token generation for agora video
  functions/.runtimeconfig.json.example
  functions/auth.js
  functions/package-lock.json
  functions/package.json
  functions/src/utils/agora.js
  functions/src/utils/assert.js
  functions/src/utils/twilio.js
  functions/venue.js
  functions/video.js
  src/api/video.ts
  src/components/organisms/Room/Room.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/components/templates/Playa/Video/Room.tsx
  src/hooks/twilio.ts
Labels: :lock: security, dependencies, 💡 new-feature, 💥 tech-debt

#1680 Deploy staging -> master
  functions/.runtimeconfig.json.example
  functions/auth.js
  functions/package-lock.json
  functions/package.json
  functions/src/utils/agora.js
  functions/src/utils/assert.js
  functions/src/utils/twilio.js
  functions/venue.js
  functions/video.js
  src/api/video.ts
  src/components/organisms/Room/Room.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/components/templates/Playa/Video/Room.tsx
  src/hooks/twilio.ts
Labels: :rocket: deployment, dependencies

#1682 Deploy master -> env/github
  functions/.runtimeconfig.json.example
  functions/auth.js
  functions/package-lock.json
  functions/package.json
  functions/src/utils/agora.js
  functions/src/utils/assert.js
  functions/src/utils/twilio.js
  functions/venue.js
  functions/video.js
  src/api/video.ts
  src/components/organisms/Room/Room.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/components/templates/Playa/Video/Room.tsx
  src/hooks/twilio.ts
Labels: :rocket: deployment, dependencies

#1667 [env/github] map SAML SSO data from Okta into user's profile data
  src/api/profile.ts
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.scss
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.scss
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/hooks/useSAMLSignIn.ts
  src/pages/Account/Account.scss
  src/pages/Account/Login.scss
  src/pages/Account/Login.tsx
  src/pages/Account/Profile.tsx
  src/types/User.ts
  src/types/venues.ts
  src/utils/profile.ts
Labels: :lock: security, P1 - Critical, 💎 styles, 💡 new-feature

#1683 [env/github] refactor agora / TalkShowStudio hooks to clean up a bit
  src/components/templates/TalkShowStudio/TalkShowStudio.tsx
  src/components/templates/TalkShowStudio/components/Audience/Audience.tsx
  src/components/templates/TalkShowStudio/components/ControlBar/ControlBar.tsx
  src/components/templates/TalkShowStudio/components/SettingsSidebar/components/AdminPanel/AdminPanel.tsx
  src/hooks/useStage.ts
  src/hooks/video/agora/index.ts
  src/hooks/video/agora/useAgoraCamera.ts
  src/hooks/video/agora/useAgoraRemotes.ts
  src/hooks/video/agora/useAgoraScreenShare.ts
Labels: 💥 tech-debt, 🔨🍷 break-glass-approval-bypass

#1685 fix for venue chat name change when redirect back from room to venue map
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/hooks/chatSidebar.ts
Labels: ✨ UI/UX, 🐛 bug

#1688 move profile links to the bottom of the profile; move okta data to the top
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
Labels: :muscle: enhancement

#1691 [env/github] change profile questions limit from 2 to 1
  src/pages/Account/Questions.tsx
Labels: dependencies, 🐛 bug, 💎 styles

#1694 [env/github] Make profile urls clickable
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
Labels: ✨ UI/UX

#1639 Revert "Revert "refactor lastSeenAt / lastSeenIn out of main User document + associated refactors""
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/molecules/TablesUserList/index.ts
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/PartyMap/PartyMap.scss
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/components/templates/Playa/AvatarPartygoers.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/useUser.ts
  src/hooks/users.ts
  src/index.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/settings.ts
  src/store/actions/Cache.ts
  src/store/actions/index.ts
  src/store/reducers/Cache.ts
  src/store/reducers/index.ts
  src/types/Firestore.ts
  src/types/User.ts
  src/utils/selectors.ts
  src/utils/user.ts
  src/utils/venue.ts
Labels: 🏎️ performance, 💎 styles, 💥 tech-debt

#1689 Add bottom text to login form and replace 'Hubbers' with 'Okta users'
  src/components/organisms/AuthenticationModal/InitialForm/InitialForm.tsx
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/pages/Account/Login.scss
  src/pages/Account/Login.tsx
Labels: ✨ UI/UX, 💎 styles

#1693 [env/github] add purple border around octocat login button
  src/pages/Account/Login.scss
Labels: ✨ UI/UX, 💎 styles

#1699 [env/github] change login text
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
Labels: ✨ UI/UX

#1698 [env/github] remove profile links from profile
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
Labels: P1 - Critical

#1700 [env/github] update registration page again
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.scss
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/organisms/AuthenticationModal/InitialForm/InitialForm.scss
  src/components/organisms/AuthenticationModal/InitialForm/InitialForm.tsx
  src/pages/Account/Account.scss
  src/pages/Account/Login.scss
  src/pages/Account/Login.tsx
  src/pages/Account/Profile.tsx
Labels: 💎 styles
