Repository sparkletown/sparkle, pull requests merged in 2021-09, with the labels that each got.

#2194 [env/burn-staging] Art Piece aspect ratio followup
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/types/VideoAspectRatio.ts
Labels: 🐛 bug, ✨ UI/UX, P2 - High, :beginner: good first review

#2176 ChatSidebar button enhancements
  src/components/atoms/Tooltip/Tooltip.tsx
  src/components/atoms/Tooltip/index.ts
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/ChatSidebar/components/ChatSidebarButton/ChatSidebarButton.scss
  src/components/organisms/ChatSidebar/components/ChatSidebarButton/ChatSidebarButton.tsx
  src/components/organisms/ChatSidebar/components/ChatSidebarButton/index.ts
  src/hooks/chats/chatSidebar.ts
  src/utils/url.ts
Labels: P0 - Emergency/Fire :fire::fire::fire:, 💎 styles

#2049 AV1 add default video for embeddables
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: 💡 new-feature, admin, :beginner: good first review

#2134 fixed emergency space ui
  src/pages/EmergencyViewPage/EmergencyViewPage.scss
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/EmergencyViewPage/EmergencyViewPageRooms.tsx
  src/pages/EmergencyViewPage/EmergencyViewRoom.tsx
  src/pages/EmergencyViewPage/EmergencyViewTabs.tsx
  src/scss/constants.scss
Labels: 🐛 bug, ✨ UI/UX, 💎 styles

#2195 BM schedule adjustement
  firestore.rules
  functions/index.js
  functions/openweathermap.js
  functions/src/utils/misc.js
  src/api/openweathermap.ts
  src/assets/images/BlackRockDesert/day1.png
  src/assets/images/BlackRockDesert/day2.png
  src/assets/images/BlackRockDesert/day3.png
  src/assets/images/BlackRockDesert/evening1.png
  src/assets/images/BlackRockDesert/evening2.png
  src/assets/images/BlackRockDesert/evening3.png
  src/assets/images/BlackRockDesert/morning1.png
  src/assets/images/BlackRockDesert/morning2.png
  src/assets/images/BlackRockDesert/morning3.png
  src/assets/images/BlackRockDesert/night1.png
  src/assets/images/BlackRockDesert/night2.png
  src/assets/images/BlackRockDesert/night3.png
  src/assets/images/sparkleverse_banner.png
  src/components/molecules/NavBarScheduleWeather/NavBarBanner.scss
  src/components/molecules/NavBarScheduleWeather/NavBarBanner.tsx
  src/components/molecules/NavBarScheduleWeather/NavBarScheduleWeather.scss
  src/components/molecules/NavBarScheduleWeather/NavBarScheduleWeather.tsx
  src/components/molecules/NavBarScheduleWeather/WeatherBackground/BlackRockDesertImageBackground.scss
  src/components/molecules/NavBarScheduleWeather/WeatherBackground/BlackRockDesertImageBackground.tsx
  src/components/molecules/NavBarScheduleWeather/WeatherBackground/BlackRockWeatherBackground.scss
  src/components/molecules/NavBarScheduleWeather/WeatherBackground/index.ts
  src/components/molecules/NavBarScheduleWeather/index.ts
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

#2167 Fixed BM Flashes of 404 screen on Admin panel
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: 🐛 bug

#2178 [env/burn-staging] Use separate inputs for day, month, year instead of calendar input
  src/pages/RegistrationFlow/RegisterFormRF/RegisterFormRF.scss
  src/pages/RegistrationFlow/RegisterFormRF/RegisterFormRF.tsx
  src/pages/RegistrationFlow/utils-rf.ts
Labels: 💎 styles

#2196 [env/burn-staging] Fix RegisterFormRF validation
  src/pages/RegistrationFlow/RegisterFormRF/RegisterFormRF.tsx
Labels: 🐛 bug

#2186 Prevent re-renders of modified venues
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
Labels: 🏎️ performance

#2206 emergency view background filter increased
  src/pages/EmergencyViewPage/EmergencyViewPage.scss
Labels: 🐛 bug, ✨ UI/UX, 💎 styles

#2204 Schedule: adds 'until' to endDate and a hyphen after startDate
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
Labels: 💎 styles

#2203 [staging] Backport ArtPiece layout and aspect ratio updates from BM
  src/components/templates/ArtPiece/ArtPiece.scss
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/scss/modifiers.scss
  src/types/VideoAspectRatio.ts
Labels: 🐛 bug, :muscle: enhancement, 💡 new-feature, ✨ UI/UX, 💎 styles, P2 - High, :beginner: good first review

#2207 Make event venue clickable
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
Labels: :muscle: enhancement

#2210 Deploy staging -> master
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/templates/ArtPiece/ArtPiece.scss
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/pages/EmergencyViewPage/EmergencyViewPage.scss
  src/scss/modifiers.scss
  src/types/VideoAspectRatio.ts
Labels: 💎 styles, :rocket: deployment

#2188 BM Added Creator Help link to creation tools
  src/pages/Admin/Admin.scss
  src/pages/Admin/Admin.tsx
  src/settings.ts
Labels: 💡 new-feature, 💎 styles

#2211 Deploy master -> env/burn-staging
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/pages/EmergencyViewPage/EmergencyViewPage.scss
Labels: 💎 styles, :rocket: deployment

#2214 [env/burn-staging] make embeddable field editable again
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: 🐛 bug, P1 - Critical

#2212 Use one scrollbar style
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/molecules/Schedule/Schedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/templates/ArtPiece/ArtPiece.scss
  src/components/templates/PartyMap/PartyMap.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/pages/Admin/Admin.scss
  src/pages/Admin/Admin.styles.ts
  src/pages/Admin/Venue/Venue.scss
  src/pages/EmergencyViewPage/EmergencyViewPage.scss
  src/scss/constants.scss
  src/scss/global.scss
Labels: 💥 tech-debt, ✨ UI/UX, 💎 styles, :beginner: good first review

#2217 Deploy master -> env/burn-staging
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/molecules/ImageInput/ImageInput.tsx
  src/pages/Admin/Venue/VenueWizard/redux/reducer.ts
Labels: :rocket: deployment

#2180 [env/burn-staging] design update for room modal
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.scss
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.scss
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/PartyMap/components/index.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#2225 deploy staging -> master
  src/assets/images/AnimateMap/barrels/haloGlow.png
  src/assets/images/AnimateMap/barrels/haloGreenGlow.png
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/molecules/Schedule/Schedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/AnimateMap/game/constants/AssetConstants.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/graphics/shaders/ColorMatrixFS.glsl
  src/components/templates/AnimateMap/game/map/graphics/shaders/StaticLigthsFS.glsl
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
  src/components/templates/ArtPiece/ArtPiece.scss
  src/components/templates/PartyMap/PartyMap.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/pages/Admin/Admin.scss
  src/pages/Admin/Admin.styles.ts
  src/pages/Admin/Venue/Venue.scss
  src/pages/EmergencyViewPage/EmergencyViewPage.scss
  src/scss/constants.scss
  src/scss/global.scss
Labels: 💎 styles, :rocket: deployment

#2226 Deploy master -> env/burn-staging
  src/assets/images/AnimateMap/barrels/haloGlow.png
  src/assets/images/AnimateMap/barrels/haloGreenGlow.png
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/molecules/Schedule/Schedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/AnimateMap/game/constants/AssetConstants.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/graphics/shaders/ColorMatrixFS.glsl
  src/components/templates/AnimateMap/game/map/graphics/shaders/StaticLigthsFS.glsl
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
  src/components/templates/ArtPiece/ArtPiece.scss
  src/components/templates/PartyMap/PartyMap.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/pages/Admin/Admin.scss
  src/pages/Admin/Admin.styles.ts
  src/pages/Admin/Venue/Venue.scss
  src/pages/EmergencyViewPage/EmergencyViewPage.scss
  src/scss/constants.scss
  src/scss/global.scss
Labels: 💎 styles, :rocket: deployment

#2235 Fix Unclickable rooms UI
  src/components/templates/PartyMap/components/Map/MapRoom.scss
Labels: 💎 styles

#2239 Default displayWhile to true in <Loading> to unbreak older uses
  src/components/molecules/Loading/Loading.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.scss
Labels: 🐛 bug, ✨ UI/UX, 💎 styles, :beginner: good first review

#2224 redesign external room and add venue information
  src/assets/images/external-room-background.png
  src/components/templates/ExternalRoom/ExternalRoom.scss
  src/components/templates/ExternalRoom/ExternalRoom.tsx
  src/settings.ts
Labels: 💎 styles

#2222 Add jukebox
  firestore.rules
  functions/venue.js
  src/api/admin.ts
  src/api/jukebox.ts
  src/api/venue.ts
  src/assets/icons/arrow-send-msg.svg
  src/components/atoms/InputField/InputField.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/IframeAdmin/IframeAdmin.tsx
  src/components/molecules/Jukebox/Jukebox.scss
  src/components/molecules/Jukebox/Jukebox.tsx
  src/components/organisms/InformationLeftColumn/InformationLeftColumn.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/hooks/jukebox.ts
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/settings.ts
  src/types/Firestore.ts
  src/types/jukebox.ts
  src/types/venues.ts
  src/utils/jukebox.ts
  src/utils/selectors.ts
  src/utils/url.ts
Labels: 💡 new-feature, ✨ UI/UX, 💎 styles

#2229 [env/burn-staging] add photobooth link
  src/assets/icons/photobooth-icon.png
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/settings.ts
Labels: 💡 new-feature, 💎 styles

#2247 [env/burn-staging] fix external link opening and user count
  src/components/templates/ExternalRoom/ExternalRoom.tsx
Labels: 🐛 bug, P1 - Critical

#2249 Deploy staging -> master (artcar link fix)
  src/components/templates/AnimateMap/game/constants/StubData.tsx
Labels: :rocket: deployment

#2250 Deploy master -> env/burn-staging (artcar link fix)
  src/components/templates/AnimateMap/game/constants/StubData.tsx
Labels: :rocket: deployment

#2255 Fix BM External Link page 2.0 text wrapping
  src/components/templates/ExternalRoom/ExternalRoom.scss
  src/components/templates/ExternalRoom/ExternalRoom.tsx
Labels: 💎 styles

#2261 Add the ability to hide the chat from firestore
  firestore.rules
  src/hooks/useSettings.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/settings.ts
  src/types/Firestore.ts
  src/types/settings.ts
  src/utils/selectors.ts
Labels: :muscle: enhancement

#2263 Fix settings import
  src/hooks/useSettings.ts
  src/utils/selectors.ts
Labels: 🐛 bug

#2262 Update entrance field check in VenuePage
  src/pages/VenuePage/VenuePage.tsx
Labels: 🐛 bug, P0 - Emergency/Fire :fire::fire::fire:, :beginner: good first review

#2264 deploy master -> staging
  docs/Questions.md
  firestore.rules
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/hooks/useSettings.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/settings.ts
  src/types/Firestore.ts
  src/types/settings.ts
  src/utils/selectors.ts
Labels: :rocket: deployment

#2259 Fix BM Modal popup styles
  src/components/templates/ExternalRoom/ExternalRoom.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
Labels: 💎 styles

#2243 Chat date labels
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/Chatbox/components/ChatboxMessage/ChatboxMessage.scss
  src/components/molecules/Chatbox/components/ChatboxMessage/ChatboxMessage.tsx
  src/components/molecules/Chatbox/components/ChatboxMessage/index.ts
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/VenueChat.tsx
Labels: 💎 styles

#2257 Disable jukebox UI toggle button ( burn )
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: 🐛 bug, ✨ UI/UX

#2266 fixed navbar stacking context
  src/scss/constants.scss
Labels: 💎 styles, :beginner: good first review

#2242 [staging] Backport of Loading component with displayWhile defaulted to true
  src/components/molecules/Loading/Loading.tsx
Labels: ✨ UI/UX, :beginner: good first review, backport

#2254 Add autoPlay field in Venue for embeddable types
  functions/venue.js
  src/api/admin.ts
  src/components/organisms/VideoModal/VideoModal.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Embeddable/Embeddable.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/entrance/WelcomeVideo/WelcomeVideo.tsx
  src/settings.ts
  src/types/venues.ts
  src/utils/ConvertToEmbeddableUrl.tsx
Labels: admin

#2273 Fixes reload on every room entry
  src/hooks/useRoom.ts
Labels: 🐛 bug

#2267 add room labels to run tab in admin v3
  src/pages/Account/Venue/VenueMapEdition/Container.tsx
  src/pages/Account/Venue/VenueMapEdition/DraggableSubvenue.scss
  src/pages/Account/Venue/VenueMapEdition/DraggableSubvenue.tsx
  src/pages/Admin/MapPreview/MapPreview.tsx
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles, :beginner: good first review

#2213 [Staging] - Flashes of 404 screen on Admin panel
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: backport

#2275 Add title: values.title in RoomsForm
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: 🐛 bug

#2238 [staging] Backport the AdminRestricted component with uses
  src/assets/images/access-forbidden.svg
  src/components/atoms/AdminRestricted/AdminRestricted.scss
  src/components/atoms/AdminRestricted/AdminRestricted.tsx
  src/components/atoms/AdminRestricted/index.ts
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/hooks/useUser.ts
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Admin_v2.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/VenueWizard/Create/VenueWizardCreate.tsx
  src/pages/Admin/Venue/VenueWizard/VenueWizard.tsx
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
Labels: ✨ UI/UX, 💎 styles, admin, :beginner: good first review, backport

#2277 Fix Mobile Video Optimisation
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
Labels: 💎 styles

#2220 Removed Ambulance button
  functions/venue.js
  src/api/admin.ts
  src/components/molecules/SparkleFairiesPopUp/SparkleFairiesPopUp.scss
  src/components/molecules/SparkleFairiesPopUp/SparkleFairiesPopUp.tsx
  src/components/templates/ArtPiece/ArtPiece.scss
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.scss
  src/components/templates/Playa/Playa.scss
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/settings.ts
  src/types/venues.ts
Labels: 💎 styles

#2221 Turn off camera button
  src/components/atoms/VideoOverlayButton/VideoOverlayButton.scss
  src/components/atoms/VideoOverlayButton/VideoOverlayButton.tsx
  src/components/atoms/VideoOverlayButton/index.ts
  src/components/molecules/CameraMicrophoneControls/CameraMicrophoneControls.scss
  src/components/molecules/CameraMicrophoneControls/CameraMicrophoneControls.tsx
  src/components/molecules/CameraMicrophoneControls/index.ts
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/NewProfileModal/NewProfileModal.tsx
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/ProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicTextInfo/ProfileModalBasicTextInfo.tsx
  src/components/organisms/Room/LocalParticipant.tsx
  src/components/organisms/Room/Participant.tsx
  src/components/organisms/Room/Room.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/ArtPiece/ArtPiece.scss
  src/components/templates/FireBarrel/FireBarrel.styled.ts
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.scss
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/hooks/useIsCurrentUser.ts
  src/scss/global.scss
  src/settings.ts
Labels: 💎 styles

#2202 Refactors counting and room
  src/components/molecules/CallOutMessageForm/CallOutMessageForm.tsx
  src/components/molecules/EventDisplay/EventDisplay.tsx
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/molecules/TableComponent/TableComponent.tsx
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AdminVenueView/components/RunTabUserInfo/RunTabUserInfo.tsx
  src/components/organisms/EventModal/EventModal.tsx
  src/components/templates/AnimateMap/hooks/useRecentLocationsUsers.ts
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Auditorium/components/SectionPreview/SectionPreview.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/PartyTitle/PartyTitle.tsx
  src/components/templates/PartyMap/components/RoomAttendance.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/auditorium/useAllAuditoriumSections.ts
  src/hooks/auditorium/useAuditoriumSection.ts
  src/hooks/useIsOnline.ts
  src/hooks/useRoom.ts
  src/hooks/useRoomRecentUsersList.ts
  src/hooks/users/useRecentLocationUsers.ts
  src/hooks/users/useRecentVenueUsers.ts
  src/hooks/users/useRecentWorldUsers.ts
  src/hooks/users/useVisitedLocationsUser.ts
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Questions.tsx
  src/pages/Account/helpers.ts
  src/pages/EmergencyViewPage/EmergencyViewPageRooms.tsx
  src/pages/EmergencyViewPage/EmergencyViewRoom.tsx
  src/pages/FriendShipPage/FriendShipPage.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/store/api/worldUsers.ts
  src/types/User.ts
  src/utils/filter.ts
  src/utils/selectors.ts
  src/utils/string.ts
  src/utils/user.ts
  src/utils/userLocation.ts
Labels: 🐛 bug, :1234: counting

#2288 Removes useConnect for all venues
  src/pages/VenuePage/VenuePage.tsx
Labels: 🐛 bug

#2289 [staging] Backport default dotted frame for focused buttons
  src/scss/global.scss
Labels: 🐛 bug, ✨ UI/UX, 💎 styles, :beginner: good first review, backport

#2287 Embed function refactoring
  src/components/molecules/Jukebox/Jukebox.tsx
  src/components/organisms/VideoModal/VideoModal.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Embeddable/Embeddable.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/hooks/jukebox.ts
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/entrance/WelcomeVideo/WelcomeVideo.tsx
  src/settings.ts
  src/utils/ConvertToEmbeddableUrl.tsx
  src/utils/embeddableUrl.ts
  src/utils/event.ts
  src/utils/url.ts
  tsconfig.json
Labels: 🐛 bug

#2284 Feature/Admin v3 - Event start & end time
  functions/venue.js
  src/api/admin.ts
  src/components/organisms/AdminVenueView/components/DateTimeField/DateTimeField.scss
  src/components/organisms/AdminVenueView/components/DateTimeField/DateTimeField.tsx
  src/components/organisms/AdminVenueView/components/DateTimeField/index.ts
  src/components/organisms/AdminVenueView/components/TabFooter/TabFooter.tsx
  src/components/organisms/AdminVenueView/components/Timing/Timing.scss
  src/components/organisms/AdminVenueView/components/Timing/Timing.tsx
  src/hooks/useVenueScheduleEvents.ts
  src/pages/Admin/Admin_v2.tsx
  src/types/venues.ts
  src/utils/time.ts
Labels: 💎 styles

#2268 add navbar to admin v3 advanced settings and venue view
  src/components/molecules/EditRoomForm/EditRoomForm.scss
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBarLogin.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.scss
  src/components/organisms/AdminVenueView/components/TabFooter/TabFooter.scss
  src/pages/Admin/AdvancedSettings/AdvancedSettings.scss
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/EntranceExperience/EntranceExperience.scss
  src/pages/Admin/EntranceExperience/EntranceExperience.tsx
  src/pages/Admin/Venue/VenueWizard/Create/VenueWizardCreate.tsx
  src/pages/Admin/Venue/VenueWizard/Edit/VenueWizardEdit.tsx
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#2296 Feature/Admin v3 added Map background placeholder when it's missed
  src/components/molecules/MapBackgroundPlaceholder/MapBackgroundPlaceholder.scss
  src/components/molecules/MapBackgroundPlaceholder/MapBackgroundPlaceholder.tsx
  src/components/molecules/MapBackgroundPlaceholder/index.ts
  src/components/organisms/AdminVenueView/components/Timing/Timing.scss
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.scss
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/scss/constants.scss
Labels: 💎 styles

#2291 Fetch user on user profile modal opening
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/molecules/JazzbarTableComponent/JazzbarTableComponent.tsx
  src/components/molecules/Jukebox/Jukebox.tsx
  src/components/molecules/Loading/Loading.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/TableComponent/TableComponent.tsx
  src/components/molecules/UserList/UserList.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.tsx
  src/components/organisms/NewProfileModal/NewProfileModal.scss
  src/components/organisms/NewProfileModal/NewProfileModal.tsx
  src/components/organisms/NewProfileModal/NewProfileModalBody/NewProfileModalBody.tsx
  src/components/organisms/NewProfileModal/NewProfileModalBody/index.ts
  src/components/organisms/NewProfileModal/useCurrentModalUser.tsx
  src/components/templates/AnimateMap/components/PlayerContextMenu/PlayerContextMenu.tsx
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.tsx
  src/hooks/useProfileModalControls.ts
  src/hooks/useShowHide.ts
  src/hooks/useUser.ts
  src/settings.ts
  src/store/actions/UserProfile.ts
  src/store/reducers/UserProfile.ts
  src/types/Firestore.ts
  src/utils/promise.ts
  src/utils/selectors.ts
Labels: 💎 styles

#2278 add venue sort dropdown to admin v3
  src/components/organisms/AdminDashboard/AdminDashboard.scss
  src/components/organisms/AdminDashboard/AdminDashboard.tsx
  src/components/organisms/AdminDashboard/index.ts
  src/components/organisms/AdminVenues/AdminVenues.tsx
  src/components/organisms/AdminVenues/index.ts
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/AppRouter.jsx
  src/pages/Admin/Admin_v2.tsx
  src/scss/constants.scss
  src/utils/url.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#2256 User profile modal enhancements
  src/components/atoms/CenterContent/CenterContent.tsx
  src/components/atoms/ImageOverlay/ImageOverlay.tsx
  src/components/molecules/DefaultAvatars/DefaultAvatars.tsx
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.scss
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalRoundIcon/ProfileModalRoundIcon.scss
  src/components/organisms/NewProfileModal/components/ProfileModalRoundIcon/ProfileModalRoundIcon.tsx
  src/components/organisms/NewProfileModal/components/buttons/EditProfileModalButtons/EditProfileModalButtons.scss
  src/components/organisms/NewProfileModal/components/buttons/EditProfileModalButtons/EditProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/ProfileModalButtons.scss
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/ProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicInfo/ProfileModalBasicInfo.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalEditBasicInfo/ProfileModalEditBasicInfo.scss
  src/components/organisms/NewProfileModal/components/header/ProfileModalEditBasicInfo/ProfileModalEditBasicInfo.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/ProfileModalEditLink/ProfileModalEditLink.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/ProfileModalEditLinks.tsx
  src/components/organisms/NewProfileModal/profileModalStyles.scss
Labels: 💎 styles

#2285 Add Algolia for searching users in NavBar
  package-lock.json
  package.json
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/NavSearchBar/NavSearchResult.tsx
  src/components/molecules/PrivateRecipientSearchInput/PrivateRecipientSearchInput.scss
  src/components/molecules/PrivateRecipientSearchInput/PrivateRecipientSearchInput.tsx
  src/components/molecules/PrivateRecipientSearchInput/index.ts
  src/hooks/algolia/context.tsx
  src/hooks/algolia/useAlgoliaSearch.ts
  src/index.tsx
  src/secrets.ts
  src/settings.ts
  src/types/algolia.ts
  src/utils/string.ts
Labels: dependencies, 💎 styles

#2303 Remove IS_BURN and the unused code behind the flag
  .env.example
  src/components/molecules/LoadingPage/LoadingPage.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/GiftTicketModal/GiftTicketModal.scss
  src/components/organisms/GiftTicketModal/GiftTicketModal.tsx
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Profile.tsx
  src/pages/Account/Venue/VenueMapEdition/PlayaContainer.tsx
  src/pages/Account/Venue/VenueMapEdition/index.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/secrets.ts
  src/settings.ts
Labels: 💥 tech-debt, 💎 styles, 💻 eng-QoL, :beginner: good first review

#2290 [scripts] Replaces the delimeter in the add-screening-room script
  scripts/add-screening-room-videos.ts
Labels: 💻 eng-QoL

#2271 [staging] The download full schedule box animates at a different time than the rest of the sidebar
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

#2131 Make ConfirmationModal more general
  src/components/atoms/AccessDeniedModal/AccessDeniedModal.tsx
  src/components/atoms/ConfirmationModal/ConfirmationModal.scss
  src/components/atoms/ConfirmationModal/ConfirmationModal.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/scss/constants.scss
Labels: :muscle: enhancement, 💎 styles

#2279 add delete venue button to admin v3
  src/components/atoms/ButtonNG/ButtonNG.scss
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/LoadingSpinner/LoadingSpinner.tsx
  src/components/atoms/LoadingSpinner/index.ts
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.scss
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/VenueDeleteModal.scss
  src/pages/Admin/Venue/VenueDeleteModal.tsx
  src/utils/url.ts
Labels: 💎 styles

#2310 Move ./src/settings.ts into ./src/settings/index.ts
  src/settings/index.ts
Labels: :muscle: enhancement, 💻 eng-QoL, :building_construction: architecture

#2314 Updated Modal popup styles
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
Labels: 💎 styles, :beginner: good first review

#2307 Refactors related venues usage
  src/api/venue.ts
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/DefaultAvatars/DefaultAvatars.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicTextInfo/ProfileModalBasicTextInfo.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalEditBasicInfo/ProfileModalEditBasicInfo.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/components/templates/AnimateMap/hooks/useRelatedPartymapRooms.ts
  src/components/templates/PartyMap/PartyMap.tsx
  src/hooks/useProfileQuestions.ts
  src/hooks/useRelatedVenues.tsx
  src/hooks/useSovereignVenue.ts
  src/hooks/useVenueScheduleEvents.ts
  src/hooks/useVenueUserStatuses.ts
  src/hooks/users/useWorldUsers.tsx
  src/pages/Account/Login.tsx
  src/pages/Account/Questions.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/store/actions/SovereignVenue.ts
  src/store/actions/index.ts
  src/store/reducers/SovereignVenue.ts
  src/store/reducers/index.ts
  src/types/Firestore.ts
  src/types/venues.ts
  src/utils/selectors.ts
  src/utils/venue.ts
Labels: :x: do-not-merge, 🏎️ performance

#2286 Adds cron function to update venues every 5 minutes
  functions/index.js
  functions/package.json
  functions/scheduled.js
  src/components/molecules/Jukebox/Jukebox.tsx
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/VenuePartygoers/VenuePartygoers.tsx
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/RoomAttendance.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/users/index.ts
  src/hooks/users/useRecentLocationUsers.ts
  src/hooks/users/useRecentVenueUsers.ts
  src/pages/EmergencyViewPage/EmergencyViewRoom.tsx
  src/types/venues.ts
  src/utils/venue.ts
Labels: dependencies, 💡 new-feature, :1234: counting

#2317 Fixes build errors
  functions/world.js
  src/components/molecules/NavBar/NavBar.tsx
Labels: 🐛 bug

#2319 Fixes build errors
  functions/index.js
  functions/scheduled.js
  src/hooks/useRelatedVenues.tsx
  src/types/Firestore.ts
Labels: 🐛 bug

#2320 Fixes fetch bug
  src/utils/venue.ts
Labels: 🐛 bug

#2298 Feature/Admin V3 Timing Tab - Experience Listings Split by Space
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.scss
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/components/organisms/TimingSpace/TimingSpace.scss
  src/components/organisms/TimingSpace/TimingSpace.tsx
  src/components/organisms/TimingSpace/index.ts
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/pages/Admin/Admin.tsx
  src/pages/Admin/EventsComponent.tsx
Labels: 💎 styles

#2324 Replaces useRecentUsers with recentUserSample
  functions/package-lock.json
  functions/package.json
  functions/scheduled.js
  src/components/molecules/EventDisplay/EventDisplay.tsx
  src/components/molecules/EventDisplay/index.ts
  src/components/molecules/OnlineStats/OnlineStats.scss
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/OnlineStats/img/people-icon.png
  src/components/molecules/OnlineStats/index.ts
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/molecules/VenueInfoEvents/VenueInfoEvents.scss
  src/components/molecules/VenueInfoEvents/VenueInfoEvents.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Auditorium/components/SectionPreview/SectionPreview.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/RoomAttendance.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/hooks/auditorium/useAllAuditoriumSections.ts
  src/hooks/auditorium/useAuditoriumSection.ts
Labels: 🐛 bug, dependencies, :1234: counting, 💎 styles

#2323 chat sidebar width decreased
  src/scss/constants.scss
Labels: ✨ UI/UX, 💎 styles, 🏃‍♂️🏃‍♀️ sprint 23

#2330 Update AppRouter
  src/components/organisms/AppRouter/AppRouter.tsx
Labels: 🐛 bug, P1 - Critical, admin, :beginner: good first review

#2325 [staging] Unify Admin NG visuals for Spaces, Timing and Run
  src/components/atoms/AdminRestricted/AdminRestricted.scss
  src/components/molecules/EditRoomForm/EditRoomForm.scss
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/AdminPanel/AdminPanel.scss
  src/components/organisms/AdminVenueView/components/AdminPanel/AdminPanel.tsx
  src/components/organisms/AdminVenueView/components/AdminPanel/index.ts
  src/components/organisms/AdminVenueView/components/AdminShowcase/AdminShowcase.scss
  src/components/organisms/AdminVenueView/components/AdminShowcase/AdminShowcase.tsx
  src/components/organisms/AdminVenueView/components/AdminShowcase/index.ts
  src/components/organisms/AdminVenueView/components/AdminSidebar/AdminSidebar.scss
  src/components/organisms/AdminVenueView/components/AdminSidebar/AdminSidebar.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebar/index.ts
  src/components/organisms/AdminVenueView/components/AdminSidebarTitle/AdminSidebarTitle.scss
  src/components/organisms/AdminVenueView/components/AdminSidebarTitle/AdminSidebarTitle.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarTitle/index.ts
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.scss
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.scss
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/index.ts
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.scss
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/AdminVenueView/components/TabFooter/TabFooter.scss
  src/components/organisms/AdminVenueView/components/TabFooter/TabFooter.tsx
  src/components/organisms/AdminVenueView/components/Timing/Timing.scss
  src/components/organisms/AdminVenueView/components/Timing/Timing.tsx
  src/scss/constants.scss
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles, admin, 🏃‍♂️🏃‍♀️ sprint 23

#2326 Add linkTo capability to non-isLink ButtonNG
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/utils/url.ts
Labels: :muscle: enhancement

#2322 Mobile Chat optimisation
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
Labels: 💎 styles, 🏃‍♂️🏃‍♀️ sprint 23

#2333 Removes world users hooks + eliminate its usage to seated users
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/MapCell/MapCell.tsx
  src/components/molecules/MapCell/index.ts
  src/components/organisms/AdminVenueView/components/RunTabUserInfo/RunTabUserInfo.tsx
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/ProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicTextInfo/ProfileModalBasicTextInfo.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/MapGrid.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/PosterPage/usePosterVideo.ts
  src/hooks/chats/privateChats/useOnlineUsersToDisplay.ts
  src/hooks/useIsOnline.ts
  src/hooks/useRoomRecentUsersList.ts
  src/hooks/users/index.ts
  src/hooks/users/useVisitedLocationsUser.ts
  src/hooks/users/useWorldUserLocation.tsx
  src/hooks/users/useWorldUsers.tsx
  src/hooks/users/useWorldUsersById.ts
  src/settings/index.ts
Labels: :1234: counting, 🏎️ performance

#2237 [staging] Minimal viable solution for displaying more error info in VenueDetailsForm
  src/components/molecules/ImageInput/ImageCollectionInput.tsx
  src/pages/Admin/Venue/VenueDetailsForm.tsx
  src/pages/Admin/Venue/VenueDetailsFormErrors.tsx
  src/pages/Admin/Venue/VenueDetailsSubForm.tsx
  src/pages/Admin/Venue/VenueWizard.tsx
  src/scss/modifiers.scss
  src/types/jukebox.ts
  src/utils/venue.ts
Labels: 💎 styles

#2335 User experience refactor: remove legacy code
  src/components/molecules/JazzbarTableComponent/JazzbarTableComponent.tsx
  src/components/molecules/JazzbarTableComponent/index.ts
  src/components/molecules/MapPartygoerOverlay/MapPartygoerOverlay.scss
  src/components/molecules/MapPartygoerOverlay/MapPartygoerOverlay.tsx
  src/components/molecules/MapPartygoerOverlay/index.ts
  src/components/organisms/Room/LocalParticipant.tsx
  src/components/organisms/Room/Participant.tsx
  src/components/organisms/Room/Room.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.tsx
  src/components/templates/Jazzbar/components/JazzBarTableComponent/index.ts
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/hooks/usePartygoersOverlay.tsx
  src/types/User.ts
  src/utils/filter.ts
  src/utils/types.ts
Labels: 💎 styles

#2253 BM Add back button to help pages
  src/components/molecules/LoadingPage/LoadingPage.scss
  src/components/organisms/HelpCenter/HelpCenter.scss
  src/components/organisms/HelpCenter/HelpCenter.tsx
  src/scss/constants.scss
Labels: 💎 styles

#2306 Feature/Admin V3 - Toggle to force hide room label per portal
  src/components/atoms/PortalVisibility/PortalVisibility.scss
  src/components/atoms/PortalVisibility/PortalVisibility.tsx
  src/components/atoms/PortalVisibility/index.ts
  src/components/molecules/EditRoomForm/EditRoomForm.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/settings/index.ts
  src/settings/portal-settings.ts
  src/types/rooms.ts
  src/types/venues.ts
Labels: 💎 styles, 🏃‍♂️🏃‍♀️ sprint 23

#2265 Unify background banner img
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/atoms/VenueWithOverlay/VenueWithOverlay.scss
  src/components/atoms/VenueWithOverlay/VenueWithOverlay.tsx
  src/components/molecules/ImageInput/ImageInput.tsx
  src/components/molecules/Jukebox/Jukebox.scss
  src/components/molecules/ScheduleEvent/ScheduleEvent.scss
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/molecules/TableHeader/TableHeader.scss
  src/components/molecules/UserList/UserList.scss
  src/components/molecules/UserList/UserList.tsx
  src/components/organisms/Room/Participant.tsx
  src/components/templates/ArtPiece/ArtPiece.scss
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Auditorium/components/AllSectionPreviews/AllSectionPreviews.scss
  src/components/templates/Auditorium/components/AllSectionPreviews/AllSectionPreviews.tsx
  src/components/templates/Auditorium/components/Section/Section.scss
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/Auditorium/components/SectionPreview/SectionPreview.scss
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Embeddable/Embeddable.scss
  src/components/templates/Embeddable/Embeddable.tsx
  src/components/templates/ExternalRoom/ExternalRoom.scss
  src/components/templates/ExternalRoom/ExternalRoom.tsx
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/jazzbar-constants.scss
  src/pages/Admin/Admin.scss
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Details/Preview/DetailsPreview.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/VenueDetailsForm.tsx
  src/pages/Admin/Venue/VenueDetailsSubForm.tsx
  src/pages/Admin/Venue/VenueWizard/redux/reducer.ts
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
  src/scss/constants.scss
  src/scss/global.scss
  src/scss/modifiers.scss
  src/settings/index.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#2341 Fix/Admin V3 - Create Spaces bug fixes
  src/components/atoms/AdminRestricted/AdminRestricted.scss
  src/pages/Admin/Details/Form/DetailsForm.scss
  src/pages/Admin/Details/Form/DetailsForm.styles.ts
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/utils/venue.ts
Labels: :x: do-not-merge, 💎 styles

#2345 Fix/update admin rights restrictions
  src/components/atoms/AdminRestricted/AdminRestricted.scss
  src/components/atoms/AdminRestricted/AdminRestricted.tsx
  src/components/organisms/TimingSpace/TimingSpace.tsx
Labels: 💎 styles

#2342 Removes useFirestoreConnect from relatedVenues and seatedUsers
  package-lock.json
  package.json
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/components/templates/AnimateMap/hooks/useRecentLocationsUsers.ts
  src/hooks/auditorium/useAuditoriumSection.ts
  src/hooks/useAuditoriumSeatedUsers.ts
  src/hooks/useRelatedVenues.tsx
  src/hooks/users/index.ts
  src/hooks/users/useRecentVenueUsers.ts
  src/hooks/users/useRecentWorldUsers.ts
  src/hooks/users/useWorldUsers.tsx
  src/hooks/users/useWorldUsersById.ts
  src/index.tsx
  src/store/api/index.ts
  src/store/api/worldUsers.ts
  src/store/store.ts
  src/types/Firestore.ts
  src/utils/converters.ts
  src/utils/selectors.ts
Labels: dependencies

#2347 Fixes users list component
  src/components/molecules/UserList/UserList.scss
  src/components/molecules/UserList/UserList.tsx
  src/components/templates/Auditorium/components/SectionPreview/SectionPreview.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/types/auditorium.ts
Labels: 🐛 bug, 💎 styles

#2348 Increase specifiity of the selector
  src/components/templates/Auditorium/components/SectionPreview/SectionPreview.scss
Labels: 🐛 bug, 💎 styles

#2313 [staging] New route mapping for Av1 and Av3 based on settings
  src/components/organisms/AdminDashboard/AdminDashboard.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/AdminV1Subrouter.tsx
  src/components/organisms/AppRouter/AdminV3Subrouter.tsx
  src/components/organisms/AppRouter/AppRouter.jsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/hooks/useSettings.ts
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/AdminVenueRoomsList.tsx
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/settings/index.ts
  src/settings/portalSettings.ts
  src/settings/urlSettings.ts
  src/settings/useSettingsDefaults.ts
  src/types/settings.ts
  src/utils/url.ts
Labels: :muscle: enhancement, :x: do-not-merge, 💥 tech-debt, admin, 🏃‍♂️🏃‍♀️ sprint 23

#1440 AAA I can set an announcement with funnels and CTA button
  functions/venue.js
  src/api/admin.ts
  src/api/bannerAdmin.ts
  src/assets/icons/close-icon.svg
  src/components/atoms/ConfirmationModal/ConfirmationModal.scss
  src/components/atoms/ConfirmationModal/ConfirmationModal.tsx
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.scss
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
  src/components/molecules/IframeAdmin/IframeAdmin.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.scss
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.scss
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Details/Form/DetailsForm.scss
  src/pages/Admin/Venue/AnnouncementOptions/AnnouncementOptions.scss
  src/pages/Admin/Venue/AnnouncementOptions/AnnouncementOptions.tsx
  src/pages/Admin/Venue/AnnouncementOptions/index.ts
  src/pages/Admin/Venue/AnnouncementStatus/AnnouncementStatus.scss
  src/pages/Admin/Venue/AnnouncementStatus/AnnouncementStatus.tsx
  src/pages/Admin/Venue/AnnouncementStatus/index.ts
  src/pages/Admin/Venue/AnnouncementStatus/statusHelpers.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/VenueAdminPage.scss
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/pages/Admin/Venue/VenueDetailsSubForm.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/constants.scss
  src/types/banner.ts
  src/types/venues.ts
Labels: :muscle: enhancement, 💎 styles

#1882 [scripts] add simulator script
  package-lock.json
  package.json
  scripts/lib/bot.ts
  scripts/lib/collections.ts
  scripts/lib/documents.ts
  scripts/lib/fetch.ts
  scripts/lib/guards.ts
  scripts/lib/helpers.ts
  scripts/lib/log.ts
  scripts/lib/runner.ts
  scripts/lib/types.ts
  scripts/lib/utils.ts
  scripts/load-test-user-location.ts
  scripts/simulation/chat.ts
  scripts/simulation/experience.ts
  scripts/simulation/seat.ts
  scripts/simulation/table.ts
  scripts/simulator.ts
  scripts/simulator/.gitignore
  scripts/simulator/create-bots.config.json5.example
  scripts/simulator/default.config.json5.example
  scripts/simulator/remove-bots.config.json5.example
  scripts/simulator/simulator.config.json5.example
  scripts/simulator/simulator.credentials.json5.example
Labels: dependencies, 💻 eng-QoL, 🏎️ performance, :test_tube: testing, 📜 scripts

#2336 Added photobooth to staging + remove from admin + fix display styles
  src/assets/icons/photobooth-icon.png
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/FriendShipPage/FriendShipPage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/settings/index.ts
Labels: 🐛 bug, 💡 new-feature, ✨ UI/UX, 💎 styles

#2354 Removes the legacy templates
  src/assets/icons/icon-room-externallink.svg
  src/components/molecules/VenueRoomItem/VenueRoomItem.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
  src/pages/FriendShipPage/FriendShipPage.scss
  src/pages/FriendShipPage/FriendShipPage.tsx
  src/pages/FriendShipPage/constants.ts
  src/pages/FriendShipPage/index.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/types/rooms.ts
  src/types/venues.ts
Labels: 💎 styles

#2357 Remove photobooth button from admin
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
Labels: 🐛 bug, :beginner: good first review

#2362 Fix/Unify language and buttons
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
  src/components/organisms/AdminVenueView/components/Timing/Timing.tsx
  src/components/organisms/TimingSpace/TimingSpace.scss
  src/components/organisms/TimingSpace/TimingSpace.tsx
Labels: 💎 styles

#2368 Add WorldsDashboard
  src/assets/images/admin/dashboard-arrow.svg
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/AdminShowcaseSubTitle/AdminShowcaseSubTitle.scss
  src/components/organisms/AdminVenueView/components/AdminShowcaseSubTitle/AdminShowcaseSubTitle.tsx
  src/components/organisms/AdminVenueView/components/AdminShowcaseSubTitle/index.ts
  src/components/organisms/AdminVenueView/components/AdminShowcaseTitle/AdminShowcaseTitle.scss
  src/components/organisms/AdminVenueView/components/AdminShowcaseTitle/AdminShowcaseTitle.tsx
  src/components/organisms/AdminVenueView/components/AdminShowcaseTitle/index.ts
  src/components/organisms/AdminVenueView/components/AdminSidebarSubTitle/AdminSidebarSubTitle.scss
  src/components/organisms/AdminVenueView/components/AdminSidebarSubTitle/AdminSidebarSubTitle.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSubTitle/index.ts
  src/components/organisms/AdminVenueView/components/AdminSidebarTitle/AdminSidebarTitle.tsx
  src/components/organisms/AdminVenueView/components/TabFooter/TabFooter.tsx
  src/components/organisms/AppRouter/AdminV3Subrouter.tsx
  src/pages/WorldsDashboard/WorldsDashboard.scss
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/pages/WorldsDashboard/index.ts
  src/scss/constants.scss
  src/settings/urlSettings.ts
Labels: 💎 styles

#2356 Refactors Auditorium into one-section use
  functions/index.js
  functions/triggered.js
  src/components/templates/Auditorium/components/AllSectionPreviews/AllSectionPreviews.tsx
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/hooks/auditorium/useAllAuditoriumSections.ts
  src/hooks/auditorium/useAuditoriumSection.ts
  src/settings/index.ts
  src/types/Firestore.ts
  src/types/venues.ts
  src/utils/converters.ts
  src/utils/selectors.ts
Labels: 💡 new-feature

#2365 Fix/User status inconsistencies
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/UserStatusManager/components/UserStatusPanel/UserStatusPanel.scss
  src/components/organisms/NewProfileModal/components/buttons/ProfileModalButtons/ProfileModalButtons.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Venue/VenueDetailsSubForm.tsx
  src/types/venues.ts
Labels: 💎 styles

#2373 Make mini-css-extract-plugin plugin ignore style order
  craco.config.js
  package.json
Labels: dependencies

#2360 Stop photobooth button from showing up in venues
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: 🐛 bug, ✨ UI/UX, :beginner: good first review, 🏃‍♀️🏃‍♂️ sprint 24

#2361 Dangling seated users fix
  functions/package.json
  functions/scheduled.js
  functions/triggered.js
  scripts/lib/bot.ts
  scripts/lib/documents.ts
  scripts/update-auditorium-recent-seated-users.ts
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/hooks/useUpdateRecentSeatedUsers.ts
  src/settings/index.ts
  src/types/venues.ts
Labels: dependencies

#2367 [BM feature] move modal styles to staging
  src/components/templates/PartyMap/components/Map/Map.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.scss
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.scss
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/PartyMap/components/index.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles, :iphone: mobile

#2366 Unified AdminSidebar style
  src/components/molecules/EditRoomForm/EditRoomForm.scss
  src/components/molecules/EditRoomForm/EditRoomForm.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.scss
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/AdminShowcase/AdminShowcase.scss
  src/components/organisms/AdminVenueView/components/AdminSidebar/AdminSidebar.scss
  src/components/organisms/AdminVenueView/components/AdminSidebarFooter/AdminSidebarFooter.scss
  src/components/organisms/AdminVenueView/components/AdminSidebarFooter/AdminSidebarFooter.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarFooter/index.ts
  src/components/organisms/AdminVenueView/components/DateTimeField/DateTimeField.scss
  src/components/organisms/AdminVenueView/components/DateTimeField/DateTimeField.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.scss
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/AdminVenueView/components/TabFooter/TabFooter.scss
  src/components/organisms/AdminVenueView/components/TabFooter/TabFooter.tsx
  src/components/organisms/AdminVenueView/components/TabFooter/index.ts
  src/components/organisms/AdminVenueView/components/Timing/Timing.scss
  src/components/organisms/AdminVenueView/components/Timing/Timing.tsx
  src/pages/WorldsDashboard/WorldsDashboard.scss
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/scss/constants.scss
Labels: 💎 styles

#2377 Follow up to 2361
  functions/package.json
  functions/triggered.js
Labels: dependencies

#2359 Feature/build re-usable dropdown
  src/components/atoms/Dropdown/Dropdown.scss
  src/components/atoms/Dropdown/Dropdown.tsx
  src/components/atoms/Dropdown/index.ts
  src/components/atoms/SpacesDropdown/SpacesDropdown.scss
  src/components/atoms/SpacesDropdown/SpacesDropdown.tsx
  src/components/atoms/SpacesDropdown/index.ts
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.scss
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.tsx
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.tsx
  src/components/organisms/AdminDashboard/AdminDashboard.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.scss
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/settings/index.ts
  src/settings/spacesSettings.ts
Labels: 💎 styles

#2339 Add taxon for room and replace UI occurences with it
  functions/taxonomy.js
  functions/venue.js
  functions/video.js
  scripts/add-screening-room-videos.ts
  src/components/molecules/EditRoomForm/EditRoomForm.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/VenueRoomItem/VenueRoomItem.tsx
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/RoomIcon/RoomIcon.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/ScreeningRoom/ScreeningRoom.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminEventModal.tsx
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/AdminVenueRoomsList.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/pages/Admin/Venue/Rooms/RoomDeleteModal.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/VenueDetailsSubForm.tsx
  src/settings/index.ts
  src/settings/taxonomy.ts
Labels: :muscle: enhancement, 💥 tech-debt, ✨ UI/UX, 🏃‍♂️🏃‍♀️ sprint 23

#2372 Move and rename DEFAULT_SHOW_REACTIONS -> DEFAULT_SETTING_SHOW_REACTIONS
  src/hooks/useSettings.ts
  src/settings/index.ts
  src/settings/useSettingsDefaults.ts
Labels: 💻 eng-QoL, :beginner: good first review
