Repository sparkletown/sparkle, pull requests merged in 2021-07, with the labels that each got.

#1704 [env/github] Replaces github handle with firstName in the welcoming message
  src/pages/Account/Profile.tsx
Labels: :muscle: enhancement

#1709 refactor hooks/users.ts into individual files within hooks/users/*
  src/hooks/users.ts
  src/hooks/users/index.ts
  src/hooks/users/useConnectWorldUsers.ts
  src/hooks/users/useRecentLocationUsers.ts
  src/hooks/users/useRecentVenueUsers.ts
  src/hooks/users/useRecentWorldUsers.ts
  src/hooks/users/useWorldUsers.ts
  src/hooks/users/useWorldUsersById.ts
Labels: 💥 tech-debt

#1711 Override time on Sparkle & venues visited
  src/scss/customOverrides.scss
Labels: 💎 styles

#1708 add scripts/load-test-user-location.ts user location update load testing script
  scripts/load-test-user-location.ts
Labels: 🏎️ performance, 💻 eng-QoL

#1718 refactor *.js/*.jsx files to *.ts/*.tsx in src/
  src/components/molecules/LoadingPage/LoadingPage.tsx
  src/components/molecules/NavBar/index.ts
  src/components/molecules/PlayaTime/index.ts
  src/components/molecules/SecretPasswordForm/SecretPasswordForm.tsx
  src/components/molecules/SecretPasswordForm/index.ts
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/organisms/AppRouter/index.ts
  src/secrets.ts
  src/serviceWorker.ts
  src/validation.js
  src/wdyr.ts
Labels: 💥 tech-debt, 💻 eng-QoL

#1719 refactor AppRouter to split routes into subrouters
  src/components/organisms/AppRouter/AccountSubrouter.tsx
  src/components/organisms/AppRouter/AdminNGSubrouter.tsx
  src/components/organisms/AppRouter/AdminV1Subrouter.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/organisms/AppRouter/EnterSubrouter.tsx
  src/components/organisms/AppRouter/index.ts
  src/index.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/pages/VenuePage/index.ts
Labels: 💥 tech-debt

#1714 bump react-redux from 7.2.0 to 7.2.4
  package-lock.json
  package.json
Labels: dependencies, 🏎️ performance, 🐛 bug

#1720 remove unused jquery dependency + bootstrap import
  package-lock.json
  package.json
  src/index.tsx
Labels: dependencies, 💥 tech-debt

#1678 [env/github] Replace back to label with back
  src/components/molecules/NavBar/NavBar.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: ✨ UI/UX

#1738 created script for bulk creation of auditorium sections
  scripts/add-auditorium-sections.ts
Labels: 💡 new-feature

#1741 added github specific const + sort alphabetical order schedule rooms
  src/components/molecules/Schedule/Schedule.tsx
  src/settings.ts
  src/utils/schedule.ts
Labels: ✨ UI/UX, 💡 new-feature

#1687 add toggle showShoutouts feature to admin v1 + connected to Audience component + some related tech-debt cleanup
  functions/venue.js
  src/api/admin.ts
  src/components/molecules/CallOutMessageForm/CallOutMessageForm.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/settings.ts
  src/types/venues.ts
Labels: ✨ UI/UX, 💡 new-feature, 💥 tech-debt

#1721 refactor ChatMessageBox to extract EmojiPicker component + lazy load it
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/EmojiPicker/EmojiPicker.tsx
  src/components/molecules/EmojiPicker/index.ts
Labels: 🏎️ performance

#1726 refactor RenderMarkdown to extract RenderMarkdownInner component + lazy load it
  src/components/organisms/RenderMarkdown/RenderMarkdown.tsx
  src/components/organisms/RenderMarkdown/RenderMarkdownInner.tsx
Labels: 🏎️ performance

#1735 add CRACO + dedupe lodash imports from our bundle + prune unused lodash functions
  craco.config.js
  package-lock.json
  package.json
Labels: dependencies, 🏎️ performance, 💻 eng-QoL

#1737 refactor AppRouter / VenuePage / TemplateWrapper / WithNavigationBar to lazy load routes and split bundle
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/AdminV1Subrouter.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/pages/VenuePage/VenuePage.tsx
Labels: 🏎️ performance, 💥 tech-debt

#1696 fix event room finding logic used to determine event room url
  src/components/organisms/EventModal/EventModal.tsx
  src/utils/url.ts
Labels: 🐛 bug

#1676 fix AdminEventModal (admin v1) to show the correct errors for the 'room' field
  src/pages/Admin/AdminEventModal.tsx
Labels: ✨ UI/UX, 🐛 bug

#1712 fix NavSearchBar to filter out rooms that aren't enabled (and events in those rooms) from search results
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
Labels: 🐛 bug

#1747 Fixes chat display
  src/components/organisms/RenderMarkdown/RenderMarkdown.tsx
Labels: 🐛 bug

#1748 deploy staging -> master
  src/components/organisms/RenderMarkdown/RenderMarkdown.tsx
Labels: :rocket: deployment, 🐛 bug

#1749 deploy master -> github
  src/components/organisms/RenderMarkdown/RenderMarkdown.tsx
Labels: :rocket: deployment

#1751 hide glow from Auditorium v1 iframe
  src/scss/customOverrides.scss
Labels: 💎 styles

#1753 [env/github] fix hide glow from Auditorium v1 iframe + hide glow from reactions as well
  src/scss/customOverrides.scss
Labels: 🐛 bug, 💎 styles

#1703 refactor lastSeenAt / lastSeenIn out of main User document + associated refactors
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/molecules/TablesUserList/index.ts
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/PartyMap/PartyMap.scss
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/components/templates/Playa/AvatarPartygoers.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/users/index.ts
  src/hooks/users/useConnectWorldUsers.ts
  src/hooks/users/useRecentLocationUsers.ts
  src/hooks/users/useRecentVenueUsers.ts
  src/hooks/users/useRecentWorldUsers.ts
  src/hooks/users/useWorldUserLocation.tsx
  src/hooks/users/useWorldUsers.ts
  src/hooks/users/useWorldUsers.tsx
  src/hooks/users/useWorldUsersById.ts
  src/pages/FriendShipPage/FriendShipPage.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/settings.ts
  src/types/Firestore.ts
  src/types/User.ts
  src/utils/selectors.ts
  src/utils/user.ts
  src/utils/venue.ts
Labels: 🏎️ performance, 💎 styles, 💥 tech-debt

#1757 add WorldUsersProvider to admin v1
  src/hooks/users/index.ts
  src/pages/Admin/Admin.tsx
Labels: 🐛 bug

#1532 add custom user statuses in admin v1 and venues
  functions/venue.js
  package-lock.json
  package.json
  src/api/admin.ts
  src/api/profile.ts
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.tsx
  src/components/molecules/UserStatusManager/UserStatusManager.scss
  src/components/molecules/UserStatusManager/UserStatusManager.tsx
  src/components/molecules/UserStatusManager/components/UserStatusPanel/UserStatusPanel.scss
  src/components/molecules/UserStatusManager/components/UserStatusPanel/UserStatusPanel.tsx
  src/components/molecules/UserStatusManager/components/UserStatusPanel/index.ts
  src/components/molecules/UserStatusManager/index.ts
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/hooks/useProfileStatus.ts
  src/hooks/useVenueUserStatuses.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/settings.ts
  src/types/Firestore.ts
  src/types/User.ts
  src/types/venues.ts
Labels: dependencies, 💎 styles

#1760 Fixes the merge conflicts
  src/api/admin.ts
  src/components/templates/TalkShowStudio/components/Audience/Audience.tsx
  src/hooks/useStage.ts
  src/types/User.ts
Labels: P0 - Emergency/Fire :fire::fire::fire:, 🐛 bug

#1764 [env/github] Change all back button text to `Back`
  src/components/molecules/NavBar/NavBar.tsx
  src/components/templates/Auditorium/components/AllSectionPreviews/AllSectionPreviews.tsx
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
Labels: :muscle: enhancement

#1765 Add padding to conversation space top
  src/components/templates/ConversationSpace/ConversationSpace.scss
Labels: ✨ UI/UX, 💎 styles

#1754 fix 'black screen of death' infinite loading during new account onboarding flow + related tech debt
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/organisms/AppRouter/AccountSubrouter.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/EnterSubrouter.tsx
  src/hooks/useVenueId.ts
  src/pages/Account/Account.scss
  src/pages/Account/CodeOfConduct.scss
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Profile.tsx
  src/pages/Account/Questions.scss
  src/pages/Account/Questions.tsx
  src/pages/Account/Step2.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenuePage/VenuePage.tsx
Labels: 🐛 bug, 💎 styles, 💥 tech-debt

#1762 fix Error: <WorldUsersProvider/> not found in VenueLandingPage + some associated tech debt
  src/pages/VenueLandingPage/VenueLandingPage.tsx
Labels: 🐛 bug, 💥 tech-debt

#1766 Deploy staging -> master
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/organisms/AppRouter/AccountSubrouter.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/EnterSubrouter.tsx
  src/hooks/useVenueId.ts
  src/pages/Account/Account.scss
  src/pages/Account/CodeOfConduct.scss
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Profile.tsx
  src/pages/Account/Questions.scss
  src/pages/Account/Questions.tsx
  src/pages/Account/Step2.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
Labels: :rocket: deployment, 💎 styles

#1771 bump date-fns from 2.12.0 to 2.21.1
  package-lock.json
  package.json
Labels: dependencies

#1734 reduce firebase preview deploy expiry from 14 days to 7 days
  .github/workflows/firebase-hosting-pull-request.yml
Labels: :desktop_computer: infrastructure, 💻 eng-QoL, 🔨🍷 break-glass-approval-bypass

#1767 Deploy master -> env/github
  src/components/organisms/AppRouter/AccountSubrouter.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/EnterSubrouter.tsx
  src/hooks/useVenueId.ts
  src/pages/Account/Account.scss
  src/pages/Account/CodeOfConduct.scss
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Profile.tsx
  src/pages/Account/Questions.scss
  src/pages/Account/Questions.tsx
  src/pages/Account/Step2.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
Labels: :rocket: deployment, 💎 styles

#1773 Fixes the sizes of the seats
  src/components/templates/Auditorium/components/Section/Section.scss
Labels: 🐛 bug, 💎 styles

#1713 [sub-PR] VenuePage load performance improvements
  public/index.html
  src/components/organisms/EventModal/EventModal.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/hooks/usePreloadAssets.ts
  src/hooks/useRelatedVenues.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/VenueList/VenueList.tsx
  src/pages/VenuePage/VenuePage.tsx
Labels: 🏎️ performance

#1776 Deploy staging -> master
  .github/workflows/firebase-hosting-pull-request.yml
  package-lock.json
  package.json
  src/components/organisms/EditProfileModal/EditProfileModal.tsx
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Auditorium/components/Section/Section.scss
  src/pages/Account/Login.tsx
  src/pages/Account/Questions.tsx
  src/pages/Admin/EntranceExperience/EntranceExperience.tsx
  src/pages/Admin/EntranceExperience/EntranceExperience.types.ts
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
Labels: :rocket: deployment, dependencies, 💎 styles

#1777 deploy master -> env/github
  .github/workflows/firebase-hosting-pull-request.yml
  package-lock.json
  package.json
  src/components/organisms/EditProfileModal/EditProfileModal.tsx
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Auditorium/components/Section/Section.scss
  src/pages/Account/Login.tsx
  src/pages/Account/Questions.tsx
  src/pages/Admin/EntranceExperience/EntranceExperience.tsx
  src/pages/Admin/EntranceExperience/EntranceExperience.types.ts
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
Labels: :rocket: deployment, dependencies, 💎 styles

#1769 fix Error: <WorldUsersProvider/> not found in a more holistic way
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/hooks/useRelatedVenues.tsx
  src/hooks/users/index.ts
  src/hooks/users/useWorldUserLocation.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/VenueWizard.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenueLandingPage/index.ts
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: 🐛 bug

#1728 add ability for users to create a new table in JazzBar / ConversationSpace
  src/components/molecules/StartTable/StartTable.scss
  src/components/molecules/StartTable/StartTable.tsx
  src/components/molecules/StartTable/index.ts
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/templates/ConversationSpace/constants.ts
  src/components/templates/Jazzbar/JazzTab/constants.ts
  src/settings.ts
  src/utils/table.ts
Labels: :muscle: enhancement, 💎 styles

#1781 quick fix for toggle/etc styles in DetailsForm in admin (v1)
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: ✨ UI/UX, 🐛 bug

#1761 fix ConversationSpace back buttons at tables + minor styling tweaks
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/ConversationSpace/index.ts
  src/hooks/useRelatedVenues.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: ✨ UI/UX, 💎 styles

#1782 fix TypeError: Cannot read property 'app_id' of undefined + add assertValidAgoraConfig
  functions/src/utils/agora.js
  functions/video.js
Labels: 🐛 bug

#1775 refactor legacy checkbox toggles to use our standard Toggler component
  src/components/atoms/Toggler/Toggler.tsx
  src/components/molecules/TableFooter/TableFooter.tsx
  src/components/molecules/TableFooter/index.ts
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TableHeader/index.ts
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/Room/Modal/Item/Item.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: 🐛 bug, 💥 tech-debt

#1780 Deploy staging -> master
  functions/src/utils/agora.js
  functions/video.js
  src/components/atoms/Toggler/Toggler.tsx
  src/components/molecules/StartTable/StartTable.scss
  src/components/molecules/StartTable/StartTable.tsx
  src/components/molecules/StartTable/index.ts
  src/components/molecules/TableFooter/TableFooter.tsx
  src/components/molecules/TableFooter/index.ts
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TableHeader/index.ts
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/ConversationSpace/constants.ts
  src/components/templates/ConversationSpace/index.ts
  src/components/templates/Jazzbar/JazzTab/constants.ts
  src/hooks/useRelatedVenues.tsx
  src/hooks/users/index.ts
  src/hooks/users/useWorldUserLocation.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/Room/Modal/Item/Item.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/VenueWizard.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenueLandingPage/index.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/settings.ts
  src/utils/table.ts
Labels: :rocket: deployment, 💎 styles

#1784 deploy master -> env/github
  functions/src/utils/agora.js
  functions/video.js
  src/components/atoms/Toggler/Toggler.tsx
  src/components/molecules/StartTable/StartTable.scss
  src/components/molecules/StartTable/StartTable.tsx
  src/components/molecules/StartTable/index.ts
  src/components/molecules/TableFooter/TableFooter.tsx
  src/components/molecules/TableFooter/index.ts
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TableHeader/index.ts
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/ConversationSpace/constants.ts
  src/components/templates/ConversationSpace/index.ts
  src/components/templates/Jazzbar/JazzTab/constants.ts
  src/hooks/useRelatedVenues.tsx
  src/hooks/users/index.ts
  src/hooks/users/useWorldUserLocation.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/Room/Modal/Item/Item.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/VenueWizard.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenueLandingPage/index.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/settings.ts
  src/utils/table.ts
Labels: :rocket: deployment, 💎 styles

#1783 fix WithNavigationBar to restore height: 100%
  src/components/organisms/WithNavigationBar/WithNavigationBar.scss
Labels: ✨ UI/UX, 🐛 bug, 💎 styles

#1785 deploy staging -> master
  src/components/organisms/WithNavigationBar/WithNavigationBar.scss
Labels: :rocket: deployment, 💎 styles

#1786 deploy master -> env/github
  src/components/organisms/WithNavigationBar/WithNavigationBar.scss
Labels: :rocket: deployment, 💎 styles

#1787 [env/github] update schedule event modal
  src/components/organisms/EventModal/EventModal.tsx
Labels: ✨ UI/UX

#1788 Add configuration for a new environment
  .circleci/config.yml
  .firebaserc
  firebase.json
  scripts/deploy-master-to-prod-envs
  src/index.tsx
Labels: :desktop_computer: infrastructure

#1790 Deploy master -> env/github
  .circleci/config.yml
  .firebaserc
  firebase.json
  scripts/deploy-master-to-prod-envs
  src/index.tsx
Labels: :rocket: deployment

#1794 Bump redux from 4.0.5 to 4.1.0
  package-lock.json
  package.json
Labels: dependencies

#1795 Bump @reduxjs/toolkit from 1.5.0 to 1.6.0
  package-lock.json
  package.json
Labels: dependencies

#1339 Unify reaction component
  public/sounds/sparkle.mp3
  public/sounds/sparkle.mpeg
  src/components/atoms/IFrame/IFrame.scss
  src/components/atoms/IFrame/IFrame.tsx
  src/components/atoms/Reaction/Reaction.scss
  src/components/atoms/Reaction/Reaction.tsx
  src/components/atoms/Reaction/index.ts
  src/components/molecules/ReactionsBar/ReactionsBar.scss
  src/components/molecules/ReactionsBar/ReactionsBar.tsx
  src/components/molecules/ReactionsBar/index.ts
  src/components/molecules/UserReactions/UserReactions.scss
  src/components/molecules/UserReactions/UserReactions.tsx
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Auditorium/components/Section/Section.scss
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/hooks/audio/useAudio.ts
  src/hooks/auditorium/useAuditoriumGrid.tsx
  src/hooks/auditorium/useAuditoriumSection.ts
  src/settings.ts
  src/types/reactions.ts
Labels: 💎 styles, 💥 tech-debt

#1798 Adds new auditorium to the settings
  src/settings.ts
Labels: 🐛 bug

#1799 fix admin v1 edit venue functionality
  functions/venue.js
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: 🐛 bug

#1797 Use EmptyProvider instead of React.Fragment in Provided
  src/components/organisms/AppRouter/Provided.tsx
Labels: 🐛 bug

#1803 Fixes the sovereign venue update issue
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: 🐛 bug

#1801 deploy staging -> master
  functions/venue.js
  package-lock.json
  package.json
  public/sounds/sparkle.mp3
  public/sounds/sparkle.mpeg
  src/components/atoms/IFrame/IFrame.scss
  src/components/atoms/IFrame/IFrame.tsx
  src/components/atoms/Reaction/Reaction.scss
  src/components/atoms/Reaction/Reaction.tsx
  src/components/atoms/Reaction/index.ts
  src/components/molecules/ReactionsBar/ReactionsBar.scss
  src/components/molecules/ReactionsBar/ReactionsBar.tsx
  src/components/molecules/ReactionsBar/index.ts
  src/components/molecules/UserReactions/UserReactions.scss
  src/components/molecules/UserReactions/UserReactions.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Auditorium/components/Section/Section.scss
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/hooks/audio/useAudio.ts
  src/hooks/auditorium/useAuditoriumGrid.tsx
  src/hooks/auditorium/useAuditoriumSection.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/settings.ts
  src/types/reactions.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1804 deploy master -> github
  functions/venue.js
  package-lock.json
  package.json
  public/sounds/sparkle.mp3
  src/components/atoms/IFrame/IFrame.scss
  src/components/atoms/IFrame/IFrame.tsx
  src/components/atoms/Reaction/Reaction.scss
  src/components/atoms/Reaction/Reaction.tsx
  src/components/atoms/Reaction/index.ts
  src/components/molecules/ReactionsBar/ReactionsBar.scss
  src/components/molecules/ReactionsBar/ReactionsBar.tsx
  src/components/molecules/ReactionsBar/index.ts
  src/components/molecules/UserReactions/UserReactions.scss
  src/components/molecules/UserReactions/UserReactions.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Auditorium/components/Section/Section.scss
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/hooks/audio/useAudio.ts
  src/hooks/auditorium/useAuditoriumGrid.tsx
  src/hooks/auditorium/useAuditoriumSection.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/settings.ts
  src/types/reactions.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1802 hide back button in NavBar within admin panel
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: 🐛 bug

#1611 update main + scripts/ README's
  README.md
  docs/bootstrap-application.md
  docs/create-new-environment.md
  docs/firebase-emulators.md
  docs/getting-started.md
  docs/obtain-email-addresses.md
  docs/stripe-configuration.md
  docs/twilio-configuration.md
  scripts/README.md
Labels: 📚 documentation

#1809 Adds conditional/lazy loading for long lists
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.scss
Labels: 🏎️ performance, 💎 styles

#1808 Removes z-index from the avatar
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/scss/constants.scss
Labels: 🐛 bug, 💎 styles

#1810 deploy staging -> master
  README.md
  docs/bootstrap-application.md
  docs/create-new-environment.md
  docs/firebase-emulators.md
  docs/getting-started.md
  docs/obtain-email-addresses.md
  docs/stripe-configuration.md
  docs/twilio-configuration.md
  scripts/README.md
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.tsx
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/UserStatusManager/UserStatusManager.tsx
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.scss
  src/components/organisms/ProfileModal/ProfilePopoverContent.scss
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/hooks/useProfileStatus.ts
  src/hooks/useVenueUserStatuses.ts
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/scss/constants.scss
  src/settings.ts
  src/types/User.ts
Labels: :rocket: deployment, 💎 styles

#1812 deploy master -> env/github
  README.md
  docs/bootstrap-application.md
  docs/create-new-environment.md
  docs/firebase-emulators.md
  docs/getting-started.md
  docs/obtain-email-addresses.md
  docs/stripe-configuration.md
  docs/twilio-configuration.md
  scripts/README.md
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.tsx
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/UserStatusManager/UserStatusManager.tsx
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.scss
  src/components/organisms/ProfileModal/ProfilePopoverContent.scss
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/hooks/useProfileStatus.ts
  src/hooks/useVenueUserStatuses.ts
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/scss/constants.scss
  src/settings.ts
  src/types/User.ts
Labels: :rocket: deployment, 💎 styles

#1813 deploy env/github -> env/summit-hack
  README.md
  docs/bootstrap-application.md
  docs/create-new-environment.md
  docs/firebase-emulators.md
  docs/getting-started.md
  docs/obtain-email-addresses.md
  docs/stripe-configuration.md
  docs/twilio-configuration.md
  functions/venue.js
  package-lock.json
  package.json
  public/sounds/sparkle.mp3
  scripts/README.md
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/atoms/IFrame/IFrame.scss
  src/components/atoms/IFrame/IFrame.tsx
  src/components/atoms/Reaction/Reaction.scss
  src/components/atoms/Reaction/Reaction.tsx
  src/components/atoms/Reaction/index.ts
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.tsx
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/ReactionsBar/ReactionsBar.scss
  src/components/molecules/ReactionsBar/ReactionsBar.tsx
  src/components/molecules/ReactionsBar/index.ts
  src/components/molecules/UserReactions/UserReactions.scss
  src/components/molecules/UserReactions/UserReactions.tsx
  src/components/molecules/UserStatusManager/UserStatusManager.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.scss
  src/components/organisms/ProfileModal/ProfilePopoverContent.scss
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/Audience.tsx
  src/components/templates/Auditorium/components/Section/Section.scss
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/hooks/audio/useAudio.ts
  src/hooks/auditorium/useAuditoriumGrid.tsx
  src/hooks/auditorium/useAuditoriumSection.ts
  src/hooks/useProfileStatus.ts
  src/hooks/useVenueUserStatuses.ts
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/scss/constants.scss
  src/settings.ts
  src/types/User.ts
  src/types/reactions.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1811 [env/github] Remove online users list
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.scss
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
Labels: 🐛 bug, 💎 styles

#1815 fix event modal url: remove all the spaces in the URL
  src/utils/url.ts
Labels: 🐛 bug

#1755 [env/github] fix auditorium v1 glow + badges location hiding
  src/scss/customOverrides.scss
Labels: 💎 styles

#1814 fixed undefined question length const
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Questions.tsx
Labels: ✨ UI/UX, 🐛 bug

#1817 [env/github] make unclickable rooms look unclickable
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
Labels: ✨ UI/UX

#1825 deploy staging -> master
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Questions.tsx
  src/utils/url.ts
Labels: :rocket: deployment

#1826 deploy master -> env/github
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Questions.tsx
  src/utils/url.ts
Labels: :rocket: deployment

#1827 deploy env/github -> env/summit-hack
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.scss
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Questions.tsx
  src/scss/customOverrides.scss
  src/settings.ts
  src/types/reactions.ts
  src/utils/url.ts
Labels: :rocket: deployment, 💎 styles

#1828 [env/github] changed footer url link to sparklespaces
  src/components/molecules/Footer/Footer.tsx
  src/settings.ts
Labels: ✨ UI/UX, 🐛 bug

#1822 fixed thread reply state reset after sending a message
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
Labels: 🐛 bug

#1706 add ability to hide full or locked tables
  src/components/molecules/TablesControlBar/TablesControlBar.scss
  src/components/molecules/TablesControlBar/TablesControlBar.tsx
  src/components/molecules/TablesControlBar/index.ts
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
Labels: :muscle: enhancement, 💎 styles

#1818 cleanup docs a bit + fix some broken links
  docs/bootstrap-application.md
  docs/create-new-environment.md
  docs/firebase-emulators.md
  docs/getting-started.md
  docs/twilio-configuration.md
Labels: 📚 documentation

#1824 refactor VenueChat and related for performance
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/VenueChat.tsx
  src/hooks/useRoles.ts
  src/hooks/useUser.ts
  src/hooks/useVenueChat.ts
  src/hooks/useVenueUserStatuses.ts
  src/pages/Admin/Admin_v2.tsx
Labels: 🏎️ performance, 💥 tech-debt

#1836 bump date fns from 2.21.1 to 2.22.1
  package-lock.json
  package.json
Labels: dependencies

#1823 render LoadingPage while we wait for the redirect to complete in TemplateWrapper instead of showing invalid error
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: ✨ UI/UX, 🐛 bug

#1832 add clickable avatars to RoomModal
  src/components/molecules/UserList/UserList.tsx
  src/components/templates/Auditorium/components/SectionPreview/SectionPreview.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
Labels: :muscle: enhancement

#1829 Add function that calls addAdmin() on user creation
  functions/.runtimeconfig.json.example
  functions/auth.js
  functions/src/api/roles.js
  functions/venue.js
Labels: :lock: security, 💡 new-feature

#1729 [env/github] remove logrocket dependency
  package-lock.json
  package.json
  src/index.tsx
  src/secrets.ts
Labels: dependencies, 🏎️ performance

#1730 remove Zendesk dependency
  functions/venue.js
  src/api/admin.ts
  src/index.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/settings.ts
  src/types/venues.ts
  src/utils/loadScript.ts
  src/utils/zendesk.ts
Labels: 🏎️ performance, 💥 tech-debt

#1733 fix how short events are displayed in Schedule
  src/components/molecules/ScheduleEvent/ScheduleEvent.scss
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/scss/constants.scss
  src/settings.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1834 fixed calendar file export organizer field
  src/utils/calendar.ts
Labels: 🐛 bug

#1732 [env/github] remove MixPanel dependency
  package-lock.json
  package.json
  src/hooks/useMixpanel.ts
  src/index.tsx
  src/pages/VenuePage/VenuePage.tsx
Labels: dependencies, 🏎️ performance

#1837 fix user avatar upload
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
Labels: ✨ UI/UX, 🐛 bug

#1806 Fix/add loading state for Poll voting
  src/components/molecules/ChatPoll/ChatPoll.tsx
  src/components/organisms/RenderMarkdown/RenderMarkdown.tsx
  src/components/organisms/RenderMarkdown/RenderMarkdownInner.tsx
  src/hooks/useVenuePoll.ts
Labels: 🐛 bug

#1807 [env/github] refactor AgoraRTC clients from global scope to a useMemo within TalkShowStudio
  src/components/templates/TalkShowStudio/TalkShowStudio.tsx
  src/hooks/video/agora/useAgoraCamera.ts
  src/hooks/video/agora/useAgoraRemotes.ts
  src/hooks/video/agora/useAgoraScreenShare.ts
  src/types/agora.ts
Labels: 💥 tech-debt

#1839 Deploy staging -> master
  docs/bootstrap-application.md
  docs/create-new-environment.md
  docs/firebase-emulators.md
  docs/getting-started.md
  docs/twilio-configuration.md
  functions/.runtimeconfig.json.example
  functions/auth.js
  functions/src/api/roles.js
  functions/venue.js
  package-lock.json
  package.json
  src/api/admin.ts
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/ChatPoll/ChatPoll.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/molecules/ScheduleEvent/ScheduleEvent.scss
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/molecules/TablesControlBar/TablesControlBar.scss
  src/components/molecules/TablesControlBar/TablesControlBar.tsx
  src/components/molecules/TablesControlBar/index.ts
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/molecules/UserList/UserList.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/VenueChat.tsx
  src/components/organisms/RenderMarkdown/RenderMarkdown.tsx
  src/components/organisms/RenderMarkdown/RenderMarkdownInner.tsx
  src/components/templates/Auditorium/components/SectionPreview/SectionPreview.tsx
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/useRoles.ts
  src/hooks/useUser.ts
  src/hooks/useVenueChat.ts
  src/hooks/useVenuePoll.ts
  src/hooks/useVenueUserStatuses.ts
  src/index.tsx
  src/pages/Admin/Admin_v2.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/scss/constants.scss
  src/settings.ts
  src/types/venues.ts
  src/utils/calendar.ts
  src/utils/loadScript.ts
  src/utils/zendesk.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1840 deploy master -> env/githib
  docs/bootstrap-application.md
  docs/create-new-environment.md
  docs/firebase-emulators.md
  docs/getting-started.md
  docs/twilio-configuration.md
  functions/.runtimeconfig.json.example
  functions/auth.js
  functions/src/api/roles.js
  functions/venue.js
  package-lock.json
  package.json
  src/api/admin.ts
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/ChatPoll/ChatPoll.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/molecules/ScheduleEvent/ScheduleEvent.scss
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/molecules/TablesControlBar/TablesControlBar.scss
  src/components/molecules/TablesControlBar/TablesControlBar.tsx
  src/components/molecules/TablesControlBar/index.ts
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/molecules/UserList/UserList.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/VenueChat.tsx
  src/components/organisms/RenderMarkdown/RenderMarkdown.tsx
  src/components/organisms/RenderMarkdown/RenderMarkdownInner.tsx
  src/components/templates/Auditorium/components/SectionPreview/SectionPreview.tsx
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/useRoles.ts
  src/hooks/useUser.ts
  src/hooks/useVenueChat.ts
  src/hooks/useVenuePoll.ts
  src/hooks/useVenueUserStatuses.ts
  src/index.tsx
  src/pages/Admin/Admin_v2.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/scss/constants.scss
  src/settings.ts
  src/types/venues.ts
  src/utils/calendar.ts
  src/utils/loadScript.ts
  src/utils/zendesk.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1844 [env/github] increase loc update for user location
  src/settings.ts
Labels: 🏎️ performance

#1846 [env/github] hack out updateCurrentLocationData to reduce user location update spam
  src/pages/VenuePage/VenuePage.tsx
  src/utils/userLocation.ts
Labels: dependencies, 💎 styles

#1847 [env/github] Fix/remove useconnect
  src/hooks/users/useWorldUsers.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: 🏎️ performance

#1849 Improves section visuals
  src/components/templates/Auditorium/components/SectionPreview/SectionPreview.scss
Labels: 💎 styles

#1850 [env/github] Set default profile photo on Okta login
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
Labels: 🐛 bug

#1859 Change venue creation URL to avoid clash with other route
  src/components/organisms/AdminVenues/AdminVenues.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/pages/Admin/VenueList/VenueList.tsx
Labels: 🐛 bug

#1862 fix room toggle for hidden label
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: ✨ UI/UX, 🐛 bug

#1864 add margin to load more btn in ScreeningRoom
  src/components/templates/ScreeningRoom/ScreeningRoom.scss
Labels: 💎 styles

#1868 Deploy staging -> master
  src/components/organisms/AdminVenues/AdminVenues.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/templates/ScreeningRoom/ScreeningRoom.scss
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/VenueList/VenueList.tsx
Labels: 💎 styles

#1727 improve accessibility concerns in NavBar, NavBarSchedule, and MapRoom
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/atoms/ChatMessage/ChatMessage.tsx
  src/components/atoms/Reaction/Reaction.scss
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.scss
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/OnlineStats/OnlineStats.scss
  src/components/molecules/PollBox/PollBox.scss
  src/components/molecules/Schedule/Schedule.scss
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.scss
  src/components/molecules/TableComponent/TableComponent.scss
  src/components/molecules/VenueInfoEvents/VenueInfoEvents.scss
  src/components/organisms/AuthenticationModal/InitialForm/InitialForm.scss
  src/components/organisms/AuthenticationModal/InitialForm/InitialForm.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/EventModal/EventModal.scss
  src/components/organisms/EventModal/EventModal.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/ProfileModal/ProfilePopoverContent.scss
  src/components/organisms/RadioModal/RadioModal.tsx
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.scss
  src/components/templates/PartyMap/components/Map/Map.scss
  src/components/templates/PartyMap/components/Map/MapRoom.scss
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/Playa/Playa.scss
  src/pages/Account/Account.scss
  src/pages/Account/Login.scss
  src/pages/Account/Login.tsx
  src/pages/FriendShipPage/FriendShipPage.scss
  src/scss/global.scss
Labels: ✨ UI/UX, 💎 styles

#1855 add screening room addition script
  scripts/add-screening-room-videos.ts
Labels: :muscle: enhancement

#1435 remove unused legacy dependencies: three, three-obj-mtl-loader
  package-lock.json
  package.json
Labels: :lock: security, dependencies, 💥 tech-debt

#1731 remove legacy stripe dependencies + related legacy 'buy a ticket' features
  .env.example
  functions/.runtimeconfig.json.example
  functions/index.js
  functions/package-lock.json
  functions/package.json
  functions/payment.js
  package-lock.json
  package.json
  scripts/add-event.js
  src/api/admin.ts
  src/components/molecules/CardInput/CardInput.scss
  src/components/molecules/CardInput/CardInput.tsx
  src/components/molecules/CardInput/index.ts
  src/components/molecules/EventPaymentButton/EventPaymentButton.scss
  src/components/molecules/EventPaymentButton/EventPaymentButton.tsx
  src/components/molecules/EventPaymentButton/index.ts
  src/components/organisms/PaymentModal/PaymentConfirmation.tsx
  src/components/organisms/PaymentModal/PaymentForm.tsx
  src/components/organisms/PaymentModal/PaymentModal.scss
  src/components/organisms/PaymentModal/PaymentModal.tsx
  src/components/organisms/PaymentModal/constants.ts
  src/components/organisms/PaymentModal/index.ts
  src/hooks/useConnectCurrentEvent.ts
  src/hooks/useConnectUserPurchaseHistory.ts
  src/index.tsx
  src/pages/Admin/AdminEventModal.tsx
  src/pages/Admin/VenueEventDetails.tsx
  src/pages/VenueLandingPage/VenueLandingPage.scss
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/scss/constants.scss
  src/secrets.ts
  src/types/Firestore.ts
  src/types/Purchase.ts
  src/types/venues.ts
  src/utils/hasUserBoughtTicket.ts
  src/utils/isUserAMember.ts
  src/utils/selectors.ts
Labels: dependencies, 🏎️ performance, 💎 styles, 💥 tech-debt

#1867 remove column/row admin v1 toggles for non-grid venues
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: 🐛 bug

#1874 replaced camp references with space
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/VenueList/VenueList.tsx
  src/utils/address.ts
Labels: ✨ UI/UX, 🐛 bug

#1873 removed jam icon references
  src/api/admin.ts
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/PlayaVenue.tsx
  src/pages/Account/Venue/VenueMapEdition/Container.tsx
  src/pages/Account/Venue/VenueMapEdition/PlayaContainer.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/types/venues.ts
  src/utils/venue.ts
Labels: ✨ UI/UX, 🐛 bug

#1852 Fix/left aligned chat input
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
Labels: 🐛 bug, 💎 styles

#1854 add firestore rule to only allow users read for authenticated users
  firestore.rules
Labels: :lock: security, P1 - Critical, 🐛 bug

#1620 remove fetching all venues across the codebase
  public/index.html
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/organisms/EventModal/EventModal.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Playa/Playa.tsx
  src/hooks/useAdminVenues.ts
  src/hooks/useConnectOwnedVenues.tsx
  src/hooks/usePreloadAssets.ts
  src/hooks/useRoom.ts
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Admin_v2.tsx
  src/pages/Admin/VenueList/VenueList.tsx
  src/pages/Admin/VenueList/VenueList.types.ts
  src/pages/Admin/VenueList/index.ts
  src/pages/VenuePage/VenuePage.tsx
  src/types/Firestore.ts
  src/utils/selectors.ts
Labels: 🏎️ performance, 💥 tech-debt

#1526 add ability to modify iframe on posterpage/admin
  src/settings.ts
Labels: :pray: community-contribution, 🐛 bug

#1870 Set UserAvatar image size in pixels, not percents
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/scss/constants.scss
Labels: :muscle: enhancement, 🐛 bug, 💎 styles

#1877 Update @types/puppeteer
  reporting/package-lock.json
  reporting/package.json
Labels: dependencies

#1878 Update @types/qs
  package-lock.json
  package.json
Labels: dependencies

#1875 Update eslint-plugin-promise
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Labels: dependencies

#1531 Fix tables generator: rows/columns issue
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/utils/table.ts
Labels: 🐛 bug, 💎 styles

#1842 fixed event expand icon for long events
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
Labels: ✨ UI/UX, 🐛 bug

#1881 update Accessibility of Profile picture picker
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/pages/Account/Account.scss
Labels: Accessibility, 💎 styles

#1876 removed background image library text if collection is empty
  src/components/molecules/ImageInput/ImageCollectionInput.tsx
Labels: ✨ UI/UX, 🐛 bug

#1884 fixes the Questions display, if there are a lot of questions
  src/pages/Account/Questions.scss
Labels: 🐛 bug, 💎 styles

#1601 adds support for webp image type
  src/components/molecules/ImageInput/ImageCollectionInput.tsx
  src/settings.ts
Labels: :muscle: enhancement, :pray: community-contribution

#1341 clean up + unify some duplicated aspects of our validations
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/settings.ts
Labels: 💥 tech-debt

#1885 deploy staging -> master
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  public/index.html
  reporting/package-lock.json
  reporting/package.json
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/ImageInput/ImageCollectionInput.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/organisms/EventModal/EventModal.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/Playa/Playa.tsx
  src/hooks/useAdminVenues.ts
  src/hooks/useConnectOwnedVenues.tsx
  src/hooks/usePreloadAssets.ts
  src/hooks/useRoom.ts
  src/pages/Account/Account.scss
  src/pages/Account/Questions.scss
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Admin_v2.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/VenueList/VenueList.tsx
  src/pages/Admin/VenueList/VenueList.types.ts
  src/pages/Admin/VenueList/index.ts
  src/pages/VenuePage/VenuePage.tsx
  src/scss/constants.scss
  src/settings.ts
  src/types/Firestore.ts
  src/utils/selectors.ts
  src/utils/table.ts
Labels: :rocket: deployment, Accessibility, dependencies, 🏎️ performance, 💎 styles

#1887 deploy staging -> master
  src/components/molecules/ImageInput/ImageCollectionInput.tsx
Labels: :rocket: deployment

#1888 commented out performance burning code
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/molecules/MapPartygoerOverlay/MapPartygoerOverlay.scss
Labels: 🏎️ performance, 🐛 bug, 💎 styles

#1889 deployment master -> env/github
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  public/index.html
  reporting/package-lock.json
  reporting/package.json
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/ImageInput/ImageCollectionInput.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/Provided.tsx
  src/components/organisms/EventModal/EventModal.tsx
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/Playa/Playa.tsx
  src/hooks/useAdminVenues.ts
  src/hooks/useConnectOwnedVenues.tsx
  src/hooks/usePreloadAssets.ts
  src/hooks/useRoom.ts
  src/pages/Account/Account.scss
  src/pages/Account/Questions.scss
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Admin_v2.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/VenueList/VenueList.tsx
  src/pages/Admin/VenueList/VenueList.types.ts
  src/pages/Admin/VenueList/index.ts
  src/pages/VenuePage/VenuePage.tsx
  src/scss/constants.scss
  src/settings.ts
  src/types/Firestore.ts
  src/utils/selectors.ts
  src/utils/table.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1403 Reducing flickering on the PartyMap loading
  src/components/templates/PartyMap/components/Map/Map.tsx
Labels: :pray: community-contribution, ✨ UI/UX, 🐛 bug

#1892 add screening room admin option
  functions/venue.js
  src/settings.ts
Labels: :muscle: enhancement

#1893 update GA
  .env.example
  package-lock.json
  package.json
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/index.tsx
  src/secrets.ts
  src/utils/googleAnalytics.ts
Labels: dependencies

#1894 Removed focus after clicking room button in MapRoom
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
Labels: accessibility, 🐛 bug

#1895 fixed external link redirect
  src/components/organisms/EventModal/EventModal.tsx
Labels: 🐛 bug

#1898 [env/github] remove summit related things
  src/assets/images/rko-logo.png
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/pages/Account/Account.scss
Labels: 💎 styles

#1899 improved fix of schedule event redirect
  src/components/organisms/EventModal/EventModal.tsx
Labels: 🐛 bug

#1900 Refactors GA analytics
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/utils/userLocation.ts
Labels: :muscle: enhancement

#1896 deploy staging -> master
  functions/venue.js
  package-lock.json
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/molecules/MapPartygoerOverlay/MapPartygoerOverlay.scss
  src/components/organisms/EventModal/EventModal.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/settings.ts
  src/utils/googleAnalytics.ts
  src/utils/userLocation.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1901 Wrapping into button
  src/pages/Account/Login.scss
  src/pages/Account/Login.tsx
Labels: 💎 styles

#1907 [env/github] replace rko image with new transparent one
  src/assets/images/rko-logo.png
Labels: ✨ UI/UX

#1910 [env/github] fixes accessibility concerns for login
  src/pages/Account/Login.tsx
Labels: accessibility

#1906 Restored edit/delete event buttons
  src/pages/Admin/EventsComponent.tsx
  src/pages/Admin/VenueEventDetails.tsx
Labels: 🐛 bug

#1913 Make image logo input circular
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/VenueLandingPage/VenueLandingPage.scss
  src/scss/global.scss
Labels: ✨ UI/UX, 🐛 bug, 💎 styles

#1914 adds min height/width + proper position to a toggler
  src/components/atoms/Checkbox/Checkbox.scss
Labels: 💎 styles

#1911 add externalroom Venue template
  src/components/templates/ExternalRoom/ExternalRoom.scss
  src/components/templates/ExternalRoom/ExternalRoom.tsx
  src/components/templates/ExternalRoom/index.ts
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: 💎 styles

#1915 deploy staging -> master
  src/components/atoms/Checkbox/Checkbox.scss
  src/components/templates/ExternalRoom/ExternalRoom.scss
  src/components/templates/ExternalRoom/ExternalRoom.tsx
  src/components/templates/ExternalRoom/index.ts
  src/pages/Admin/EventsComponent.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/VenueEventDetails.tsx
  src/pages/VenueLandingPage/VenueLandingPage.scss
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/global.scss
Labels: :rocket: deployment, 💎 styles

#1916 deploy master -> env/github
  functions/venue.js
  package-lock.json
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/atoms/Checkbox/Checkbox.scss
  src/components/molecules/MapPartygoerOverlay/MapPartygoerOverlay.scss
  src/components/organisms/EventModal/EventModal.tsx
  src/components/templates/ExternalRoom/ExternalRoom.scss
  src/components/templates/ExternalRoom/ExternalRoom.tsx
  src/components/templates/ExternalRoom/index.ts
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/pages/Admin/EventsComponent.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/VenueEventDetails.tsx
  src/pages/VenueLandingPage/VenueLandingPage.scss
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/global.scss
  src/settings.ts
  src/utils/googleAnalytics.ts
  src/utils/userLocation.ts
Labels: :rocket: deployment, dependencies, 💎 styles
