Repository sparkletown/sparkle, pull requests merged in 2021-12, with the labels that each got.

#2628 Fix and unify Admin input components
  src/components/atoms/ButtonNG/ButtonNG.scss
  src/components/molecules/AdminInput/AdminInput.scss
  src/components/molecules/AdminInput/AdminInput.tsx
  src/components/molecules/AdminTextarea/AdminTextarea.scss
  src/components/molecules/AdminTextarea/AdminTextarea.tsx
  src/components/molecules/InformationCard/InformationCard.scss
  src/components/molecules/NavBar/playa.scss
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/molecules/Schedule/Schedule.scss
  src/components/molecules/TableHeader/TableHeader.scss
  src/components/molecules/TablesUserList/TablesUserList.scss
  src/components/molecules/UpcomingTickets/UpcomingTickets.scss
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.scss
  src/components/organisms/Badges/Badges.scss
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.scss
  src/components/templates/ScreeningRoom/components/ScreeningVideoPreview/ScreeningVideoPreview.scss
  src/pages/Account/Account.scss
  src/pages/Account/Login.scss
  src/pages/Admin/Admin.scss
  src/pages/VenueLandingPage/VenueLandingPage.scss
  src/scss/constants.scss
  src/scss/global.scss
Labels: 💥 tech-debt, 💎 styles

#2606 added icon util + default host icon replacement constants
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.tsx
  src/components/templates/ViewingWindow/ViewingWindow.tsx
Labels: 🐛 bug, ✨ UI/UX

#2629 Do not replace 'parent' param value with 'localhost' in twitch URLs
  src/utils/embeddableUrl.ts
Labels: 🐛 bug

#2585 added option none to space parent selector
  functions/venue.js
  src/components/atoms/SpacesDropdown/SpacesDropdown.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/pages/Admin/Details/Form/DetailsForm.tsx
Labels: admin

#2627 Update envs with admin v3
  .github/workflows/update-env-branches.yml
Labels: 💻 eng-QoL

#2630 Create first world page redone
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.scss
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/pages/WorldEditor/WorldEditor.tsx
  src/pages/WorldsDashboard/WorldsDashboard.scss
  src/pages/WorldsDashboard/WorldsDashboard.tsx
Labels: 💎 styles, admin

#2634 [master-v1] Fixes wrong room redirect in schedule
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
Labels: 🐛 bug

#2635 Fix Admin scrollbar issues
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/AdminPanel/AdminPanel.scss
  src/components/organisms/AdminVenueView/components/AdminPanel/AdminPanel.tsx
  src/components/organisms/AdminVenueView/components/AdminShowcase/AdminShowcase.scss
  src/components/organisms/AdminVenueView/components/AdminShowcase/AdminShowcase.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/SpaceTimingPanel.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.scss
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/pages/Admin/Details/SpaceEditorStartPanel.tsx
  src/pages/SpacesDashboard/SpacesDashboard.scss
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/WorldEditor/WorldEditorAdvancedPanel.tsx
  src/pages/WorldEditor/WorldEditorEntrancePanel.tsx
  src/pages/WorldEditor/WorldEditorStartPanel.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
Labels: 🐛 bug, 💎 styles

#2638 world list page redone
  src/components/molecules/WorldCard/WorldCard.tsx
  src/pages/WorldsDashboard/WorldsDashboard.scss
  src/pages/WorldsDashboard/WorldsDashboard.tsx
Labels: 💎 styles

#2639 disable photobooth feature
  src/components/molecules/NavBar/NavBar.tsx
  src/settings/disableSettings.ts
Labels: 🐛 bug

#2640 Make AdminSpaceCard border visible compared to the background
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.scss
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.tsx
  src/scss/constants.scss
Labels: 🐛 bug, ✨ UI/UX, 💎 styles

#2632 Change layout and labels on world settings page
  src/api/world.ts
  src/components/molecules/WorldNav/WorldNavIconMap.ts
  src/components/molecules/WorldNav/WorldNavLabelMap.ts
  src/components/organisms/AdminVenueView/components/AdminSidebar/AdminSidebar.scss
  src/components/organisms/WorldGeneralForm/WorldGeneralForm.scss
  src/components/organisms/WorldGeneralForm/WorldGeneralForm.tsx
  src/components/organisms/WorldGeneralForm/index.ts
  src/components/organisms/WorldStartForm/index.ts
  src/hooks/worlds/useWorldParams.ts
  src/pages/WorldEditor/WorldEditor.tsx
  src/pages/WorldEditor/WorldEditorAdvancedPanel.tsx
  src/pages/WorldEditor/WorldEditorEntrancePanel.tsx
  src/pages/WorldEditor/WorldEditorGeneralPanel.scss
  src/pages/WorldEditor/WorldEditorGeneralPanel.tsx
  src/store/actions/WorldEdit.ts
  src/store/reducers/WorldEdit.ts
  src/types/world.ts
  src/utils/selectors.ts
Labels: 💎 styles

#2642 fixed noniframe space update schema
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/forms/nonIframeSpaceSchema.ts
Labels: 🐛 bug, admin

#2644 styles fix for new world page
  src/pages/WorldsDashboard/WorldsDashboard.scss
  src/pages/WorldsDashboard/WorldsDashboard.tsx
Labels: ✨ UI/UX, 💎 styles

#2645 Remove AdminSidebarFooter component and add proper replacement
  src/components/molecules/SpaceEditForm/SpaceEditForm.scss
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebar/AdminSidebar.scss
  src/components/organisms/AdminVenueView/components/AdminSidebar/AdminSidebar.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarButtons/AdminSidebarButtons.scss
  src/components/organisms/AdminVenueView/components/AdminSidebarButtons/AdminSidebarButtons.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarButtons/index.ts
  src/components/organisms/AdminVenueView/components/AdminSidebarFooter/AdminSidebarFooter.scss
  src/components/organisms/AdminVenueView/components/AdminSidebarFooter/AdminSidebarFooter.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarFooter/index.ts
  src/components/organisms/SpaceTimingForm/SpaceTimingForm.tsx
  src/components/organisms/WorldAdvancedForm/WorldAdvancedForm.tsx
  src/components/organisms/WorldEntranceForm/WorldEntranceForm.tsx
  src/components/organisms/WorldGeneralForm/WorldGeneralForm.tsx
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/WorldEditor/WorldEditorAdvancedPanel.tsx
  src/pages/WorldEditor/WorldEditorEntrancePanel.tsx
  src/scss/constants.scss
Labels: 🐛 bug, 💎 styles, admin

#2614 [admin-v1] Fixes tables generation, tables creation, tables editing
  functions/venue.js
  scripts/upload-table-config.ts
  src/api/table.ts
  src/components/molecules/StartTable/StartTable.tsx
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/ConversationSpace/constants.ts
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/JazzTab/constants.ts
  src/pages/FriendShipPage/FriendShipPage.tsx
  src/settings.ts
  src/utils/table.ts
Labels: 🐛 bug, admin

#2655 Create/edit portals in the modal
  scripts/migration/v0.0.7__add-space-id-to-portals.ts
  src/components/atoms/PortalVisibility/PortalVisibility.tsx
  src/components/atoms/SpacesDropdown/SpacesDropdown.tsx
  src/components/molecules/PortalAddEditModal/PortalAddEditModal.scss
  src/components/molecules/PortalAddEditModal/PortalAddEditModal.tsx
  src/components/molecules/PortalAddEditModal/index.ts
  src/components/molecules/PortalAddModal/PortalAddModal.tsx
  src/components/molecules/PortalAddModal/index.ts
  src/components/molecules/PortalList/PortalList.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/PortalAddEditForm/PortalAddEditForm.scss
  src/components/organisms/PortalAddEditForm/PortalAddEditForm.tsx
  src/components/organisms/PortalAddEditForm/index.ts
  src/components/organisms/PortalAddForm/PortalAddForm.tsx
  src/components/organisms/PortalAddForm/index.ts
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModal.tsx
  src/components/templates/PartyMap/components/RoomAttendance.tsx
  src/forms/externalSpaceEditSchema.ts
  src/forms/nonIframeSpaceSchema.ts
  src/forms/roomSchema.ts
  src/forms/spaceEditSchema.ts
  src/hooks/useRoom.ts
  src/pages/EmergencyViewPage/EmergencyViewRoom.tsx
  src/settings/portalSettings.ts
  src/settings/spacePortalsSettings.ts
  src/types/rooms.ts
  src/utils/url.ts
  src/utils/venue.ts
Labels: :muscle: enhancement, 💎 styles, :broom: future-cleanup-required, admin

#2660 Remove 'last seen in' from Profile Modal
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicTextInfo/ProfileModalBasicTextInfo.tsx
Labels: 🐛 bug

#2658 Make spaces use their own settings
  functions/venue.js
  src/components/molecules/SpaceEditForm/SpaceEditForm.scss
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.scss
  src/components/molecules/SpaceEditFormNG/SpaceEditFormNG.tsx
  src/components/molecules/SpaceEditFormNG/index.ts
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/forms/createPortalSchema.ts
  src/forms/spaceEditSchema.ts
  src/settings/spacePortalsSettings.ts
  src/utils/venue.ts
Labels: 💎 styles

#2664 New PoortalsTable
  src/components/atoms/PortalIcon/PortalIcon.scss
  src/components/atoms/PortalIcon/PortalIcon.tsx
  src/components/atoms/PortalIcon/index.ts
  src/components/molecules/AdminCheckbox/AdminCheckbox.tsx
  src/components/molecules/Loading/Loading.scss
  src/components/molecules/Loading/Loading.tsx
  src/components/molecules/PortalsTable/PortalsTable.scss
  src/components/molecules/PortalsTable/PortalsTable.tsx
  src/components/molecules/PortalsTable/index.ts
  src/components/organisms/AdminVenueView/components/AdminSpacesListItem/AdminSpacesListItem.scss
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.scss
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.tsx
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.scss
  src/components/organisms/AdminVenueView/components/PrettyLink/PrettyLink.scss
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.scss
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/RoomIcon/RoomIcon.scss
  src/components/organisms/AdminVenueView/components/RoomIcon/RoomIcon.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.scss
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.scss
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/PortalStripForm/PortalStripForm.scss
  src/components/organisms/PortalStripForm/PortalStripForm.tsx
  src/components/organisms/PortalStripForm/index.ts
  src/scss/constants.scss
  src/settings/index.ts
  src/settings/placeholderSettings.ts
  src/utils/portal.ts
Labels: 💎 styles

#2667 add scroll to space dropdown list
  src/components/atoms/SpacesDropdown/SpacesDropdown.scss
Labels: 🐛 bug, 💎 styles, admin

#2665 remove default jazzbar info
  src/components/molecules/StartTable/StartTable.tsx
  src/components/molecules/TableComponent/TableComponent.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/Jazzbar/JazzBarPage.tsx
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.tsx
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.tsx
  src/types/Table.ts
Labels: 🐛 bug, admin

#2673 Fix external experience default icon
  src/components/templates/ExternalRoom/ExternalRoom.tsx
Labels: 🐛 bug

#2647 [staging-av1] Fixes videos not showing up on retry
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
Labels: 🐛 bug

#2670 restored appearance settings to spaces
  src/api/venue.ts
  src/components/atoms/ImageInput/ImageInput.scss
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/forms/spaceEditNGSchema.ts
  src/forms/spaceEditSchema.ts
Labels: 🐛 bug, 💎 styles, admin

#2659 fixed reactions sound for remote users
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.tsx
  src/settings/index.ts
Labels: 🐛 bug

#2677 Deploy -> master
  scripts/migration/v0.0.6__update-events-with-ids.ts
  scripts/migration/v0.0.7__add-space-id-to-portals.ts
  src/api/venue.ts
  src/components/atoms/ImageInput/ImageInput.scss
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/ExternalRoom/ExternalRoom.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.tsx
  src/forms/spaceEditNGSchema.ts
  src/forms/spaceEditSchema.ts
  src/settings/index.ts
Labels: 💎 styles

#2676 replace space name with world name in admin nav bar
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/WorldEditor/WorldEditor.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
Labels: 🐛 bug, 💎 styles, admin

#2683 fix broken external portal icon
  src/components/atoms/ImageInput/ImageInput.scss
  src/components/organisms/PortalStripForm/PortalStripForm.tsx
  src/settings/spacePortalsSettings.ts
Labels: 🐛 bug, 💎 styles, admin

#2684 Fix portal table-cell width in the admin panel
  src/components/organisms/AdminVenueView/components/PrettyLink/PrettyLink.scss
  src/components/organisms/PortalStripForm/PortalStripForm.scss
Labels: 🐛 bug, 💎 styles

#2686 Fix tabindex of the toggle containers in the portals list
  src/components/organisms/PortalStripForm/PortalStripForm.tsx
Labels: 🐛 bug

#2688 portal form UI fixes
  src/components/organisms/PortalAddEditForm/PortalAddEditForm.scss
  src/components/organisms/PortalStripForm/PortalStripForm.tsx
Labels: 🐛 bug, 💎 styles, admin

#2689 Changes modal text. Makes modal non-dissmissable
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/organisms/Room/VideoErrorModal.tsx
Labels: 🐛 bug

#2687 Porting isolated changes
  functions/venue.js
  scripts/upload-table-config.ts
  src/api/table.ts
  src/components/molecules/StartTable/StartTable.tsx
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/ConversationSpace/constants.ts
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/Jazzbar/JazzBar/constants.ts
  src/settings/index.ts
  src/utils/table.ts
Labels: 🐛 bug

#2682 Reintroduce shoutouts
  src/components/molecules/ReactionsBar/ReactionsBar.scss
  src/components/molecules/ReactionsBar/ReactionsBar.tsx
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
Labels: 💎 styles

#2694 Fixes text and bug in Music venue
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/organisms/Room/VideoErrorModal.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
Labels: 🐛 bug

#2691 add border radius to profile picture
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.scss
Labels: 🐛 bug, :muscle: enhancement, ✨ UI/UX, 💎 styles

#2696 Make DEFAULT_PROFILE_IMAGE and DEFAULT_PROFILE_PIC be defaultAvatar1
  src/settings/index.ts
Labels: 🐛 bug

#2700 Fix StartTable layer
  src/components/molecules/StartTable/StartTable.scss
  src/scss/constants.scss
Labels: 🐛 bug, 💎 styles

#2699 Fix default space logo icon
  src/api/admin.ts
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/organisms/PortalAddEditForm/PortalAddEditForm.tsx
  src/components/organisms/PortalStripForm/PortalStripForm.tsx
  src/forms/spaceEditSchema.ts
Labels: 🐛 bug, admin

#2698 Repair the Create World route
  src/components/organisms/AppRouter/AdminSubRouter.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/settings/urlSettings.ts
Labels: 🐛 bug

#2703 Fix deleting profile links
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.tsx
Labels: 🐛 bug

#2701 Hide announcement in admin
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.scss
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
Labels: 🐛 bug, 💎 styles

#2695 fix input autofill colors
  src/components/atoms/InputField/InputField.scss
  src/components/molecules/AdminInput/AdminInput.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
  src/components/organisms/TimingDeleteModal/TimingDeleteModal.scss
  src/components/organisms/TimingDeleteModal/TimingDeleteModal.tsx
  src/components/organisms/TimingEvent/TimingEvent.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.scss
  src/components/templates/PartyMap/components/PortalScheduleItem/PortalScheduleItem.tsx
  src/pages/Admin/VenueOwnerModal.scss
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
  src/scss/constants.scss
  src/scss/global.scss
  src/utils/calendar.ts
  src/utils/event.ts
Labels: 🐛 bug, ✨ UI/UX, 💎 styles, admin

#2705 fixed event start time prop use
  src/components/molecules/Schedule/Schedule.tsx
Labels: 🐛 bug

#2708 Default event icon to venue template if missing
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
Labels: 🐛 bug

#2710 Add one more reroute for googlecloudwest
  src/components/organisms/AppRouter/AppRouter.tsx
  src/settings/urlSettings.ts
Labels: :radioactive: hack

#2712 fix entrance step delete
  functions/world.js
  src/api/world.ts
Labels: 🐛 bug, admin

#2714 Hide 'Create Portal' button for non-map spaces
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
Labels: 🐛 bug

#2697 Remove double scrollbars
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.scss
  src/components/organisms/AdminVenueView/components/AdminPanel/AdminPanel.scss
  src/components/organisms/AdminVenueView/components/AdminShowcase/AdminShowcase.scss
  src/components/organisms/AdminVenueView/components/AdminShowcase/AdminShowcase.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.scss
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/WorldShowcase/WorldShowcase.scss
  src/pages/WorldEditor/WorldEditor.scss
  src/pages/WorldsDashboard/WorldsDashboard.tsx
Labels: 🐛 bug, 💎 styles

#2720 Fix days difference counting in the schedule
  src/hooks/useVenueScheduleEvents.ts
  src/utils/event.ts
Labels: 🐛 bug

#2722 Adds Honeycomb hacky redirect
  src/components/organisms/AppRouter/AppRouter.tsx
Labels: :radioactive: hack

#2726 [AV1] Fix fix schedule days
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/utils/event.ts
Labels: 🐛 bug

#2728 Deploy staging-av1 -> master-av1
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/utils/event.ts
Labels: :rocket: deployment

#2721 [admin v1] Removes copy event link button
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
Labels: 💥 tech-debt, 💎 styles

#2730 Fixes temp Honeycomb slug
  src/components/organisms/AppRouter/AppRouter.tsx
Labels: 🐛 bug

#2715 add missing space settings title
  src/components/molecules/SpaceEditForm/SpaceEditForm.scss
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.scss
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.scss
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/SpaceTimingPanel.scss
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/SpaceTimingPanel.tsx
Labels: 🐛 bug, 💎 styles, admin

#2732 Bumps twilio version
  package-lock.json
  package.json
Labels: dependencies

#2724 Move social login from the space setting to the world one
  functions/venue.js
  functions/world.js
  src/api/world.ts
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/components/organisms/WorldAdvancedForm/WorldAdvancedForm.tsx
  src/types/venues.ts
  src/types/world.ts
Labels: 🐛 bug, admin

#2725 add remove table feature
  functions/venue.js
  src/api/admin.ts
  src/api/table.ts
  src/components/molecules/TableComponent/TableComponent.scss
  src/components/molecules/TableComponent/TableComponent.tsx
  src/components/molecules/TablesUserList/TablesUserList.scss
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/organisms/SpaceCreateForm/SpaceCreateForm.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/ConversationSpace/constants.ts
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/Jazzbar/JazzBar/constants.ts
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.scss
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.tsx
  src/components/templates/Jazzbar/components/JazzBarTableComponent/index.ts
  src/scss/constants.scss
  src/settings/index.ts
  src/settings/interpolationSettings.ts
  src/types/Table.ts
  src/utils/venue.ts
Labels: 💡 new-feature, ✨ UI/UX, 💎 styles

#2735 removed stats dependency from firebase functions
  functions/index.js
Labels: 🐛 bug

#2736 remove stats exports + replace ?? for firebase function
  functions/index.js
  functions/venue.js
Labels: 🐛 bug

#2737 Add logo and template name to space edit form
  src/components/molecules/AdminSectionAccordion/AdminSidebarAccordion.scss
  src/components/molecules/AdminSectionAccordion/AdminSidebarAccordion.tsx
  src/components/molecules/AdminSectionAccordion/index.ts
  src/components/molecules/PortalAddEditModal/PortalAddEditModal.tsx
  src/components/molecules/PortalList/PortalList.tsx
  src/components/molecules/PortalListItem/PortalListItem.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.scss
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionTitle/AdminSidebarSectionTitle.scss
  src/components/organisms/AdminVenueView/components/AdminSpacesListItem/AdminSpacesListItem.scss
  src/components/organisms/AdminVenueView/components/AdminSpacesListItem/AdminSpacesListItem.tsx
  src/components/organisms/AdminVenueView/components/AdminSpacesListItem/index.ts
  src/components/organisms/PortalAddEditForm/PortalAddEditForm.tsx
  src/components/organisms/SpaceCreateForm/SpaceCreateForm.tsx
  src/settings/interpolationSettings.ts
  src/settings/spacePortalsSettings.ts
  src/store/actions/SpaceEdit.ts
  src/store/reducers/SpaceEdit.ts
  src/utils/selectors.ts
Labels: 💎 styles

#2734 Update the create world with slug display and few more details
  src/components/molecules/WorldCard/WorldCard.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/WorldGeneralForm/WorldGeneralForm.tsx
  src/pages/SpaceCreatePage/SpaceCreatePage.tsx
  src/pages/WorldEditor/WorldEditor.tsx
  src/utils/url.ts
Labels: :muscle: enhancement, ✨ UI/UX, admin

#2742 Always show add table button to admins
  functions/venue.js
  src/components/molecules/TablesUserList/TablesUserList.tsx
Labels: 🐛 bug, :muscle: enhancement

#2741 Fix portal modal text: in this portal -> in this space
  src/components/templates/PartyMap/components/PortalModal/PortalModal.tsx
Labels: 🐛 bug

#2743 replaced dot more icon with string
  src/components/molecules/UserList/UserList.scss
  src/components/molecules/UserList/UserList.tsx
Labels: 🐛 bug, 💎 styles

#2740 Goodbye Schedule V2 (replace ScheduleNG -> Schedule)
  src/api/profile.ts
  src/components/molecules/Schedule/Schedule.constants.scss
  src/components/molecules/Schedule/Schedule.scss
  src/components/molecules/Schedule/Schedule.tsx
  src/components/molecules/Schedule/utils.ts
  src/components/molecules/ScheduleEvent/ScheduleEvent.scss
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/molecules/ScheduleEvent/index.ts
  src/components/molecules/ScheduleEventList/ScheduleEventList.scss
  src/components/molecules/ScheduleEventList/ScheduleEventList.tsx
  src/components/molecules/ScheduleEventList/ScheduleEventSubList.tsx
  src/components/molecules/ScheduleEventList/index.ts
  src/components/molecules/ScheduleEventListNG/index.ts
  src/components/molecules/ScheduleItem/ScheduleItem.scss
  src/components/molecules/ScheduleItem/ScheduleItem.tsx
  src/components/molecules/ScheduleItem/index.ts
  src/components/molecules/ScheduleItemNG/index.ts
  src/components/molecules/ScheduleNG/ScheduleNG.scss
  src/components/molecules/ScheduleNG/ScheduleNG.tsx
  src/components/molecules/ScheduleNG/index.ts
  src/components/molecules/ScheduleRoomEvents/ScheduleRoomEvents.scss
  src/components/molecules/ScheduleRoomEvents/ScheduleRoomEvents.tsx
  src/components/molecules/ScheduleRoomEvents/index.ts
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.scss
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.tsx
  src/components/molecules/ScheduleVenueDescription/index.ts
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/pages/EmergencyViewPage/EmergencyViewPage.scss
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/settings/index.ts
  src/types/User.ts
  src/types/venues.ts
  src/utils/schedule.ts
Labels: 💥 tech-debt, 💎 styles

#2739 Fix schedule logos
  src/components/molecules/ScheduleItem/ScheduleItem.tsx
  src/components/organisms/NavBarSchedule/utils.ts
Labels: 🐛 bug

#2745 Upload source maps to bugsnag on build
  craco.config.js
  package-lock.json
  package.json
Labels: dependencies

#1866 [scripts] updated get-badges analytics script
  reporting/README.md
  reporting/fetch-reports.ts
  reporting/makegraphs.py
  scripts/get-badges.ts
  src/utils/time.ts
  tsconfig.json
Labels: 💻 eng-QoL, 📜 scripts, old-prs-2021-11
