Repository sparkletown/sparkle, pull requests merged in 2021-08, with the labels that each got.

#1609 add GitHub issue templates for Bug Report / Feature Request / Other + disable blank issue creation
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other.md
Labels: 💻 eng-QoL, 📚 documentation

#1924 Removes legacy firestore rules; Tightens up the rules
  firestore.rules
Labels: :muscle: enhancement, 🐛 bug

#1927 BM Admin Adjustments: available venues, orders & descriptions
  src/settings.ts
Labels: :muscle: enhancement

#1930 BM Admin Adjustments: Party Map creation flow
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/Venue.scss
  src/pages/VenueLandingPage/VenueLandingPage.scss
  src/scss/global.scss
  src/settings.ts
Labels: :muscle: enhancement, 💎 styles

#1583 add spaces tab to admin ng
  src/api/admin.ts
  src/assets/icons/icon-room-artpiece.svg
  src/assets/icons/icon-room-auditorium.svg
  src/assets/icons/icon-room-burnbarrel.svg
  src/assets/icons/icon-room-conversation.svg
  src/assets/icons/icon-room-experience.svg
  src/assets/icons/icon-room-externallink.svg
  src/assets/icons/icon-room-image.svg
  src/assets/icons/icon-room-map.svg
  src/assets/icons/icon-room-musicbar.svg
  src/components/atoms/FileButton/FileButton.scss
  src/components/atoms/FileButton/FileButton.styles.ts
  src/components/atoms/FileButton/FileButton.tsx
  src/components/atoms/FileButton/FileButton.types.ts
  src/components/atoms/FileButton/index.ts
  src/components/atoms/Legend/Legend.tsx
  src/components/molecules/EditRoomForm/EditRoomForm.scss
  src/components/molecules/EditRoomForm/EditRoomForm.tsx
  src/components/molecules/EditRoomForm/index.ts
  src/components/molecules/VenueRoomItem/VenueRoomItem.scss
  src/components/molecules/VenueRoomItem/VenueRoomItem.tsx
  src/components/molecules/VenueRoomItem/index.ts
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.scss
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.tsx
  src/components/organisms/AdminVenueView/components/MapPreview/index.ts
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.scss
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/AdminVenueView/components/Spaces/index.ts
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.scss
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/index.ts
  src/components/organisms/AppRouter/AppRouter.jsx
  src/hooks/useFetchAssetImages.ts
  src/hooks/useFetchAssets.ts
  src/pages/Account/Venue/VenueMapEdition/Container.tsx
  src/pages/Admin/BackgroundSelect/BackgroundSelect.scss
  src/pages/Admin/BackgroundSelect/BackgroundSelect.styles.ts
  src/pages/Admin/BackgroundSelect/BackgroundSelect.tsx
  src/pages/Admin/BackgroundSelect/BackgroundSelect.types.ts
  src/pages/Admin/BackgroundSelect/index.ts
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/pages/Admin/MapPreview/MapPreview.types.ts
  src/pages/Admin/Room/Edit/RoomEditModal.tsx
  src/scss/constants.scss
  src/types/rooms.ts
  src/types/utility.ts
  src/utils/venue.ts
Labels: 💎 styles

#1936 (schedule v3) make schedule show up on left
  src/components/molecules/NavBar/NavBar.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
Labels: ✨ UI/UX, 💎 styles, 💡 new-feature

#1937 Schedule3: Chronological list of experiences
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/molecules/ScheduleItemNG/index.ts
  src/components/molecules/ScheduleNG/ScheduleNG.scss
  src/components/molecules/ScheduleNG/ScheduleNG.tsx
  src/components/molecules/ScheduleNG/index.ts
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/scss/constants.scss
  src/utils/event.ts
Labels: :muscle: enhancement, 💎 styles

#1869 Add ButtonNG
  src/components/atoms/ButtonNG/ButtonNG.scss
  src/components/atoms/ButtonNG/ButtonNG.tsx
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles, 💡 new-feature

#1944 Remove SCSS warning by quoting ButtonNG variants' names
  src/components/atoms/ButtonNG/ButtonNG.scss
Labels: 💎 styles

#1938 Admin V3 - fix comments regarding space for default maps
  src/pages/Admin/BackgroundSelect/BackgroundSelect.scss
  src/pages/Admin/BackgroundSelect/BackgroundSelect.tsx
  src/scss/constants.scss
Labels: adminV3, 💎 styles

#1945 BM - fix parentId for newly created venues
  src/settings.ts
Labels: 🐛 bug

#1946 [schedule 3.0] add bookmarking feature
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/molecules/ScheduleNG/ScheduleNG.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💡 new-feature, ✨ UI/UX, 💎 styles

#1955 Eslint rule for using only arrow functions
  .eslintrc
  package-lock.json
  package.json
  scripts/add-event.js
  scripts/clear-chat.js
  scripts/config-upload.js
  scripts/update-member-emails.js
  scripts/upload-to-storage.js
  src/components/molecules/Chatbox/useTriggerScrollFix.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/components/organisms/Room/LocalParticipant.tsx
  src/components/organisms/Room/Room.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/Playa/Video/Room.tsx
  src/pages/Account/Venue/VenueMapEdition/Container.tsx
  src/pages/Account/Venue/VenueMapEdition/CustomDragLayer.tsx
  src/pages/Account/Venue/VenueMapEdition/DraggableSubvenue.tsx
  src/pages/Account/Venue/VenueMapEdition/snapToGrid.ts
  src/pages/Admin/Venue/Details/VenueDetails.tsx
  src/polyfills.ts
  src/serviceWorker.ts
  src/store/api/worldUsers.ts
  src/utils/time.ts
  src/validation.js
Labels: dependencies

#1957 [sub branch into eslint chore] Adds proper import lib
  .eslintrc
  functions/access.js
  package-lock.json
  package.json
  src/api/admin.ts
  src/components/molecules/UserList/UserList.tsx
  src/components/templates/Auditorium/components/AllSectionPreviews/AllSectionPreviews.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/Playa/MyAvatar.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/PlayaBackground.tsx
  src/components/templates/PosterPage/PosterPage.tsx
  src/hooks/chats/chatSidebar.ts
  src/hooks/chats/venueChat.ts
  src/hooks/sounds.tsx
  src/pages/Admin/BackgroundSelect/BackgroundSelect.tsx
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/VenueOwnersModal.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/types/chat.ts
  src/utils/auditorium.ts
  src/validation.js
Labels: dependencies, :desktop_computer: infrastructure

#1962 deploy master -> staging
  .github/workflows/update-env-branches.yml
Labels: :rocket: deployment

#1940 Admin V3 - Fixed header text alignment and missing icons
  src/components/organisms/AdminVenueView/AdminVenueView.scss
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
Labels: 💎 styles

#1948 Admin V3 -- fix hover on maps defaults
  src/pages/Admin/BackgroundSelect/BackgroundSelect.scss
Labels: 💎 styles, admin

#1871 Add subroutes for different tabs of AdminVenueView
  src/components/molecules/AdminVenueCard/AdminVenueCard.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.scss
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/AdminVenueView/components/Timing/Timing.tsx
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.scss
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
  src/utils/url.ts
Labels: :muscle: enhancement, 💡 new-feature, 💎 styles, admin

#1919 remove legacy Playa template + related components
  functions/venue.js
  reporting/fetch-reports.ts
  src/components/molecules/PlayaAddress/PlayaAddress.scss
  src/components/molecules/PlayaAddress/PlayaAddress.tsx
  src/components/molecules/PlayaAddress/index.ts
  src/components/molecules/PlayaTime/PlayaTime.scss
  src/components/molecules/PlayaTime/PlayaTime.tsx
  src/components/molecules/PlayaTime/index.ts
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Playa/Avatar.tsx
  src/components/templates/Playa/AvatarImage.tsx
  src/components/templates/Playa/AvatarLayer.scss
  src/components/templates/Playa/AvatarLayer.tsx
  src/components/templates/Playa/AvatarPartygoers.tsx
  src/components/templates/Playa/MyAvatar.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/PlayaBackground.scss
  src/components/templates/Playa/PlayaBackground.tsx
  src/components/templates/Playa/PlayaIcon.tsx
  src/components/templates/Playa/PlayaVenue.tsx
  src/components/templates/Playa/Router.tsx
  src/components/templates/Playa/VenuePreview.scss
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/Playa/Video/LocalParticipant.tsx
  src/components/templates/Playa/Video/Participant.tsx
  src/components/templates/Playa/Video/RemoteParticipant.tsx
  src/components/templates/Playa/Video/Room.tsx
  src/components/templates/Playa/VideoChatLayer.scss
  src/components/templates/Playa/VideoChatLayer.tsx
  src/components/templates/Playa/index.ts
  src/pages/Admin/Venue/TemplateForm.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/types/venues.ts
Labels: 💥 tech-debt, 💎 styles

#1966 AdminV3 tabs footer extraction
  src/components/atoms/Button/Button.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.scss
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/AdminVenueView/components/TabFooter/TabFooter.scss
  src/components/organisms/AdminVenueView/components/TabFooter/TabFooter.tsx
  src/components/organisms/AdminVenueView/components/TabFooter/index.ts
  src/components/organisms/AdminVenueView/components/Timing/Timing.scss
  src/components/organisms/AdminVenueView/components/Timing/Timing.tsx
Labels: 💎 styles

#1968 Adds all branches to ci/cd
  .github/workflows/update-env-branches.yml
Labels: :desktop_computer: infrastructure

#1883 Bump firebase version in /functions and in main project
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  src/api/admin.ts
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/types/UpcomingEvent.ts
Labels: dependencies, :x: do-not-merge

#1263 fix the ratio of the image in .profile-pic
  src/components/organisms/UserProfileModal/UserProfileModal.scss
Labels: 🐛 bug, ✨ UI/UX, 💎 styles

#1953 Fix bug in admin v1 event modal
  src/api/admin.ts
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/pages/Admin/AdminEventModal.tsx
Labels: 🐛 bug

#1401 cleanup styling for ProfilePictureInput + 'upload your profile pic'
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.scss
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/pages/Account/Account.scss
Labels: :pray: community-contribution, 💥 tech-debt, ✨ UI/UX, 💎 styles

#1493 [documentation] update project setup instructions in README
  README.md
Labels: 📚 documentation, P4 - Low

#1942 Schedule3: Design of event boxes
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/molecules/ScheduleNG/ScheduleNG.scss
  src/scss/constants.scss
Labels: :muscle: enhancement, 💎 styles

#1705 Feature/admin v3 run
  src/api/bannerAdmin.ts
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.scss
  src/components/organisms/AdminVenueView/components/EventCard/EventCard.tsx
  src/components/organisms/AdminVenueView/components/PrettyLink/PrettyLink.scss
  src/components/organisms/AdminVenueView/components/PrettyLink/PrettyLink.tsx
  src/components/organisms/AdminVenueView/components/PrettyLink/index.ts
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.scss
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/RoomIcon/RoomIcon.scss
  src/components/organisms/AdminVenueView/components/RoomIcon/RoomIcon.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.scss
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.scss
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.tsx
  src/components/organisms/AdminVenueView/components/RunTabUserInfo/RunTabUserInfo.scss
  src/components/organisms/AdminVenueView/components/RunTabUserInfo/RunTabUserInfo.tsx
  src/components/organisms/AdminVenueView/components/RunTabUserInfo/index.ts
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.scss
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.scss
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/SearchField/SearchField.scss
  src/components/organisms/AdminVenueView/components/SearchField/SearchField.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/scss/constants.scss
  src/scss/global.scss
  src/scss/modifiers.scss
  src/types/rooms.ts
  src/utils/url.ts
Labels: :construction: WIP, 💎 styles

#1970 Schedule3: Events grouping within the selected date
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.scss
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventSubListNG.tsx
  src/components/molecules/ScheduleEventListNG/index.ts
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/molecules/ScheduleNG/ScheduleNG.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/settings.ts
  src/utils/event.ts
Labels: 💎 styles

#1941 [SCHEDULE V3] Changed timeline logic + styles
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/scss/constants.scss
  src/utils/event.ts
  src/utils/time.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1954 Added venue sorting by orderPriority
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/types/venues.ts
  src/utils/event.ts
Labels: :muscle: enhancement, ✨ UI/UX

#1981 Don't deploy to unused envs
  .github/workflows/update-env-branches.yml
Labels: 💻 eng-QoL

#1985 Redeploy the functions
  functions/auth.js
Labels: 🐛 bug

#1988 AdminV3: Compress uploaded images for users
  package-lock.json
  package.json
  src/components/atoms/ImageInput/ImageInput.scss
  src/components/atoms/ImageInput/ImageInput.styles.ts
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/atoms/ImageInput/ImageInput.types.ts
  src/components/atoms/ImageOverlay/ImageOverlay.scss
  src/components/atoms/ImageOverlay/ImageOverlay.tsx
  src/components/atoms/ImageOverlay/index.ts
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.scss
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalLinks/ProfileModalLink/ProfileModalLink.scss
  src/components/organisms/NewProfileModal/profileModalStyles.scss
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/scss/constants.scss
  src/settings.ts
Labels: dependencies, 💎 styles

#1990 Add event icon to the schedule
  src/components/molecules/Schedule/Schedule.tsx
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventSubListNG.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.scss
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/molecules/ScheduleNG/ScheduleNG.tsx
  src/components/molecules/ScheduleRoomEvents/ScheduleRoomEvents.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/types/venues.ts
Labels: ✨ UI/UX, 💎 styles

#1998 Updates react packages
  package-lock.json
  package.json
Labels: dependencies

#2001 [admin] Add tooltips for the room visibility and clickability icons
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/ButtonNG/index.ts
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.tsx
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
Labels: 💡 new-feature, ✨ UI/UX, admin

#1995 AV3: show placeholder if map background is missing
  src/components/atoms/CenterContent/CenterContent.scss
  src/components/atoms/CenterContent/CenterContent.tsx
  src/components/atoms/CenterContent/index.ts
  src/components/atoms/ImageOverlay/ImageOverlay.scss
  src/components/atoms/ImageOverlay/ImageOverlay.tsx
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.scss
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/hooks/useCheckImage.ts
  src/hooks/useImage.ts
  src/scss/constants.scss
Labels: 💎 styles

#2006 add bulk room update in admin v1 and admin v3
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/MapPreview/MapPreview.scss
  src/pages/Admin/MapPreview/MapPreview.styles.ts
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/pages/Admin/MapPreview/MapPreview.types.ts
  src/pages/Admin/Venue/Details/VenueDetails.styles.ts
  src/pages/Admin/Venue/Details/VenueDetails.tsx
  src/pages/Admin/Venue/Details/VenueDetails.types.ts
  src/pages/Admin/Venue/Details/index.ts
Labels: 💎 styles, P1 - Critical

#2002 Properly handle invalid map background
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/hooks/useMapBackground.ts
Labels: 🐛 bug

#2022 Update react-bootstrap
  package-lock.json
  package.json
Labels: dependencies

#2005 BM general loading view
  src/assets/icons/loading-diamond.svg
  src/assets/icons/loading-playa.svg
  src/components/molecules/LoadingPage/LoadingPage.scss
  src/components/molecules/LoadingPage/LoadingPage.tsx
  src/components/molecules/LoadingPage/img/burningman-logo-2.png
  src/components/molecules/LoadingPage/img/burningman-logo.png
  src/components/molecules/LoadingPage/img/loading-sparkle-icon.png
  src/components/molecules/LoadingPage/loading.scss
  src/scss/constants.scss
Labels: 💎 styles

#1999 Adds related partymap to AnimateMap
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Structures/PlayerModel.ts
  src/components/templates/AnimateMap/components/TooltipWidget/TooltipWidget.tsx
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/constants/StubData.tsx
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/hooks/useArtcars.ts
  src/components/templates/AnimateMap/hooks/useFirebarrels.ts
  src/components/templates/AnimateMap/hooks/useRelatedPartymapRooms.ts
  src/store/reducers/AnimateMap.ts
  src/types/Firestore.ts
  src/types/animateMap.ts
  src/types/venues.ts
  src/utils/selectors.ts
  src/utils/venue.ts
Labels: 💡 new-feature

#2029 deploy staging -> master
  functions/venue.js
  package-lock.json
  package.json
  src/api/admin.ts
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/ButtonNG/index.ts
  src/components/atoms/CenterContent/CenterContent.scss
  src/components/atoms/CenterContent/CenterContent.tsx
  src/components/atoms/CenterContent/index.ts
  src/components/atoms/ImageOverlay/ImageOverlay.scss
  src/components/atoms/ImageOverlay/ImageOverlay.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.tsx
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.tsx
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.scss
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Structures/PlayerModel.ts
  src/components/templates/AnimateMap/components/TooltipWidget/TooltipWidget.tsx
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/constants/StubData.tsx
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/hooks/useArtcars.ts
  src/components/templates/AnimateMap/hooks/useFirebarrels.ts
  src/components/templates/AnimateMap/hooks/useRelatedPartymapRooms.ts
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/hooks/useCheckImage.ts
  src/hooks/useImage.ts
  src/hooks/useMapBackground.ts
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/MapPreview/MapPreview.scss
  src/pages/Admin/MapPreview/MapPreview.styles.ts
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/pages/Admin/MapPreview/MapPreview.types.ts
  src/pages/Admin/Venue/Details/VenueDetails.styles.ts
  src/pages/Admin/Venue/Details/VenueDetails.tsx
  src/pages/Admin/Venue/Details/VenueDetails.types.ts
  src/pages/Admin/Venue/Details/index.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/scss/constants.scss
  src/store/reducers/AnimateMap.ts
  src/types/Firestore.ts
  src/types/animateMap.ts
  src/types/rooms.ts
  src/types/venues.ts
  src/utils/selectors.ts
  src/utils/venue.ts
Labels: dependencies, 💎 styles, :rocket: deployment

#2030 deploy master -> burn-staging
  functions/venue.js
  package-lock.json
  package.json
  src/api/admin.ts
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/ButtonNG/index.ts
  src/components/atoms/CenterContent/CenterContent.scss
  src/components/atoms/CenterContent/CenterContent.tsx
  src/components/atoms/CenterContent/index.ts
  src/components/atoms/ImageOverlay/ImageOverlay.scss
  src/components/atoms/ImageOverlay/ImageOverlay.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.tsx
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.tsx
  src/components/organisms/AdminVenueView/components/RunTabRooms/RunTabRooms.tsx
  src/components/organisms/AdminVenueView/components/RunTabToolbar/RunTabToolbar.tsx
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.scss
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Structures/PlayerModel.ts
  src/components/templates/AnimateMap/components/TooltipWidget/TooltipWidget.tsx
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/constants/StubData.tsx
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/hooks/useArtcars.ts
  src/components/templates/AnimateMap/hooks/useFirebarrels.ts
  src/components/templates/AnimateMap/hooks/useRelatedPartymapRooms.ts
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/hooks/useCheckImage.ts
  src/hooks/useImage.ts
  src/hooks/useMapBackground.ts
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/MapPreview/MapPreview.scss
  src/pages/Admin/MapPreview/MapPreview.styles.ts
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/pages/Admin/MapPreview/MapPreview.types.ts
  src/pages/Admin/Venue/Details/VenueDetails.styles.ts
  src/pages/Admin/Venue/Details/VenueDetails.tsx
  src/pages/Admin/Venue/Details/VenueDetails.types.ts
  src/pages/Admin/Venue/Details/index.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/scss/constants.scss
  src/store/reducers/AnimateMap.ts
  src/types/Firestore.ts
  src/types/animateMap.ts
  src/types/rooms.ts
  src/types/venues.ts
  src/utils/selectors.ts
  src/utils/venue.ts
Labels: dependencies, 💎 styles, :rocket: deployment

#2027 Beavers/firebarrels
  package-lock.json
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelProvider.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.scss
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/map/components/SpriteComponent.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/BubbleSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ClickableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/game/map/systems/HoverableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/SpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/TooltipSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ZoomedSpriteSystem.ts
Labels: dependencies, 💎 styles

#2032 deploy staging -> master
  package-lock.json
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelProvider.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.scss
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/map/components/SpriteComponent.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/BubbleSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ClickableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/game/map/systems/HoverableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/SpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/TooltipSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ZoomedSpriteSystem.ts
Labels: :rocket: deployment

#2033 deploy master -> burn-staging
  package-lock.json
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelProvider.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.scss
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/map/components/SpriteComponent.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/BubbleSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ClickableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/game/map/systems/HoverableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/SpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/TooltipSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ZoomedSpriteSystem.ts
Labels: dependencies, 💎 styles, :rocket: deployment

#1989 Bring parentId field back to admin v1
  src/pages/Admin/Venue/DetailsForm.tsx
Labels: ✨ UI/UX, admin

#2039 Disable deployment for some envs
  .github/workflows/update-env-branches.yml
Labels: 💻 eng-QoL

#2018 [env/burn-staging] AnimateMap Onboarding Flow
  src/api/profile.ts
  src/assets/images/AnimateMapOnboardFlow/step-02.svg
  src/assets/images/AnimateMapOnboardFlow/step-03.svg
  src/assets/images/AnimateMapOnboardFlow/step-04.svg
  src/assets/images/AnimateMapOnboardFlow/step-05.svg
  src/assets/images/AnimateMapOnboardFlow/step-06.svg
  src/assets/images/AnimateMapOnboardFlow/step-07.svg
  src/components/atoms/ButtonNG/ButtonNG.scss
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/DeviceVideo/DeviceVideo.scss
  src/components/atoms/DeviceVideo/DeviceVideo.tsx
  src/components/atoms/DeviceVideo/index.ts
  src/components/atoms/OnboardingModal/OnboardingModal.scss
  src/components/atoms/OnboardingModal/OnboardingModal.tsx
  src/components/atoms/OnboardingModal/index.ts
  src/components/atoms/SvgLoop/SvgLoop.tsx
  src/components/atoms/SvgLoop/index.ts
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlow.tsx
  src/components/organisms/AnimateMapOnboardFlow/index.ts
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/types/User.ts
Labels: :muscle: enhancement, 💡 new-feature, ✨ UI/UX, 💎 styles, P2 - High

#2020 [env/burn-staging] Update chat styles
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/Chatbox/Chatbox.scss
  src/components/molecules/Chatbox/Chatbox.tsx
  src/scss/constants.scss
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles, P2 - High

#2007 [env/burn-staging] Mobile chat size
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/scss/constants.scss
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles, P2 - High, :iphone: mobile

#2011 BM (backpedal) Admin Adjustments: available venues, orders & descriptions
  src/pages/Admin/Venue/TemplateCard/TemplateCard.scss
  src/pages/Admin/Venue/TemplateCard/TemplateCard.tsx
  src/pages/Admin/Venue/TemplateCard/index.ts
  src/pages/Admin/Venue/TemplateForm.tsx
  src/pages/Admin/Venue/Venue.scss
  src/settings.ts
Labels: 💎 styles

#2034 [env/burn-staging] change profile creation images
  public/sparkle-header-burn.png
  src/assets/images/bm-login-background.jpeg
  src/pages/Account/Account.scss
  src/pages/Account/Login.tsx
  src/pages/Account/LoginWithCustomToken.tsx
Labels: ✨ UI/UX, 💎 styles

#2037 Sort venues by creation date in Admin V1
  functions/venue.js
  src/pages/Admin/Admin.scss
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/types/venues.ts
  src/utils/error.ts
  src/utils/venue.ts
Labels: :muscle: enhancement, P0 - Emergency/Fire :fire::fire::fire:, 💎 styles, admin

#2045 deploy staging -> master
  .github/workflows/update-env-branches.yml
  functions/venue.js
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/pages/Admin/Admin.scss
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/EventsComponent.tsx
  src/types/venues.ts
  src/utils/error.ts
  src/utils/venue.ts
Labels: 💎 styles, :rocket: deployment

#2048 [env/burn-staging] Remove redundant WelcomePopUp
  src/components/atoms/DeviceVideo/DeviceVideo.scss
  src/components/atoms/DeviceVideo/DeviceVideo.tsx
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/AnimateMap/components/WelcomePopUp/WelcomePopUp.scss
  src/components/templates/AnimateMap/components/WelcomePopUp/WelcomePopUp.tsx
  src/components/templates/AnimateMap/components/index.ts
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/store/reducers/AnimateMap.ts
  src/utils/selectors.ts
Labels: 🐛 bug, ✨ UI/UX, 💎 styles

#2052 [env/burn-staging] split private chat and venue chats
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/hooks/chats/chatSidebar.ts
Labels: 💎 styles

#2056 [env/burn-staging] Removes back button for animate map
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: 💡 new-feature

#2050 [env/burn-staging] Improved nav bar user search performance
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/settings.ts
Labels: 🏎️ performance

#2043 Adds venue data to room as default
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/templates/AnimateMap/hooks/useRelatedPartymapRooms.ts
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
Labels: 💡 new-feature

#2059 deploy master -> staging
  src/assets/images/AnimateMap/venues/venue_plate_glow.png
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/templates/AnimateMap/components/ControlPanel/ControlPanel.tsx
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/commands/CropVenue.ts
  src/components/templates/AnimateMap/game/constants/AssetConstants.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/components/BarrelComponent.ts
  src/components/templates/AnimateMap/game/map/components/BotComponent.ts
  src/components/templates/AnimateMap/game/map/components/PlayerComponent.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/finalStateMachines/FSMBase.ts
  src/components/templates/AnimateMap/game/map/graphics/Venue.ts
  src/components/templates/AnimateMap/game/map/graphics/VenueHoverIn.ts
  src/components/templates/AnimateMap/game/map/graphics/VenueHoverOut.ts
  src/components/templates/AnimateMap/game/map/nodes/BarrelNode.ts
  src/components/templates/AnimateMap/game/map/systems/FirebarrelSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionBotSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionCollisionSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ZoomedSpriteSystem.ts
  src/components/templates/AnimateMap/hooks/useRelatedPartymapRooms.ts
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/settings.ts
  src/store/actions/AnimateMap.ts
  src/store/reducers/AnimateMap.ts
Labels: :rocket: deployment

#2061 deploy master -> env/burn-staging
  src/assets/images/AnimateMap/venues/venue_plate_glow.png
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/templates/AnimateMap/components/ControlPanel/ControlPanel.tsx
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/commands/CropVenue.ts
  src/components/templates/AnimateMap/game/constants/AssetConstants.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/components/BarrelComponent.ts
  src/components/templates/AnimateMap/game/map/components/BotComponent.ts
  src/components/templates/AnimateMap/game/map/components/PlayerComponent.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/finalStateMachines/FSMBase.ts
  src/components/templates/AnimateMap/game/map/graphics/Venue.ts
  src/components/templates/AnimateMap/game/map/graphics/VenueHoverIn.ts
  src/components/templates/AnimateMap/game/map/graphics/VenueHoverOut.ts
  src/components/templates/AnimateMap/game/map/nodes/BarrelNode.ts
  src/components/templates/AnimateMap/game/map/systems/FirebarrelSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionBotSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionCollisionSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ZoomedSpriteSystem.ts
  src/components/templates/AnimateMap/hooks/useRelatedPartymapRooms.ts
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/settings.ts
  src/store/actions/AnimateMap.ts
  src/store/reducers/AnimateMap.ts
Labels: :rocket: deployment

#2026 Fixed UserReactions performance issue.
  src/components/molecules/UserReactions/UserReactions.scss
  src/components/molecules/UserReactions/UserReactions.tsx
Labels: 💎 styles

#2060 [ emv/burn-staging ] Add map zoom
  src/pages/Admin/MapPreview/MapPreview.scss
  src/pages/Admin/MapPreview/MapPreview.tsx
Labels: :construction: WIP, 💎 styles

#2012 Admin Adjustments: Party Map creation flow; added hidden styles
  src/assets/images/bm-default-map-background.jpg
  src/components/molecules/UserStatusManager/UserStatusManager.tsx
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/Venue/DetailsForm.scss
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/EntranceInput.scss
  src/pages/Admin/Venue/EntranceInput.tsx
  src/pages/Admin/Venue/QuestionInput.scss
  src/pages/Admin/Venue/QuestionInput.tsx
  src/settings.ts
Labels: 💎 styles

#1651 Always show Events tab for venues in Admin V1
  src/components/organisms/AppRouter/AdminSubrouter.tsx
  src/components/organisms/AppRouter/AppRouter.jsx
  src/pages/Admin/Admin.tsx
  src/settings.ts
  src/utils/venue.ts
Labels: 🐛 bug, 💥 tech-debt, P3 - Medium

#2069 fixed use hook room url
  src/hooks/useRoomRecentUsersList.ts
Labels: 🐛 bug

#2028 [env/burn-staging] BM UI top bar volume control
  src/components/atoms/VolumeControl/VolumeControl.scss
  src/components/atoms/VolumeControl/VolumeControl.tsx
  src/components/atoms/VolumeControl/index.ts
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/RadioPopoverContent/RadioPopoverContent.tsx
  src/components/organisms/AdminVenueView/components/RoomCard/RoomCard.scss
  src/components/organisms/RadioModal/RadioModal.tsx
  src/hooks/useAudioVolume.ts
  src/hooks/useRadio.ts
  src/hooks/useVolumeControl.ts
  src/pages/Admin/Admin.scss
  src/scss/constants.scss
  src/settings.ts
  src/store/reducers/AnimateMap.ts
Labels: :muscle: enhancement, 💡 new-feature, P0 - Emergency/Fire :fire::fire::fire:, ✨ UI/UX, 💎 styles

#2055 replaced nav schedule btn + changed design + assets
  src/assets/icons/nav-schedule-whatson-clicked.svg
  src/assets/icons/nav-schedule-whatson.svg
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/scss/constants.scss
Labels: ✨ UI/UX, 💎 styles

#2062 add disconnect
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelProvider.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
Labels: 💎 styles

#2098 [env/burn-staging] Feature/add sidenav bar
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.scss
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: 💎 styles

#2115 Adds code whitelisting
  functions/access.js
  scripts/configure-venue-access.ts
  src/api/auth.ts
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
Labels: 💡 new-feature, :lock: security

#2031 added emergency space view
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.scss
  src/components/molecules/ScheduleEventListNG/ScheduleEventSubListNG.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/organisms/AppRouter/AppRouter.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/hooks/useVenueScheduleEvents.ts
  src/pages/EmergencyViewPage/EmergencyViewPage.scss
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/EmergencyViewPage/EmergencyViewPageRooms.tsx
  src/pages/EmergencyViewPage/EmergencyViewRoom.tsx
  src/pages/EmergencyViewPage/EmergencyViewTabs.tsx
  src/pages/EmergencyViewPage/index.ts
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
  src/scss/constants.scss
Labels: 💡 new-feature, ✨ UI/UX, 💎 styles

#2116 Serve resized user avatars in Chat panel
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/NavSearchBar/NavSearchResult.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.tsx
  src/components/organisms/ChatSidebar/components/PrivateChatPreview/PrivateChatPreview.tsx
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
  src/components/templates/Audience/Audience.tsx
  src/hooks/useUploadProfilePictureHandler.ts
  src/settings.ts
  src/utils/image.ts
  storage.rules
Labels: P2 - High, 🏎️ performance

#2118 Adds better emails/venues access upload
  scripts/configure-venue-access.ts
Labels: 💡 new-feature

#2119 Removes search icon shift
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.scss
Labels: 🐛 bug, 💎 styles

#2130 fix and refactor shoutouter
  src/components/templates/AnimateMap/components/Shoutouter/Shoutouter.scss
  src/components/templates/AnimateMap/components/Shoutouter/Shoutouter.tsx
  src/components/templates/AnimateMap/game/map/systems/BubbleSystem.ts
Labels: 💎 styles

#2127 disabled schedule on venue create
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/InformationLeftColumn/InformationLeftColumn.scss
  src/pages/Admin/Venue/VenueWizard.tsx
  src/scss/constants.scss
Labels: 🐛 bug, ✨ UI/UX, 💎 styles

#2132 deploy staging -> master
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/components/Shoutouter/Shoutouter.scss
  src/components/templates/AnimateMap/components/Shoutouter/Shoutouter.tsx
  src/components/templates/AnimateMap/game/map/systems/BubbleSystem.ts
  src/pages/EmergencyViewPage/EmergencyViewRoom.tsx
Labels: 💎 styles, :rocket: deployment

#2133 deploy master -> env/burn-staging
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/components/Shoutouter/Shoutouter.scss
  src/components/templates/AnimateMap/components/Shoutouter/Shoutouter.tsx
  src/components/templates/AnimateMap/game/map/systems/BubbleSystem.ts
  src/pages/EmergencyViewPage/EmergencyViewRoom.tsx
Labels: 💎 styles, :rocket: deployment

#2136 remove welcome popup
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/AnimateMap/components/WelcomePopUp/WelcomePopUp.scss
  src/components/templates/AnimateMap/components/WelcomePopUp/WelcomePopUp.tsx
  src/components/templates/AnimateMap/components/index.ts
  src/components/templates/AnimateMap/game/GameInstance.ts
Labels: 💎 styles

#2139 Fixes participant stacking
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
Labels: 💎 styles

#2140 deploy staging -> master
  src/assets/images/AnimateMap/avatarFeets/feets.png
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelProvider.tsx
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/AnimateMap/components/PlayerContextMenu/PlayerContextMenu.tsx
  src/components/templates/AnimateMap/components/Shoutouter/Shoutouter.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/AnimateMap/components/WelcomePopUp/WelcomePopUp.scss
  src/components/templates/AnimateMap/components/WelcomePopUp/WelcomePopUp.tsx
  src/components/templates/AnimateMap/components/index.ts
  src/components/templates/AnimateMap/configs/GameConfig.ts
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/commands/RoundAvatar.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/game/map/systems/FirebarrelSystem.ts
Labels: 💎 styles, :rocket: deployment

#2143 [env/burn-staging] Fixes schedule height and padding. Fixes download buttons positioning
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
Labels: 💎 styles

#2145 Craco blows up w/o the check
  craco.config.js
Labels: 🐛 bug, 💻 eng-QoL, :desktop_computer: infrastructure, :beginner: good first review

#2146 Fixes too big avatars in video component
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.scss
  src/scss/global.scss
Labels: 🐛 bug, 💎 styles

#2142 fix shoutouter styles
  src/components/templates/AnimateMap/components/Shoutouter/Shoutouter.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.scss
Labels: 💎 styles

#2149 [env/burn-staging] minor registration flow tweaks
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/organisms/AnimateMapOnboardFlow/AnimateMapOnboardFlow.tsx
  src/pages/RegistrationFlow/InitialFormRF/InitialFormRF.tsx
  src/pages/RegistrationFlow/RegisterFormRF/RegisterFormRF.tsx
  src/settings.ts
Labels: ✨ UI/UX, P1 - Critical, :beginner: good first review

#2150 deploy staging -> master
  src/assets/sounds/AnimateMap/playa_01.mp3
  src/assets/sounds/AnimateMap/playa_02.mp3
  src/assets/sounds/AnimateMap/playa_03.mp3
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/RoomS/Game.cs
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/Shoutouter/Shoutouter.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.scss
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/map/components/BubbleComponent.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/entities/createBotEntity.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ClickableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ZoomedSpriteSystem.ts
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.scss
  src/scss/global.scss
Labels: 💎 styles, :rocket: deployment

#2154 deploy master -> env/burn-staging
  src/assets/sounds/AnimateMap/playa_01.mp3
  src/assets/sounds/AnimateMap/playa_02.mp3
  src/assets/sounds/AnimateMap/playa_03.mp3
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/RoomS/Game.cs
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/Shoutouter/Shoutouter.scss
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.scss
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/map/components/BubbleComponent.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/entities/createBotEntity.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ClickableSpriteSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ZoomedSpriteSystem.ts
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.scss
  src/scss/global.scss
Labels: :rocket: deployment

#2153 [BM] navbar adaptive adjustments + simplified view button
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.scss
Labels: ✨ UI/UX, 💎 styles

#2156 change firebarrel videochat leave button
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
Labels: 💎 styles

#2159 deploy staging -> master
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/createBotEntity.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
Labels: 💎 styles, :rocket: deployment

#2160 deploy master -> env/burn-staging
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/createBotEntity.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
Labels: :rocket: deployment

#2161 BM: Pointer cursor over the clickable elements
  src/components/molecules/NavBar/NavBar.scss
  src/components/templates/AnimateMap/game/map/components/HoverableSpriteComponent.ts
  src/components/templates/AnimateMap/game/map/systems/HoverableSpriteSystem.ts
Labels: 💎 styles

#2092 [env/burn-staging] weather in the schedule
  firestore.rules
  functions/index.js
  functions/openweathermap.js
  functions/src/utils/misc.js
  src/api/openweathermap.ts
  src/assets/images/BlackRockWeather/day1.png
  src/assets/images/BlackRockWeather/day2.png
  src/assets/images/BlackRockWeather/day3.png
  src/assets/images/BlackRockWeather/evening1.png
  src/assets/images/BlackRockWeather/evening2.png
  src/assets/images/BlackRockWeather/evening3.png
  src/assets/images/BlackRockWeather/morning1.png
  src/assets/images/BlackRockWeather/morning2.png
  src/assets/images/BlackRockWeather/morning3.png
  src/assets/images/BlackRockWeather/night1.png
  src/assets/images/BlackRockWeather/night2.png
  src/assets/images/BlackRockWeather/night3.png
  src/components/molecules/NavBarScheduleWeather/NavBarScheduleWeather.scss
  src/components/molecules/NavBarScheduleWeather/NavBarScheduleWeather.tsx
  src/components/molecules/NavBarScheduleWeather/WeatherBackground/BlackRockWeatherBackground.scss
  src/components/molecules/NavBarScheduleWeather/WeatherBackground/BlackRockWeatherBackground.tsx
  src/components/molecules/NavBarScheduleWeather/WeatherBackground/index.ts
  src/components/molecules/NavBarScheduleWeather/index.ts
  src/components/molecules/PlayaTime/PlayaTime.tsx
  src/components/molecules/PlayaTime/usePlayaTime.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/settings.ts
Labels: 💎 styles

#2168 Fix broken functions js import
  functions/openweathermap.js
Labels: 🐛 bug

#2166 update Firebarrel's Leave button
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.scss
Labels: 💎 styles

#2170 [env/burn-staging] change 'buy tickets' to 'get a ticket'
  src/pages/RegistrationFlow/InitialFormRF/InitialFormRF.tsx
Labels: 🐛 bug, :beginner: good first review

#2171 deploy master -> staging
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIOBots.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIODataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/RoomOperator/PlayerIOSeparatedRoomOperator.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.scss
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/types/venues.ts
Labels: :rocket: deployment

#2172 deploy master -> env/burn-staging
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIOBots.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIODataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/RoomOperator/PlayerIOSeparatedRoomOperator.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.scss
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/AnimateMap/components/UIOverlay/UIOverlay.scss
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/types/venues.ts
Labels: 💎 styles, :rocket: deployment

#2165 Add Create button on Playa
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/HelpCenter/components/HelpCenterContent/HelpCenterContent.tsx
Labels: 💎 styles

#2040 Compress images 3
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/molecules/EditRoomForm/EditRoomForm.tsx
  src/components/molecules/ImageInput/ImageInput.tsx
  src/hooks/useImageInputCompression.ts
  src/hooks/useTryCompressImage.ts
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Room/Card/RoomCard.styles.ts
  src/pages/Admin/Room/Card/RoomCard.tsx
  src/pages/Admin/Room/Card/RoomCard.types.ts
  src/pages/Admin/Room/Card/index.ts
  src/pages/Admin/Room/Edit/RoomEditModal.scss
  src/pages/Admin/Room/Edit/RoomEditModal.tsx
  src/pages/Admin/Room/Edit/index.ts
  src/pages/Admin/Room/Modal/Item/Item.styles.ts
  src/pages/Admin/Room/Modal/Item/Item.tsx
  src/pages/Admin/Room/Modal/Item/Item.types.ts
  src/pages/Admin/Room/Modal/Item/index.ts
  src/pages/Admin/Room/Modal/RoomModal.styles.ts
  src/pages/Admin/Room/Modal/RoomModal.tsx
  src/pages/Admin/Room/Modal/RoomModal.types.ts
  src/pages/Admin/Room/Modal/index.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/scss/global.scss
  src/settings.ts
Labels: 💎 styles

#2124 [env/burn-staging] Fix events in schedule and fix chats header
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/scss/constants.scss
  src/settings.ts
Labels: 💎 styles

#2174 [env/burn-staging] Fix art piece aspect ratio and going over 100% width/height
  src/components/templates/ArtPiece/ArtPiece.scss
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/types/VideoAspectRatio.ts
Labels: 🐛 bug, :x: do-not-merge, ✨ UI/UX, :beginner: good first review

#2181 [env/burn-staging] Add local time text
  src/components/molecules/ScheduleEventListNG/ScheduleEventListNG.scss
  src/components/molecules/ScheduleEventListNG/ScheduleEventSubListNG.tsx
Labels: 💎 styles

#2162 fixed live attendees count
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/hooks/useRoomRecentUsersList.ts
  src/hooks/users/useVisitedLocationsUser.ts
  src/utils/user.ts
Labels: 🐛 bug, ✨ UI/UX

#2183 Fix event links in the schedule
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/settings.ts
Labels: 🐛 bug, :muscle: enhancement, P0 - Emergency/Fire :fire::fire::fire:

#2190 Deploy staging -> master
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/molecules/EditRoomForm/EditRoomForm.tsx
  src/components/molecules/ImageInput/ImageInput.tsx
  src/components/molecules/ScheduleItemNG/ScheduleItemNG.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/hooks/useImageInputCompression.ts
  src/hooks/useRoomRecentUsersList.ts
  src/hooks/useTryCompressImage.ts
  src/hooks/users/useVisitedLocationsUser.ts
  src/pages/Admin/Details/Form/DetailsForm.tsx
  src/pages/Admin/Room/Card/RoomCard.styles.ts
  src/pages/Admin/Room/Card/RoomCard.tsx
  src/pages/Admin/Room/Card/RoomCard.types.ts
  src/pages/Admin/Room/Card/index.ts
  src/pages/Admin/Room/Edit/RoomEditModal.scss
  src/pages/Admin/Room/Edit/RoomEditModal.tsx
  src/pages/Admin/Room/Edit/index.ts
  src/pages/Admin/Room/Modal/Item/Item.styles.ts
  src/pages/Admin/Room/Modal/Item/Item.tsx
  src/pages/Admin/Room/Modal/Item/Item.types.ts
  src/pages/Admin/Room/Modal/Item/index.ts
  src/pages/Admin/Room/Modal/RoomModal.styles.ts
  src/pages/Admin/Room/Modal/RoomModal.tsx
  src/pages/Admin/Room/Modal/RoomModal.types.ts
  src/pages/Admin/Room/Modal/index.ts
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/scss/global.scss
  src/settings.ts
  src/utils/user.ts
Labels: 💎 styles, :rocket: deployment
