Repository sparkletown/sparkle, pull requests merged in 2021-05, with the labels that each got.

#1155 add generic Twilio VideoParticipant component + useParticipantState hook
  src/components/organisms/Video/VideoParticipant.scss
  src/components/organisms/Video/VideoParticipant.tsx
  src/hooks/twilio.ts
  src/utils/filter.ts
  src/utils/twilio.ts
Labels: :muscle: enhancement, 💎 styles, 💥 tech-debt

#1354 fix staging + clean up User Profile Modal leftovers
  src/components/organisms/Video/VideoParticipant.tsx
  src/types/chat.ts
Labels: 🐛 bug

#1358 Initial approach on posterhall performance optimisation
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Button/index.ts
  src/components/templates/PosterHall/PosterHall.scss
  src/components/templates/PosterHall/PosterHall.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.scss
  src/hooks/posters.ts
  src/hooks/useDebounceSearch.ts
  src/settings.ts
Labels: :muscle: enhancement, 💎 styles, 🔨🍷 break-glass-approval-bypass

#1359 Initial approach on posterhall performance optimisation (#1358)
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Button/index.ts
  src/components/templates/PosterHall/PosterHall.scss
  src/components/templates/PosterHall/PosterHall.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.scss
  src/hooks/posters.ts
  src/hooks/useDebounceSearch.ts
  src/settings.ts
Labels: :rocket: deployment

#1102 Bump react-scripts from 3.4.1 to 4.0.3 + fix associated tech debt
  .eslintrc
  functions/venue.js
  jest.config.js
  package-lock.json
  package.json
  public/icons/chat-delete-icon.png
  public/icons/chat-input-submit-inactive.png
  public/icons/chat-input-submit.png
  public/icons/nav-link-search-icon.png
  src/assets/icons/checkbox-checked.png
  src/assets/icons/default-map-icon.png
  src/assets/icons/list-arrow-down-white.png
  src/assets/icons/nav-party-logo-icon.png
  src/assets/icons/navbar-dropdown-middle-after.png
  src/assets/icons/navbar-link-gift.png
  src/assets/icons/navbar-link-menu.png
  src/assets/icons/navbar-link-message.png
  src/assets/icons/navbar-link-radio-off.png
  src/assets/icons/navbar-link-radio.png
  src/assets/icons/slide-btn-icon.png
  src/assets/icons/sparkle-nav-logo-animate.png
  src/assets/icons/sparkle-nav-logo-text.png
  src/assets/icons/sparkle-nav-logo.png
  src/assets/images/coreality-logo-sparkles.png
  src/assets/images/sparkle-logo.png
  src/assets/images/sparkleverse-logo.png
  src/assets/images/sparkleverse-logo_navbar.png
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/playa.scss
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/hooks/useConnectRelatedVenues.ts
  src/hooks/useFirestoreConnect.ts
  src/pages/Account/Account.scss
  src/pages/Account/Venue/VenueMapEdition/CustomDragLayer.tsx
  src/pages/Admin/Admin.scss
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/Venue.scss
  src/pages/Admin/Venue/img/checkbox-checked.png
  src/pages/VenuePage/TemplateWrapper.tsx
  src/serviceWorker.js
  src/settings.ts
  src/types/reactions.ts
  src/utils/selectors.ts
  tsconfig.json
Labels: dependencies, 💎 styles, 💥 tech-debt, 💻 eng-QoL

#1365 deploy staging -> master
  .eslintrc
  functions/venue.js
  jest.config.js
  package-lock.json
  package.json
  public/icons/chat-delete-icon.png
  public/icons/chat-input-submit-inactive.png
  public/icons/chat-input-submit.png
  public/icons/nav-link-search-icon.png
  src/assets/icons/checkbox-checked.png
  src/assets/icons/default-map-icon.png
  src/assets/icons/list-arrow-down-white.png
  src/assets/icons/nav-party-logo-icon.png
  src/assets/icons/navbar-dropdown-middle-after.png
  src/assets/icons/navbar-link-gift.png
  src/assets/icons/navbar-link-menu.png
  src/assets/icons/navbar-link-message.png
  src/assets/icons/navbar-link-radio-off.png
  src/assets/icons/navbar-link-radio.png
  src/assets/icons/slide-btn-icon.png
  src/assets/icons/sparkle-nav-logo-animate.png
  src/assets/icons/sparkle-nav-logo-text.png
  src/assets/icons/sparkle-nav-logo.png
  src/assets/images/coreality-logo-sparkles.png
  src/assets/images/sparkle-logo.png
  src/assets/images/sparkleverse-logo.png
  src/assets/images/sparkleverse-logo_navbar.png
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/playa.scss
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/hooks/useConnectRelatedVenues.ts
  src/hooks/useFirestoreConnect.ts
  src/pages/Account/Account.scss
  src/pages/Account/Venue/VenueMapEdition/CustomDragLayer.tsx
  src/pages/Admin/Admin.scss
  src/pages/Admin/AdminVenuePreview.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/Venue.scss
  src/pages/Admin/Venue/img/checkbox-checked.png
  src/pages/VenuePage/TemplateWrapper.tsx
  src/serviceWorker.js
  src/settings.ts
  src/types/reactions.ts
  src/utils/selectors.ts
  tsconfig.json
Labels: :rocket: deployment, dependencies, 💎 styles

#1366 remove unused legacy getVenueEvents backend function
  functions/venue.js
Labels: 💥 tech-debt

#1369 Changes the way we use Array type
  src/types/Firestore.ts
Labels: 💥 tech-debt

#1389 add PLATFORM_BRAND_NAME + set page title in VenuePage based on current venue name
  src/pages/VenuePage/VenuePage.tsx
  src/settings.ts
Labels: :pray: community-contribution, 💡 new-feature

#1379 increase profile name max length to 40
  src/components/organisms/EditProfileModal/EditProfileModal.tsx
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/pages/Account/Profile.tsx
  src/settings.ts
Labels: :muscle: enhancement, :pray: community-contribution

#1374 add threaded chat + new TextButton component, refactor Chat API
  src/api/chat.ts
  src/api/venue.ts
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/atoms/ChatMessage/ChatMessage.tsx
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.scss
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/atoms/ChatMessageInfo/index.ts
  src/components/atoms/Checkbox/Checkbox.scss
  src/components/atoms/TextButton/TextButton.scss
  src/components/atoms/TextButton/TextButton.tsx
  src/components/atoms/TextButton/index.ts
  src/components/molecules/Chatbox/Chatbox.scss
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/Chatbox/components/ChatboxThreadControls/ChatboxThreadControls.scss
  src/components/molecules/Chatbox/components/ChatboxThreadControls/ChatboxThreadControls.tsx
  src/components/molecules/Chatbox/components/ChatboxThreadControls/index.ts
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/TableHeader/TableHeader.scss
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/VenueChat.tsx
  src/hooks/privateChats.ts
  src/hooks/useVenueChat.ts
  src/scss/constants.scss
  src/types/chat.ts
  src/utils/chat.ts
  src/utils/time.ts
Labels: :muscle: enhancement, 💎 styles, 💡 new-feature, 💥 tech-debt

#1409 add support for custom default avatars
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/organisms/EditProfileModal/EditProfileModal.tsx
  src/components/organisms/ProfileModal/EditProfileForm/EditProfileForm.tsx
  src/pages/Account/Profile.tsx
  src/settings.ts
Labels: :muscle: enhancement, ✨ UI/UX

#1368 refactor related venues + event fetching for performance/efficiency
  .eslintrc
  functions/stats.js
  scripts/get-events.ts
  scripts/get-venue-owners.ts
  scripts/get-venues.ts
  scripts/rescale-placement.ts
  src/api/events.ts
  src/api/sovereignVenue.ts
  src/api/venue.ts
  src/components/molecules/LiveSchedule/LiveSchedule.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/molecules/VenuePartygoers/VenuePartygoers.tsx
  src/components/organisms/AppRouter/AppRouter.jsx
  src/components/organisms/Badges/Badges.tsx
  src/components/organisms/SchedulePageModal/SchedulePageModal.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/ArtPiece/index.ts
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/index.ts
  src/components/templates/Playa/Playa.tsx
  src/hooks/events.ts
  src/hooks/reactions.tsx
  src/hooks/useConnectRelatedVenues.ts
  src/hooks/useRelatedVenues.tsx
  src/hooks/useRoom.ts
  src/hooks/useSovereignVenueId.ts
  src/hooks/users.ts
  src/index.tsx
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Questions.tsx
  src/pages/Account/SplashPage.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Admin_v2.tsx
  src/pages/Admin/VenueList/VenueList.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/pages/VenuePage/helpers.ts
  src/settings.ts
  src/types/Firestore.ts
  src/types/venues.ts
  src/utils/performance.ts
  src/utils/selectors.ts
  src/utils/types.ts
Labels: 🏎️ performance, 💥 tech-debt

#1302 refactor Event Schedule UI for new design + add personal schedule
  src/api/profile.ts
  src/assets/icons/icon-loading.svg
  src/components/molecules/EventDisplay/EventDisplay.tsx
  src/components/molecules/EventPaymentButton/EventPaymentButton.tsx
  src/components/molecules/LiveSchedule/LiveSchedule.scss
  src/components/molecules/LiveSchedule/LiveSchedule.tsx
  src/components/molecules/LiveSchedule/index.ts
  src/components/molecules/Loading/Loading.scss
  src/components/molecules/Loading/Loading.tsx
  src/components/molecules/Loading/index.ts
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/OnlineStats/OnlineStats.scss
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/Schedule/Schedule.constants.scss
  src/components/molecules/Schedule/Schedule.scss
  src/components/molecules/Schedule/Schedule.tsx
  src/components/molecules/Schedule/Schedule.utils.ts
  src/components/molecules/Schedule/index.ts
  src/components/molecules/ScheduleEvent/ScheduleEvent.scss
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/molecules/ScheduleEvent/index.ts
  src/components/molecules/ScheduleRoomEvents/ScheduleRoomEvents.scss
  src/components/molecules/ScheduleRoomEvents/ScheduleRoomEvents.tsx
  src/components/molecules/ScheduleRoomEvents/index.ts
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.scss
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.tsx
  src/components/molecules/ScheduleVenueDescription/index.ts
  src/components/molecules/UserReactions/UserReactions.tsx
  src/components/molecules/VenueInfoEvents/VenueInfoEvents.scss
  src/components/organisms/AppRouter/AppRouter.jsx
  src/components/organisms/DustStorm/DustStorm.tsx
  src/components/organisms/InformationLeftColumn/InformationLeftColumn.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/components/organisms/SchedulePageModal/SchedulePageModal.scss
  src/components/organisms/SchedulePageModal/SchedulePageModal.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/Playa/Playa.tsx
  src/pages/Account/SplashPage.tsx
  src/pages/Admin/VenueEventDetails.tsx
  src/pages/Schedule/SchedulePage.scss
  src/pages/Schedule/SchedulePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/scss/constants.scss
  src/settings.ts
  src/types/User.ts
  src/types/venues.ts
  src/utils/event.ts
  src/utils/formatMeasurement.ts
  src/utils/time.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1380 move the delete space button to the bottom of the list in Admin (v1) + update labels
  src/pages/Admin/Admin.scss
  src/pages/Admin/Admin.tsx
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1400 remove unused legacy eventbrite code + add 2021 online burn ticket url
  package-lock.json
  package.json
  public/index.html
  src/components/organisms/GiftTicketModal/GiftTicketModal.tsx
  src/react-app-env.d.ts
  src/settings.ts
Labels: dependencies, 💥 tech-debt

#1399 improve 'our git flow' + minor tweaks in README
  README.md
Labels: 📚 documentation

#1436 fix CircleCI config to allow firebase deploy to remove deleted functions
  .circleci/config.yml
Labels: :desktop_computer: infrastructure, 🐛 bug

#1438 removed flex-shrink from the room img
  src/components/templates/PartyMap/components/Map/MapRoom.scss
Labels: ✨ UI/UX, 🐛 bug, 💎 styles

#1384 User Status: As a user at an event, I can set my status to busy
  src/api/chat.ts
  src/api/profile.ts
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.scss
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.tsx
  src/components/atoms/UserStatusDropdown/index.ts
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavSearchBar/NavSearchResult.tsx
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.tsx
  src/components/organisms/ChatSidebar/components/PrivateChatPreview/PrivateChatPreview.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
  src/components/organisms/ProfileModal/ProfilePopoverContent.scss
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/hooks/useProfileStatus.ts
  src/scss/constants.scss
  src/settings.ts
  src/types/User.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1420 add OHBM Screening room
  firestore.rules
  functions/venue.js
  src/components/atoms/PosterCategory/PosterCategory.scss
  src/components/atoms/PosterCategory/PosterCategory.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/ScreeningRoom/ScreeningRoom.scss
  src/components/templates/ScreeningRoom/ScreeningRoom.tsx
  src/components/templates/ScreeningRoom/components/ScreeningVideoPreview/ScreeningVideoPreview.scss
  src/components/templates/ScreeningRoom/components/ScreeningVideoPreview/ScreeningVideoPreview.tsx
  src/components/templates/ScreeningRoom/components/ScreeningVideoPreview/index.ts
  src/components/templates/ScreeningRoom/index.ts
  src/components/templates/ScreeningRoom/useScreeningRoom.ts
  src/pages/Admin/Venue/TemplateForm.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/types/Firestore.ts
  src/types/screeningRoom.ts
  src/types/venues.ts
  src/utils/selectors.ts
Labels: 💎 styles, 💡 new-feature

#1442 deploy staging -> master
  .circleci/config.yml
  README.md
  firestore.rules
  functions/package-lock.json
  functions/package.json
  functions/venue.js
  package-lock.json
  package.json
  public/index.html
  src/api/chat.ts
  src/api/profile.ts
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/atoms/PosterCategory/PosterCategory.scss
  src/components/atoms/PosterCategory/PosterCategory.tsx
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.scss
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.tsx
  src/components/atoms/UserStatusDropdown/index.ts
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavSearchBar/NavSearchResult.tsx
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.tsx
  src/components/organisms/ChatSidebar/components/PrivateChatPreview/PrivateChatPreview.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
  src/components/organisms/GiftTicketModal/GiftTicketModal.tsx
  src/components/organisms/ProfileModal/ProfilePopoverContent.scss
  src/components/organisms/ProfileModal/UserInformationContent/UserInformationContent.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.scss
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/ScreeningRoom/ScreeningRoom.scss
  src/components/templates/ScreeningRoom/ScreeningRoom.tsx
  src/components/templates/ScreeningRoom/components/ScreeningVideoPreview/ScreeningVideoPreview.scss
  src/components/templates/ScreeningRoom/components/ScreeningVideoPreview/ScreeningVideoPreview.tsx
  src/components/templates/ScreeningRoom/components/ScreeningVideoPreview/index.ts
  src/components/templates/ScreeningRoom/index.ts
  src/components/templates/ScreeningRoom/useScreeningRoom.ts
  src/hooks/useProfileStatus.ts
  src/pages/Admin/Admin.scss
  src/pages/Admin/Admin.tsx
  src/pages/Admin/Venue/TemplateForm.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/react-app-env.d.ts
  src/scss/constants.scss
  src/settings.ts
  src/types/Firestore.ts
  src/types/User.ts
  src/types/screeningRoom.ts
  src/types/venues.ts
  src/utils/selectors.ts
Labels: :rocket: deployment, dependencies, 💎 styles

#1439 fix logic in Auditorium (v1) where row/column 0 is treated as false instead of being a valid seat
  src/components/templates/Audience/Audience.tsx
  src/components/templates/PartyMap/components/Map/hooks/usePartygoersBySeat.ts
Labels: :pray: community-contribution, 🐛 bug

#1445 increase number of poster previews shown from 12 to 48
  src/settings.ts
Labels: :pray: community-contribution

#1419 add optional scheduleStartDate to DB + force NavBarSchedule to start from that date when present
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
Labels: :muscle: enhancement, :pray: community-contribution

#1396 add ability to share a PosterPage on social media
  package-lock.json
  package.json
  src/components/atoms/LinkButton/LinkButton.scss
  src/components/atoms/LinkButton/LinkButton.tsx
  src/components/atoms/LinkButton/index.ts
  src/components/atoms/SparkleLogo/SparkleLogo.scss
  src/components/atoms/SparkleLogo/SparkleLogo.tsx
  src/components/atoms/SparkleLogo/index.ts
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/PosterPage/components/ShareModal/ShareModal.scss
  src/components/templates/PosterPage/components/ShareModal/ShareModal.tsx
  src/components/templates/PosterPage/components/ShareModal/index.ts
  src/components/templates/PosterPage/components/ShareModal/utils.ts
  src/pages/VenuePage/VenuePage.tsx
  src/settings.ts
  src/utils/url.ts
Labels: :muscle: enhancement, dependencies, ✨ UI/UX, 💎 styles

#1460 improve PosterHall search by adjusting fuse.js options + related
  src/components/templates/PosterHall/PosterHall.tsx
  src/hooks/posters.ts
  src/utils/text.ts
Labels: :muscle: enhancement, :pray: community-contribution

#1466 add my engineering QoL helper scripts
  scripts/deploy-master-to-prod-envs
  scripts/pr-show-commits
  scripts/pr-unresolved-review-comments
Labels: 💻 eng-QoL

#1468 refactor openUrl/openRoomUrl/enterVenue to allow custom openers + use React Router for navigation in PosterPreview / NavBar's back button
  src/components/molecules/NavBar/NavBar.tsx
  src/components/templates/PosterHall/PosterHall.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/utils/url.ts
Labels: :muscle: enhancement

#1470 Pay the @debt - it was a false positive
  src/utils/text.ts
Labels: :pray: community-contribution, 💥 tech-debt

#1464 add sorting + proper 'show more' button in ScreeningRoom
  src/components/templates/ScreeningRoom/ScreeningRoom.tsx
  src/components/templates/ScreeningRoom/useScreeningRoom.ts
  src/settings.ts
Labels: :muscle: enhancement

#1472 deploy staging -> master
  functions/venue.js
  package-lock.json
  package.json
  scripts/deploy-master-to-prod-envs
  scripts/pr-show-commits
  scripts/pr-unresolved-review-comments
  src/api/admin.ts
  src/api/table.ts
  src/components/atoms/ConfirmationModal/ConfirmationModal.tsx
  src/components/atoms/LinkButton/LinkButton.scss
  src/components/atoms/LinkButton/LinkButton.tsx
  src/components/atoms/LinkButton/index.ts
  src/components/atoms/PosterCategory/PosterCategory.scss
  src/components/atoms/SparkleLogo/SparkleLogo.scss
  src/components/atoms/SparkleLogo/SparkleLogo.tsx
  src/components/atoms/SparkleLogo/index.ts
  src/components/atoms/Toggler/Toggler.tsx
  src/components/atoms/Toggler/index.ts
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/TableHeader/TableHeader.scss
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.scss
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.tsx
  src/components/molecules/TableHeader/components/EditTableTitleModal/index.ts
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/PartyMap/components/Map/hooks/usePartygoersBySeat.ts
  src/components/templates/PosterHall/PosterHall.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/PosterPage/components/ShareModal/ShareModal.scss
  src/components/templates/PosterPage/components/ShareModal/ShareModal.tsx
  src/components/templates/PosterPage/components/ShareModal/index.ts
  src/components/templates/PosterPage/components/ShareModal/utils.ts
  src/components/templates/ScreeningRoom/ScreeningRoom.tsx
  src/components/templates/ScreeningRoom/useScreeningRoom.ts
  src/hooks/posters.ts
  src/pages/VenuePage/VenuePage.tsx
  src/scss/constants.scss
  src/scss/global.scss
  src/settings.ts
  src/types/Firestore.ts
  src/utils/selectors.ts
  src/utils/text.ts
  src/utils/url.ts
Labels: :rocket: deployment

#1426 add EventModal + cleanup from new schedule implementation
  src/api/profile.ts
  src/assets/icons/icon-loading.svg
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Button/Button.types.ts
  src/components/molecules/CountDown/CountDown.tsx
  src/components/molecules/CountDown/index.ts
  src/components/molecules/EventDisplay/EventDisplay.scss
  src/components/molecules/EventDisplay/EventDisplay.tsx
  src/components/molecules/Loading/Loading.tsx
  src/components/molecules/LoadingPage/loading.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/index.js
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/NavSearchBar/index.ts
  src/components/molecules/Schedule/Schedule.scss
  src/components/molecules/Schedule/Schedule.tsx
  src/components/molecules/Schedule/utils.ts
  src/components/molecules/ScheduleEvent/ScheduleEvent.scss
  src/components/molecules/ScheduleEvent/ScheduleEvent.tsx
  src/components/molecules/ScheduleRoomEvents/ScheduleRoomEvents.scss
  src/components/molecules/ScheduleRoomEvents/ScheduleRoomEvents.tsx
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.scss
  src/components/molecules/ScheduleVenueDescription/ScheduleVenueDescription.tsx
  src/components/molecules/VenueInfoEvents/VenueInfoEvents.scss
  src/components/molecules/VenueInfoEvents/VenueInfoEvents.tsx
  src/components/organisms/AuthenticationModal/AuthenticationModal.tsx
  src/components/organisms/AuthenticationModal/index.ts
  src/components/organisms/EventModal/EventModal.scss
  src/components/organisms/EventModal/EventModal.tsx
  src/components/organisms/EventModal/index.ts
  src/components/organisms/NavBarSchedule/NavBarSchedule.scss
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/NavBarSchedule/utils.ts
  src/components/organisms/PaymentModal/PaymentConfirmation.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/PartyMap/components/PartyTitle/PartyTitle.tsx
  src/hooks/useRoom.ts
  src/pages/Account/Step1.tsx
  src/pages/Admin/Admin_v2.tsx
  src/pages/Admin/Venue/VenueWizard/Create/VenueWizardCreate.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/scss/constants.scss
  src/scss/global.scss
  src/settings.ts
  src/types/venues.ts
  src/utils/event.ts
  src/utils/range.ts
  src/utils/room.ts
  src/utils/time.ts
  src/utils/types.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#1473 add loading when editing venue table
  functions/venue.js
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.tsx
Labels: ✨ UI/UX, 🐛 bug

#1343 Add chat 'poll' mode + related ChatPoll feature
  functions/venue.js
  src/api/admin.ts
  src/api/chat.ts
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/ChatMessageBox/index.ts
  src/components/molecules/ChatPoll/ChatPoll.scss
  src/components/molecules/ChatPoll/ChatPoll.tsx
  src/components/molecules/ChatPoll/index.ts
  src/components/molecules/Chatbox/Chatbox.scss
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.scss
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.tsx
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/index.ts
  src/components/molecules/PollBox/PollBox.scss
  src/components/molecules/PollBox/PollBox.tsx
  src/components/molecules/PollBox/index.ts
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/VenueChat.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/useVenueChat.ts
  src/hooks/useVenuePoll.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/constants.scss
  src/settings.ts
  src/types/chat.ts
  src/utils/chat.ts
Labels: 💎 styles, 💡 new-feature

#1424 add chat 'question' mode to highlight questions in the chat
  src/components/atoms/Button/Button.tsx
  src/components/atoms/ChatMessage/ChatMessage.scss
  src/components/atoms/ChatMessage/ChatMessage.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.tsx
  src/components/molecules/Chatbox/components/ChatboxThreadControls/ChatboxThreadControls.scss
  src/components/molecules/Chatbox/components/ChatboxThreadControls/ChatboxThreadControls.tsx
  src/components/organisms/ChatSidebar/components/PrivateChatPreview/PrivateChatPreview.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/hooks/privateChats.ts
  src/hooks/useVenueChat.ts
  src/types/chat.ts
  src/types/reactions.ts
Labels: 💎 styles, 💡 new-feature

#1474 Fixes object freezing err
  src/components/templates/ScreeningRoom/useScreeningRoom.ts
Labels: 🔨🍷 break-glass-approval-bypass
