Repository sparkletown/sparkle, pull requests merged in 2021-10, with the labels that each got.

#2382 pass parentId to newly created spaces
  functions/venue.js
  src/api/admin.ts
  src/components/molecules/VenueRoomItem/VenueRoomItem.tsx
Labels: 🐛 bug

#2385 show portal name when editing a space
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
Labels: 🐛 bug, :muscle: enhancement

#2312 edit spaces and their venue values in admin v3
  functions/venue.js
  src/api/admin.ts
  src/api/venue.ts
  src/components/atoms/PortalVisibility/PortalVisibility.tsx
  src/components/molecules/EditRoomForm/index.ts
  src/components/molecules/SpaceEditForm/SpaceEditForm.scss
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/SpaceEditForm/index.ts
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/pages/Admin/Details/ValidationSchema.ts
Labels: 💎 styles

#2327 download map backgrounds when entering spaces tab
  src/api/admin.ts
  src/assets/backgrounds/Asteroid.jpg
  src/assets/backgrounds/BigIsland.jpg
  src/assets/backgrounds/Corridor.jpg
  src/assets/backgrounds/Cubes.jpg
  src/assets/backgrounds/Earth.jpg
  src/assets/backgrounds/Field.jpg
  src/assets/backgrounds/FireSide.jpg
  src/assets/backgrounds/FloatyCity.jpg
  src/assets/backgrounds/Halloween.png
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/hooks/useFetchAssets.ts
  src/pages/Admin/BackgroundSelect/BackgroundSelect.tsx
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/settings/index.ts
  src/settings/mapBackgrounds.ts
Labels: :muscle: enhancement

#2386 add useCheckImage to admin run tab
  src/pages/Admin/MapPreview/MapPreview.tsx
Labels: 🐛 bug

#2398 Update the color generation
  src/scss/colors.scss
  src/scss/constants.scss
Labels: :muscle: enhancement, 💎 styles

#2397 Added Google/FB auth
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/hooks/useSocialSignIn.ts
  src/pages/Account/Login.scss
Labels: 💡 new-feature, 💎 styles

#2390 Unified AdminDashboard style with the rest of the admin
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.scss
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.tsx
  src/components/molecules/AdminSpaceCard/index.ts
  src/components/molecules/AdminVenueCard/AdminVenueCard.tsx
  src/components/molecules/AdminVenueCard/index.ts
  src/components/organisms/AdminDashboard/AdminDashboard.scss
  src/components/organisms/AdminDashboard/AdminDashboard.tsx
  src/scss/constants.scss
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles, 🏃‍♀️🏃‍♂️ sprint 24

#2340 add parent Id input to admin v3
  functions/venue.js
  src/api/admin.ts
  src/components/atoms/Toggler/Toggler.tsx
  src/hooks/worlds/useWorldVenues.ts
  src/pages/Admin/AdvancedSettings/AdvancedSettings.scss
  src/pages/Admin/AdvancedSettings/AdvancedSettings.styles.ts
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.types.ts
  src/pages/AdminAdvancedSettings/AdminAdvancedSettings.tsx
  src/types/venues.ts
  src/utils/validations.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#2400 World admin tab navigation
  src/components/organisms/WorldForm/components/WorldNav/WorldNav.scss
  src/components/organisms/WorldForm/components/WorldNav/WorldNav.tsx
  src/components/organisms/WorldForm/components/WorldNav/WorldNavIconMap.ts
  src/components/organisms/WorldForm/components/WorldNav/WorldNavTab.ts
  src/components/organisms/WorldForm/components/WorldNav/index.ts
  src/components/organisms/WorldForm/components/WorldNav/worldNavLabelMap.ts
  src/pages/WorldEditor/WorldEditor.scss
  src/pages/WorldEditor/WorldEditor.tsx
  src/settings/urlSettings.ts
  src/utils/url.ts
Labels: :muscle: enhancement, 💡 new-feature, ✨ UI/UX, 💎 styles, admin, :beginner: good first review

#2363 External link V2
  src/assets/icons/sparkle-logo-icon.svg
  src/components/atoms/SparkleLogoIcon/SparkleLogoIcon.scss
  src/components/atoms/SparkleLogoIcon/SparkleLogoIcon.tsx
  src/components/atoms/SparkleLogoIcon/index.ts
  src/components/atoms/VenueWithOverlay/VenueWithOverlay.scss
  src/components/templates/ExternalRoom/ExternalRoom.scss
  src/components/templates/ExternalRoom/ExternalRoom.tsx
  src/settings/index.ts
Labels: ✨ UI/UX, 💎 styles

#2280 Fix upload avatar image and avatar image presentation
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.scss
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
  src/scss/constants.scss
Labels: 💎 styles, :beginner: good first review
