Repository sparkletown/sparkle, pull requests merged in 2021-01, with the labels that each got.

#1042 Refactor users fetching and selecting to improve long initial load
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/MessageList/MessageList.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/PrivateRecipientSearchInput/PrivateRecipientSearchInput.tsx
  src/components/molecules/Sidebar/Sidebar.tsx
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/molecules/UserList/UserList.tsx
  src/components/molecules/UserSearchBar/UserSearchBar.tsx
  src/components/molecules/VenueChat/VenueChat.tsx
  src/components/molecules/VenuePartygoers/VenuePartygoers.tsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/components/organisms/Room/Participant.tsx
  src/components/organisms/Room/Room.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/AvatarGrid/AvatarGrid.tsx
  src/components/templates/AvatarGrid/RoomModal.tsx
  src/components/templates/Camp/Camp.tsx
  src/components/templates/Camp/components/RoomList.tsx
  src/components/templates/Camp/components/RoomModal.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/JazzbarRouter/JazzbarRouter.tsx
  src/components/templates/Jazzbar/components/ReactionList.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/RoomAttendance.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/components/templates/Playa/AvatarPartygoers.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/Playa/Video/Room.tsx
  src/components/templates/Playa/VideoChatLayer.tsx
  src/hooks/roles.ts
  src/hooks/useCampPartygoers.ts
  src/hooks/useConnectPartyGoers.ts
  src/hooks/useConnectVenueUsers.ts
  src/hooks/useSparkleFirestoreConnect.ts
  src/hooks/users.ts
  src/pages/FriendShipPage/FriendShipPage.tsx
  src/pages/ReactionPage/ReactionPage.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/types/Firestore.ts
  src/types/Table.ts
  src/types/User.ts
  src/utils/selectors.ts
  src/utils/venue.ts
Labels: :muscle: enhancement, 🏎️ performance, 🐛 bug, 💥 tech-debt

#1070 Add workflow to deploy per-PR 'preview' staging environments
  .firebaserc
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
Labels: 💻 eng-QoL

#1067 [sub-PR][scripts] Retrieve extra visit info
  scripts/get-badges.ts
  src/utils/time.ts
Labels: :x: do-not-merge, 💻 eng-QoL

#1076 [sub-PR] Constrain useFirestoreConnect query types to enforce our firestore query patterns
  src/components/molecules/ChatsList/ChatsList.tsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/hooks/roles.ts
  src/hooks/useConnectRelatedVenues.ts
  src/hooks/useFirestoreConnect.ts
  src/hooks/useVenueId.ts
  src/hooks/users.ts
  src/pages/Admin/Admin.tsx
  src/pages/ReactionPage/ReactionPage.tsx
  src/pages/SparkleSpaceMarketingPage/WelcomePage/WelcomePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/types/Firestore.ts
Labels: :muscle: enhancement, 💥 tech-debt

#801 Removes pathological queries; Creates linting rule to prevent raw useFirestoreConnect import
  .eslintrc
  src/components/molecules/ChatsList/ChatsList.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/SecretPasswordForm/SecretPasswordForm.jsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/components/organisms/PaymentModal/PaymentForm.tsx
  src/components/organisms/UserProfileModal/UserProfileModal.tsx
  src/components/templates/Camp/components/RoomModal.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/hooks/roles.ts
  src/hooks/useConnectCurrentEvent.ts
  src/hooks/useConnectCurrentVenue.ts
  src/hooks/useConnectCurrentVenueNG.ts
  src/hooks/useConnectRelatedVenues.ts
  src/hooks/useConnectUserPurchaseHistory.ts
  src/hooks/useConnectVenueChats.ts
  src/hooks/useFirestoreConnect.ts
  src/hooks/useRoles.ts
  src/hooks/useSparkleFirestoreConnect.ts
  src/hooks/useVenueId.ts
  src/hooks/users.ts
  src/pages/Account/Venue/VenueMapEdition/PlayaContainer.tsx
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/EventsComponent.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
  src/pages/Admin/Venue/VenueWizard.tsx
  src/pages/ReactionPage/ReactionPage.tsx
  src/pages/SparkleSpaceMarketingPage/WelcomePage/WelcomePage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/types/Firestore.ts
  src/types/utility.ts
Labels: 💥 tech-debt

#1071 add map background when creating a venue
  functions/venue.js
  src/pages/Admin/Venue/DetailsValidationSchema.ts
Labels: 🐛 bug

#1083 bug fixing for admin v1
  src/components/organisms/AppRouter/AppRouter.jsx
  src/hooks/useVenueId.ts
  src/pages/Admin/Admin.tsx
  src/pages/Admin/AdminVenueRoomDetails.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/Rooms/RoomsForm.tsx
Labels: 🐛 bug

#1086 Sync master -> staging
  src/components/organisms/ChatDrawer/ChatDrawer.tsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/hooks/useVenueChats.ts
  src/pages/ReactionPage/ReactionPage.tsx
Labels: 🔨🍷 break-glass-approval-bypass

#1087 Fix missing import in Chatbox after syncing master -> staging
  src/components/organisms/Chatbox/Chatbox.tsx
Labels: 🐛 bug, 🔨🍷 break-glass-approval-bypass

#1091 Refactor useVenueId to use useParams instead of brittle venuePaths hack
  src/hooks/useVenueId.ts
Labels: 🐛 bug, 💥 tech-debt, 🔨🍷 break-glass-approval-bypass, 🚑 p1-prod-fix

#1092 Deploy staging -> master
  src/hooks/useVenueId.ts
Labels: :rocket: deployment

#1093 open privacy policy link in new tab
  src/components/molecules/Footer/Footer.tsx
Labels: :muscle: enhancement

#1095 fix audience avatars and route paths
  src/components/molecules/Chatbox/Chatbox.scss
  src/components/templates/Audience/Audience.scss
  src/components/templates/Audience/AudienceRouter.tsx
  src/components/templates/AvatarGrid/Router.tsx
  src/components/templates/Camp/Router.tsx
  src/components/templates/Jazzbar/JazzbarRouter/JazzbarRouter.tsx
  src/components/templates/PartyMap/PartyMapRouter.tsx
  src/components/templates/Playa/Router.tsx
  src/hooks/useVenueId.ts
  src/scss/constants.scss
Labels: :muscle: enhancement

#1096 bug fixes and tweaks for lingoda
  src/components/molecules/UserProfilePicture/UserProfilePicture.styles.ts
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.scss
Labels: :muscle: enhancement, 🐛 bug

#1098 fix NavSearchBar search result key stability + allow vertical scrolling
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/scss/constants.scss
Labels: 🐛 bug, 💎 styles, 🔨🍷 break-glass-approval-bypass

#1099 Deploy
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/scss/constants.scss
Labels: :rocket: deployment

#1104 Bump react-redux-firebase from 3.8.1 to 3.10.0 to (fixes 2*n^2 re-renders caused by duplicated redux actions)
  package-lock.json
  package.json
Labels: dependencies, 🏎️ performance

#1103 Replace deprecated node-sass dependency with dart-sass
  package-lock.json
  package.json
Labels: dependencies

#1065 Improve helper scripts
  scripts/clone-data-across-firebase-projects.ts
  scripts/clone-events-across-firebase-projects.ts
  scripts/count-documents.ts
  scripts/count-users-entered-venue.ts
  scripts/create-jazz-bar.ts
  scripts/create-users.ts
  scripts/duplicate-venue.ts
  scripts/get-badges.ts
  scripts/get-events.ts
  scripts/get-users.ts
  scripts/get-venue-owners.ts
  scripts/get-venues.ts
  scripts/get-visitors.ts
  scripts/lib/helpers.ts
  scripts/rescale-placement.ts
  scripts/resize-images.ts
  scripts/upload-function-config-service-account.ts
  scripts/upload-table-config.ts
  src/utils/time.ts
Labels: :muscle: enhancement, 🐛 bug, 💥 tech-debt, 💻 eng-QoL

#1109 add reporting dependencies to dependabot + fix reviewers
  .github/dependabot.yml
Labels: 💻 eng-QoL

#1105 add venue admin page for all templates
  src/api/admin.ts
  src/components/molecules/AdminVideo/AdminVideo.scss
  src/components/molecules/AdminVideo/AdminVideo.tsx
  src/components/molecules/AdminVideo/index.ts
  src/components/molecules/LoadingPage/index.ts
  src/components/organisms/AppRouter/AppRouter.jsx
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/BannerAdmin/index.ts
  src/components/organisms/VenuePreview/VenuePreview.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/Audience/AudienceRouter.tsx
  src/components/templates/AvatarGrid/Announcement.tsx
  src/components/templates/AvatarGrid/AvatarGrid.tsx
  src/components/templates/AvatarGrid/Router.tsx
  src/components/templates/AvatarGrid/index.ts
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/FireBarrel/index.ts
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.scss
  src/components/templates/Jazzbar/Jazzbar.tsx
  src/components/templates/Jazzbar/JazzbarRouter/JazzbarRouter.tsx
  src/components/templates/Jazzbar/JazzbarRouter/index.ts
  src/components/templates/Jazzbar/index.ts
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/PartyMapRouter.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/Router.tsx
  src/hooks/useIsUserVenueOwner.ts
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/pages/Admin/Venue/VenueAdminPage.scss
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/pages/VideoAdmin/VideoAdmin.tsx
  src/pages/VideoAdmin/index.ts
  src/types/venues.ts
  src/utils/selectors.ts
Labels: :muscle: enhancement, P2 - High, 💥 tech-debt

#1047 Fixes users' fetching. Renames users.
  package-lock.json
  package.json
  src/api/sovereignVenue.ts
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/MessageList/MessageList.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/PrivateRecipientSearchInput/PrivateRecipientSearchInput.tsx
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/molecules/UserSearchBar/UserSearchBar.tsx
  src/components/molecules/VenuePartygoers/VenuePartygoers.tsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/components/organisms/Room/Room.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/AvatarGrid/AvatarGrid.tsx
  src/components/templates/AvatarGrid/RoomModal.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/components/ReactionList.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/RoomAttendance.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/components/templates/Playa/AvatarPartygoers.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/Playa/Video/Room.tsx
  src/components/templates/Playa/VideoChatLayer.tsx
  src/hooks/useConnectCurrentVenueNG.ts
  src/hooks/useConnectRelatedVenues.ts
  src/hooks/useFirestoreConnect.ts
  src/hooks/useSovereignVenueId.ts
  src/hooks/useUserLastSeenThreshold.ts
  src/hooks/users.ts
  src/pages/ReactionPage/ReactionPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/store/actions/SovereignVenue.ts
  src/store/actions/index.ts
  src/store/reducers/SovereignVenue.ts
  src/store/reducers/index.ts
  src/types/Firestore.ts
  src/types/redux.ts
  src/utils/selectors.ts
  src/utils/time.ts
  src/utils/useLocationUpdateEffect.ts
Labels: :1234: counting, :muscle: enhancement, dependencies, security, 🏎️ performance, 🐛 bug, 💥 tech-debt

#1121 Deploy staging -> master
  package-lock.json
  package.json
  src/api/sovereignVenue.ts
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/MessageList/MessageList.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/OnlineStats/OnlineStats.tsx
  src/components/molecules/PrivateRecipientSearchInput/PrivateRecipientSearchInput.tsx
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/molecules/UserSearchBar/UserSearchBar.tsx
  src/components/molecules/VenuePartygoers/VenuePartygoers.tsx
  src/components/organisms/Chatbox/Chatbox.tsx
  src/components/organisms/Room/Room.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/AvatarGrid/AvatarGrid.tsx
  src/components/templates/AvatarGrid/RoomModal.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/components/ReactionList.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/RoomAttendance.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/Playa/AvatarLayer.tsx
  src/components/templates/Playa/AvatarPartygoers.tsx
  src/components/templates/Playa/Playa.tsx
  src/components/templates/Playa/VenuePreview.tsx
  src/components/templates/Playa/Video/Room.tsx
  src/components/templates/Playa/VideoChatLayer.tsx
  src/hooks/useConnectCurrentVenueNG.ts
  src/hooks/useConnectRelatedVenues.ts
  src/hooks/useFirestoreConnect.ts
  src/hooks/useSovereignVenueId.ts
  src/hooks/useUserLastSeenThreshold.ts
  src/hooks/users.ts
  src/pages/ReactionPage/ReactionPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/store/actions/SovereignVenue.ts
  src/store/actions/index.ts
  src/store/reducers/SovereignVenue.ts
  src/store/reducers/index.ts
  src/types/Firestore.ts
  src/types/redux.ts
  src/utils/selectors.ts
  src/utils/time.ts
  src/utils/useLocationUpdateEffect.ts
Labels: :rocket: deployment

#1108 Reworks user counting writes
  src/components/molecules/EventDisplay/EventDisplay.tsx
  src/components/molecules/LiveSchedule/LiveEvent.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/templates/AvatarGrid/AvatarGrid.tsx
  src/components/templates/AvatarGrid/RoomModal.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/hooks/usePartygoersOverlay.tsx
  src/components/templates/PartyMap/components/RoomAttendance.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
  src/components/templates/Playa/Playa.tsx
  src/hooks/useKeyboardControls.ts
  src/hooks/useRoom.ts
  src/hooks/users.ts
  src/pages/Account/helpers.ts
  src/pages/VenuePage/VenuePage.tsx
  src/store/actions/Room.ts
  src/utils/useLocationUpdateEffect.ts
  src/utils/userLocation.ts
Labels: :1234: counting, 🐛 bug
