Repository sparkletown/sparkle, pull requests merged in 2021-02, with the labels that each got.

#1107 fix admin v2 entrance editing and redirect
  functions/venue.js
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/EntranceExperience/EntranceExperience.tsx
  src/pages/Admin/Venue/EntranceInput.tsx
Labels: 🐛 bug

#1128 fix scripts/get-badges typing to properly handle potentially missing users + exit on errors properly
  scripts/get-badges.ts
Labels: 🐛 bug, 💻 eng-QoL

#1119 Cleanup legacy/unused parts of the codebase: AvatarGrid
  functions/venue.js
  src/api/admin.ts
  src/components/templates/AvatarGrid/AvatarGrid.scss
  src/components/templates/AvatarGrid/AvatarGrid.tsx
  src/components/templates/AvatarGrid/RoomModal.scss
  src/components/templates/AvatarGrid/RoomModal.tsx
  src/components/templates/AvatarGrid/index.ts
  src/components/templates/AvatarGrid/party-bg.jpg
  src/pages/Admin/Venue/Details/VenueDetails.tsx
  src/pages/Admin/Venue/TemplateForm.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/settings.ts
  src/types/rooms.ts
  src/types/venues.ts
  src/utils/time.ts
  src/utils/userLocation.ts
Labels: 💥 tech-debt

#1130 Reduce 'deploy preview environment' workflow noise by removing pull_request synchronize event from triggers
  .github/workflows/firebase-hosting-pull-request.yml
Labels: :muscle: enhancement, 💻 eng-QoL

#1122 fix partymap column validation and field creation
  functions/venue.js
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/pages/Admin/AdvancedSettings/AdvancedSettings.tsx
  src/pages/Admin/Venue/DetailsForm.tsx
  src/pages/Admin/Venue/DetailsValidationSchema.ts
  src/settings.ts
Labels: :muscle: enhancement, P2 - High, 🐛 bug

#1055 Fix InformationLeftColumn component styling + cleanup/refactor related aspects
  package-lock.json
  package.json
  src/components/molecules/CreateEditPopUp/CreateEditPopUp.tsx
  src/components/molecules/DonatePopUp/DonatePopUp.tsx
  src/components/molecules/InformationCard/InformationCard.tsx
  src/components/molecules/SparkleFairiesPopUp/SparkleFairiesPopUp.tsx
  src/components/organisms/InformationLeftColumn/InformationLeftColumn.scss
  src/components/organisms/InformationLeftColumn/InformationLeftColumn.tsx
  src/components/organisms/InformationLeftColumn/index.ts
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.tsx
  src/pages/Account/Venue/VenueMapEdition.scss
  src/scss/constants.scss
  src/scss/global.scss
Labels: P2 - High, dependencies, ✨ UI/UX, 🐛 bug, 💎 styles, 💥 tech-debt

#1129 Users count PR cleanup
  src/api/profile.ts
  src/components/molecules/EventDisplay/EventDisplay.tsx
  src/components/molecules/EventDisplay/index.ts
  src/components/molecules/LiveSchedule/LiveEvent.tsx
  src/components/molecules/LiveSchedule/LiveSchedule.scss
  src/components/molecules/LiveSchedule/LiveSchedule.tsx
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/VenueInfoEvents/VenueInfoEvents.tsx
  src/components/organisms/SchedulePageModal/SchedulePageModal.tsx
  src/components/templates/Audience/Audience.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/RoomAttendance.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.tsx
  src/hooks/useKeyboardControls.ts
  src/hooks/useRoom.ts
  src/pages/VenuePage/VenuePage.tsx
  src/scss/AvatarGrid/AvatarGrid.scss
  src/scss/AvatarGrid/RoomModal.scss
  src/settings.ts
  src/utils/room.ts
  src/utils/url.ts
  src/utils/userLocation.ts
Labels: 💥 tech-debt

#1016 [FEATURE] Venue access
  firestore.rules
  functions/access.js
  functions/auth.js
  functions/index.js
  functions/package-lock.json
  package-lock.json
  package.json
  scripts/configure-venue-access.ts
  src/api/auth.ts
  src/components/atoms/AccessDeniedModal/AccessDeniedModal.tsx
  src/components/molecules/SecretPasswordForm/SecretPasswordForm.jsx
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/hooks/useVenueAccess.ts
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/secrets.js
  src/types/VenueAcccess.ts
  src/types/venues.ts
  src/utils/localStorage.ts
  src/utils/url.ts
Labels: dependencies, security, 💡 new-feature

#1139 add axios to package.json for twilio
  package-lock.json
  package.json
Labels: dependencies

#1140 add axios to functions
  functions/package-lock.json
  package-lock.json
  package.json
Labels: dependencies

#1142 add uuidv4 to functions
  functions/package-lock.json
  functions/package.json
Labels: dependencies

#1135 Jazzbar dirty css layout change [for Friday presentation purposes]
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/organisms/InformationLeftColumn/InformationLeftColumn.scss
  src/components/templates/Jazzbar/JazzBarSkeletonPage/JazzBarSkeletonPage.tsx
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.tsx
  src/components/templates/Jazzbar/Jazzbar.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.scss
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/index.ts
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.scss
  src/components/templates/Jazzbar/components/JazzBarTableComponent/JazzBarTableComponent.tsx
  src/components/templates/Jazzbar/components/JazzBarTableComponent/index.ts
Labels: ✨ UI/UX

#1147 Update README.md
  README.md
Labels: 📚 documentation

#1149 Admin v2 - Fix room creation with venue and room url
  functions/venue.js
  src/pages/Admin/Room/Modal/Item/Item.tsx
Labels: 🐛 bug

#1153 Fixes styles for reaction in a table and footer-related
  src/components/molecules/Footer/Footer.scss
  src/components/molecules/UserProfilePicture/UserProfilePicture.styles.ts
  src/components/organisms/Room/Participant.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/scss/constants.scss
Labels: 🐛 bug, 💎 styles

#1154 Deploy staging -> master: Venue admin fixes; Reaction-related style fixes; Footer style fixes
  README.md
  functions/venue.js
  src/components/molecules/Footer/Footer.scss
  src/components/molecules/UserProfilePicture/UserProfilePicture.styles.ts
  src/components/organisms/Room/Participant.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/Room.tsx
  src/pages/Admin/Room/Modal/Item/Item.tsx
  src/scss/constants.scss
Labels: :rocket: deployment

#1164 refactor scss z-index's to use z() helper + fix user avatar 'sidebar' layering issues
  src/components/atoms/Legend/Legend.styles.ts
  src/components/molecules/Chatbox/Chatbox.scss
  src/components/molecules/ChatsList/ChatsList.scss
  src/components/molecules/LoadingPage/loading.scss
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/molecules/PrivateRecipientSearchInput/PrivateRecipientSearchInput.scss
  src/components/molecules/Sidebar/Sidebar.scss
  src/components/molecules/UserProfilePicture/UserProfilePicture.scss
  src/components/molecules/UserProfilePicture/UserProfilePicture.styles.ts
  src/components/molecules/UserSearchBar/UserSearchBar.scss
  src/components/organisms/ChatDrawer/ChatDrawer.scss
  src/components/organisms/Chatbox/Chatbox.scss
  src/components/organisms/DustStorm/DustStorm.scss
  src/components/templates/Audience/Audience.scss
  src/components/templates/Jazzbar/JazzTab/JazzTab.scss
  src/components/templates/PartyMap/components/Map/Map.scss
  src/pages/Account/Account.scss
  src/pages/Admin/Admin.scss
  src/pages/Admin/Room/Modal/RoomModal.styles.ts
  src/pages/VenuePage/VenuePage.scss
  src/scss/constants.scss
  src/scss/global.scss
Labels: ✨ UI/UX, 🐛 bug, 💥 tech-debt

#1163 refactor RoomModal + improve styling (including ScheduleItem styling)
  src/components/molecules/UserList/UserList.tsx
  src/components/templates/PartyMap/components/RoomModal/RoomModal.scss
  src/components/templates/PartyMap/components/RoomModal/RoomModal.tsx
  src/components/templates/PartyMap/components/RoomModalOngoingEvent/RoomModalOngoingEvent.scss
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.scss
  src/components/templates/PartyMap/components/ScheduleItem/ScheduleItem.tsx
Labels: ✨ UI/UX, 🐛 bug, 💎 styles, 💥 tech-debt

#1172 fix z-index layering issues with NavBar, LiveSchedule, and SideBar
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/playa.scss
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/molecules/Sidebar/Sidebar.scss
  src/components/organisms/SchedulePageModal/SchedulePageModal.tsx
  src/scss/constants.scss
Labels: ✨ UI/UX, 🐛 bug, 💎 styles, 🔨🍷 break-glass-approval-bypass, 🚑 p1-prod-fix

#1173 Deplo staging -> master (fix z-index layering issues)
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/playa.scss
  src/components/molecules/NavSearchBar/NavSearchBar.scss
  src/components/molecules/Sidebar/Sidebar.scss
  src/components/organisms/SchedulePageModal/SchedulePageModal.tsx
  src/scss/constants.scss
Labels: :rocket: deployment

#1185 fix error in CircleCI when SLACK_ACCESS_TOKEN missing
  .circleci/config.yml
Labels: 🐛 bug

#1182 fix to host name not appearing when editing event
  src/pages/Admin/AdminEventModal.tsx
Labels: :pray: community-contribution, 🐛 bug

#1189 Deploy staging -> production
  .circleci/config.yml
  .firebaserc
  firebase.json
  src/index.tsx
  src/pages/Admin/AdminEventModal.tsx
Labels: :rocket: deployment

#1186 fix PartyMap MapRoom logic to not show room name when set to RoomVisibility.count
  src/components/templates/PartyMap/components/Map/MapRoom.scss
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
Labels: 🐛 bug

#1191 Fix admin edit buttons
  src/pages/Admin/Room/Edit/RoomEdit.styles.ts
  src/pages/Admin/Room/Edit/RoomEdit.tsx
Labels: ✨ UI/UX

#1195 Fixes self chat issues
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/hooks/privateChats.ts
Labels: 🐛 bug

#1196 Fixes chat message bubble styles
  src/components/atoms/ChatMessage/ChatMessage.scss
Labels: 🐛 bug, 💎 styles

#1197 Allows message deletion for an admin
  src/hooks/useVenueChat.ts
Labels: 🐛 bug

#1183 Fix/png admin v2 + align all image fields to accept the same image types
  scripts/resize-images.ts
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/molecules/ImageInput/ImageInput.tsx
  src/settings.ts
Labels: 💥 tech-debt

#1176 add proper validation to room edit and creation
  src/pages/Admin/Details/ValidationSchema.ts
  src/pages/Admin/Room/Edit/RoomEdit.tsx
  src/pages/Admin/Room/Modal/Item/Item.tsx
  src/pages/Admin/Venue/Details/VenueDetails.tsx
Labels: 🐛 bug

#1178 fix room preview save UX and aspect ratio
  src/components/atoms/Button/Button.styles.ts
  src/pages/Account/Venue/VenueMapEdition/Container.tsx
  src/pages/Account/Venue/VenueMapEdition/DraggableSubvenue.tsx
  src/pages/Admin/MapPreview/MapPreview.tsx
Labels: :muscle: enhancement

#1203 Disabled/Enable chat submit button
  src/components/molecules/Chatbox/Chatbox.tsx
Labels: :muscle: enhancement, ✨ UI/UX, 🐛 bug

#1184 Fix banner text and button overlap
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.scss
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
Labels: ✨ UI/UX, 🐛 bug, 💎 styles

#1207 Add `💎 styles` tag to auto labeler action workflow
  .github/labeler.yml
Labels: 💻 eng-QoL

#1208 add optional maxVisible prop to RoomAttendance
  src/components/templates/PartyMap/components/RoomAttendance.tsx
  src/settings.ts
Labels: :muscle: enhancement

#1209 use React.Fragment instead of span in getLinkFromText
  src/utils/getLinkFromText.tsx
Labels: 💻 eng-QoL

#1214 fix npm-force-resolutions version issues
  functions/package-lock.json
  functions/package.json
Labels: dependencies, 🐛 bug

#1202 Fixes/minor scss fixes
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.scss
  src/components/molecules/NavBar/NavBar.scss
  src/scss/constants.scss
Labels: :pray: community-contribution, 🐛 bug, 💎 styles

#1219 remove npm-force-resolutions from /functions as we don't need it anymore
  functions/package-lock.json
  functions/package.json
Labels: dependencies, 🐛 bug, 💥 tech-debt
