Repository sparkletown/sparkle, pull requests merged in 2022-04, with the labels that each got.

#2974 Allow configuration of channels for retunable media elements
  functions/src/venue.ts
  src/api/admin.ts
  src/components/admin/ChannelConfiguration/ChannelAddEditForm.tsx
  src/components/admin/ChannelConfiguration/ChannelAddEditModal.tsx
  src/components/admin/ChannelConfiguration/ChannelConfiguration.tsx
  src/components/admin/ChannelConfiguration/ChannelRow.tsx
  src/components/admin/ChannelConfiguration/channelSchema.ts
  src/components/admin/ChannelConfiguration/index.tsx
  src/components/attendee/RetunableMediaElement/RetunableMediaElement.tsx
  src/components/attendee/RetunableMediaElement/RetunableMediaElement.types.ts
  src/components/attendee/RetunableMediaElement/components/Tuner.module.scss
  src/components/attendee/RetunableMediaElement/components/Tuner.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/types/id.ts
  src/types/venues.ts
Labels: 💎 styles

#2973 fixed chat position + styles + added top mask background
  src/components/attendee/AttendeeFooter.tsx
  src/components/attendee/AttendeeHeader/AttendeeHeader.module.scss
  src/components/attendee/AttendeeHeader/AttendeeHeader.tsx
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/AttendeeLayout.tsx
  src/components/attendee/Banner/Banner.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/ChatContainer.tsx
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.module.scss
  src/components/molecules/Chatbox/Chatbox.module.scss
  src/hooks/viewport/useMediaQuery.tsx
  src/scss/attendee/effects/sparkle.scss
  src/scss/attendee/layer.scss
  src/scss/attendee/layout.scss
  src/scss/attendee/theme.scss
Labels: 🐛 bug, ✨ UI/UX, 💎 styles

#2978 Redesign admin general space settings
  functions/src/venue.ts
  src/api/admin.ts
  src/components/admin/BackgroundSelect.tsx
  src/components/admin/Checkbox/Checkbox.tsx
  src/components/admin/ConfirmationModal/ConfirmationModal.tsx
  src/components/admin/ImageInput/ImageInput.tsx
  src/components/admin/InputGroup.tsx
  src/components/admin/PortalAddEditForm.tsx
  src/components/admin/ScreeningRoomVideoAddEditForm.tsx
  src/components/admin/ScreeningRoomVideoAddEditModal.tsx
  src/components/admin/ScreeningRoomVideosStripForm.tsx
  src/components/admin/ScreeningRoomVideosTable.tsx
  src/components/admin/SpaceCreateForm/SpaceCreateForm.tsx
  src/components/admin/SpaceEditForm.tsx
  src/components/atoms/FileButton/FileButton.scss
  src/components/atoms/FileButton/FileButton.tsx
  src/components/atoms/FileButton/index.ts
  src/components/molecules/Loading/Loading.tsx
  src/components/molecules/ScreeningRoomVideoAddEditModal/index.ts
  src/components/molecules/ScreeningRoomVideosTable/ScreeningRoomVideosTable.scss
  src/components/molecules/ScreeningRoomVideosTable/ScreeningRoomVideosTable.tsx
  src/components/molecules/ScreeningRoomVideosTable/index.ts
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/ScreeningRoomVideoAddEditForm/ScreeningRoomVideoAddEditForm.scss
  src/components/organisms/ScreeningRoomVideoAddEditForm/index.ts
  src/components/organisms/ScreeningRoomVideosStripForm/ScreeningRoomVideosStripForm.scss
  src/components/organisms/ScreeningRoomVideosStripForm/ScreeningRoomVideosStripForm.tsx
  src/components/organisms/ScreeningRoomVideosStripForm/index.ts
  src/components/organisms/SpaceTimingForm/SpaceTimingForm.tsx
  src/pages/Admin/BackgroundSelect/BackgroundSelect.scss
  src/pages/Admin/BackgroundSelect/BackgroundSelect.tsx
  src/pages/Admin/BackgroundSelect/index.ts
  src/settings/index.ts
Labels: ✨ UI/UX, 💎 styles, admin

#2984 Remove custom world questions
  functions/src/world.ts
  src/api/world.ts
  src/components/admin/UserProfileModal/components/EditingProfileModalContent.tsx
  src/components/admin/UserProfileModal/components/ProfileModalContent.tsx
  src/components/admin/UserProfileModal/components/ProfileModalQuestions.tsx
  src/components/admin/WorldEntranceForm.tsx
  src/core/AppRouter/AccountSubRouter.tsx
  src/forms/worldEntranceSchema.tsx
  src/hooks/useProfileModalFormDefaultValues.ts
  src/hooks/useProfileQuestions.ts
  src/pages/Account/Account.scss
  src/pages/Account/CodeOfConduct.scss
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/LoginWithCustomToken.tsx
  src/pages/Account/Profile.scss
  src/pages/Account/Profile.tsx
  src/pages/Account/ProfileQuestions.scss
  src/pages/Account/ProfileQuestions.tsx
  src/pages/Account/helpers.ts
  src/settings/urlSettings.ts
  src/types/world.ts
Labels: 💎 styles

#2979 Follow-up of the 'Redesign admin general space settings'
  src/api/admin.ts
  src/components/admin/BackgroundSelect.tsx
  src/components/admin/SpaceEditForm.tsx
  src/settings/index.ts
  src/settings/sectionSettings.ts
Labels: admin

#2985 More deletions
  src/components/admin/InviteAdminModal/InviteAdminModal.tsx
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/attendee/SearchOverlay/SearchOverlay.tsx
  src/components/organisms/PortalShowcase/PortalShowcase.scss
  src/components/organisms/PortalShowcase/PortalShowcase.tsx
  src/components/organisms/PortalShowcase/index.ts
  src/components/organisms/TicketCodeField/TicketCodeField.tsx
  src/components/organisms/TicketCodeField/index.ts
  src/components/templates/ReactionPage/ReactionList.tsx
  src/pages/Account/helpers.ts
  src/pages/SpaceCreatePage/SpaceCreatePage.tsx
  src/pages/auth/LoginForm/LoginForm.tsx
  src/pages/auth/RegisterForm/RegisterForm.tsx
  src/types/Firestore.ts
  src/types/User.ts
  src/types/VideoAspectRatio.ts
  src/types/algolia.ts
  src/types/auditorium.ts
  src/types/venues.ts
  src/utils/chat.ts
Labels: 💎 styles

#2991 Fix the behavior of Huddle videos on overflow
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/components/attendee/VideoHuddle/internal/HuddleParticipant.module.scss
Labels: 🐛 bug, 💎 styles

#2994 Redesign old 4xx pages for use in both admin and attendee sides
  src/components/admin/errors/BlankPage.tailwind.ts
  src/components/admin/errors/BlankPage.tsx
  src/components/admin/errors/Forbidden.tsx
  src/components/admin/errors/NotFound.tsx
  src/components/admin/errors/Unauthorized.tsx
  src/components/atoms/Forbidden/Forbidden.scss
  src/components/atoms/Forbidden/Forbidden.tsx
  src/components/atoms/Forbidden/index.ts
  src/components/atoms/NotFound/NotFound.scss
  src/components/atoms/NotFound/NotFound.tsx
  src/components/atoms/NotFound/index.ts
  src/components/atoms/NotFoundFallback/NotFoundFallback.tsx
  src/components/atoms/NotFoundFallback/index.ts
  src/components/atoms/NotLoggedInFallback/NotLoggedInFallback.tsx
  src/components/atoms/NotLoggedInFallback/index.ts
  src/components/attendee/AttendeeLayout/AttendeeLayout.hoc.tsx
  src/components/attendee/AttendeeLayout/AttendeeLayout.module.scss
  src/components/attendee/AttendeeLayout/AttendeeLayout.tsx
  src/components/attendee/AttendeeLayout/index.ts
  src/components/attendee/errors/BlankPage.module.scss
  src/components/attendee/errors/BlankPage.tsx
  src/components/attendee/errors/Forbidden.tsx
  src/components/attendee/errors/NotFound.tsx
  src/components/attendee/errors/Unauthorized.tsx
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/components/layouts/FullWidthLayout.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/index.ts
  src/components/shared/CenterContent.tsx
  src/components/shared/Forbidden.tsx
  src/components/shared/LoginRestricted.tsx
  src/components/shared/NotFound.tsx
  src/components/shared/SpentTime/SpentTime.tsx
  src/components/shared/Unauthorized.tsx
  src/core/AppRouter/AppRouter.tsx
  src/index.scss
  src/index.tsx
  src/pages/Account/CodeOfConduct.tsx
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/SpacesDashboard/SpacesDashboard.hoc.tsx
  src/pages/SpacesDashboard/index.ts
  src/pages/VenueEntrancePage/index.ts
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenuePage/index.ts
  src/pages/WorldsDashboard/WorldsDashboard.hoc.tsx
  src/pages/WorldsDashboard/index.ts
  src/pages/auth/Login/Login.hoc.tsx
  src/pages/auth/LoginForm/LoginForm.hoc.tsx
  src/pages/auth/RegisterForm/RegisterForm.hoc.tsx
  src/pages/auth/auth.module.scss
Labels: 💎 styles

#2912 Unclip user reactions
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
  src/components/molecules/ReactionsBar/ReactionsBar.tsx
  src/components/molecules/UserReactions/UserReactions.scss
Labels: 💎 styles

#2998 Fix make world owner script ts node path
  scripts/make-owner-all-world-spaces.ts
Labels: 🐛 bug, 📜 scripts

#2976 fix checkbox and toggle colours
  src/components/admin/Checkbox/Checkbox.tailwind.ts
  src/components/admin/Checkbox/Checkbox.tsx
  src/components/admin/EventsPanel/EventsPanel.tsx
  src/components/admin/Toggle/Toggle.tailwind.ts
  src/components/admin/Toggle/Toggle.tsx
Labels: :muscle: enhancement, ✨ UI/UX, admin

#2996 Update Embeddable space template for new designs
  src/components/templates/ArtPiece/ArtPiece.scss
  src/components/templates/Embeddable/Embeddable.scss
  src/components/templates/Embeddable/Embeddable.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/settings/spacePortalsSettings.ts
  src/types/VenueTemplate.ts
Labels: 💎 styles

#2999 Redesign WelcomeVideo component
  src/api/world.ts
  src/components/admin/WorldEntranceForm.tsx
  src/components/attendee/AttendeeFooter.tsx
  src/components/attendee/AttendeeLayout/AttendeeLayout.tsx
  src/components/attendee/MainSection/MainSection.module.scss
  src/components/attendee/MainSection/MainSection.tsx
  src/components/attendee/MainSection/index.ts
  src/components/attendee/SpaceEntrancePage/SpaceEntrancePage.hoc.tsx
  src/components/attendee/SpaceEntrancePage/SpaceEntrancePage.tsx
  src/components/attendee/SpaceEntrancePage/index.ts
  src/components/attendee/WelcomeVideo/WelcomeVideo.module.scss
  src/components/attendee/WelcomeVideo/WelcomeVideo.tsx
  src/components/attendee/WelcomeVideo/index.ts
  src/core/AppRouter/AccountSubRouter.tsx
  src/core/AppRouter/AppRouter.tsx
  src/pages/VenueEntrancePage/index.ts
  src/pages/VenuePage/VenuePage.tsx
  src/pages/auth/RegisterForm/RegisterForm.tsx
  src/pages/entrance/WelcomeVideo/WelcomeVideo.scss
  src/pages/entrance/WelcomeVideo/WelcomeVideo.tsx
  src/pages/entrance/WelcomeVideo/index.ts
  src/settings/urlSettings.ts
  src/types/EntranceStep.ts
Labels: ✨ UI/UX, 💎 styles

#2992 Space visual issues fix
  src/components/attendee/AttendeeLayout/AttendeeLayout.module.scss
  src/components/attendee/AttendeeLayout/AttendeeLayout.tsx
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/ChatContainer.tsx
  src/components/attendee/ScheduleOverlay/ScheduleEvent.tsx
  src/components/attendee/WebcamGrid/WebcamGrid.module.scss
  src/components/attendee/WebcamGrid/WebcamGrid.tsx
  src/pages/VenuePage/TemplateWrapper.module.scss
  src/pages/VenuePage/TemplateWrapper.tsx
Labels: 🐛 bug, ✨ UI/UX, 💎 styles

#3006 Fix alignment issues of seated users in the auditorium grid
  src/components/attendee/UserProfilePicture/UserProfilePicture.scss
  src/components/attendee/UserProfilePicture/UserProfilePicture.tsx
  src/components/attendee/UserProfilePicture/index.ts
  src/components/molecules/UserProfilePicture/UserProfilePicture.scss
  src/components/templates/Auditorium/components/Section/Section.module.scss
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/ReactionPage/ReactionList.tsx
  src/hooks/auditorium/useAuditoriumGrid.tsx
Labels: 💎 styles

#3002 Add snippets to determine which fn in createVenue_v2 throws an error
  src/api/admin.ts
  src/components/molecules/FormCover/FormCover.scss
  src/components/molecules/FormCover/FormCover.tsx
  src/utils/error.ts
Labels: 💎 styles

#3003 Move logout button: MiniProfile -> ProfileOverlay
  src/components/admin/UserProfileModal/components/UserProfileModalBody/UserProfileModalBody.tsx
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/Card/Card.module.scss
  src/components/attendee/Card/Card.tsx
  src/components/attendee/MiniProfile/components/MiniProfileModal.tsx
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/ProfileOverlay/ProfileOverlay.hoc.tsx
  src/components/attendee/ProfileOverlay/ProfileOverlay.tsx
  src/components/attendee/ProfileOverlay/index.ts
  src/utils/url.ts
Labels: ✨ UI/UX, 💎 styles

#3010 restored webcam participants
  src/components/attendee/WebcamGrid/WebcamGrid.tsx
Labels: 🐛 bug

#3005 Add onEnter handler to the search input
  src/components/attendee/BasicInfo/ProfileModalEditBasicInfo.tsx
  src/components/attendee/Input/Input.module.scss
  src/components/attendee/Input/Input.tsx
  src/components/attendee/InputSelect/InputSelect.module.scss
  src/components/attendee/Password/ProfileModalChangePassword.tsx
  src/components/attendee/SearchOverlay/SearchOverlay.tsx
Labels: ✨ UI/UX, 💎 styles

#3000 Fix portal deletion
  functions/src/venue.ts
  src/api/admin.ts
  src/components/admin/PortalAddEditForm.tsx
  src/components/admin/ScreeningRoomVideoAddEditForm.tsx
Labels: 🐛 bug, admin

#2975 remove unnecessary element from WorldNav component
  src/components/admin/WorldNav/WorldNav.tsx
Labels: :muscle: enhancement, ✨ UI/UX, admin

#3013 Some tidy up of code related to UserAvatar
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/atoms/UserAvatar/UserStatus.tsx
  src/components/attendee/BasicInfo/ProfileModalAvatar/ProfileModalAvatar.module.scss
  src/components/attendee/Input/Input.module.scss
  src/components/attendee/InputSelect/InputSelect.module.scss
  src/components/attendee/SpaceInfo/SpaceInfo.module.scss
  src/scss/attendee/icon.scss
  src/scss/attendee/layout.scss
  src/types/utility.ts
Labels: 💎 styles

#3011 create useLiveSpace for live updates of the banner
  src/components/attendee/AttendeeLayout/AttendeeLayout.tsx
  src/components/attendee/Banner/Banner.tsx
  src/hooks/spaces/useLiveSpace.ts
Labels: :muscle: enhancement

#3014 add consistent loading buttons around the platform
  src/components/admin/Button/Button.tailwind.ts
  src/components/admin/Button/Button.tsx
  src/components/admin/DeleteAdminModal/DeleteAdminModal.tsx
  src/components/admin/EditAdminModal/EditAdminModal.tsx
  src/components/admin/InviteAdminModal/InviteAdminModal.tsx
  src/components/admin/PortalAddEditForm.tsx
  src/components/admin/SpaceCreateForm/SpaceCreateForm.tailwind.ts
  src/components/admin/SpaceCreateForm/SpaceCreateForm.tsx
  src/components/admin/SpaceEditForm.tsx
  src/components/admin/WorldAdvancedForm.tsx
  src/components/admin/WorldEntranceForm.tsx
  src/components/admin/WorldGeneralForm/WorldGeneralForm.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/TimingDeleteModal/TimingDeleteModal.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.scss
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/pages/Admin/WorldSchedule/WorldSchedule.tsx
  tailwind.config.js
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles

#3015 Snagging of the ExternalExperience page
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/templates/ExternalExperience/ExternalExperience.module.scss
  src/components/templates/ExternalExperience/ExternalExperience.tsx
  src/components/templates/ExternalExperience/index.ts
  src/components/templates/ExternalRoom/ExternalRoom.tsx
  src/components/templates/ExternalRoom/index.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/attendee/effects/atom.scss
  src/scss/attendee/effects/sparkle.scss
  src/utils/room.ts
Labels: ✨ UI/UX, 💎 styles

#3007 set state properly for timing event modal
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
Labels: 🐛 bug, :muscle: enhancement, admin

#3022 Snagging of SpaceInfoText: spacing and styles
  src/components/molecules/SpaceInfoText/SpaceInfoText.module.scss
  src/components/molecules/SpaceInfoText/SpaceInfoText.tsx
Labels: ✨ UI/UX, 💎 styles

#3020 Space background + chat bar render fix
  src/components/attendee/AttendeeLayout/AttendeeLayout.module.scss
  src/components/attendee/AttendeeLayout/AttendeeLayout.tsx
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/ChatContainer.tsx
  src/components/attendee/MainSection/MainSection.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.tsx
  src/pages/VenuePage/TemplateWrapper.module.scss
  src/scss/attendee/theme.scss
Labels: 🐛 bug, 💎 styles

#3028 Fix redesign-2021 deploy
  src/components/attendee/ProfileLinkIcon/ProfileLinkIcon.module.scss
Labels: 💎 styles

#3029 Snagging: Media Element
  src/components/attendee/MediaElement/MediaElement.module.scss
  src/components/attendee/MediaElement/MediaElement.tsx
Labels: ✨ UI/UX, 💎 styles

#3030 Profile snagging fix
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/InputSelect/InputSelect.module.scss
  src/components/attendee/Password/ProfileModalChangePassword.module.scss
  src/components/attendee/ProfileLinkIcon/ProfileLinkIcon.module.scss
  src/components/attendee/ProfileOverlay/ProfileOverlay.module.scss
  src/components/attendee/ProfileOverlay/ProfileOverlay.tsx
  src/types/props.ts
Labels: ✨ UI/UX, 💎 styles

#3040 Fix banner popping up on each update
  src/components/attendee/Banner/Banner.tsx
Labels: 🐛 bug

#3035 Snagging | SPACE / Retuneable Media Element
  src/components/attendee/Input/Input.tsx
  src/components/attendee/MediaElement/MediaElement.module.scss
  src/components/attendee/RetunableMediaElement/RetunableMediaElement.tsx
  src/components/attendee/RetunableMediaElement/components/Tuner.module.scss
  src/components/attendee/RetunableMediaElement/components/Tuner.tsx
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/scss/attendee/layer.scss
Labels: ✨ UI/UX, 💎 styles

#3038 Snagging: Chat
  src/components/atoms/ChatMessage/ChatMessage.module.scss
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.module.scss
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/ChatContainer.tsx
  src/components/attendee/Input/Input.module.scss
  src/components/attendee/Input/Input.tsx
  src/components/attendee/Popover.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.module.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
Labels: ✨ UI/UX, 💎 styles

#3039 Booths
  functions/src/scheduled.ts
  functions/src/venue.ts
  scripts/migration/v0.0.11__add-is-hidden-field.ts
  src/api/presence.ts
  src/api/venue.ts
  src/components/admin/Dropdown/Dropdown.tsx
  src/components/admin/SpaceEditForm.tsx
  src/components/admin/SpacesDropdown/SpacesDropdown.tsx
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/attendee/Attendance/Attendance.tsx
  src/components/attendee/BoothGrid/Booth.tsx
  src/components/attendee/BoothGrid/BoothCard.module.scss
  src/components/attendee/BoothGrid/BoothCard.tsx
  src/components/attendee/BoothGrid/BoothCreateCard.tsx
  src/components/attendee/BoothGrid/BoothGrid.module.scss
  src/components/attendee/BoothGrid/BoothGrid.tsx
  src/components/attendee/BoothGrid/index.ts
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/StaticInfoBlock/StaticInfoBlock.module.scss
  src/components/attendee/StaticInfoBlock/StaticInfoBlock.tsx
  src/components/attendee/StaticInfoBlock/index.tsx
  src/components/templates/Jazzbar/JazzBar.tsx
  src/forms/spaceEditSchema.ts
  src/hooks/spaces/useManagedSpaces.ts
  src/hooks/spaces/useWorldSpaces.ts
  src/hooks/useOwnedVenues.tsx
  src/hooks/useRelatedVenues.tsx
  src/hooks/user/usePresence.ts
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/scss/attendee/font.scss
  src/settings/apiSettings.ts
  src/settings/index.ts
  src/types/venues.ts
Labels: 💎 styles

#3047 Snagging: Footer links
  src/components/attendee/AttendeeFooter.module.scss
  src/components/molecules/PortalsTable/PortalsTable.tsx
Labels: ✨ UI/UX, 💎 styles

#3045 Fix embeddable space setting group
  functions/src/venue.ts
  scripts/lib/types.ts
  src/assets/icons/icon-room-viewingwindow.svg
  src/components/admin/Checkbox/Checkbox.tsx
  src/components/admin/Input/Input.tsx
  src/components/admin/InputGroup.tsx
  src/components/admin/SpaceEditForm.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/Auditorium/Auditorium.tsx
  src/components/templates/Embeddable/Embeddable.tsx
  src/components/templates/Jazzbar/JazzBar.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/settings/index.ts
  src/settings/spacePortalsSettings.ts
  src/types/VenueTemplate.ts
  src/types/venues.ts
Labels: 🐛 bug, admin

#3048 Snagging: Mini Profiles
  src/components/attendee/MiniProfile/MiniProfile.tsx
  src/components/attendee/MiniProfile/components/MiniProfileModal.module.scss
Labels: ✨ UI/UX, 💎 styles

#3008 Fix portal visual issues
  src/api/admin.ts
  src/components/admin/Dropdown/Dropdown.tailwind.ts
  src/components/admin/Dropdown/Dropdown.tsx
  src/components/admin/Dropdown/index.ts
  src/components/admin/PortalStripForm.tsx
  src/components/admin/SpaceCard.tsx
  src/components/admin/SpacesDropdown/SpacesDropdown.tsx
  src/components/admin/TablePanel/TablePanel.tsx
  src/components/atoms/PortalIcon/PortalIcon.tsx
  src/components/attendee/PortalModal/PortalModal.module.scss
  src/components/attendee/PortalModal/PortalModal.tsx
  src/components/attendee/SearchOverlay/PortalItem/PortalItem.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/MapPortal.module.scss
  src/components/templates/PartyMap/components/Map/MapPortal.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModalContent.tsx
  src/components/templates/PartyMap/components/RoomAttendance/RoomAttendance.module.scss
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/scss/attendee/effects/animations.scss
  src/scss/attendee/layer.scss
  src/scss/attendee/layout.scss
  src/scss/attendee/theme.scss
  src/settings/index.ts
  src/types/rooms.ts
  src/types/venues.ts
  src/utils/image.ts
Labels: 💎 styles

#3033 Snagging: About world and style fixes
  src/components/attendee/AttendeeHeader/AttendeeHeader.module.scss
  src/components/attendee/AttendeeHeader/AttendeeHeader.tsx
  src/components/attendee/AttendeeLayout/AttendeeLayout.tsx
  src/components/attendee/Banner/Banner.module.scss
  src/components/attendee/Banner/Banner.tsx
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/ProfileOverlay/ProfileOverlay.module.scss
  src/components/attendee/SearchOverlay/SearchOverlay.module.scss
  src/components/attendee/SpaceInfo/SpaceInfo.module.scss
  src/components/attendee/SpaceInfo/SpaceInfo.tsx
  src/hooks/keyboard/useKeyboardKeys.ts
  src/hooks/viewport/useDisableBodyScroll.tsx
  src/scss/attendee/breakpoint.scss
  src/scss/attendee/layout.scss
  src/settings/index.ts
Labels: ✨ UI/UX, 💎 styles

#3043 Snagging | SPACE / Full-Width
  src/components/attendee/AttendeeHeader/AttendeeHeader.module.scss
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/MediaElement/MediaElement.module.scss
  src/pages/VenuePage/TemplateWrapper.module.scss
Labels: ✨ UI/UX, 💎 styles

#3044 Snagging: Profile & Schedule
  src/components/attendee/Input/Input.module.scss
  src/components/attendee/Input/Input.tsx
  src/components/attendee/InputSelect/InputSelect.module.scss
  src/components/attendee/ProfileLinkIcon/ProfileLinkIcon.module.scss
  src/components/attendee/ScheduleOverlay/ScheduleEvents.tsx
  src/components/attendee/ScheduleOverlay/ScheduleOverlay.tsx
  src/components/attendee/Toggler/Toggler.module.scss
  src/components/molecules/SpaceInfoText/SpaceInfoText.tsx
  src/hooks/useVenueScheduleEvents.ts
  src/scss/attendee/theme.scss
  src/utils/time.ts
Labels: 🐛 bug, 💎 styles

#3050 Snagging: Seating Block
  src/components/templates/Auditorium/components/Section/Section.module.scss
  src/components/templates/Auditorium/components/Section/Section.tsx
Labels: ✨ UI/UX, 💎 styles

#3052 Snagging | HUD / Messages
  src/components/attendee/Input/Input.module.scss
  src/components/attendee/Input/Input.tsx
  src/components/attendee/ProfileOverlay/ProfileOverlay.module.scss
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.module.scss
  src/components/organisms/ChatSidebar/components/PrivateChatPreview/PrivateChatPreview.module.scss
  src/components/organisms/ChatSidebar/components/PrivateChatPreview/PrivateChatPreview.tsx
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.module.scss
Labels: 💎 styles

#3049 Snagging | SPACE / Webcam
  scripts/lib/utils.ts
  src/components/attendee/VideoComms/internal/TwilioClient.tsx
  src/components/attendee/VideoComms/internal/scss/TwilioTrackDisplay.module.scss
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
  src/components/attendee/VideoHuddle/internal/HuddleParticipant.module.scss
  src/components/attendee/WebcamGrid/WebcamGrid.module.scss
  src/components/organisms/Video/VideoParticipant.module.scss
  src/scss/attendee/layout.scss
  src/scss/attendee/theme.scss
Labels: 💎 styles

#3061 Removals
  src/api/admin.ts
  src/api/jukebox.ts
  src/components/molecules/UserReactions/UserReactions.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebar/AdminSidebar.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarButtons/AdminSidebarButtons.scss
  src/components/organisms/AdminVenueView/components/AdminSidebarButtons/AdminSidebarButtons.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSubTitle/AdminSidebarSubTitle.scss
  src/components/organisms/AdminVenueView/components/AdminSidebarSubTitle/AdminSidebarSubTitle.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSubTitle/index.ts
  src/components/organisms/AdminVenueView/components/PrettyLink/PrettyLink.scss
  src/components/organisms/AdminVenueView/components/PrettyLink/PrettyLink.tsx
  src/components/organisms/AdminVenueView/components/PrettyLink/index.ts
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/index.ts
  src/hooks/chats/jukebox/useJukeboxChat.ts
  src/store/reducers/Attendance.ts
  src/store/reducers/Location.ts
  src/store/reducers/Room.ts
  src/store/reducers/index.ts
  src/store/store.ts
  src/types/Firestore.ts
  src/types/chat.ts
  src/utils/converters.ts
  src/utils/selectors.ts
Labels: 💎 styles
