Repository sparkletown/sparkle, pull requests merged in 2022-02, with the labels that each got.

#2781 Adds world owners; Displays proper world & spaces
  firestore.rules
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.tsx
  src/hooks/useIsUserVenueOwner.ts
  src/hooks/worlds/useWorlds.ts
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/types/venues.ts
Labels: 💡 new-feature, :lock: security

#2791 Fixes firestore rules to properly deploy
  firestore.rules
Labels: 🐛 bug

#2792 Remove inline styles from <Select> in <Dropdown>
  src/components/atoms/Dropdown/Dropdown.scss
  src/components/atoms/Dropdown/Dropdown.tsx
  src/components/atoms/SortDropDown/SortDropDown.scss
  src/components/atoms/SortDropDown/SortDropDown.tsx
  src/components/atoms/SpacesDropdown/SpacesDropdown.scss
  src/components/atoms/SpacesDropdown/SpacesDropdown.tsx
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.scss
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.tsx
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.tsx
  src/settings/placeholderSettings.ts
Labels: 💎 styles

#2797 Fix visibility of the RunTabUsers component
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
Labels: 🐛 bug, admin

#2799 Fixes user video in Poster page
  src/hooks/twilio/useVideoRoomState.tsx
Labels: 🐛 bug

#2789 table create fix + catch error type declarations
  functions/venue.js
  src/api/sounds.ts
  src/components/molecules/TableComponent/TableComponent.scss
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/types/errors.ts
  src/utils/table.ts
  tsconfig.json
Labels: 🐛 bug, 💎 styles

#2804 Fixes poster video
  src/components/templates/PosterPage/usePosterVideo.ts
Labels: 🐛 bug, P0 - Emergency/Fire :fire::fire::fire:

#2802 Add posterhall and animatemap icons
  src/assets/icons/icon-room-animatemap.svg
  src/assets/icons/icon-room-posterhall.svg
  src/settings/spacePortalsSettings.ts
Labels: 🐛 bug

#2814 Adds missing function in analytics
  functions/src/analytics.ts
  functions/src/utils/permissions.ts
  functions/src/world.ts
Labels: 🐛 bug, 🔨🍷 break-glass-approval-bypass

#2815 Fixes broken function deploy checker
  .circleci/config.yml
Labels: 🐛 bug, :rocket: deployment

#2808 use related venues for parent back options
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
Labels: :muscle: enhancement, ✨ UI/UX, admin

#2816 Rework some of Dropdown styles to make chat options work
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/Checkbox/Checkbox.tsx
  src/components/atoms/Dropdown/Dropdown.scss
  src/components/atoms/Dropdown/Dropdown.tsx
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.scss
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.scss
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModalContent.tsx
  src/scss/constants.scss
Labels: 💎 styles

#2823 move the scss files to the correct dir
  src/components/attendee/AttendeeFooter.module.scss
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/MapRoom.module.scss
  src/scss/attendee/mixins.scss
  src/scss/attendee/variables.scss
Labels: 💎 styles, 💻 eng-QoL

#2819 bump font awesome icons to 6.0.0 + font awesome core to 1.3.0
  package-lock.json
  package.json
Labels: dependencies

#2820 Fixes world => space inheritance. Allows world admins deletion of messages
  functions/src/analytics.ts
  functions/src/utils/permissions.ts
  functions/src/venue.ts
  functions/src/world.ts
  src/components/molecules/TableComponent/TableComponent.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/withMessages.ts
  src/hooks/chats/venue/useCanDeleteVenueChatMessages.tsx
  src/hooks/fire/useFireCollection.ts
  src/hooks/spaces/useWorldSpaces.ts
  src/hooks/user/useAdminRole.ts
  src/hooks/worlds/useOwnWorlds.ts
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/SpacesDashboard/index.ts
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/types/Table.ts
Labels: 🐛 bug

#2826 Fixes analytics generation
  functions/src/analytics.ts
  src/pages/Admin/ToolsPage/scripts/analytics/AnalyticsOutput.tsx
  src/pages/Admin/ToolsPage/scripts/analytics/config.ts
Labels: 🐛 bug, 💡 new-feature

#2828 Fixes wrong field name
  functions/src/analytics.ts
Labels: 🐛 bug

#2834 Implements world admins addition functionality
  functions/src/analytics.ts
  functions/src/index.ts
  functions/src/user.ts
  functions/src/utils/venue.ts
  functions/src/utils/world.ts
  functions/src/venue.ts
  src/pages/Admin/ToolsPage/ToolsPage.tsx
  src/pages/Admin/ToolsPage/components/Tool/Tool.tsx
  src/pages/Admin/ToolsPage/scripts/analytics/config.ts
  src/pages/Admin/ToolsPage/scripts/analytics/index.ts
  src/pages/Admin/ToolsPage/scripts/index.ts
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/AddWorldOwnerOutput.scss
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/AddWorldOwnerOutput.tsx
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/config.ts
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/index.ts
Labels: 💡 new-feature, 💎 styles

#2835 New video infra
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/components/attendee/VideoComms/VideoCommsProvider.tsx
  src/components/attendee/VideoComms/VideoTrackDisplay.tsx
  src/components/attendee/VideoComms/hooks.tsx
  src/components/attendee/VideoComms/internal/AudioTrackPlayer.tsx
  src/components/attendee/VideoComms/internal/TwilioClient.tsx
  src/components/attendee/VideoComms/internal/TwilioTrackDisplay.tsx
  src/components/attendee/VideoComms/internal/VideoCommsControls.tsx
  src/components/attendee/VideoComms/internal/scss/TwilioTrackDisplay.module.scss
  src/components/attendee/VideoComms/internal/useMute.ts
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
  src/components/attendee/VideoComms/types.ts
  src/components/organisms/Room/Room.tsx
  src/components/organisms/Video/VideoParticipant.scss
  src/components/organisms/Video/VideoParticipant.tsx
  src/components/organisms/Video/index.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.tsx
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/PosterPage/usePosterVideo.ts
  src/hooks/twilio/useParticipantMediaState.ts
  src/hooks/twilio/useParticipantState.ts
  src/hooks/twilio/useVideoRoomState.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/types/rooms.ts
  src/utils/room.ts
Labels: 💎 styles

#2812 Admin sidebar, navigation and footer
  src/assets/icons/sparkle-300.png
  src/components/admin/Button/Button.tailwind.ts
  src/components/admin/Button/Button.tsx
  src/components/admin/Button/index.ts
  src/components/admin/CardList.tsx
  src/components/admin/Footer/Footer.tsx
  src/components/admin/Footer/index.ts
  src/components/admin/HeaderButton.tsx
  src/components/admin/HeaderButton/HeaderButton.tailwind.ts
  src/components/admin/HeaderButton/HeaderButton.tsx
  src/components/admin/HeaderButton/index.ts
  src/components/admin/LinkButton.tsx
  src/components/admin/SectionSubtitle.tsx
  src/components/admin/Sidebar/Sidebar.tsx
  src/components/admin/Sidebar/components/NavBarLogin/NavBarLogin.scss
  src/components/admin/Sidebar/components/NavBarLogin/NavBarLogin.tsx
  src/components/admin/Sidebar/components/NavBarLogin/index.ts
  src/components/admin/Sidebar/components/SidebarContent/SidebarContent.tailwind.ts
  src/components/admin/Sidebar/components/SidebarContent/SidebarContent.tsx
  src/components/admin/Sidebar/components/SidebarContent/index.ts
  src/components/admin/Sidebar/index.ts
  src/components/admin/Sidebar/playa.scss
  src/components/admin/SpaceCard.tsx
  src/components/atoms/AdminHeader/AdminHeader.tsx
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/components/molecules/AdminNavBar/AdminNavBar.tsx
  src/components/molecules/AdminNavBar/index.ts
  src/components/molecules/AdminSidebarProfile/AdminSidebarProfile.tsx
  src/components/molecules/AdminSidebarProfile/index.ts
  src/components/organisms/AdminProfileModal/AdminProfileModal.tsx
  src/components/organisms/AdminProfileModal/index.ts
  src/components/templates/PartyMap/components/PortalModal/PortalModalContent.tsx
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/WorldEditor/WorldEditor.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/settings/index.ts
  src/settings/interpolationSettings.ts
  src/settings/urlSettings.ts
  src/types/OnlineStatsData.ts
Labels: ✨ UI/UX, 💎 styles, admin

#2848 Deploy redesign-2021 branch to sparkle-7
  .circleci/config.yml
Labels: :desktop_computer: infrastructure

#2844 Redesign create space screen
  src/components/admin/FormSection.tsx
  src/components/admin/FormSectionSubtitle.tsx
  src/components/admin/FormSectionTitle.tsx
  src/components/admin/Header/Header.module.scss
  src/components/admin/Header/Header.tailwind.ts
  src/components/admin/Header/Header.tsx
  src/components/admin/Header/index.ts
  src/components/admin/Input/Input.module.scss
  src/components/admin/Input/Input.tailwind.ts
  src/components/admin/Input/Input.tsx
  src/components/admin/Input/index.ts
  src/components/admin/SpaceCreateForm/SpaceCreateForm.tailwind.ts
  src/components/admin/SpaceCreateForm/SpaceCreateForm.tsx
  src/components/admin/SpaceCreateForm/index.ts
  src/components/molecules/AdminSection/AdminSection.tsx
  src/components/molecules/PortalListItem/PortalListItem.tailwind.ts
  src/components/molecules/PortalListItem/PortalListItem.tsx
  src/components/molecules/YourUrlDisplay/YourUrlDisplay.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionSubTitle/AdminSidebarSectionSubTitle.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionTitle/AdminSidebarSectionTitle.tsx
  src/components/organisms/SpaceCreateForm/SpaceCreateForm.scss
  src/pages/SpaceCreatePage/SpaceCreatePage.module.scss
  src/pages/SpaceCreatePage/SpaceCreatePage.scss
  src/pages/SpaceCreatePage/SpaceCreatePage.tailwind.ts
  src/pages/SpaceCreatePage/SpaceCreatePage.tsx
  src/scss/admin/constants.scss
  src/scss/admin/spacing.scss
  src/scss/colors.scss
Labels: 💎 styles

#2849 Enable new users to proceed to their space
  src/pages/VenuePage/VenuePage.tsx
Labels: 🐛 bug

#2850 Fix bugs on the Spaces page
  src/components/admin/LinkButton/LinkButton.tailwind.ts
  src/components/admin/LinkButton/LinkButton.tsx
  src/components/admin/LinkButton/index.ts
  src/components/admin/SpaceCard.tsx
  src/pages/SpacesDashboard/SpacesDashboard.tsx
Labels: 🐛 bug, admin

#2856 Simpler hook usage
  src/components/hocs/db/withUserNG.ts
  src/components/hocs/db/withWorldAndSpace.ts
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
  src/components/molecules/SecretPasswordForm/SecretPasswordForm.tsx
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalBasicTextInfo/ProfileModalBasicTextInfo.tsx
  src/components/organisms/PortalAddEditForm/PortalAddEditForm.tsx
  src/components/organisms/ScreeningRoomVideoAddEditForm/ScreeningRoomVideoAddEditForm.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModalContent.tsx
  src/components/templates/ReactionPage/ReactionPage.tsx
  src/hooks/spaces/useWorldAndSpaceByParams.ts
  src/hooks/spaces/useWorldAndSpaceBySlug.ts
  src/hooks/useIsUserVenueOwner.ts
  src/hooks/useVenuePoll.ts
  src/hooks/user/useUserId.ts
  src/hooks/user/useUserNG.ts
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/ProfileQuestions.tsx
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/types/id.ts
  src/utils/propName.ts
Labels: 🐛 bug, 💻 eng-QoL

#2854 New video API ported to master
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/components/attendee/VideoComms/VideoCommsProvider.tsx
  src/components/attendee/VideoComms/VideoTrackDisplay.tsx
  src/components/attendee/VideoComms/hooks.tsx
  src/components/attendee/VideoComms/internal/AudioTrackPlayer.tsx
  src/components/attendee/VideoComms/internal/TwilioClient.tsx
  src/components/attendee/VideoComms/internal/TwilioTrackDisplay.tsx
  src/components/attendee/VideoComms/internal/VideoCommsControls.tsx
  src/components/attendee/VideoComms/internal/scss/TwilioTrackDisplay.module.scss
  src/components/attendee/VideoComms/internal/useMute.ts
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
  src/components/attendee/VideoComms/types.ts
  src/components/molecules/UserReactions/UserReactions.scss
  src/components/organisms/Room/Room.tsx
  src/components/organisms/Video/VideoParticipant.scss
  src/components/organisms/Video/VideoParticipant.tsx
  src/components/organisms/Video/index.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.tsx
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/PosterPage/usePosterVideo.ts
  src/hooks/twilio/useParticipantMediaState.ts
  src/hooks/twilio/useParticipantState.ts
  src/hooks/twilio/useVideoRoomState.tsx
  src/hooks/user/useProfileById.ts
  src/pages/VenuePage/VenuePage.tsx
  src/settings/apiSettings.ts
  src/types/rooms.ts
  src/utils/room.ts
Labels: 💎 styles

#2841 Docs minor reformat and update of code-style.md
  docs/.prettierrc.json5
  docs/Questions.md
  docs/bootstrap-application.md
  docs/code-style.md
  docs/create-new-environment.md
  docs/firebase-emulators.md
  docs/getting-started.md
  docs/load-results.md
  docs/obtain-email-addresses.md
  docs/stripe-configuration.md
  docs/twilio-configuration.md
Labels: 📚 documentation

#2857 Jazzbar 2021
  src/components/attendee/AttendeeLayout.tsx
  src/components/attendee/Header/AttendeeHeader.tsx
  src/components/attendee/MediaPlayer/MediaPlayer.module.scss
  src/components/attendee/MediaPlayer/MediaPlayer.tsx
  src/components/attendee/MediaPlayer/index.tsx
  src/components/attendee/TableComponent/TableComponent.module.scss
  src/components/attendee/TableComponent/TableComponent.tsx
  src/components/attendee/TableComponent/index.ts
  src/components/attendee/TableGrid/TableGrid.module.scss
  src/components/attendee/TableGrid/TableGrid.tsx
  src/components/attendee/TableGrid/index.ts
  src/components/molecules/StartTable/StartTable.module.scss
  src/components/molecules/StartTable/StartTable.scss
  src/components/molecules/StartTable/StartTable.tsx
  src/components/molecules/TableComponent/TableComponent.scss
  src/components/molecules/TableComponent/TableComponent.tsx
  src/components/molecules/TablesUserList/TablesUserList.scss
  src/components/molecules/TablesUserList/index.ts
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.module.scss
  src/components/templates/Jazzbar/JazzBar/JazzBar.scss
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.scss
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/index.ts
  src/hooks/useRelatedVenues.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/scss/attendee/breakpoint.scss
  src/scss/attendee/layout.scss
  src/types/Table.ts
Labels: 💎 styles

#2868 Redesigned create/edit world pages
  src/components/admin/Button/Button.tailwind.ts
  src/components/admin/Button/Button.tsx
  src/components/admin/FormSection.tsx
  src/components/admin/FormSectionSubtitle.tsx
  src/components/admin/FormSectionTitle.tsx
  src/components/admin/Header/CrubmtrailSeparatorIcon.tsx
  src/components/admin/Header/Header.module.scss
  src/components/admin/Header/Header.tailwind.ts
  src/components/admin/Header/Header.tsx
  src/components/admin/ImageInput/ImageInput.tailwind.ts
  src/components/admin/ImageInput/ImageInput.tsx
  src/components/admin/ImageInput/index.ts
  src/components/admin/Input/Input.tailwind.ts
  src/components/admin/Input/Input.tsx
  src/components/admin/InputGroup.tsx
  src/components/admin/InputGroupSubtitle.tsx
  src/components/admin/InputGroupTitle.tsx
  src/components/admin/Section.tsx
  src/components/admin/SpaceCreateForm/SpaceCreateForm.tsx
  src/components/admin/Textarea/Textarea.module.scss
  src/components/admin/Textarea/Textarea.tailwind.ts
  src/components/admin/Textarea/Textarea.tsx
  src/components/admin/Textarea/index.ts
  src/components/admin/ThreeColumnLayout.tsx
  src/components/admin/WorldGeneralForm/WorldGeneralForm.scss
  src/components/admin/WorldGeneralForm/WorldGeneralForm.tsx
  src/components/admin/WorldGeneralForm/index.ts
  src/components/admin/WorldShowcase/WorldShowcase.scss
  src/components/admin/WorldShowcase/WorldShowcase.tsx
  src/components/admin/WorldShowcase/index.ts
  src/components/atoms/AdminHeader/AdminHeader.tsx
  src/components/atoms/AdminHeader/index.tsx
  src/components/molecules/AdminSection/AdminSection.tsx
  src/components/molecules/Loading/Loading.tsx
  src/components/molecules/Loading/LoadingIcon.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/molecules/WorldNav/WorldNav.tailwind.ts
  src/components/molecules/WorldNav/WorldNav.tsx
  src/components/organisms/AdminVenueView/components/AdminShowcase/AdminShowcase.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebar/AdminSidebar.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarButtons/AdminSidebarButtons.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionSubTitle/AdminSidebarSectionSubTitle.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionTitle/AdminSidebarSectionTitle.tsx
  src/components/organisms/PortalAddEditForm/PortalAddEditForm.tsx
  src/components/organisms/ScreeningRoomVideoAddEditForm/ScreeningRoomVideoAddEditForm.tsx
  src/components/organisms/WorldShowcase/WorldShowcase.scss
  src/components/organisms/WorldShowcase/WorldShowcase.tsx
  src/pages/SpaceCreatePage/SpaceCreatePage.tsx
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/WorldEditor/WorldEditor.tsx
  src/pages/WorldEditor/WorldEditorGeneralPanel.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/settings/adminDesignSettings.ts
  src/settings/index.ts
Labels: ✨ UI/UX, 💎 styles, admin

#2869 Chatbar
  src/components/atoms/ChatMessage/ChatMessage.module.scss
  src/components/atoms/ChatMessage/ChatMessage.tsx
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.module.scss
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.scss
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/atoms/InputField/InputField.module.scss
  src/components/atoms/InputField/InputField.scss
  src/components/atoms/InputField/InputField.tsx
  src/components/atoms/UserAvatar/UserAvatar.module.scss
  src/components/atoms/UserAvatar/UserAvatar.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/ChatContainer.tsx
  src/components/attendee/Header/AttendeeHeader.module.scss
  src/components/attendee/Header/AttendeeHeader.tsx
  src/components/attendee/MediaPlayer/MediaPlayer.module.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.module.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/ChatPoll/ChatPoll.tsx
  src/components/molecules/Chatbox/Chatbox.module.scss
  src/components/molecules/Chatbox/Chatbox.scss
  src/components/molecules/Chatbox/Chatbox.tsx
  src/components/molecules/Chatbox/components/ChatboxMessage/ChatboxMessage.module.scss
  src/components/molecules/Chatbox/components/ChatboxMessage/ChatboxMessage.scss
  src/components/molecules/Chatbox/components/ChatboxMessage/ChatboxMessage.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.module.scss
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.module.scss
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.scss
  src/components/organisms/ChatSidebar/components/OnlineUser/OnlineUser.tsx
  src/components/organisms/ChatSidebar/components/PrivateChatPreview/PrivateChatPreview.module.scss
  src/components/organisms/ChatSidebar/components/PrivateChatPreview/PrivateChatPreview.scss
  src/components/organisms/ChatSidebar/components/PrivateChatPreview/PrivateChatPreview.tsx
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.module.scss
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.scss
  src/components/organisms/ChatSidebar/components/PrivateChats/PrivateChats.tsx
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.module.scss
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.scss
  src/components/organisms/ChatSidebar/components/RecipientChat/RecipientChat.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/VenueChat.scss
  src/components/organisms/ChatSidebar/components/VenueChat/VenueChat.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/index.ts
  src/hooks/chats/util/useChatSidebarInfo.ts
  src/pages/VenuePage/TemplateWrapper.module.scss
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/attendee/effects/rounded.scss
  src/scss/attendee/initial.scss
  src/scss/attendee/layout.scss
  src/scss/attendee/theme.scss
Labels: 💎 styles

#2873 Dark mode
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
  src/components/attendee/scss/Gradients.module.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.module.scss
  src/scss/attendee/effects/sparkle.scss
  src/scss/attendee/theme.scss
Labels: 💎 styles

#2883 Minor layout fixes
  src/components/attendee/Attendance/Attendance.module.scss
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
Labels: 💎 styles
