Repository sparkletown/sparkle, pull requests merged in 2022-03, with the labels that each got.

#2827 New attendee search overlay
  src/components/attendee/Attendance/Attendance.module.scss
  src/components/attendee/AttendeeHeader/AttendeeHeader.module.scss
  src/components/attendee/AttendeeHeader/AttendeeHeader.tsx
  src/components/attendee/AttendeeHeader/index.ts
  src/components/attendee/AttendeeLayout.tsx
  src/components/attendee/Input/Input.module.scss
  src/components/attendee/Input/Input.tsx
  src/components/attendee/Input/index.ts
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/NavOverlay/SearchOverlay/PortalItem/PortalItem.module.scss
  src/components/attendee/NavOverlay/SearchOverlay/PortalItem/PortalItem.tsx
  src/components/attendee/NavOverlay/SearchOverlay/SearchOverlay.module.scss
  src/components/attendee/NavOverlay/SearchOverlay/SearchOverlay.tsx
  src/scss/attendee/border.scss
  src/scss/attendee/layer.scss
  src/scss/attendee/theme.scss
  src/settings/taxonomy.ts
Labels: ✨ UI/UX, 💎 styles

#2882 Layer SCSS tie-ins for the AttendeeHeader
  package-lock.json
  src/components/atoms/InputField/InputField.module.scss
  src/components/atoms/InputField/InputField.tsx
  src/components/attendee/Attendance/Attendance.module.scss
  src/components/attendee/AttendeeHeader/AttendeeHeader.module.scss
  src/components/attendee/AttendeeHeader/AttendeeHeader.tsx
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/NavOverlay/SearchOverlay/SearchOverlay.module.scss
  src/components/attendee/NavOverlay/index.ts
  src/scss/attendee/layer.scss
  src/scss/attendee/layout.scss
Labels: dependencies, 💎 styles

#2872 Add `LoginRestricted` and `WithPermission` components for more robust checks
  src/components/admin/SpaceEditForm.tsx
  src/components/atoms/AdminRestricted/AdminRestricted.scss
  src/components/atoms/AdminRestricted/AdminRestricted.tsx
  src/components/atoms/AdminRestricted/AdminRestrictedLoading.scss
  src/components/atoms/AdminRestricted/AdminRestrictedLoading.tsx
  src/components/atoms/AdminRestricted/index.ts
  src/components/atoms/Forbidden/Forbidden.tsx
  src/components/atoms/TesterRestricted/TesterRestricted.tsx
  src/components/atoms/TesterRestricted/index.ts
  src/components/attendee/AttendeeLayout/AttendeeLayout.module.scss
  src/components/attendee/AttendeeLayout/AttendeeLayout.tsx
  src/components/attendee/AttendeeLayout/index.ts
  src/components/attendee/NavBar.tsx
  src/components/attendee/useBackgroundGradient.tsx
  src/components/hocs/db/withRelatedSpacesById.ts
  src/components/molecules/NavBar/NavBarLogin.tsx
  src/components/molecules/NavBar/NormalRadio.tsx
  src/components/molecules/NavBar/SoundCloudRadio.tsx
  src/components/molecules/NavBar/components/NavBarLogin/NavBarLogin.scss
  src/components/molecules/NavBar/components/NavBarLogin/index.ts
  src/components/molecules/NavBar/components/NormalRadio/NormalRadio.scss
  src/components/molecules/NavBar/components/NormalRadio/index.ts
  src/components/molecules/NavBar/components/SoundCloudRadio/SoundCloudRadio.scss
  src/components/molecules/NavBar/components/SoundCloudRadio/index.ts
  src/components/molecules/NavBar/index.ts
  src/components/molecules/NavBar/playa.scss
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/AdminVenueView/index.ts
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/components/shared/WithPermission.tsx
  src/core/AnalyticsCheck.tsx
  src/core/AnalyticsCheck/AnalyticsCheck.tsx
  src/core/AnalyticsCheck/index.ts
  src/core/AnalyticsCount.tsx
  src/core/AnalyticsCount/index.ts
  src/core/AppRouter/AccountSubRouter.tsx
  src/core/AppRouter/AdminSubRouter.tsx
  src/core/AppRouter/AppRouter.tsx
  src/hooks/spaces/useRelatedSpaces.ts
  src/hooks/useRelatedVenues.tsx
  src/pages/Account/Login/Login.tsx
  src/pages/Account/Login/index.ts
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/SpaceCreatePage/SpaceCreatePage.tsx
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/VenueEntrancePage/VenueEntrancePage.tsx
  src/pages/VenueEntrancePage/index.ts
  src/pages/VenuePage/VenuePage.tsx
  src/pages/VenuePage/index.ts
  src/pages/WorldEditor/WorldEditor.tsx
  src/pages/WorldsDashboard/WorldsDashboard.scss
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/pages/WorldsDashboard/index.ts
  src/types/id.ts
Labels: 💎 styles

#2884 Introduce safe zone to party maps
  package-lock.json
  package.json
  src/components/attendee/AttendeeLayout.tsx
  src/components/attendee/AttendeeLayout/AttendeeLayout.module.scss
  src/components/attendee/AttendeeLayout/AttendeeLayout.tsx
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.module.scss
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/RoomAttendance/RoomAttendance.module.scss
  src/components/templates/PartyMap/components/RoomAttendance/RoomAttendance.scss
  src/components/templates/PartyMap/components/RoomAttendance/RoomAttendance.tsx
  src/hooks/useCheckImage.ts
  src/scss/attendee/effects/sparkle.scss
  src/scss/attendee/theme.scss
  src/settings/index.ts
  src/types/venues.ts
Labels: dependencies, 💎 styles

#2892 Auditorium
  src/components/templates/Auditorium/Auditorium.tsx
  src/components/templates/Auditorium/components/AllSectionPreviews/AllSectionPreviews.tsx
  src/components/templates/Auditorium/components/SeatingBlock/SeatingBlock.tsx
  src/components/templates/Auditorium/components/SeatingBlock/index.ts
  src/components/templates/Auditorium/components/Section/Section.module.scss
  src/components/templates/Auditorium/components/Section/Section.scss
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/hooks/auditorium/seats.module.scss
  src/hooks/auditorium/useAllAuditoriumSections.ts
  src/hooks/auditorium/useAuditoriumGrid.tsx
  src/hooks/auditorium/useAuditoriumSection.ts
  src/scss/attendee/theme.scss
  src/settings/index.ts
  src/utils/auditorium.ts
Labels: 💎 styles

#2891 Redesign tools page
  src/components/admin/Input/Input.tsx
  src/core/AppRouter/AdminSubRouter.tsx
  src/hooks/spaces/useWorldAndSpaceBySlug.ts
  src/pages/Admin/ToolsPage/ToolsPage.scss
  src/pages/Admin/ToolsPage/ToolsPage.tsx
  src/pages/Admin/ToolsPage/components/Tool/Tool.scss
  src/pages/Admin/ToolsPage/components/Tool/Tool.tsx
  src/pages/Admin/ToolsPage/scripts/analytics/AnalyticsOutput.tailwind.ts
  src/pages/Admin/ToolsPage/scripts/analytics/AnalyticsOutput.tsx
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/AddWorldOwnerOutput.tsx
  src/settings/urlSettings.ts
Labels: ✨ UI/UX, 💎 styles, admin

#2886 redesign world schedule and other misc components
  functions/src/world.ts
  package-lock.json
  src/api/admin.ts
  src/api/world.ts
  src/components/admin/EventsPanel/EventsPanel.tsx
  src/components/admin/EventsPanel/index.ts
  src/components/admin/Header/Header.tsx
  src/components/admin/HeaderButton/HeaderButton.tsx
  src/components/admin/Textarea/Textarea.tailwind.ts
  src/components/admin/Toggle/Toggle.tailwind.ts
  src/components/admin/Toggle/Toggle.tsx
  src/components/admin/Toggle/index.ts
  src/components/atoms/Dropdown/Dropdown.tsx
  src/components/molecules/Modal/Modal.tsx
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.scss
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
  src/components/organisms/AdminVenueView/components/EventsView/index.tsx
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/SpaceTimingPanel.tsx
  src/components/organisms/TimingDeleteModal/TimingDeleteModal.tsx
  src/components/organisms/TimingEvent/TimingEvent.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/components/organisms/TimingSpace/TimingSpace.tsx
  src/core/AppRouter/AdminSubRouter.tsx
  src/forms/eventEditSchema.ts
  src/forms/worldScheduleSchema.ts
  src/hooks/useOwnedVenues.tsx
  src/pages/Admin/WorldSchedule/WorldSchedule.tailwind.ts
  src/pages/Admin/WorldSchedule/WorldSchedule.tsx
  src/pages/Admin/WorldSchedule/index.ts
  src/settings/dateSettings.ts
  src/types/spaces.ts
  src/types/world.ts
Labels: dependencies, 💎 styles

#2900 Redesign: show user name while cam is enabled
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/components/attendee/VideoComms/internal/VideoCommsControls.tsx
  src/components/attendee/VideoComms/internal/scss/VideoCommsControls.module.scss
  src/components/attendee/VideoComms/internal/useMute.ts
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
Labels: 🐛 bug, 💎 styles

#2908 fix table avatars appearing outside of the container
  src/components/attendee/TableComponent/TableComponent.module.scss
Labels: 💎 styles

#2911 fix chat avatar style
  src/components/atoms/InputField/InputField.tsx
  src/components/atoms/UserAvatar/UserAvatar.module.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
Labels: ✨ UI/UX, 💎 styles

#2905 Navigation menu for mobile + space info tab
  src/assets/icons/input-error-icon.svg
  src/components/attendee/AttendeeHeader/AttendeeHeader.module.scss
  src/components/attendee/AttendeeHeader/AttendeeHeader.tsx
  src/components/attendee/BasicInfo/ProfileModalAvatar/ProfileModalAvatar.module.scss
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/Input/Input.module.scss
  src/components/attendee/Input/Input.tsx
  src/components/attendee/InputSelect/InputSelect.module.scss
  src/components/attendee/InputSelect/InputSelect.tsx
  src/components/attendee/IntersectingButton/IntersectingButton.tsx
  src/components/attendee/IntersectingButton/index.ts
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/Password/ProfileModalChangePassword.tsx
  src/components/attendee/ProfileModalEditLinks/ProfileModalEditLink/ProfileModalEditLink.tsx
  src/components/attendee/ProfileModalEditLinks/ProfileModalEditLinks.tsx
  src/components/attendee/ProfileOverlay/ProfileOverlay.tsx
  src/components/attendee/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/ScheduleOverlay/ScheduleOverlay.tsx
  src/components/attendee/Select/Select.tsx
  src/components/attendee/SpaceInfo/SpaceInfo.module.scss
  src/components/attendee/SpaceInfo/SpaceInfo.tsx
  src/components/attendee/SpaceInfo/index.ts
  src/components/attendee/Toggler/Toggler.module.scss
  src/hooks/viewport/useMediaQuery.tsx
  src/scss/attendee/breakpoint.scss
  src/scss/attendee/effects/error.scss
  src/scss/attendee/icon.scss
  src/scss/attendee/layout.scss
  src/scss/attendee/theme.scss
  src/settings/dateSettings.ts
  src/settings/interpolationSettings.ts
  src/utils/time.ts
Labels: 💎 styles

#2917 replace new name for manually created tables
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/utils/string.ts
  src/utils/table.ts
Labels: 🐛 bug

#2919 fix schedule space id filter
  src/components/attendee/IntersectingButton/IntersectingButton.tsx
  src/components/attendee/ScheduleOverlay/ScheduleOverlay.tsx
Labels: 🐛 bug

#2910 Redesign: Conversation Space
  src/components/attendee/TableComponent/TableComponent.module.scss
  src/components/attendee/TableComponent/TableComponent.tsx
  src/components/attendee/TableGrid/TableGrid.tsx
  src/components/molecules/SpaceInfo/SpaceInfo.module.scss
  src/components/molecules/SpaceInfo/SpaceInfo.tsx
  src/components/molecules/SpaceInfo/index.ts
  src/components/molecules/StartTable/StartTable.tsx
  src/components/templates/ConversationSpace/ConversationSpace.hoc.tsx
  src/components/templates/ConversationSpace/ConversationSpace.scss
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/ConversationSpace/index.ts
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/Jazzbar/JazzBarPage.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/types/Table.ts
Labels: ✨ UI/UX, 💎 styles

#2920 Fix TableGrid component
  src/components/attendee/TableGrid/TableGrid.tsx
Labels: 🐛 bug

#2925 Remove legacy space description
  src/components/attendee/SpaceInfo/SpaceInfo.tsx
  src/components/molecules/SpaceInfo/index.ts
  src/components/molecules/SpaceInfoText/SpaceInfoText.module.scss
  src/components/molecules/SpaceInfoText/SpaceInfoText.tsx
  src/components/molecules/SpaceInfoText/index.ts
  src/components/templates/Auditorium/components/AllSectionPreviews/AllSectionPreviews.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/types/venues.ts
Labels: 🐛 bug, 💎 styles

#2907 Adds new external room
  src/components/templates/ExternalRoom/ExternalRoom.module.scss
  src/components/templates/ExternalRoom/ExternalRoom.scss
  src/components/templates/ExternalRoom/ExternalRoom.tsx
  src/pages/VenuePage/TemplateWrapper.module.scss
Labels: :construction: WIP, 💡 new-feature, 💎 styles

#2928 Makes chatbox display the latest messages
  src/components/molecules/Chatbox/Chatbox.module.scss
  src/components/molecules/Chatbox/Chatbox.tsx
Labels: 💎 styles

#2926 profile links + validation fixes + minor formatting
  src/components/attendee/InputSelect/InputSelect.module.scss
  src/components/attendee/InputSelect/InputSelect.tsx
  src/components/attendee/ProfileModalEditLinks/ProfileModalEditLink/ProfileModalEditLink.tsx
  src/components/attendee/ProfileModalEditLinks/ProfileModalEditLinks.tsx
  src/components/attendee/ProfileOverlay/ProfileOverlay.tsx
Labels: 🐛 bug, 💎 styles

#2766 Moved `Space Admin` to Spaces tab
  firestore.rules
  src/api/admin.ts
  src/components/admin/SpaceUsersManager/SpaceUsersManager.scss
  src/components/admin/SpaceUsersManager/SpaceUsersManager.tsx
  src/components/admin/SpaceUsersManager/index.ts
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/components/organisms/AdminVenueView/components/RunTabUsers/index.ts
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
Labels: 💎 styles, admin

#2933 New seating hooks
  firestore.rules
  functions/src/scheduled.ts
  functions/src/triggered.ts
  src/api/venue.ts
  src/api/world.ts
  src/components/attendee/TableGrid/TableGrid.tsx
  src/components/attendee/VideoHuddle/HuddleProvider.tsx
  src/components/attendee/VideoHuddle/useVideoHuddle.tsx
  src/components/molecules/TableHeader/TableHeader.tsx
  src/components/organisms/Room/Room.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/Auditorium/components/SeatingBlock/SeatingBlock.tsx
  src/components/templates/Auditorium/components/Section/Section.module.scss
  src/components/templates/Auditorium/components/Section/Section.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/ViewingWindow/ViewingWindow.tsx
  src/hooks/auditorium/seats.module.scss
  src/hooks/auditorium/useAuditoriumGrid.tsx
  src/hooks/auditorium/useAuditoriumSection.ts
  src/hooks/useAuditoriumSeatedUsers.ts
  src/hooks/useGetUserByPosition.ts
  src/hooks/useSeatedTableUsers.ts
  src/hooks/useSeatedUsers.ts
  src/hooks/useSeating.ts
  src/hooks/useUpdateRecentSeatedUsers.ts
  src/settings/apiSettings.ts
  src/settings/index.ts
  src/settings/sectionSettings.ts
  src/types/User.ts
  src/types/grid.ts
  src/types/venues.ts
  src/utils/auditorium.ts
Labels: 💎 styles

#2937 Force funnel link to reload page
  src/components/atoms/LinkButton/LinkButton.tsx
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.tsx
  src/utils/url.ts
Labels: 🐛 bug

#2936 Fix world creation
  src/utils/validation.ts
Labels: 🐛 bug, admin

#2941 redesign space timing tab and show events
  src/components/admin/EventsPanel/EventsPanel.tsx
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/SpaceTimingPanel.tsx
  src/components/organisms/TimingEvent/TimingEvent.tsx
Labels: :muscle: enhancement, ✨ UI/UX, admin

#2947 Fix admin footer position
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/pages/SpaceCreatePage/SpaceCreatePage.module.scss
  src/pages/SpaceCreatePage/SpaceCreatePage.tailwind.ts
  src/pages/SpaceCreatePage/SpaceCreatePage.tsx
Labels: 🐛 bug, 💎 styles

#2949 Art piece template
  src/components/attendee/MediaElement/MediaElement.module.scss
  src/components/attendee/MediaElement/MediaElement.tsx
  src/components/attendee/MediaElement/index.tsx
  src/components/attendee/MediaPlayer/index.tsx
  src/components/attendee/WebcamGrid/WebcamGrid.module.scss
  src/components/attendee/WebcamGrid/WebcamGrid.tsx
  src/components/attendee/WebcamGrid/index.ts
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/Auditorium/Auditorium.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/attendee/layout.scss
  src/types/VenueTemplate.ts
  src/types/venues.ts
Labels: 💎 styles

#2932 improve invite admin modal and add search functionality
  functions/src/world.ts
  src/api/world.ts
  src/components/admin/InviteAdminModal/InviteAdminModal.tsx
Labels: :muscle: enhancement, ✨ UI/UX, admin

#2948 Chat emoji icon placement fix
  src/components/admin/SpaceEditForm.tsx
  src/components/atoms/InputField/InputField.module.scss
  src/components/atoms/InputField/InputField.scss
  src/components/attendee/InputField/InputField.module.scss
  src/components/attendee/InputField/InputField.tsx
  src/components/attendee/InputField/index.ts
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
  src/components/molecules/Jukebox/Jukebox.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/PollBox/PollBox.tsx
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalInput/ProfileModalInput.tsx
  src/components/templates/PosterHall/components/PosterHallSearch/PosterHallSearch.tsx
  src/components/templates/ScreeningRoom/ScreeningRoom.tsx
  src/pages/Admin/ScreeningRoomPreview/ScreeningRoomPreview.tsx
Labels: 🐛 bug, ✨ UI/UX, 💎 styles

#2930 Conversation space admin redesign
  src/components/admin/Checkbox/Checkbox.tsx
  src/components/admin/InputGroup.tsx
  src/components/admin/SpaceEditForm.tsx
  src/components/admin/Toggle/Toggle.tsx
  src/components/atoms/SpacesDropdown/SpacesDropdown.tsx
  src/types/venues.ts
Labels: 🐛 bug, ✨ UI/UX

#2944 Portal create/edit modal
  src/assets/icons/checkmark-icon.svg
  src/components/admin/Button/Button.tailwind.ts
  src/components/admin/Button/index.ts
  src/components/admin/ConfirmationModal/ConfirmationModal.tsx
  src/components/admin/Dropdown/Dropdown.module.scss
  src/components/admin/Dropdown/Dropdown.tailwind.ts
  src/components/admin/Dropdown/Dropdown.tsx
  src/components/admin/Dropdown/index.ts
  src/components/admin/ImageInput/ImageInput.tsx
  src/components/admin/Input/Input.tsx
  src/components/admin/PortalAddEditForm.tsx
  src/components/admin/PortalStripForm.tsx
  src/components/admin/PortalVisibility/PortalVisibility.tailwind.ts
  src/components/admin/PortalVisibility/PortalVisibility.tsx
  src/components/admin/PortalVisibility/index.ts
  src/components/admin/SpaceEditForm.tsx
  src/components/admin/SpacesDropdown/SpacesDropdown.scss
  src/components/admin/SpacesDropdown/SpacesDropdown.tsx
  src/components/admin/SpacesDropdown/index.ts
  src/components/admin/Toggle/Toggle.tsx
  src/components/admin/UserStatusDropdown.tsx
  src/components/admin/UserStatusInput.tsx
  src/components/admin/WorldGeneralForm/WorldGeneralForm.tsx
  src/components/atoms/Dropdown/Dropdown.scss
  src/components/atoms/PortalVisibility/PortalVisibility.scss
  src/components/atoms/PortalVisibility/PortalVisibility.tsx
  src/components/atoms/SortDropDown/SortDropDown.tsx
  src/components/atoms/SpacesDropdown/SpacesDropdown.scss
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.tsx
  src/components/molecules/Modal/Modal.tailwind.ts
  src/components/molecules/Modal/Modal.tsx
  src/components/molecules/PortalsTable/PortalsTable.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/ScreeningRoomVideoAddEditForm/ScreeningRoomVideoAddEditForm.tsx
  src/components/organisms/ScreeningRoomVideosStripForm/ScreeningRoomVideosStripForm.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/components/templates/ExperimentalSpace/ExperimentalSpace.tsx
Labels: ✨ UI/UX, 💎 styles, admin

#2951 schedule weekdays render fix + added event link
  src/components/attendee/ScheduleOverlay/ScheduleEvents.tsx
  src/components/attendee/ScheduleOverlay/ScheduleOverlay.module.scss
  src/hooks/useVenueScheduleEvents.ts
  src/utils/time.ts
Labels: 🐛 bug, 💎 styles

#2954 Old login redesign pre-styling clean up
  src/assets/images/sparkle-header.png
  src/components/atoms/Forbidden/Forbidden.tsx
  src/components/atoms/NotLoggedInFallback/NotLoggedInFallback.tsx
  src/components/organisms/AuthenticationModal/LoginForm/index.ts
  src/components/organisms/AuthenticationModal/RegisterForm/index.ts
  src/components/shared/LoginRestricted.tsx
  src/core/index.ts
  src/core/spark.ts
  src/hooks/spaces/useWorldAndSpaceByParams.ts
  src/hooks/spaces/useWorldAndSpaceBySlug.ts
  src/index.tsx
  src/pages/Account/Login/index.ts
  src/pages/Account/Login/scss/Login.module.scss
  src/pages/Account/LoginWithCustomToken.tsx
  src/pages/Account/helpers.ts
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/VenueEntrancePage/index.ts
  src/pages/auth/InitialForm/InitialForm.module.scss
  src/pages/auth/InitialForm/InitialForm.tsx
  src/pages/auth/InitialForm/index.ts
  src/pages/auth/Login/Login.hoc.tsx
  src/pages/auth/Login/Login.module.scss
  src/pages/auth/Login/Login.tsx
  src/pages/auth/Login/index.ts
  src/pages/auth/LoginForm/LoginForm.hoc.tsx
  src/pages/auth/LoginForm/LoginForm.module.scss
  src/pages/auth/LoginForm/LoginForm.tsx
  src/pages/auth/LoginForm/index.ts
  src/pages/auth/PasswordResetForm/PasswordResetForm.tsx
  src/pages/auth/PasswordResetForm/index.ts
  src/pages/auth/RegisterForm/RegisterForm.hoc.tsx
  src/pages/auth/RegisterForm/RegisterForm.tsx
  src/pages/auth/RegisterForm/index.ts
Labels: 💎 styles

#2955 fixed schedule double scroll + weekday render + title
  src/components/attendee/AttendeeLayout.tsx
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/ScheduleOverlay/ScheduleOverlay.tsx
  src/components/attendee/ScheduleOverlay/ScrollableWeekdays.tsx
  src/hooks/useVenueScheduleEvents.ts
  src/hooks/viewport/useDisableBodyScroll.tsx
  src/settings/index.ts
  src/settings/taxonomy.ts
Labels: 🐛 bug, 💎 styles

#2953 Add mini profile modal
  src/components/admin/UserProfileModal/components/ProfileModalContent.tsx
  src/components/admin/UserProfileModal/components/UserProfileModalBody/UserProfileModalBody.tsx
  src/components/atoms/ChatMessage/ChatMessage.tsx
  src/components/atoms/UserAvatar/UserAvatar.module.scss
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/atoms/UserAvatar/UserStatus.tsx
  src/components/attendee/Attendance/Attendance.module.scss
  src/components/attendee/Attendance/Attendance.tsx
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/Card/Card.module.scss
  src/components/attendee/Card/Card.tsx
  src/components/attendee/Card/CardBody.tsx
  src/components/attendee/Card/CardButton.tsx
  src/components/attendee/Card/index.ts
  src/components/attendee/MiniProfile/MiniProfile.tsx
  src/components/attendee/MiniProfile/components/MiniProfileModal.hoc.tsx
  src/components/attendee/MiniProfile/components/MiniProfileModal.module.scss
  src/components/attendee/MiniProfile/components/MiniProfileModal.tsx
  src/components/attendee/MiniProfile/components/MiniProfileModalLinks.module.scss
  src/components/attendee/MiniProfile/components/MiniProfileModalLinks.tsx
  src/components/attendee/MiniProfile/components/index.ts
  src/components/attendee/MiniProfile/index.ts
  src/components/attendee/TableComponent/TableComponent.module.scss
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/components/molecules/DefaultAvatars/DefaultAvatars.tsx
  src/components/organisms/Badges/BadgeImage.tsx
  src/components/organisms/Badges/Badges.scss
  src/components/organisms/Badges/Badges.tsx
  src/components/organisms/Badges/index.ts
  src/components/shared/SpentTime/SpentTime.module.scss
  src/components/shared/SpentTime/SpentTime.tsx
  src/components/shared/SpentTime/index.ts
  src/hooks/useIsCurrentUser.ts
  src/hooks/useProfileModalControls.ts
  src/scss/attendee/layout.scss
  src/scss/attendee/theme.scss
  src/store/actions/UserProfile.ts
  src/store/reducers/UserProfile.ts
  src/types/id.ts
  src/utils/selectors.ts
Labels: 🐛 bug, ✨ UI/UX, 💎 styles

#2960 Meeting rooms
  firestore.rules
  src/api/retunableMediaElement.ts
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/MediaElement/MediaElement.module.scss
  src/components/attendee/MediaElement/MediaElement.tsx
  src/components/attendee/RetunableMediaElement/RetunableMediaElement.module.scss
  src/components/attendee/RetunableMediaElement/RetunableMediaElement.tsx
  src/components/attendee/RetunableMediaElement/RetunableMediaElement.types.tsx
  src/components/attendee/RetunableMediaElement/components/TuneBanner.module.scss
  src/components/attendee/RetunableMediaElement/components/TuneBanner.tsx
  src/components/attendee/RetunableMediaElement/components/Tuner.module.scss
  src/components/attendee/RetunableMediaElement/components/Tuner.tsx
  src/components/attendee/RetunableMediaElement/hooks.tsx
  src/components/attendee/RetunableMediaElement/index.tsx
  src/components/attendee/VideoComms/internal/TwilioClient.tsx
  src/components/attendee/VideoComms/internal/TwilioTrackDisplay.tsx
  src/components/attendee/WebcamGrid/WebcamGrid.tsx
  src/components/templates/MeetingRoom/MeetingRoom.module.scss
  src/components/templates/MeetingRoom/MeetingRoom.tsx
  src/components/templates/MeetingRoom/index.ts
  src/hooks/useAnalytics.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/attendee/theme.scss
  src/settings/apiSettings.ts
  src/settings/spacePortalsSettings.ts
  src/types/VenueTemplate.ts
  src/types/venues.ts
Labels: 💎 styles

#2964 fixed events space filter
  src/components/attendee/ScheduleOverlay/ScheduleEvent.tsx
  src/components/attendee/ScheduleOverlay/ScheduleEvents.tsx
  src/components/attendee/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/hocs/db/withSpaceById.ts
  src/components/hocs/db/withWorldById.ts
  src/components/molecules/VenuePartygoers/VenuePartygoers.tsx
  src/hooks/spaces/useSpaceById.ts
  src/hooks/useAnalytics.ts
  src/hooks/useProfileQuestions.ts
  src/hooks/worlds/useWorldById.ts
Labels: 🐛 bug, 💎 styles

#2965 redesign run tab and add announcement form
  src/components/admin/Toggle/Toggle.tailwind.ts
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/forms/announcementSchema.ts
Labels: ✨ UI/UX, admin

#2966 Nav bar visual issues fix
  src/components/attendee/AttendeeHeader/AttendeeHeader.module.scss
  src/components/attendee/AttendeeHeader/AttendeeHeader.tsx
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/ScheduleOverlay/ScheduleEvent.tsx
  src/components/attendee/ScheduleOverlay/ScheduleOverlay.module.scss
  src/hooks/viewport/useDisableBodyScroll.tsx
Labels: 🐛 bug, ✨ UI/UX, 💎 styles

#2969 Introduce attendee popover component
  src/api/admin.ts
  src/components/admin/HeaderButton/HeaderButton.tsx
  src/components/admin/PortalAddEditForm.tsx
  src/components/admin/SpaceDeleteModal.tsx
  src/components/admin/SpaceEditForm.tsx
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/MiniProfile/MiniProfile.tsx
  src/components/attendee/Popover.tsx
  src/components/attendee/PortalModal/PortalModal.module.scss
  src/components/attendee/PortalModal/PortalModal.tsx
  src/components/attendee/PortalModal/index.ts
  src/components/attendee/TableComponent/TableComponent.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/NavBarSchedule/NavBarSchedule.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/components/templates/AnimateMap/hooks/useRelatedPartymapRooms.ts
  src/components/templates/PartyMap/components/Map/MapRoom.module.scss
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/hooks/useRelatedVenues.tsx
  src/pages/Admin/Venue/VenueDeleteModal.scss
  src/types/rooms.ts
  src/types/venues.ts
Labels: 🐛 bug, 💎 styles, 💻 eng-QoL

#2967 add global time panel to space schedule
  src/components/admin/SpaceSchedule/SpaceSchedule.tailwind.ts
  src/components/admin/SpaceSchedule/SpaceSchedule.tsx
  src/components/admin/SpaceSchedule/index.ts
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/SpaceTimingPanel.scss
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/SpaceTimingPanel.tsx
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/index.ts
Labels: :muscle: enhancement, ✨ UI/UX, 💎 styles, admin

#2970 add useMemo to fix infinite request loop in various hooks
  src/components/shared/WithPermission.tsx
  src/hooks/fire/useLiveCollection.ts
  src/hooks/spaces/useSpacesByOwner.tsx
  src/hooks/user/useLivePermission.ts
  src/hooks/worlds/useWorldsByOwner.ts
Labels: 🐛 bug, :muscle: enhancement

#2952 Adds fullscreen banner
  src/api/bannerAdmin.ts
  src/components/admin/Checkbox/Checkbox.tsx
  src/components/admin/HeaderButton/HeaderButton.tsx
  src/components/admin/Toggle/Toggle.tailwind.ts
  src/components/admin/Toggle/Toggle.tsx
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/AttendeeLayout.tsx
  src/components/attendee/Banner/Banner.module.scss
  src/components/attendee/Banner/Banner.tsx
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.scss
  src/components/organisms/AdminVenueView/components/MapPreview/MapPreview.tsx
  src/components/organisms/AdminVenueView/components/MapPreview/index.ts
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.scss
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/organisms/BannerAdmin/index.ts
  src/core/AppRouter/AdminSubRouter.tsx
  src/pages/Admin/Venue/VenueAdminPage.scss
  src/pages/Admin/Venue/VenueAdminPage.tsx
  src/settings/urlSettings.ts
Labels: 💡 new-feature, 💎 styles

#2972 Old Login flow visual redesign
  src/api/retunableMediaElement.ts
  src/components/admin/InputGroup.tsx
  src/components/atoms/ChatMessage/ChatMessage.module.scss
  src/components/atoms/UserAvatar/UserAvatar.module.scss
  src/components/attendee/AttendeeHeader/AttendeeHeader.tsx
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/BasicInfo/ProfileModalEditBasicInfo.module.scss
  src/components/attendee/BasicInfo/ProfileModalEditBasicInfo.tsx
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/Card/Card.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/Input/Input.module.scss
  src/components/attendee/Input/Input.tsx
  src/components/attendee/Password/ProfileModalChangePassword.module.scss
  src/components/attendee/Password/ProfileModalChangePassword.tsx
  src/components/attendee/PortalModal/PortalModal.tsx
  src/components/attendee/ProfileModalEditLinks/ProfileModalEditLinks.tsx
  src/components/attendee/ProfileOverlay/ProfileOverlay.module.scss
  src/components/attendee/RetunableMediaElement/RetunableMediaElement.tsx
  src/components/attendee/RetunableMediaElement/components/TuneBanner.tsx
  src/components/attendee/RetunableMediaElement/components/Tuner.module.scss
  src/components/attendee/RetunableMediaElement/components/Tuner.tsx
  src/components/attendee/SearchOverlay/SearchOverlay.module.scss
  src/components/attendee/SearchOverlay/SearchOverlay.tsx
  src/components/attendee/Spacer/Spacer.module.scss
  src/components/attendee/Spacer/Spacer.tsx
  src/components/attendee/Spacer/index.ts
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/MapRoom.module.scss
  src/pages/Account/Profile.module.scss
  src/pages/Account/Profile.tsx
  src/pages/auth/InitialForm/InitialForm.module.scss
  src/pages/auth/InitialForm/InitialForm.tsx
  src/pages/auth/Login/Login.module.scss
  src/pages/auth/Login/Login.tsx
  src/pages/auth/LoginForm/LoginForm.module.scss
  src/pages/auth/LoginForm/LoginForm.tsx
  src/pages/auth/PasswordResetForm/PasswordResetForm.tsx
  src/pages/auth/RegisterForm/RegisterForm.tsx
  src/pages/auth/SocialLogin.tsx
  src/pages/auth/auth.module.scss
  src/scss/attendee/font.scss
  src/scss/attendee/form.module.scss
  src/scss/attendee/layout.scss
  src/scss/attendee/theme.scss
  src/settings/interpolationSettings.ts
  src/types/props.ts
  src/utils/url.ts
Labels: 💎 styles

#2961 add edit space admins modal to user dashboard
  functions/src/venue.ts
  src/api/admin.ts
  src/components/admin/EditAdminModal/EditAdminModal.tsx
  src/components/admin/EditAdminModal/index.ts
  src/components/admin/WorldUserCard/WorldUserCard.tsx
  src/hooks/spaces/useWorldSpaces.ts
  src/pages/Admin/WorldUsers/WorldUsers.tsx
Labels: :muscle: enhancement, ✨ UI/UX, admin
