Repository sparkletown/sparkle, pull requests merged in 2022-01, with the labels that each got.

#2744 Nicer UI/UX for AnimateMap initialization errors
  src/components/organisms/ChatSidebar/ChatSidebar.scss
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIODataProvider.ts
  src/components/templates/AnimateMap/components/AnimateMapErrorPrompt/AnimateMapErrorPrompt.scss
  src/components/templates/AnimateMap/components/AnimateMapErrorPrompt/AnimateMapErrorPrompt.tsx
  src/components/templates/AnimateMap/components/AnimateMapErrorPrompt/index.ts
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/pages/VenuePage/TemplateWrapper.tsx
  src/scss/constants.scss
  src/settings/urlSettings.ts
  src/utils/webgl.ts
Labels: 💎 styles

#2759 Remove '0' from the portal attendees list
  src/components/molecules/UserList/UserList.tsx
Labels: 🐛 bug

#2754 Fix posterpage styles
  src/components/templates/PosterPage/PosterPage.scss
  src/components/templates/PosterPage/components/PosterPageSettingsControl/PosterPageSettingsControl.scss
  src/components/templates/PosterPage/components/ShareModal/ShareModal.scss
Labels: 💎 styles

#2727 Create determineAvatar utility and use it for avatars
  public/anonymous-profile-icon.jpeg
  src/assets/images/AnimateMap/avatars/anonymous-profile-icon.jpeg
  src/components/atoms/UserAvatar/UserAvatar.tsx
  src/components/molecules/DefaultAvatars/DefaultAvatars.tsx
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/molecules/TableComponent/TableComponent.tsx
  src/components/molecules/UserProfilePicture/UserProfilePicture.tsx
  src/components/organisms/Badges/BadgeImage.tsx
  src/components/organisms/Badges/Badges.tsx
  src/components/organisms/WorldShowcase/WorldShowcase.tsx
  src/components/templates/AnimateMap/bridges/DataProvider/CloudDataProvider.ts
  src/components/templates/AnimateMap/game/constants/StubData.tsx
  src/hooks/useProfileModalFormDefaultValues.ts
  src/pages/Admin/VenueOwnersModal.tsx
  src/settings/imageSettings.ts
  src/settings/index.ts
  src/utils/image.ts
Labels: 🐛 bug

#2751 replaced run tab user list components
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.scss
  src/components/organisms/AdminVenueView/components/RunTabUsers/RunTabUsers.tsx
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.scss
  src/components/organisms/AdminVenueView/components/RunTabView/RunTabView.tsx
Labels: 💎 styles, admin

#2750 Add warning for mobile devices
  src/components/atoms/MobileWarning/MobileWarning.scss
  src/components/atoms/MobileWarning/MobileWarning.tsx
  src/components/atoms/MobileWarning/index.ts
  src/components/molecules/AnnouncementMessage/AnnouncementMessage.scss
  src/components/molecules/NavBar/NavBar.scss
  src/components/molecules/NavBar/NavBar.tsx
  src/components/organisms/WithNavigationBar/WithNavigationBar.tsx
  src/scss/constants.scss
Labels: 🐛 bug, 💎 styles, :iphone: mobile

#2747 Make scripts run from admin area
  functions/analytics.js
  functions/index.js
  functions/src/utils/permissions.js
  functions/src/utils/time.js
  functions/world.js
  src/components/organisms/AppRouter/AdminSubRouter.tsx
  src/pages/Admin/ToolsPage/ToolsPage.scss
  src/pages/Admin/ToolsPage/ToolsPage.tsx
  src/pages/Admin/ToolsPage/components/Tool/Tool.scss
  src/pages/Admin/ToolsPage/components/Tool/Tool.tsx
  src/pages/Admin/ToolsPage/components/Tool/index.ts
  src/pages/Admin/ToolsPage/index.ts
  src/pages/Admin/ToolsPage/scripts/analytics/AnalyticsOutput.tsx
  src/pages/Admin/ToolsPage/scripts/analytics/config.ts
  src/pages/Admin/ToolsPage/scripts/index.ts
  src/pages/Admin/ToolsPage/types.ts
  src/pages/SpacesDashboard/SpacesDashboard.scss
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/settings/urlSettings.ts
Labels: 💡 new-feature, 💎 styles, 💻 eng-QoL

#2769 Admin panel for Screening room
  functions/venue.js
  src/api/admin.ts
  src/components/molecules/PortalsTable/PortalsTable.tsx
  src/components/molecules/ScreeningRoomVideoAddEditModal/ScreeningRoomVideoAddEditModal.tsx
  src/components/molecules/ScreeningRoomVideoAddEditModal/index.ts
  src/components/molecules/ScreeningRoomVideosTable/ScreeningRoomVideosTable.scss
  src/components/molecules/ScreeningRoomVideosTable/ScreeningRoomVideosTable.tsx
  src/components/molecules/ScreeningRoomVideosTable/index.ts
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/ScreeningRoomVideoAddEditForm/ScreeningRoomVideoAddEditForm.scss
  src/components/organisms/ScreeningRoomVideoAddEditForm/ScreeningRoomVideoAddEditForm.tsx
  src/components/organisms/ScreeningRoomVideoAddEditForm/index.ts
  src/components/organisms/ScreeningRoomVideosStripForm/ScreeningRoomVideosStripForm.scss
  src/components/organisms/ScreeningRoomVideosStripForm/ScreeningRoomVideosStripForm.tsx
  src/components/organisms/ScreeningRoomVideosStripForm/index.ts
  src/forms/screeningRoomVideoSchema.ts
  src/pages/Admin/ScreeningRoomPreview/ScreeningRoomPreview.scss
  src/pages/Admin/ScreeningRoomPreview/ScreeningRoomPreview.tsx
  src/pages/Admin/ScreeningRoomPreview/index.ts
  src/settings/spacePortalsSettings.ts
  src/utils/file.ts
Labels: :muscle: enhancement, 💎 styles, admin

#2758 Refactor useRoom -> usePortal; and some room -> portal refactoring
  src/api/admin.ts
  src/components/atoms/PortalIcon/PortalIcon.tsx
  src/components/atoms/PortalVisibility/PortalVisibility.tsx
  src/components/atoms/SpacesDropdown/SpacesDropdown.tsx
  src/components/molecules/NavSearchBar/NavSearchBar.tsx
  src/components/molecules/PortalAddEditModal/PortalAddEditModal.tsx
  src/components/molecules/PortalList/PortalList.tsx
  src/components/molecules/PortalListItem/PortalListItem.tsx
  src/components/molecules/PortalsTable/PortalsTable.tsx
  src/components/organisms/EventModal/EventModal.scss
  src/components/organisms/EventModal/EventModal.tsx
  src/components/organisms/EventModal/index.ts
  src/components/organisms/PortalAddEditForm/PortalAddEditForm.tsx
  src/components/templates/AnimateMap/components/UIOverlayGrid/UIOverlayGrid.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModal.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModalContent.tsx
  src/components/templates/PartyMap/components/RoomAttendance/RoomAttendance.tsx
  src/hooks/usePortal.ts
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/EmergencyViewPage/EmergencyViewPagePortals.tsx
  src/pages/EmergencyViewPage/EmergencyViewPortal.tsx
  src/types/validation.ts
  src/utils/room.ts
Labels: 💥 tech-debt, 💎 styles

#2777 Style updates for poster hall and poster pages
  src/components/templates/PartyMap/components/RoomAttendance/RoomAttendance.tsx
  src/components/templates/PosterHall/PosterHall.tsx
  src/components/templates/PosterHall/components/PosterAttendance/PosterAttendance.scss
  src/components/templates/PosterHall/components/PosterAttendance/PosterAttendance.tsx
  src/components/templates/PosterHall/components/PosterAttendance/index.tsx
  src/components/templates/PosterHall/components/PosterHallSearch/PosterHallSearch.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.scss
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/components/templates/PosterPage/PosterPage.scss
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/PosterPage/components/PosterPageSettingsControl/PosterPageSettingsControl.scss
  src/components/templates/PosterPage/components/PosterPageSettingsControl/PosterPageSettingsControl.tsx
  src/components/templates/PosterPage/components/PosterPageSettingsControl/index.ts
  src/components/templates/PosterPage/components/ShareModal/ShareModal.scss
  src/components/templates/PosterPage/components/ShareModal/ShareModal.tsx
  src/components/templates/PosterPage/components/ShareModal/index.ts
  src/components/templates/PosterPage/components/ShareModal/utils.ts
  src/hooks/posters.ts
  src/types/posters.ts
Labels: 💎 styles
