Repository sparkletown/sparkle, pull requests merged in 2022-05, with the labels that each got.

#3072 remove boothTemplateSpaceId null value from the functions
  functions/src/venue.ts
Labels: 🐛 bug, admin

#3032 [INTO hoist-login-signup] Adds spash pages for world and space
  src/api/world.ts
  src/components/attendee/OnboardingPage/OnboardingPage.hoc.tsx
  src/components/attendee/OnboardingPage/OnboardingPage.tsx
  src/components/attendee/OnboardingPage/index.ts
  src/components/attendee/SpaceEntrancePage/SpaceEntrancePage.tsx
  src/components/attendee/SpaceEntrancePage/index.ts
  src/components/attendee/SplashSpace/SplashSpace.hoc.tsx
  src/components/attendee/SplashSpace/SplashSpace.module.scss
  src/components/attendee/SplashSpace/SplashSpace.tsx
  src/components/attendee/SplashSpace/index.ts
  src/components/attendee/SplashWorld/SplashWorld.hoc.tsx
  src/components/attendee/SplashWorld/SplashWorld.module.scss
  src/components/attendee/SplashWorld/SplashWorld.tsx
  src/components/attendee/SplashWorld/index.ts
  src/components/attendee/WorldPage/WorldPage.hoc.tsx
  src/components/attendee/WorldPage/WorldPage.tsx
  src/components/attendee/WorldPage/index.ts
  src/components/shared/SplashGated.tsx
  src/core/AppRouter/AccountSubRouter.tsx
  src/core/AppRouter/AppRouter.tsx
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/helpers.ts
  src/pages/VenueLandingPage/VenueLandingPage.scss
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
  src/pages/VenueLandingPage/index.ts
  src/pages/auth/LoginForm/LoginForm.tsx
  src/settings/urlSettings.ts
  src/types/User.ts
Labels: 💎 styles

#3064 Rnd/chempress circle
  .circleci/config.yml
  functions/package-lock.json
  functions/package.json
  package.json
Labels: dependencies

#3042 improve user management modals UI
  firestore.rules
  functions/src/venue.ts
  src/components/admin/EditAdminModal/EditAdminModal.tsx
  src/components/admin/EditAdminModal/index.ts
  src/components/admin/InviteAdminModal/FoundUserCard/FoundUserCard.tsx
  src/components/admin/InviteAdminModal/FoundUserCard/index.ts
  src/components/admin/InviteAdminModal/InviteAdminModal.tsx
  src/components/admin/InviteAdminModal/SelectedUserCard/SelectedUserCard.tsx
  src/components/admin/InviteAdminModal/SelectedUserCard/index.ts
  src/components/admin/WorldUserCard/WorldUserCard.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/pages/Admin/WorldUsers/WorldUsers.tsx
  src/settings/imageSettings.ts
  src/types/User.ts
Labels: :muscle: enhancement, ✨ UI/UX

#3060 Addition of Cypress for E2E testing
  .circleci/config.yml
  .env.example
  .gitignore
  .prettierignore
  cypress.json
  cypress/.eslintrc.json
  cypress/fixtures/firebase/auth_export/accounts.json
  cypress/fixtures/firebase/auth_export/config.json
  cypress/fixtures/firebase/firebase-export-metadata.json
  cypress/fixtures/firebase/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  cypress/fixtures/firebase/firestore_export/all_namespaces/all_kinds/output-0
  cypress/fixtures/firebase/firestore_export/firestore_export.overall_export_metadata
  cypress/fixtures/firebase/storage_export/blobs/.gitkeep
  cypress/fixtures/firebase/storage_export/buckets.json
  cypress/fixtures/firebase/storage_export/metadata/.gitkeep
  cypress/integration/examples/cypress-register.spec.js
  cypress/integration/init.spec.ts
  cypress/integration/login.spec.ts
  cypress/plugins/config.ts
  cypress/plugins/emulators.ts
  cypress/plugins/index.js
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/support/util/db.ts
  cypress/support/util/get.ts
  cypress/support/util/visit.ts
  cypress/tsconfig.json
  firebase.json
  functions/package-lock.json
  functions/package.json
  jest.config.js
  package-lock.json
  package.json
  src/components/attendee/AttendeeLayout/AttendeeLayout.tsx
  src/core/AnalyticsCheck/AnalyticsCheck.tsx
  src/core/AnalyticsCheck/AnalyticsCount.tsx
  src/core/BugsnagErrorBoundary/init.ts
  src/core/firebase.ts
  src/core/spark.ts
  src/env.ts
  src/hooks/algolia/context.tsx
  src/hooks/useAnalytics.ts
  src/hooks/useKeyPress.ts
  src/utils/googleAnalytics.ts
Labels: dependencies, :desktop_computer: infrastructure, :test_tube: testing

#3036 fix dropdown touchable area
  src/components/admin/Dropdown/Dropdown.tailwind.ts
  src/components/admin/Dropdown/Dropdown.tsx
  src/components/admin/SpacesDropdown/SpacesDropdown.tsx
  src/components/atoms/SortDropDown/SortDropDown.scss
  src/components/atoms/SortDropDown/SortDropDown.tsx
  src/components/atoms/SortDropDown/index.ts
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/components/templates/ExperimentalSpace/ExperimentalSpace.tsx
  src/forms/eventEditSchema.ts
  src/types/spaces.ts
Labels: 🐛 bug, :muscle: enhancement, ✨ UI/UX, 💎 styles

#3081 Snagging of StartTable component
  src/components/molecules/StartTable/StartTable.tsx
  src/settings/index.ts
  src/utils/table.ts
Labels: 🐛 bug, ✨ UI/UX

#3082 Fix creation of booth with no template specified
  functions/src/venue.ts
  src/api/venue.ts
  src/components/attendee/BoothGrid/BoothCreateCard.tsx
Labels: 🐛 bug

#3084 Fix create Booth button placement in Safari
  src/components/attendee/BoothGrid/BoothCard.module.scss
Labels: 🐛 bug, 💎 styles

#3012 Hoist signin and signup; Spash pages for world and space; Onboarding; Account details
  firestore.rules
  functions/src/user.ts
  src/api/auth.ts
  src/api/world.ts
  src/components/attendee/Input/Input.tsx
  src/components/attendee/OnboardingPage/OnboardingPage.hoc.tsx
  src/components/attendee/OnboardingPage/OnboardingPage.tsx
  src/components/attendee/OnboardingPage/index.ts
  src/components/attendee/SpaceEntrancePage/SpaceEntrancePage.tsx
  src/components/attendee/SpaceEntrancePage/index.ts
  src/components/attendee/SplashSpace/SplashSpace.hoc.tsx
  src/components/attendee/SplashSpace/SplashSpace.module.scss
  src/components/attendee/SplashSpace/SplashSpace.tsx
  src/components/attendee/SplashSpace/index.ts
  src/components/attendee/SplashWorld/SplashWorld.hoc.tsx
  src/components/attendee/SplashWorld/SplashWorld.module.scss
  src/components/attendee/SplashWorld/SplashWorld.tsx
  src/components/attendee/SplashWorld/index.ts
  src/components/molecules/DefaultAvatars/DefaultAvatars.module.scss
  src/components/molecules/DefaultAvatars/DefaultAvatars.tsx
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.module.scss
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/shared/LoginRestricted.tsx
  src/components/shared/OnboardingGated.tsx
  src/components/shared/SplashGated.tsx
  src/core/AppRouter/AccountSubRouter.tsx
  src/core/AppRouter/AppRouter.tsx
  src/forms/profileSchema.ts
  src/hooks/useSocialSignIn.ts
  src/hooks/user/useOnboardingDetails.ts
  src/hooks/worlds/useOnboardedWorlds.ts
  src/pages/Account/AccountPage/AccountPage.hoc.tsx
  src/pages/Account/AccountPage/AccountPage.module.scss
  src/pages/Account/AccountPage/AccountPage.tsx
  src/pages/Account/AccountPage/index.ts
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/Profile.tsx
  src/pages/Account/helpers.ts
  src/pages/EmergencyViewPage/EmergencyViewPage.tsx
  src/pages/VenueLandingPage/VenueLandingPage.scss
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
  src/pages/VenueLandingPage/index.ts
  src/pages/VenuePage/VenuePage.tsx
  src/pages/auth/InitialForm/InitialForm.tsx
  src/pages/auth/InitialForm/index.ts
  src/pages/auth/Login/Login.hoc.tsx
  src/pages/auth/Login/Login.tsx
  src/pages/auth/Login/index.ts
  src/pages/auth/LoginForm/LoginForm.hoc.tsx
  src/pages/auth/LoginForm/LoginForm.tsx
  src/pages/auth/LoginForm/index.ts
  src/pages/auth/PasswordResetForm/PasswordResetForm.tsx
  src/pages/auth/RegisterForm/RegisterForm.hoc.tsx
  src/pages/auth/RegisterForm/RegisterForm.tsx
  src/pages/auth/RegisterForm/index.ts
  src/pages/auth/SocialLogin.tsx
  src/settings/apiSettings.ts
  src/settings/urlSettings.ts
  src/types/User.ts
Labels: 💎 styles

#3083 Snagging Webcam huddle
  src/components/attendee/TableComponent/TableComponent.module.scss
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.tsx
  src/scss/attendee/theme.scss
Labels: 💎 styles

#3085 Modal: edit / create portal
  src/components/admin/ImageInput/ImageInput.tailwind.ts
  src/components/admin/PortalAddEditForm.tsx
  src/components/admin/PortalVisibility/PortalVisibility.tailwind.ts
  src/components/admin/PortalVisibility/PortalVisibility.tsx
  src/components/attendee/ProfileOverlay/ProfileOverlay.tsx
  src/hooks/useVenueScheduleEvents.ts
  src/settings/portalSettings.ts
Labels: 🐛 bug

#3086 Snagging: Tuner + External Portal + Number of sections
  src/api/admin.ts
  src/api/venue.ts
  src/components/admin/SpaceEditForm.tsx
  src/components/attendee/RetunableMediaElement/components/TuneBanner.module.scss
  src/components/attendee/RetunableMediaElement/components/Tuner.module.scss
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
  src/components/templates/PartyMap/components/Map/MapPortal.module.scss
  src/components/templates/PartyMap/components/Map/MapPortal.tsx
  src/forms/spaceEditSchema.ts
  src/scss/attendee/theme.scss
  src/utils/url.ts
Labels: 💎 styles
